codicil-details {
  display: block;

  attachments .cd-card-title {
    margin: $cd2 0;
  }

  .codicil-addons .cd-card-title {
    margin-top: 0;
  }

  .description {
    white-space: pre-line;
  }
}

.repair-tag {
  border: $cd0x1 solid $grey-color;
  padding: $cd $cd1x5;
}

.box:not(:last-child) {
  margin-bottom: 0.625rem;
}

.cd-dialog.dark-background {
  .page-details {
    .detail {
      label,
      .title {
        // This is to overwrite the label color specified on common.scss
        // Line 82
        color: $white-color !important;
      }
    }
  }
}
