include /shared

mixin detail(title, text, columnWidth, canShow)
  .detail(
    data-flex='auto',
    data-flex-gt-sm=columnWidth,
    data-ng-if=canShow,
  )
    .title: +translate-once(title)
    if block
      .content(
        class=title.replace('cd-', ''),
      )
        block
    if !block && text
      .content(
        class=title.replace('cd-', ''),
        data-ng-bind=`::(${text} | safeTranslate)`
      )

.content-main
  page-header(
    data-label='{{ ::vm.item.title }}',
  )

  .page-details
    .codicil-details(
      data-layout-xs='column',
      data-layout-sm='column',
      data-layout-gt-sm='row',
    )
      div(
        data-flex='auto',
        data-flex-gt-sm=65,
      )
        h2: +translate-once('cd-details')

        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.CODICILS_META.COC.ID)',
        )
          include _partials/_condition-of-class.pug
        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.DEFECTS_META.DEFECT.ID)',
        )
          include _partials/_defect.pug
        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.CODICILS_META.SF.ID)',
        )
          include _partials/_statutory-finding.pug
        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.DEFECTS_META.SD.ID)',
        )
          include _partials/_statutory-deficiency.pug
        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.CODICILS_META.AI.ID)',
        )
          include _partials/_actionable-item.pug
        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.CODICILS_META.AN.ID)',
        )
          include _partials/_asset-note.pug
        div(
          data-ng-if='::!!vm.canShowDetailsByType(vm._AppSettings.CODICILS_META.MNCN.ID)',
        )
          include _partials/_mncn.pug

      div(
        data-flex='auto',
        data-flex-gt-sm=25,
        data-flex-offset-gt-sm=10,
        data-ng-class='::{ "not-visible": !vm.canShowAttachments() }',
        data-ng-if='!vm.currentUser.isEquasisThetis',
      )
        attachments(
          data-ng-if='!vm.errorGettingAttachments',
          data-attachments='vm.item.attachments',
        )
        .notification(
          data-ng-if='vm.errorGettingAttachments',
        )
          h2: +translate-once('cd-downloads')
          small
            strong(
              data-translate-once='cd-error-getting-attachments',
            )

    .codicil-addons(
      data-ng-if='::vm.canShowAddon',
      data-ng-repeat='addon in ::vm.item.addons',
    )
      md-divider.spacer
      cd-card(
        data-title='{{ ::addon.title }}',
        data-title-size='big',
      )
        cd-card-tabular(
          aria-label='{{ ::addon.title }}',
          class='{{ ::addon.itemClass }}',
          data-ng-repeat='addonItem in ::addon.data',
          data-action='::vm.getDetailsPageSrefOptions(addonItem)',
          data-item='addonItem',
        )
          riders(
            data-item='addonItem',
            data-template-location='addon.template',
          )
