cd-card {
  cd-card-accordion {
    > md-card {
      background-color: transparent;
      margin-bottom: 0;

      md-card-content {
        .header-item {
          due-status label {
            color: $dark-blue-color;
          }
        }
      }
    }

    .children {
      margin-left: $cd5 !important;
      @include mq-xs {
        margin-left: $cd2x5 !important;
      }
    }

    &[data-tree-view] {
      @include mq-gt-xs {
        .child-item {
          position: relative;

          // horizontal dashed line
          &:before {
            content: '';
            width: 5%;
            position: absolute;
            top: 50%;
            left: -5%;
            border-top: $cd0x1 dashed $white-color;
          }

          // vertical dashed line
          &:after {
            content: '';
            position: absolute;
            top: -$cd0x4;
            left: -5%;
            bottom: 0;
            border-left: $cd0x1 dashed $white-color;
          }

          &:last-child:after {
            bottom: 50%;
          }
        }
      }

      @include mq-gt-sm {
        .child-item {
          // horizontal dashed line
          &:before {
            width: 2.5%;
            left: -2.5%;
          }

          // vertical dashed line
          &:after {
            left: -2.5%;
          }
        }
      }
    }

    riders {
      .title {
        padding-right: $cd-half;
      }
    }
  }
}
