cd-accordion-toggler {
  .toggler {
    padding: $cd-half;
    outline: 0;
    background: $primary-color;
    transition: .3s;

    &:focus {
      background-color: darken($primary-color, 5%);
    }

    &:hover {
      background-color: darken($primary-color, 5%);
    }

    .toggler-title {
      color: $white-color;
      padding-left: $cd-half;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.dark-blue {
    .toggler {
      background: $dark-blue-color !important;
    }
  }

  &.mobile {
    .toggler {
      line-height: $cd3x6;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      user-select: none;
      outline: none;
      font-size: $cd1x4;
    }
  }
}
