.toggler-container(
  data-flex,
  data-layout='row'
  data-ng-click='::vm.onClick()',
)
  .toggler(
    data-flex,
    data-layout='{{::vm.layout }}',
    data-layout-align='start center',
  )
    icon(
      data-name='{{::vm.iconName}}',
    )
    .toggler-title(data-flex)
      span(data-translate-once='{{ vm.title }}')

