$transforms: (
  'top': translateX(-50%) translateY(-100%),
  'bottom': translateX(-50%) translateY(100%)
);

@each $key, $value in $transforms {
  @keyframes fade-in-#{$key} {
    0% {
      @include transform(#{$value} scale(0))
    }
    100% {
      @include transform(#{$value} scale(1))
    }
  }
  @keyframes fade-out-#{$key} {
    0% {
      @include transform(#{$value} scale(1))
    }
    100% {
      @include transform(#{$value} scale(0))
    }
  }
}

cd-tooltip {
  height: auto;
  padding: $cd $cd2;
  font-size: $cd1x3;
  color: $white-color;
  background-color: $dark-blue-color;
  border-radius: 0;
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform-origin: center bottom;
  display: none;

  &:after {
    content: '';
    width: 0;
    height: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-left: $cd1x2 solid transparent;
    border-right: $cd1x2 solid transparent;
  }

  // tooltip on top
  &:not([data-position]),
  &[data-position='top'] {
    top: -$cd;
    @include transform(#{map-get($transforms, 'top')} scale(0));

    &:after {
      bottom: -$cd1x2;
      border-top: $cd1x2 solid $dark-blue-color;
    }

    &.show {
      display: block;
      animation: .2s fade-in-top;
      animation-fill-mode: forwards;
    }

    &.leave {
      animation: .2s fade-out-top;
      animation-fill-mode: forwards;
    }
  }

  // tooltip at the bottom
  &[data-position='bottom'] {
    bottom: -$cd;
    @include transform(#{map-get($transforms, 'bottom')} scale(0));

    &:after {
      top: -$cd1x2;
      border-bottom: $cd1x2 solid $dark-blue-color;
    }

    &.show {
      display: block;
      animation: .2s fade-in-bottom;
      animation-fill-mode: forwards;
    }

    &.leave {
      animation: .2s fade-out-bottom;
      animation-fill-mode: forwards;
    }
  }

  // dark-grey theme
  &[data-theme="dark-grey"] {
    background-color: $dark-grey-color;

    &:after {
      border-top-color: $dark-grey-color;
      border-bottom-color: $dark-grey-color;
    }
  }

  // orange theme
  &[data-theme="warn"] {
    background-color: $warn-color;

    &:after {
      border-top-color: $warn-color;
      border-bottom-color: $warn-color;
    }
  }
}
