include /forms

.header-item(
  aria-label='{{ vm.title }}',
  data-layout='row',
  data-ng-if='vm.collapsible',
  data-ng-click='vm.headerItem.isExpanded=!vm.headerItem.isExpanded',
  data-ng-hide='vm._$mdMedia("gt-sm")',
)
  div.px0.gap-right(
    data-flex-xs=15,
    data-flex-gt-xs=10,
    data-layout='row',
    data-layout-align='center center',
  )
    icon(
      data-ng-class=`{
        'white': vm.theme=='dark',
        'primary': !vm.theme || vm.theme=='light',
      }`
      data-name='expand',
      data-ng-show='!vm.headerItem.isExpanded',
    )
    icon(
      data-ng-class=`{
        'white': vm.theme=='dark',
        'primary': !vm.theme || vm.theme=='light',
      }`
      data-name='collapse',
      data-ng-show='vm.headerItem.isExpanded',
    )
  div(
    data-flex,
    data-layout='row',
    data-layout-align='start center',
    data-ng-class='{active: vm.headerItem.isExpanded}',
  )
    .h3-primary(
      data-translate='{{ vm.title }}',
    )
