include /forms

md-menu(
  data-md-offset='0 60',
  data-md-position-mode='target-right target',
  data-ng-if='vm.canViewMenu',
  data-width=4,
)
  md-button.m0(
    aria-label='{{ "cd-aria-useful-links" | translate }}',
    data-ng-click='$mdOpenMenu($event)',
    title='{{ "cd-aria-useful-links" | translate }}',
  )
    icon(
      data-name='globalMenu',
      data-flex,
      data-ng-if='!vm.isMenuOpen',
    )
    //- Icon when menu is open.
    icon(
      data-name='down',
      data-flex,
      data-ng-if='vm.isMenuOpen',
    )
  md-menu-content
    //- Role switcher.
    md-menu-item.dark-blue(
      data-ng-if='vm.canViewRoleSwitcher',
    )
      md-button(
        aria-label='{{ "cd-aria-link-page" | translate }}',
        data-translate-values='{ pageName: "{{ vm.viewMode.name | translate }}" }',
        data-translate-compile,
        data-ng-click='vm.viewMode.action()',
      )
        div.display-block(
          data-flex,
          data-layout='row',
        )
          p(data-flex) {{ vm.viewMode.name | safeTranslate }}

    md-menu-item.dark-blue(
      data-ng-repeat='link in vm.externalLinks track by $index',
    )
      md-button(
        aria-label='{{ "cd-aria-link-page" | translate }}'
        data-translate-values='{ pageName: "{{ link.name | translate }}" }',
        data-translate-compile,
        href='{{ link.url }}',
      )
        div.display-block(
          data-flex,
          data-layout='row',
        )
          p(data-flex) {{ link.name | safeTranslate }}