rider-filter(
  data-action='vm.action',
  data-show-top-spinner='true',
  data-filter-label='cd-filter-coc',
  data-filter-options='vm.filterOptions',
  data-items='vm.codicils',
  data-loading-message='cd-general-page-loading-message',
  data-search-by-list='vm.searchByList',
  data-search-label='cd-search',
  data-template='{{ vm.templateLocation }}',
)
div(
  data-ng-if='!vm.codicils.length',
  data-layout='column',
)
  p.notification(
    data-translate-once='cd-no-cocs-message',
  )
