/******************
  Fonts go here

  How it works

  The fonts is placed in a s3 bucket that is accessible to all, as well as updated CORS settings.
  The font is downloaded to the clients via @font-face that is embedded in header>styles.

  Unfortunately, not a lot of email clients support the custom font at this moment (22-02-2018)

  So it has been replaced by arial for now.

******************/
@font-face {
  src:url(https://s3-eu-west-1.amazonaws.com/lr-classdirect/resources/notifications/font/frutigerLT45light.ttf);
  font-family:FrutigerLT45Light;
}

@font-face {
  src : url(https://s3-eu-west-1.amazonaws.com/lr-classdirect/resources/notifications/font/frutigerLT55roman.ttf);
  font-family:FrutigerLT55Roman;
}
 
@font-face {
  src : url(https://s3-eu-west-1.amazonaws.com/lr-classdirect/resources/notifications/font/frutigerLT65bold.ttf);
  font-family:FrutigerLT65Bold;
}
