@import 'settings';
@import 'foundation-emails';
@import 'template/template';
@import '../../../../../fe/src/app/common/styles/_variables.scss';

/******************

  !!!!! ATTENTION PL0X !!!!!

  All additional CSS goes into this file which will end up at style.css

  Outlook Problems:
  ------------------------------------
  1) Outlook doesn't like `rem`! SPENT HOURS TO FIGURE IT OUT!! To save human kind, please use `px`.


  Overwritting Foundation Stylings:
  ------------------------------------
  1) If any styles doesn't get applied, force apply it explicity on `*`.

******************/
// COMMON

// New row styles
.row-style{
  background-color: $white;
  border-bottom: 1px solid black;
}

//backgrond
.container {
  background-color: $body-color;
}

.icon {
  height: $cd2x5;

  &.md {
    height: $cd3;
  }
  &.icon-right-pad {
    padding-right: 3px;
  }
}

.button {
  letter-spacing: 1px; // `px` for outlook

  .icon img {
    height: 30px; // `px` for outlook
    display: inline-block;
    vertical-align: middle;
  }

  &.download-report-button {
    .text {
      width: 65%;
      line-height: 22px;
      display: inline-block;
    }

    .icon {
      float: right;
    }
  }
}

.display-none {
  display: none;
}

.break-all {
  word-break: break-all;
}

.grey {
  color: $grey-color-notification;
}

.medium {
  width: 90%;
}

.table-header, .table-row, .footer-content-2{
  font-size: 8pt;
}

.table-header, .table-row, .footer-content-1{
  font-size: 9pt;
}

.text-size-10{
  font-size: 10pt;
}

.text-size-11{
  font-size: 11pt;
}

.text-size-14{
  font-size: 14pt;
}

.header-standard {
  font-size: 12px; // `px` for outlook
}

.sub-title {
  font-size: 14px;
}

.title {
  font-size: 15px;
}
 
h7 {
  font-size: 16px;
}

.table-header, .header-h1, .bold {
  font-weight: bold;
}

.asset-link {
  color: blue;
  text-decoration: underline;
}

h7 a:visited {
  color: #3b8ede;
}
.error-body h7 {
  margin-top: 0;
  font-weight: 400;
}

h7.text-center {
  text-align: center;
}

h7.text-left {
  text-align: left;
}

h7.text-right {
  text-align: right;
}

h7 {
  color: #414143;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3;
}

h7 {
  color: inherit;
  word-wrap: normal;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

.fixed {
  width:720px;
}
// HEADER
.header {
  background-color: $light-blue-color-notification;

  * {
    color: $white-color;
  }

  .logo-container img {
    width: $cd4x5;
  }
}

// ASSET HEADER
.asset-header {
  background-color: $light-blue-color-notification;

  .emblem {
    max-width: 168px;
  }

  .asset-name {
    margin-bottom: 0;
  }

  *:not(.asset-name) {
    font-size: 13px; // `px` for outlook
    color: $white-color;
  }

  .emblem-container {
    table th {
      padding-right: 4px;
    }
    table table th {
      padding-right: 0px;
    }
  }
}

// FOOTER
.footer {

  &.disclaimer {
    background-color: $white-color;
  }

  &.copyright {
    // background-image: url(../assets/img/bg-waves.jpg);
    // background-size: cover;
    background-color: $light-blue-color-notification;

    * {
      color: $white-color;
    }

    p {
      margin-bottom: 0;
    }

    .logo-container .logo {
      height: $cd4;
    }
  }

  .container {
    background-color: transparent;
  }
}

// MAIN CONTENT
.main-content {
}

.mb0 {
  margin-bottom: 0;
}

.dark-blue {
  color: $dark-blue-color;
}

.label {
  font-size: 12px; // `px` for outlook
  color: $grey-color;
  text-align: left;
}

.detail {
  font-size: 12px; // `px` for outlook
  color: $dark-grey-color;
}

@media only screen and (max-width: $global-width) {
  .detail {
    font-size: 12px !important;
  }
}

.border-bottom {
  border-bottom: 5px solid $body-color;
}

.border-right {
  border-right: 5px solid $body-color;
}

.tabular-header {
  background-color: $white-color;

  .inner-detail-padding {
    table th {
      padding: 0 8px;
    }
  }

  .th-no-left-right-padding {
    table th {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .no-outer-padding{
    table th {
      padding: 0;
    }
    table table th {
      padding: 0 4px;
    }
  }

  th {
    padding: 0 16px;
  }

  .job-detail {
    word-break: break-all;
    font-size: 12px // `px` for Outlook
  }
  .detail {
    font-size: 15px; // `px` for outlook
  }
}

.tabular-row {
  background-color: $tabular-grey-color;

  // I don't know to explain this..
  table table th {
    padding: 0 16px;
  }

  .due-status {
    .icon,
    .detail {
      display: inline-block;
    }
  }
}

// these rules are used by error and maintenance
.error-body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  color: rgba(0,0,0,0.87);
  background-color: #ebebeb;
  margin: 0;
  min-width: 320px;
  line-height: 1.4;

  h1, h2, h3, h4, h5, h6, h7 {
    margin-top: 0;
    font-weight: 400;
  }
  .error-container-wrapper {
    display: flex;
    flex-direction: column;
  }

  .error-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .error-header {
    background-color: #003c71;
    color: rgba(255,255,255,0.87);

    .error-header-content {
      max-width: 1460px;
      margin: 0 auto;
      line-height: 0;

      .display-none{
        display: inline-block !important;
      }
    }
  }

  .error-main {
    display: flex;
    flex: 1;
    flex-direction: row;

    .error-content-main {
      margin: 0 auto;
      padding: 1rem 0;
      width:100%;
    }

    .error-content {
      color: #003c71;
      background-color: white;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      text-align: center;
      box-sizing: border-box;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        border-top: 0.625rem solid #E7EBEE;
        border-right: 0.625rem solid #E7EBEE;
        border-bottom: 0.625rem solid transparent;
        border-left: 0.625rem solid transparent;
      }

      h2, p {
        text-align: center;
      }
    }
  }

  .error-footer {
    display: flex;
    color: white;
    font-size: 0.875rem;
    background: url('../assets/img/cd-bg-new.jpg') 0 0;
    background-size: cover;
    padding: 1rem 1.25rem;

    svg {
      margin-left: -5px;
      position: relative;
    }

    .error-corporate-info {
      width: 100%;
      margin-bottom: 1.3em;
      display: flex;
      justify-content: space-between;
    }

    .error-logo {
      display: flex;
    }

    .error-copyright {
      display: flex;
      align-self: flex-end;
      font-size: 0.75rem;
      padding-left: 10px;
    }

    .error-disclaimer {
      text-align: justify;
    }

    .error-name {
      font-size: 0.75rem;
      align-self: flex-end;
      line-height: 1.1;
      margin-bottom: 3px;
    }
  }

  .error-lr-icon {
    width: 50px;
    height: 50px;

    path {
      fill: rgba(255, 255, 255, 0.6);
    }
  }

  .error-cd-icon {
    width: 50px;
    height: 50px;
  }
}
