include /shared
include /forms

label.md-container-ignore(data-ng-if='!vm.isReadOnly')
  +translate('cd-allow-access-to')
.h3-primary(data-ng-if='vm.isReadOnly')
  +translate('cd-permissions')
.switch-box-container.cd-card(data-theme='light')
  md-card
   md-card-content
    .header(data-layout='row')
      .header-description.h3-primary(data-flex)
        | {{ vm.header | safeTranslate }}
      .header-switch(
        data-flex='nogrow',
        data-ng-if='!vm.isReadOnly',
      )
        md-switch(
          aria-label='{{ "' + label + '" | safeTranslate }}',
          data-md-no-ink,
          data-ng-model='vm.model',
        )&attributes(attrs)
      .header-switch(
        data-flex='nogrow',
        data-ng-if='vm.isReadOnly',
      )
        icon.green(
          data-name='tick',
          data-ng-if='vm.model',
        )
        icon.warn(
          data-name='cancel',
          data-ng-if='!vm.model',
        )
    .description(data-ng-if='vm.description')
      | {{ vm.description | safeTranslate }}
