switch-box {
  .switch-box-container {
    .description {
        margin-top: $cd1x5;
    }
  }

  label {
    margin-bottom: $cd-half;
    font-size: $cd1x3;
    color: $dark-grey-color;
    display: block;
  }
}
