include /forms

//- Pagination with X of Y
pagination.grid-block.vertical(
  data-label='cd-users',
  data-pageable='vm.users',
  data-show-spinner='vm.showSpinner',
)
  top-button-controls(data-layout='row')
    //- Edit button
    +button({
      buttonType: 'icon-text',
      class: 'my0 mr0',
      disabled: 'vm.users.length === 0',
      hide: '!vm.isEditable || !vm.showEditButton',
      iconName: 'edit',
      label: 'cd-edit',
      onClick: 'vm.showEditButton = false',
      theme: 'primary',
    })

    //- Select/Decelect all with editable button
    +button({
      class: 'my0 mx0 flex-xs-50 flex-sm-50',
      disabled: '(!vm.includeAll && vm.isPristine) || !vm.includedCount',
      hide: '!vm.isEditable || vm.showEditButton',
      label: 'cd-remove-all',
      labelValues: 'vm.removeButtonLabelCount',
      onClick: 'vm.includeAll = false',
      theme: 'light',
    })

    +button({
      buttonType: 'icon-text',
      class: 'my0 mr0 flex-xs-50 flex-sm-50',
      disabled: '(vm.includeAll && vm.isPristine) || vm.includedCount === vm.users.pagination.totalElements',
      hide: '!vm.isEditable || vm.showEditButton',
      iconName: 'plus',
      iconPosition: 'left',
      label: 'cd-select-all',
      labelValues: 'vm.addButtonLabelCount',
      onClick: 'vm.includeAll = true',
      theme: 'primary',
    })

  div.users-container(
    data-layout='row',
    data-layout-padding,
    data-layout-wrap,
  )
    //- User cards
    //- ngInit should set the user.selected when ever new card is loaded from pagination
    .user-card(
      data-flex=100,
      data-flex-gt-xs=33,
      data-ng-repeat='user in vm.users track by $index',
    )
      .card(
        data-ng-class='{ highlighted: user.selected && vm.isEditable && !vm.showEditButton }',
        data-ng-click='vm.toggleSelection(user)',
        data-ng-init='user.selected = vm.includeAll',
      )
        .card-container
          .emblem-wrapper
            .h2(
              data-ellipsis,
              data-ng-bind='user.fullName',
              title='{{ user.fullName }}',
            )
            .h4(title='{{ user.email }}') {{ user.email }}
            .h4(title='{{ user.userId }}') {{ user.userId }}
            .h4(title='{{ user.company.name }}') {{ user.company.name }}
            .h4(title='{{ user.roles | roleTranslate : "short" }}') {{ user.roles | roleTranslate : 'short' }}
