@import 'src/app/common/mini-asset-card/mini-asset-card.scss';

users {
  .user-card {
    @extend mini-asset-card;

    .card {
      .card-container {
        height: $cd * 17;

        .h2 {
          max-height: $cd8;
          margin: 0;
          line-height: $cd * 3.8;
        }

        .h4 {
          margin-top: -$cd-half;
        }

        @include mq-gt-sm {
          .emblem-wrapper {
            padding: 0 $cd1x5;
          }
        }
      }
    }
  }

  .users-container {
    padding: 0;

    // Correct for the user card layout padding on the sides.
    margin: 0 -$cd;
  }
}
