.results-summary-container.pt0.px0(
  data-layout-padding,
  data-layout-xs='column',
  data-layout-gt-xs='row',
)
  .results-summary.p0(
    data-flex,
    data-flex-gt-xs='none',
    data-flex-order=3,
    data-flex-order-gt-xs=1,
    data-layout='row',
    data-layout-align='start center',
    data-ng-if='!vm.hideCount',
  )
    visible-results(
      data-label-key='{{ vm.label }}',
      data-ng-if='vm.totalLoadedElements > 0',
      data-total-count='vm.totalElements',
      data-visible-count='vm.totalLoadedElements',
      data-is-filtered-result = 'vm.isFilterApplied',
    )

  //- spacer
  span(
    data-flex='grow',
    data-flex-order=2,
    data-hide-xs,
  )

  .top-button-controls-wrapper(
    data-flex,
    data-flex-gt-xs='none',
    data-flex-order=1,
    data-flex-order-gt-xs=3,
    data-ng-transclude='topButtonControls',
  )
div(data-ng-transclude)

spinner(
  data-ng-show='vm.loading && vm.showSpinner',
)
