include /forms

.content-main
  page-header(
    data-heading-sub='{{::vm.job.leadSurveyorName }}',
    data-label='{{::vm.job.jobNumber }}',
  )

  md-divider.spacer.small

  .details-content
    .info(
      data-layout='row',
    )
      div(
        data-flex=100,
        data-flex-gt-xs=50,
        data-flex-gt-sm=40,
        data-flex-gt-md=33,
        data-layout='row',
      )
        strong.flex-50(data-ng-bind='::vm.job.location')
        strong.flex-50(data-ng-bind='::vm.job.lastVisitDateFormatted')

    md-divider.small

    div(
      data-layout='row',
      data-layout-xs='column',
      data-layout-sm='column',
    )
      cd-card(
        data-collapsible='true',
        data-flex,
        data-flex-gt-sm=70,
        data-flex-gt-md=75,
        data-flex-order='{{ vm._$mdMedia("gt-sm") ? 1 : 3 }}',
        data-title='{{ "cd-job-surveys-list" | translate }}',
        data-title-size='big',
      )
        cd-card-tabular(
          data-ng-repeat='item in ::vm.job.services',
        )
          riders(
            data-item='item',
            data-template-location='::vm.jobServiceItemTpl',
          )

      md-divider.spacer.small(
        data-flex='none',
        data-flex-order=2,
      )

      div(
        data-flex,
        data-flex-gt-sm=30,
        data-flex-gt-md=25,
        data-flex-order='{{ vm._$mdMedia("gt-sm") ? 3 : 1 }}',
      )
        attachments(
          data-attachments='::vm.jobReports',
        )
          .ehs-button(data-layout='row')
            +button({
              buttonType: 'icon-text',
              class: 'flex m0',
              goTo: 'asset.executiveHullSummaries({ jobId: vm.job.id })',
              hide: '!vm.jobEhsAttachments.length',
              iconName: 'right',
              label: 'cd-executive-hull-summaries',
              theme: 'primary',
            })
