job-details {
  @include mq-lt-md {
    ehs-button {
      margin-bottom: $cd-half;
    }
  }

  .ehs-button {
    .md-button[theme] {
      padding-left: $cd1x5;
      padding-right: $cd-half;
      text-align: left;
    }
  }
}
