include /forms

div(
  data-ng-show='vm._$mdMedia("xs")',
  data-layout='row',
)
  +button({
    class: 'flex m0',
    theme: 'primary',
    label: 'cd-incident-and-defect-reports',
    onClick: 'vm.showModal($event)',
  })

div(
  data-ng-show='vm._$mdMedia("gt-xs")',
)
  div(
    data-layout='row',
    data-layout-align='end',
  )
    md-menu(
      md-offset='0 -150',
    )
      +button({
        buttonType: 'icon-text',
        class: 'm0',
        theme: 'primary',
        iconName: 'down',
        iconPosition: 'right',
        label: 'cd-incident-and-defect-reports',
        onClick: '$mdOpenMenu($event)',
      })
      md-menu-content
        md-menu-item(
          data-layout='column',
          data-ng-repeat='link in vm.links',
        )
          //- WEB
          +button({
            buttonType: 'icon-text',
            class: 'flex icon-position-right-abs',
            hide: 'vm._$window.cordova',
            theme: 'white-blue',
            iconName: 'right',
            iconPosition: 'right',
            href: '{{ link.URL }}',
            labelVariable: 'link.NAME',
            target: '_blank',
            textAlign: 'left',
          })
          //- MOBILE APP
          +button({
            buttonType: 'icon-text',
            class: 'flex icon-position-right-abs',
            hide: '!vm._$window.cordova',
            theme: 'white-blue',
            iconName: 'right',
            iconPosition: 'right',
            labelVariable: 'link.NAME',
            onClick: 'vm.displayCMROInModal(link.URL, link.NAME)',
            textAlign: 'left',
          })
