include /forms

main.content-main.inner.collapsed(
  data-layout='row',
  data-layout-align='start center',
)
  +button({
    buttonType: 'icon',
    class: 'flex-none',
    hide: 'vm.serviceScheduleMode',
    iconName: 'expand',
    label: 'cd-scroll-to-top',
    onClick: '::vm._utils.scrollToTop()',
    showIcon: 'vm._ViewService.isCollapsedAssetHeaderExpandable',
    theme: 'light',
  })

  +button({
    buttonType: 'icon',
    class: 'flex-none',
    hide: '!vm.serviceScheduleMode',
    iconName: 'backButton',
    label: 'cd-scroll-to-top',
    onClick: '::vm.goBackToAssetHome()',
    theme: 'light',
  })

  md-divider.spacer.xxs

  div(data-flex='none')
    emblem.collapsed(
      data-type='{{ ::vm.asset.typeCode }}',
    )

  md-divider.spacer.xs

  .asset-name.h3.white(
    aria-label='{{ ::vm.asset.name }}',
    data-flex,
    title='{{ ::("cd-asset-hub") | translate }}',
    data-ui-sref='asset.home({ assetId: vm.asset.id })',
  ) {{ vm.asset.name }}
