include /forms
include /shared

mixin detail(label, field, filter, hideOnMobile)

  div.detail.parent-width(
    data-layout='row',
    data-ng-attr-hide=hideOnMobile,
    data-ng-attr-show-gt-md=hideOnMobile,
  )
    div.card-info-line(
      data-flex=40,
      data-ng-class=`{
        'text-md': vm._$mdMedia('md'),
        'text-sm': vm._$mdMedia('sm'),
        'text-xs': vm._$mdMedia('xs'),
      }`,
    )
      span.label="{{ '" + label + "' | safeTranslate }}:"

    div.card-info-line(
      data-flex=60,
      data-ng-class=`{
        'text-md': vm._$mdMedia('md'),
        'text-sm': vm._$mdMedia('sm'),
        'text-xs': vm._$mdMedia('xs'),
      }`,
    )
      if filter
        strong="{{ (vm.asset['" + field + "'] | " + filter + ") || '-' }}"
      else
        strong="{{ vm.asset['" + field + "'] != null ? vm.asset['" + field + "'] : '-' }}"

//- Do not ::vm._ViewService.isServiceScheduleOnDetailMode as this is updated by different pages
main.content-main.inner.asset-header-wrapper.animate-minimize(
  data-layout-wrap,
  data-layout='row',
  data-ng-cloak,
  data-ng-if='!!!vm._ViewService.isServiceScheduleOnDetailMode',
)
  md-divider.spacer.small(data-flex=100)

  //- Div 1
  //- Emblem (Star)
  //- back button, asset name
  div.asset-type(
    data-flex-gt-md=35,
    data-flex-md=35,
    data-flex-sm=33,
    data-flex-xs=100,
    )
    div.pb1(
      data-layout='row',
      )
      //- Item 1 - emblem
      emblem(
        data-flex,
        data-flex-sm=30,
        data-ng-class='{emblem: !!!vm.currentUser.isEquasisThetis}',
        data-type='{{ ::vm.asset.typeCode }}',
      )

      star(
        data-asset-id='vm.asset.id',
        data-asset-imo='vm.asset.ihsImo',
        data-flex='none',
        data-is-favourite='::vm.asset.isFavourite',
        data-ng-class='{active: vm.showStar}',
        data-ng-if='!!vm.showStar && (vm._$mdMedia("xs"))',
        data-on-toggle='::vm.onFavouriteToggle({ isFavourite })',
        data-update-server='true',
      )

    //- Div for back button and name
    div(
      data-flex,
      data-layout-align='start center',
      data-layout='row',
      )
      md-button.back-button.p0(
        aria-label='{{ ::("cd-back") | safeTranslate }}',
        data-flex='none',
        data-ng-click='::vm.goBack()',
        title='{{ ::vm.backButtonTooltip | safeTranslate }}',
      )
        icon(
          data-name='backButton',
          data-ng-class='{ big: vm._$mdMedia("gt-md") }',
          data-ng-if='::!!!vm.currentUser.isEquasisThetis',
        )
        icon.rotate-90(
          data-name='returnButton',
          data-ng-class='{ big: vm._$mdMedia("gt-md") }',
          data-ng-if='::!!vm.currentUser.isEquasisThetis',
        )
      md-ink-ripple.asset-name.h3.white.pr1(
        aria-label='{{ ::vm.asset.name }}',
        data-flex,
        data-ng-bind='::vm.asset.name',
        data-ui-sref='asset.home({ assetId: vm.asset.id })',
        title='{{ ::vm.asset.name }}',
      )

  md-divider.spacer.small(
    data-ng-if='vm._$mdMedia("xs")',
  )

  //- Div 2 - Details
  div.details(
    data-flex-gt-md=35,
    data-flex-md=30,
    data-flex-sm=33,
    data-flex-xs=100,
    data-layout-align='center center', 
    data-layout='column',
    )
    +detail('cd-imo', 'imo')
    +detail('cd-asset-type', 'type')
    +detail('cd-class-status', 'classStatus')
    +detail('cd-date-of-build', 'buildDateFormatted')
    +detail('cd-gross-tonnage', 'grossTonnage')
    +detail('cd-flag', 'flag') 

  //- Div 3 - Icons and detail
  //- This section is used for the browser
  div.asset-actions(
    data-flex-gt-md=30,
    data-flex-md=30,
    data-flex-sm=33,
    data-flex-xs=100,
    data-layout='column',
    )

    md-divider.spacer.small(
      data-ng-if='vm._$mdMedia("xs")',
    )

    div.icons2(
      data-layout='row',
    )
      due-status(
        data-colorize='true',
        data-disable-tooltip='true',
        data-flex='none',
        data-icon-size='big',
        data-is-overall-status='true',
        data-is-postponed='::vm.asset.hasPostponedService',
        data-ng-if='::(!!!vm.currentUser.isEquasisThetis && !!vm.asset.isLRAsset)',
        data-status-name='{{ ::vm.asset.overallStatus }}',
      )
      div.icons(
        data-flex,
        data-layout-align='end start',
        data-layout='row',
      )
        icon(
          data-name='mms',
          data-ng-if='::!!vm.asset.isMMSService',
          title='{{ ::("cd-mms-authorised") | translate }}',
        )
        icon(
          data-name='lr',
          data-ng-if='vm.asset.isLRAsset',
          title='{{ ::("cd-lr-classed") | translate }}',
        )
        star(
          data-asset-id='vm.asset.id',
          data-asset-imo='vm.asset.ihsImo',
          data-is-favourite='::vm.asset.isFavourite',
          data-ng-class='{active: vm.showStar }',
          data-ng-if='!!vm.showStar && !!!vm._$mdMedia("xs")',
          data-on-toggle='::vm.onFavouriteToggle({ isFavourite })',
          data-update-server='true',
        )

    md-divider.spacer.small(
      data-ng-if='vm._$mdMedia("xs")',
    )

    div.buttons-wrapper(
      data-flex,
      data-layout-align='center end',
      data-layout-sm='row',
      data-layout='row',
    )
      //- DO NOT one time binding vm.constructor.FIELDS as the state will change depending on the page
      div(
        data-flex-md=100,
        data-flex=50,
        data-ng-if='!!vm.hide(vm.constructor.FIELDS.DETAILS)',
      )
        +button({
          class: 'flex m0 px0',
          goTo: 'asset.details({ assetId: vm.asset.id })',
          label: 'cd-asset-details',
          ngClass: `{
            'button-md': vm._$mdMedia('md'),
            'button-sm': vm._$mdMedia('sm'),
          }`,
          theme: 'light',
        })

      div(
        data-flex-md=100,
        data-flex=50,
        data-ng-if='!!vm.hide(vm.constructor.FIELDS.REQUEST_SURVEY)',
      )
        //- class: 'm0',
        +button({
          class: 'flex m0 px0',
          goTo: "{{ vm.hasClientSupportOffice ? 'asset.surveyRequest({ assetId: vm.asset.id })' : '' }}",
          label: 'cd-request-survey',
          ngClass: `{
            'visible-half': !vm.hasClientSupportOffice,
            'button-md': vm._$mdMedia('md'),
            'button-sm': vm._$mdMedia('sm'),
          }`,
          onClick: 'vm.hasClientSupportOffice ? null : vm.showRequestASurveyModal()',
          theme: "{{ vm.hide('details') ? 'dark-black' : 'light' }}",
        })

  md-divider.spacer.small(data-flex=100)
