@import 'src/app/common/styles/typography';

.masquerade-bar-visible {
  asset-header.in-view {
    @include transform(translate3d(0, 0, 0));
    + asset-header {
      display: none;
      @include transform(translate3d(0, -100%, 0));
    }
  }
  asset-header.collapsed {
    // toolbar + masquerade bar height
    top: $cd5 + $cd6;
  }
}

asset-header {
  display: block;
  background-color: $primary-color;

  .parent-width {
    width: 100%;
  }

  .card-info-line.text-md,
  .card-info-line.text-sm {
    font-size: $cd1x3;
    line-height: $cd1x4;
  }

  .card-info-line {
    font-size: $cd1x4;
    line-height: $cd2;

    .info-detail {
      font-weight: bold;
    }
  }

  //- Special min width to make
  //- buttons fit sm screens properly  
  div a.button-sm,
  div a.button-md {
    min-width: 4.5rem !important;
    font-size: $cd1x4 !important;
  }

  @include mq-gt-md {
    &:not(.collapsed) {
      .emblem {
        margin-left: $cd8;
      }
      .back-button {
        margin: 0 $cd4 0 0;
      }
    }
    .asset-name {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  @include mq-lt-lg {
    &:not(.collapsed) {
      .emblem {
        margin-left: $cd5;
      }
      .back-button {
        margin: 0 $cd2 0 0;
      }
    }
  }

  &.not-visible {
    display: none;
  }

  &.collapsed {
    position: fixed;
    top: $cd5;
    z-index: 10; // to precede filter
    .asset-name {
      margin: 0;
    }
    height: $cd5;
    padding: 0;
    .md-button {
      margin: 0;
    }

    @include add-transition(.2s transform);
    @include transform(translate3d(0, -100%, 0));
  }

  &.in-view + asset-header {
    display: none;
  }

  &.not-in-view {
    +asset-header {
      @include transform(translate3d(0, 0, 0));
    }
  }

  .asset-name {
    //@extend .ellipsis;
    position: relative;
    overflow: hidden;
  }

  > main {
    overflow: hidden;
    transition: .3s;
    color: $white-color;
    font-size: $cd1x4;

    .asset-actions {
      .icons>* {
        margin-left: $cd;
      }
      .md-button {
        display: block;
      }
      .buttons-wrapper {
        >div:not(:first-child) {
          margin-left: $cd;
        }
      }
    }
  }

  .rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
  }

  .half-padding {
    padding: 0 $cd-half;
  }
}

// Dirty IE fix
html[data-useragent*='MSIE'] {
  asset-header emblem svg {
    max-width: $cd * 17.5;
  }
}
