include /shared
include /forms

- const dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

.h3-primary(
  data-ng-if='vm.header',
) {{ vm.header | safeTranslate }}
div(data-ng-if='vm.isReadOnly')
  div(
    data-ng-show='vm.model'
  ) {{ vm.model | #{'date : "' + dateFormatter + '"'} }}
  div(
    data-ng-hide='vm.model'
    data-translate-once='cd-no-account-expiry',
  )
div(data-ng-if='!vm.isReadOnly')
  +inputDate(
    'vm.form',
    'assetExpires',
    '{{ vm.label }}',
    'cd-eg-date',
    'vm.model',
    'vm.now',
    '',
    'cd-error-invalid-date-min-arrival',
    '',
    '',
    'vm.isRequired'
  )
