include /forms

.asset-service-high-level-container(
  data-click-stoper='vm.toggleExpandBtn()',
  data-layout='row',
)
  .gap-left(
    data-flex='none',
    data-hide-xs,
    data-layout='row',
    data-layout-align='center center',
  )
    //- The base link icons that expands an accordion for an assets' asset items
    icon.white(
      data-name='expand',
      data-ng-if='!!!vm.isExpanded',
    )
    icon.white(
      data-name='collapse',
      data-ng-if='!!vm.isExpanded',
    )
  div(data-flex)
    asset-card.px0.no-quotes(
      data-asset='::vm.asset',
      data-current-user='::vm.currentUser',
      data-is-expanded='!!vm.isExpanded',
      data-is-showing-expand-btn='true',
      data-mode='tabular',
    )

div(
  data-layout='row',
  data-layout-align='center center',
  data-ng-if='!!vm.isFetching',
)
  spinner

.asset-service-high-level-details(
  data-ng-show='vm.isExpanded',
)
  cd-card
    cd-card-accordion(
      data-group='::vm.notesAndActionGroupKey'
      data-header-item='item',
      data-ng-repeat='item in vm.codicils',
    )
  cd-card
    cd-card-accordion(
      data-group='::vm.servicesGroupKey'
      data-header-item='item',
      data-is-expanded='true',
      data-should-expand-children='true',
      data-ng-repeat='item in vm.services',
    )
