assets-service-high-level {

  &[data-view='tabular'] {
    .asset-service-high-level-container {
      cursor: pointer;

      emblem {
        pointer-events: none; // To allow click-through to expand/contract accordion
      }
    }
  }

  .asset-service-high-level-container {
    outline: none;
    border-bottom: $cd0x1 solid transparent;

    .gap-right {
      border-left: $cd0x1 solid transparent;
      background-clip: padding-box;
      width: $cd15;

      @include mq-sm {
        width: $cd6;
      }
    }

    .gap-left {
      border-right: $cd0x1 solid transparent;
      background-clip: padding-box;
      width: $cd7;
    }

    .gap-right,
    .gap-left {
      background-color: $dark-grey-color;
    }
  }

  .asset-service-high-level-details {
    margin-left: $cd7;

    @include mq-xs {
      margin-left: 0;
    }
  }
}

.dark-background {
  cd-card cd-card-accordion > md-card md-card-content .header-item due-status label {
    color: $white-color;
  }
}
