include /forms
//- This is shown after clicking on an asset > in the survey planner
.asset-service-high-level-container(
  data-in-view="vm.fetchData($inview)",
)
  asset-card.px0.no-quotes(
    data-asset='::vm.asset'
    data-current-user='vm.currentUser',
    data-is-expanded='vm.isExpanded',
    data-mode='tabular', 
  )
  div(
    data-layout='row',
    data-layout-align='center center',
    data-ng-if='vm.isFetching',
  )
    spinner

  .cd-card(
    data-theme='light',
  )
    cd-card-gantt(
      data-asset='vm.asset',
      data-gantt-padding='vm._$mdMedia("gt-xs")',
      data-hide-range-dates='true',
      data-icon-name='certificate',
      data-is-showing-title='true',
      data-is-showing-today-pip='true',
      data-is-showing-tooltip='true',
      data-items='vm.services',
      data-max-date='vm.maxDate',
      data-min-date='vm.minDate',
      data-ng-if='vm.services.length',
      data-title='cd-surveys',
    )
  .cd-card(
    data-theme='light',
  )
    cd-card-gantt(
      data-asset='vm.asset',
      data-gantt-padding='vm._$mdMedia("gt-xs")',
      data-hide-range-dates='true',
      data-icon-name='codicil',
      data-is-showing-title='true',
      data-is-showing-today-pip='true',
      data-is-showing-tooltip='true',
      data-items='vm.codicils',
      data-max-date='vm.maxDate',
      data-min-date='vm.minDate',
      data-ng-if='vm.codicils.length',
      data-title='cd-notes-and-actions'
    )
