include /shared

mixin no-results(condition, key, values)
  p.notification(
    data-ng-if=condition,
    data-translate=key,
    data-translate-values=values,
    data-translate-compile,
  )

div(data-ng-if='vm.isResolved')
  +no-results('vm.showNoFavouritesMessage', 'cd-search-no-favourites', '{ onClick: "vm.resetQuery(false)" }')
  +no-results('vm.showNoResultsMessage', 'cd-search-no-results', '{ onClick: "vm.resetQuery(false)" }')
  +no-results('vm.showTooManyResultsMessage', 'cd-too-many-results')

spinner.top-spinner(data-ng-show='!vm.isResolved || vm.isQuerying')
assets(
  data-assets='vm.assets',
  data-mode='normal',
  data-show-spinner='true',
  data-ng-if='vm.isResolved',
)
