include /shared

#class-status-filter.class-status-container
  form(
    data-layout='row',
    data-layout-wrap,
    name='form'
  )
    .checkbox(
      data-flex=100,
      data-flex-sm=50,
      data-flex-md=25,
      data-flex-gt-md=20,
    )
      md-checkbox.small(
        aria-label='{{ "cd-all" | translate }}',
        data-ng-change='vm.setClassStatusValues(form)',
        data-ng-model='vm.isAll',
      )
      .label
        +translate('cd-all')
    .checkbox(
      data-flex=100,
      data-flex-sm=50,
      data-flex-md=25,
      data-flex-gt-md=20,
      data-ng-repeat='status in ::vm.classStatuses track by $index',
    )
      md-checkbox.small(
        aria-label='{{ status.name }}',
        data-ng-change='vm.onSelectionChanged(form)',
        data-ng-model='status.selected',
      )
      .label(
        title='{{ status.name }}',
      ) {{ status.name }}
