export-assets {
}

.export-assets-modal {
  // To fix flicker issue on IE
  // Don't want to make it common as other elements might be using the animate effect?
  .ng-hide,
  .ng-hide.ng-hide-animate {
    display: none !important;
  }

  md-radio-group {
    font-size: $cd1x4;
    font-weight: 300;
  }

  .additional-information {
    margin-top: $cd1x5;
  }

  ul {
    padding-left: $cd1x9;
  }

  .codicils {
    .codicil-item {
      margin-bottom: $cd;
      @include background-opacity($dark-blue-color, 0.4);

      @include mq-gt-xs {
        &:nth-child(odd) {
         padding-right: $cd2;
        }
      }

      h4 {
        margin-top: $cd1x2;
      }
    }
  }

  .results-summary-container {
    padding-top: 0;

    .top-button-controls-wrapper {
      padding-top: 0;
      padding-right: 0;
    }
  }

  .tab-content {
    > div {
      margin-bottom: $cd3;
    }

    md-content {
      background-color: transparent;

      assets {
        overflow-x: hidden;
      }
    }
  }

  .tab-information-content {
    background-color: $dark-blue-color;
  }

  .file-type-selection {
    .md-container .md-off {
      background-color: white;
    }

    h4 {
      position: relative;
      top: $cd;
    }
  }

  .loading-message {
    margin-bottom: $cd;

    .spinner {
      margin-left: 0;
    }

    icon {
      margin-right: $cd-half;
    }

    @include mq-gt-xs {
      margin-bottom: 0;
      margin-right: $cd2;
    }
  }
}
