include /forms
include /shared

md-dialog.cd-dialog.dark-background.export-assets-modal(aria-label='{{ "cd-export-asset-listing" | translate }}')
  form(
    data-flex,
    data-layout='column',
    data-ng-cloak,
    name='vm.exportAssetsForm',
  )
    md-toolbar(
      data-flex='none',
    )
      .md-toolbar-tools.content-main
        .modal-title.h1
          +translate('cd-export-asset-listing')
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.closeModal()',
        })

    md-dialog-content(
      data-flex,
      data-layout='row',
    )
      .content-main.vertical-tabs(
        data-flex='none',
        data-layout-xs='column',
        data-layout-sm='column',
        data-layout-gt-sm='row',
        data-theme='dark-blue',
      )
        .tab-items(
          data-flex='none',
          data-flex-gt-sm=25,
          data-layout='row',
          data-layout-gt-sm='column',
        )
          .item(
            data-flex,
            data-flex-gt-sm='none',
            data-ng-repeat='(key, tab) in vm.tabs',
            data-ng-class='{active: vm.selectedTab === key}',
            data-ng-click='vm.selectedTab = key',
            data-ng-hide='key === "assets" && !vm.showAssets',
          )
            span(
              data-translate='{{ tab.label }}',
            )

        .tab-content(
          data-flex,
          data-flex-gt-sm=70,
          data-flex-offset-gt-sm=5,
          data-layout='row',
        )
          include _partials/_tab-assets.pug
          include _partials/_tab-information.pug

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout-align='start center',
    )
      .content-main(
        data-layout-align='end',
        data-layout-xs='column',
        data-layout-gt-xs='row',
      )
        .loading-message(
          data-flex-gt-sm='grow',
          data-layout='row',
          data-layout-align='start center',
          data-layout-align-gt-sm='end center',
        )
          spinner.white.small(
            data-flex='none',
            data-ng-if='vm.isLoading',
          )
          icon(
            data-name='overdue',
            data-ng-if='vm.isTooManyAssets',
          )
          div(
            data-flex='nogrow',
          )
            small(data-ng-if='vm.isLoading'): +translate('cd-notification-generating-file')
            small(
              data-ng-if='vm.isTooManyAssets',
              data-translate-once='cd-too-many-assets-to-export',
              data-translate-values='{ limit: vm._AppSettings.DEFAULT_PARAMS.MAXIMUM_ASSETS_EXPORT }',
            )
        div(
          data-flex='none',
          data-layout='row',
        )
          +button({
            class: 'modal-cancel-button',
            label: 'cd-cancel',
            ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
            onClick: 'vm.closeModal()',
            theme: 'light',
          })
          +button({
            class: 'flex-50 modal-export-mobile-button',
            disabled: '!vm.canExport',
            hide: 'vm._$mdMedia("gt-sm")',
            label: 'cd-export',
            onClick: 'vm.export()',
            theme: 'warn',
          })
          +button({
            buttonType: 'icon-text',
            class: 'modal-export-button',
            disabled: '!vm.canExport',
            hide: 'vm._$mdMedia("xs") || vm._$mdMedia("sm")',
            iconName: 'export',
            iconPosition: 'left',
            label: 'cd-export-asset-information',
            onClick: 'vm.export()',
            theme: 'warn',
          })
          span(
            data-ng-class='{"p-r-60":vm.isNativeMobile}',
            data-ng-if='vm.isNativeMobile'
          )
