include /forms
include /shared

+button({
  buttonType: 'icon-text',
  class: 'flex m0',
  disabled: 'vm.assets.length === 0',
  hide: 'vm.hasMobileView && vm._$mdMedia("xs")',
  iconName: 'export',
  iconPosition: 'right',
  label: 'cd-export-asset-information',
  onClick: 'vm.showModal($event)',
  textAlign: 'left',
  theme: 'primary',
})

+mobileFilterButton({
  disabled: 'vm.assets.length === 0',
  hide: '!vm.hasMobileView || vm._$mdMedia("gt-xs")',
  iconName: 'export',
  label: 'cd-export',
  onClick: 'vm.showModal($event)',
})
