include /forms
include /shared

md-dialog.cd-dialog-small(
  aria-label='{{ vm.title }}',
  data-ng-class='{"dark-background": vm.useBackgroundImage}',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2(data-translate='{{ vm.title }}')
        //- AM's way of flexing with the `span` below
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm._$mdDialog.cancel()',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      div(data-translate='{{ vm.body }}')
    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      .button-container(data-ng-repeat='button in vm.buttons')
        +button({
          class: '{{ button.class }}',
          labelVariable: 'button.label',
          onClick: '::this.$eval(button.onClick)',
          theme: '{{ button.theme }}'
        })
        span(
          data-ng-class='::{"p-r-60":vm.isNativeMobile}',
          data-ng-if='::Svm.isNativeMobile'
        )
