include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ vm.filterLabel | safeTranslate }}')
  md-toolbar
    .md-toolbar-tools.content-main
      .modal-title.h1 {{ vm.filterLabel | safeTranslate }}
      span(data-flex)
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm.cancel()',
      })
  md-dialog-content(data-flex)
    .filter-container
      .filter
        .filter-body.content-main(
          data-layout-xs='column',
          data-layout-sm='column',
          data-layout-gt-sm='row',
          data-layout-wrap,
        )
          .widget-container(
            data-hide-gt-sm
          )
            a.underline(
              data-ng-click='vm.clearFilterOptions()',
              data-translate-once='cd-clear-filters',
            )
          include _partials/_filter-list.pug
  md-dialog-actions.cd-actions(
    data-flex='none',
    data-layout-align='start center',
  )
    .content-main(
      data-flex='none',
      data-layout-align='end',
      data-layout='row',
    )
      div(
        data-flex,
        data-hide-sm,
        data-hide-xs,
      )
        +button({
          class: 'modal-cancel-button',
          label: 'cd-cancel',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
      div(
        data-flex,
        data-flex-gt-sm='none',
        data-layout='row',
      )
        +button({
          class: 'modal-clear-button',
          hide: '!vm._$mdMedia("gt-sm")',
          label: 'cd-clear-filters',
          onClick: 'vm.clearFilterOptions()',
          theme: 'light',
        })
        +button({
          class: 'flex-50 modal-cancel-button',
          hide: 'vm._$mdMedia("gt-sm")',
          label: 'cd-cancel',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
        +button({
          class: 'flex-50 flex-gt-sm-none modal-submit-button',
          label: 'cd-submit',
          onClick: 'vm.submit()',
          theme: 'warn',
          disabled: '!vm.isFilterFormValid',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
