rider-filter {
  display: block;

  .disabled {
    pointer-events : none;
    opacity: 0.3;
    @include no-select();
  }

  .rider-items-container {
    position: relative; // prevent listing from being blocked by filter dropdown
  }

  .spinner-container {
    text-align: center;
    color: $dark-grey-color;
  }
}

md-select.rider-filter-mobile .md-select-value span:first-child{
  color: $white-color;
}
