include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ vm.sortLabel | safeTranslate }}')
  md-toolbar
    .md-toolbar-tools
      .modal-title.h1(
        data-flex,
      ) {{ vm.sortLabel | safeTranslate }}
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm.cancel()',
      })
  md-dialog-content(
    data-flex,
    data-layout='column',
    data-layout-margin,
  )
    .h3-regular
      +translate('cd-sort-by')

    //- Sort by
    md-radio-group(
      aria-label='{{ "cd-sort-by" | translate }}',
      data-ng-model='vm.sortBy',
    )
      md-radio-button.md-primary(
        data-ng-repeat='type in vm.sortByList track by $index',
        data-ng-selected='type.selected'
        data-ng-value='type',
      )
        | {{ type.name | safeTranslate | titleize }}

  md-dialog-actions.cd-actions(data-flex='none')
    .content-main(
      data-flex='none',
      data-layout-align='end',
      data-layout='row',
    )
      +button({
        class: 'flex-50 modal-cancel-button',
        label: 'cd-cancel',
        onClick: 'vm.cancel()',
        theme: 'light',
      })
      +button({
        class: 'flex-50 modal-submit-button',
        label: 'cd-submit',
        onClick: 'vm.submit()',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
