include /shared

mixin rider-content
  md-divider.spacer.large(
    data-ng-hide='vm.showPagination',
  )
  .rider-items-container(
    data-ng-if='vm.showResults',
  )
    include _partials/_items-view.pug
  .rider-read-more(
    data-layout='row',
    data-layout-align='center center',
    data-ng-if='::vm.showLoadMore'
  )
    +button({
      label: 'cd-load-more',
      onClick: '::vm.loadMore()',
      theme: 'primary',
    })

.filter-view-container
  include _partials/_filter-view.pug
  cmro(
    data-ng-if='vm.customData.showCMRO',
    data-imo-number='vm.customData.imoNumber',
  )

.spinner-container(
  data-ng-if='(!vm.showResults && vm.showTopSpinner) || !vm.isResolved',
)
  md-divider.spacer.large
  div(
    data-ng-if='vm.loadingMessage',
    data-translate-once='{{ vm.loadingMessage }}',
  )
  md-divider.spacer
  spinner.top-spinner

div(
  data-ng-if='vm.showPagination',
)
  pagination.grid-block.vertical(
    data-hide-count='false',
    data-label='cd-users',
    data-ng-if='vm.items',
    data-pageable='vm.items',
    data-show-spinner='vm.showPaginationSpinner',
  )
    //- Nest content within pagination if show pagination
    +rider-content

div(
  data-ng-if='!vm.showPagination',
)
  +rider-content
