include /forms
include /shared

rider-filter(
  data-action='vm.action',
  data-backend-filtering-enabled='true',
  data-backend-query-fn='vm.updateQuery(queryParams)',
  data-show-top-spinner='true',
  data-filter-label='cd-filter-users',
  data-filter-options='vm.filterOptions',
  data-search-by-list='vm.searchByList',
  data-search-label='cd-filter-search-users',
  data-show-administration-buttons='true',
  data-show-pagination='true',
  data-show-pagination-spinner='true',
  data-sort-by-list='vm.sortByList',
  data-sort-label='cd-filter-sort-users',
  data-template='{{ vm.userItemTemplate }}',
  data-filter-other-buttons='vm.filterOtherButtons',
)
