viewable-users {
  user-item {
    md-card {
      margin-bottom: $cd-half;
    }
  }

  .functional-buttons-column {
    position: absolute;
    right: 0;
    top: $cd9;
    z-index: 5; // Needed to make it clickable but below modal dialog.
  }
  @include mq-gt-md {
    .functional-buttons-column {
      top: $cd10;
    }
  }

  pagination {
    padding-top: $cd2x5;

    .rider-items-container {
      padding-top: $cd2x5;
    }
  }
}
