service-schedule {
  position: relative;

  .is-disabled {
    pointer-events: none;
  }

  .date-range-sticky {
    margin-top: $cd1x5;
  }

  spinner.top-spinner {
    //  Spinner alignment hack.
    .spinner {
      padding-top: $cd;
    }
  }

  md-divider.spacer {
    height: $cd2x5;
  }

  .pagination-container {
    pagination {
      padding-top: $cd3x5;
    }

    .notification-container {
      z-index: 2; // stay on top but below dialog.
      position: relative;
      top: $cd3;

      @include mq-gt-md {
        top: $cd8;
      }
    }
  }

  @include mq-gt-xs {
    .date-range-sticky {
      margin-top: $cd2x5;
    }
  }

  @include mq-gt-md {
    .date-range-sticky {
      margin-top: $cd;
    }
  }

  @include mq-xs {
    date-range {
      margin-right: -$cd0x8; //- yes, hacky to be pixel perfect
      display: block;

      .md-datepicker-input {
        padding-left: $cd0x8 !important;
        padding-right: $cd0x8 !important;
      }
    }
  }
}
