include /forms
include /shared

mixin no-results(condition, key, values)
  .notification.dark(
    data-ng-if=condition,
    data-translate=key,
    data-translate-values=values,
    data-translate-compile,
  )
div(
  data-ng-class='{"is-disabled": vm.isSaving }',
)
  .date-range-sticky(
    data-sticky,
    data-sticky-top=50,
  )
    date-range(
      data-has-timeline='true',
      data-force-update-invalid-model='false',
      data-max='vm.dateMax',
      data-max-limit='vm.dateRange.highRange'
      data-min='vm.dateMin',
      data-min-limit='vm.dateRange.lowRange',
      data-on-change='vm.onDatePickerChange({ minDate, maxDate })',
      data-range-layout='row',
      data-range-validator='true',
    )
      .cd-card(
        data-theme='light',
      )
        cd-card-gantt(
          data-is-showing-tooltip='true',
          data-items='[]',
          data-max-date='vm.dateMax',
          data-min-date='vm.dateMin',
          data-show-pip-dates='true',
      )

  spinner.top-spinner(data-ng-show='!vm.isResolved || vm.isQuerying')
  .pagination-container(data-ng-if='vm.isResolved')
    .notification-container(data-ng-if='vm.isResolved')
      +no-results('vm.showNoFavouritesMessage', 'cd-search-no-favourites', '{ onClick: "vm.resetQuery(false)" }')
      +no-results('vm.showNoResultsMessage', 'cd-search-no-results', '{ onClick: "vm.resetQuery(true)" }')
      +no-results('vm.showTooManyResultsMessage', 'cd-too-many-results')

    pagination.grid-block.vertical(
      data-label='cd-assets',
      data-ng-if='vm.renderTabularView',
      data-pageable='vm.assets',
      data-show-spinner='true',
    )
      md-divider.spacer
      assets-service-high-level.px0.display-block(
        data-asset='asset',
        data-current-user='::vm.currentUser',
        data-max-date='vm.dateMax',
        data-min-date='vm.dateMin',
        data-ng-repeat='asset in vm.assets',
        data-view='tabular',
      )

    pagination.grid-block.vertical(
      data-label='cd-assets',
      data-ng-if='vm.renderGanttView',
      data-pageable='vm.assets',
      data-show-spinner='true',
    )
      md-divider.spacer
      assets-service-high-level.px0(
        data-asset='asset',
        data-current-user='::vm.currentUser',
        data-view='gantt',
        data-max-date='vm.dateMax',
        data-min-date='vm.dateMin',
        data-ng-repeat='asset in vm.assets',
      )

    div(
      data-sticky,
      data-sticky-bottom=0,
      data-ng-if='vm.isShowActionBar',
    )
      cd-actions.cd-actions-mobile-light(
        data-layout-align='end',
        data-layout='row',
      )
        .content-main(
          data-flex='none',
          data-layout-align='end',
          data-layout='row',
        )
          .loading-message(
            data-ng-if='vm.isSaving',
            data-flex-gt-sm='grow',
            data-layout='row',
            data-layout-align='start center',
            data-layout-align-gt-sm='end center',
          )
            spinner.white.small(
              data-flex='none',
            )
            div(
              data-flex='nogrow',
              data-ng-show='vm._$mdMedia("gt-xs")',
            )
              small: +translate('cd-notification-updating-favourites')
            md-divider.spacer

          +button({
            label: 'cd-cancel',
            theme: 'light',
            onClick: 'vm.cancelSaveFavourites()',
          })
          +button({
            label: 'cd-save',
            theme: 'warn',
            disabled: 'vm.isSaving',
            onClick: 'vm.saveFavourites()',
          })
          span(
            data-ng-class='{"p-r-60":vm.isNativeMobile}',
            data-ng-if='vm.isNativeMobile'
          )
