.checklist-container(
  data-layout='row',
  data-layout-align='start center',
)
  div(data-flex)
    .description(
      data-ng-bind='::checklistItem.longDescription',
    )
    strong(
      data-hide,
      data-show-gt-md,
    )
      span(
        data-ng-bind='::checklistItem.referenceCode',
      )

    div(data-hide-gt-md)
      md-divider.spacer.small
      div(data-layout='row')
        strong(
          data-flex=50,
        )
          span(
            data-ng-bind='::checklistItem.referenceCode',
          )
        .status(
          data-flex=50,
          data-layout-align='end center',
          data-layout='row',
        )
          span(
            data-ng-bind='::checklistItem.creditStatus',
          )

  .status.md-padding(
    data-hide,
    data-show-gt-md,
    data-flex=20, 
  )
    span.strong(
      data-ng-bind='::checklistItem.creditStatus'
    )
