include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

.revisions(
  data-ng-if='::!!vm.item.revisions.length'
)
  .revisions-header(
    data-ng-show='vm._$mdMedia("xs") || vm._$mdMedia("sm")',
    data-ng-click='::vm.isRevisionsShown = !vm.isRevisionsShown;',
    data-stop-event='click',
  )
    div(data-layout='row')
      div(data-flex)
        h4.dark.my0: strong: +translate-once('cd-view-history')
      div.align-right(data-flex=20)
        icon.black(
          data-name='up',
          data-ng-if='::!!vm.isRevisionsShown',
        )
        icon.black(
          data-name='down',
          data-ng-if='::!!!vm.isRevisionsShown',
        )

  .revisions-body(
    data-ng-show='vm._$mdMedia("gt-sm") || vm.isRevisionsShown',
  )
    .revision(
      data-layout='row',
      data-layout-gt-sm='column',
      data-ng-repeat='revision in vm.item.revisions track by $index',
    )
      div(
        data-flex,
        data-layout-gt-sm='row',
      )
        div(
          data-flex,
          data-flex-gt-sm=40,
        )
          div(
            data-layout='row',
            data-layout-gt-sm='column',
          )
            div(
              data-flex=60,
              data-flex-gt-sm=100,
            )
              strong.action-taken(
                data-ng-bind='::revision.action',
              )

            .align-right(
              data-flex=40,
              data-ng-hide='vm._$mdMedia("gt-sm")',
            )
              strong.job-number(
                data-ng-bind='::revision.jobNumber',
              )

        div(
          data-flex,
          data-flex-gt-sm=45,
        )
          +translate-once('cd-due-date-reported')
          |:
          strong.due-date {{ ::revision.dueDate | #{'date : "' + dateFormatter + '"'} }}

        .align-right(
          data-flex,
          data-flex-gt-sm=15,
          data-ng-show='vm._$mdMedia("gt-sm")',
        )
          strong.job-number(
            data-ng-bind='::revision.jobNumber',
          )
