include /forms

md-dialog.cd-dialog-small.medium(
  aria-label='{{ ::("cd-error-dialog-title") | translate }}',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2(data-translate='{{ ::vm.title }}')
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.dismissCallback()',
          hide: '!vm.dismissCallback',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      p(
        data-translate-once='{{ vm.message }}',
        data-translate-values='::{ errorDescription: vm.description }'
      )

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      +button({
        class: 'modal-cancel-button',
        labelVariable: 'vm.dismissLabel',
        onClick: 'vm.dismissCallback()',
        theme: 'light',
        hide: '!vm.dismissCallback',
      })
      +button({
        class: 'modal-confirm-button',
        labelVariable: 'vm.confirmLabel',
        onClick: 'vm.confirmCallback()',
        theme: 'warn',
        hide: '!vm.confirmCallback',
      })
      span(
        data-ng-class='::{"p-r-60":vm.isNativeMobile}',
        data-ng-if='::vm.isNativeMobile'
      )
