include /forms
include /shared

div
  eor-tabs-master
  .dashboard-container(
    data-layout='column'
  )
    #main-wrapper.content-container
      .content-main
        .main-content(
          data-layout='column',
          data-flex-auto,
          data-ui-view='eor-dashboard-content',
        )
