mixin asset-header-simple(asset)
  //- Need to add a triple block for variables in the partial folder.
  //- 1x triple block here
  ///- var overallStatusName = (asset.dueStatus && asset.dueStatus.name) ? asset.dueStatus.name : '';
  //- Add a postponed label if it is
  //- 1x triple block here
  ///- var overallStatusName = (asset.hasPostponedService) ? 'Postponed -'+asset.dueStatus.name : asset.dueStatus.name;

  row.asset-header.asset-header-simple-plugin
    columns
      spacer(size='10')
      row
        columns(small='12', large='5').emblem-container
          row
            columns.break-all
              //#{asset.name}
              h7.asset-name
                //- 1x triple block here
                ///| #{asset.name}
          <!--[if !mso]><!-- -->
          row
            columns(small='12', valign='middle')
              //#{overallStatusName}
              .tiny.due-status
                safeblock.display-none
                  <!--/if asset.hasPostponedService-->
                    span Postponed -
                //- 1x triple block here
                ///span #{overallStatusName}
          <!--<![endif]-->

        columns(small='12', large='5', valign='middle')
          row
            columns(small='4')
              .tiny IMO:
            columns(small='8')
              .tiny
                //#{asset.imo}
                //- 1x triple block here
                ///| #{asset.imo}
          spacer(size='2')
          row
            columns(small='4')
              .tiny Asset Type:
            columns(small='8')
              .tiny
                //#{asset.type}
                //- 1x triple block here
                ///| #{asset.type}
          spacer(size='2')
          row
            columns(small='4')
              .tiny Flag:
            columns(small='8')
              .tiny
                //#{asset.flag}
                //- 1x triple block here
                ///| #{asset.flag}
          spacer(size='2')
          row
            columns(small='4')
              .tiny Class status:
            columns(small='8')
              .tiny
                //#{asset.classStatus}
                //- 1x triple block here
                ///| #{asset.classStatus}
          spacer(size='2')
          row.hide-for-large
            columns(small='4')
              .tiny Due status:
            columns(small='8')
              .tiny
                //#{asset.classStatus}
                //- 1x triple block here
                ///| #{overallStatusName}

        columns(small='12', large='2')
          row.show-for-large
            //- space hacking
            columns(large='12', valign='middle')
              row
                columns(valign='middle')
                  center
                    //#{overallStatusName}
                    .tiny.due-status
                      //- 1x triple block here
                      ///span #{overallStatusName}

      spacer(size='10')