mixin asset-header()
  container.asset-header
    row
      columns(small='12', large='5')
        spacer(size='20')
        row
          columns
            //src=emblemIcon
            //- 1x triple block here
            ///img.emblem(src=emblemIcon height="60" style="max-width:168px")
        spacer(size='4')
        row
          columns
            //#{asset.name}
            h5.asset-name
              //- 1x triple block here
              ///| #{asset.name}
      columns(small='12', large='5')
        spacer(size='50').small-spacer
        row
          columns(small='4')
            .tiny IMO:
          columns(small='8')
            .tiny
              //#{asset.imo}
              //- 1x triple block here
              ///| #{asset.imo}
        spacer(size='2')
        row
          columns(small='4')
            .tiny Asset Type:
          columns(small='8')
            .tiny
              //#{asset.type}
              //- 1x triple block here
              ///| #{asset.type}
        spacer(size='2')
        row
          columns(small='4')
            .tiny Date of build:
          columns(small='8')
            .tiny
              //#{asset.dateOfBuild}
              //- 1x triple block here
              ///| #{asset.dateOfBuild}
        spacer(size='2')
        row
          columns(small='4')
            .tiny Gross tonnage:
          columns(small='8')
            .tiny
              //#{asset.grossTonnage}
              //- 1x triple block here
              ///| #{asset.grossTonnage}
        spacer(size='2')
        row
          columns(small='4')
            .tiny Flag:
          columns(small='8')
            .tiny
              //#{asset.flag}
              //- 1x triple block here
              ///| #{asset.flag}
        spacer(size='2')
        row
          columns(small='4')
            .tiny Class status:
          columns(small='8')
            .tiny
              //#{asset.classStatus}
              //- 1x triple block here
              ///| #{asset.classStatus}
      columns(small='12', large='2', valign = 'top')
        spacer(size='20')
          row
            columns
              row
                columns(small='1',large='4')
                columns(small='3',large='4')
                  //- 1x triple block here
                  ///img.icon(src=path +'/assets/img/icons/mms.png', height="25" width="25")
                columns(small='3',large='4')
                  //- 1x triple block here
                  ///img.icon(src=path+'/assets/img/icons/lr.png', height="25" width="25")
              spacer(size='15')
              row
                columns(small='6',large='12', valign='middle')
                  row
                    columns.center(valign='middle')
                      center
                        //src=overallStatusIcon
                        //- 1x triple block here
                        ///img.icon.md(src=overallStatusIcon height="30" width="30")
                  row
                    columns(valign='middle')
                      center
                        //#{overallStatusName}
                        .tiny.due-status
                          safeblock.display-none
                            <!--/if asset.hasPostponedService-->
                              span Postponed -
                          //- 1x triple block here
                          ///span #{overallStatusName}
    spacer(size='20')