header.error-header
  .error-header-content
    .error-content
      a(href='http://lr.org' style='display:inline-block;')
        svg#Layer_1.error-lr-icon(version='1.1',
          xmlns='http://www.w3.org/2000/svg',
          xmlns:xlink='http://www.w3.org/1999/xlink',
          viewbox='0 0 176 176',
          style='enable-background:new 0 0 176 176;',
          xml:space='preserve')
          rect(id="svg_4" height="139.5" width="128.25" y="19.25" x="25.5" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="none" style="fill: #3b8ede;" )
          path(d='M23.2,17v144h131.7V17H23.2z M150.5,156.6H27.5V21.2h123.1V156.6z' style="fill: #FFF;")
          path(d='M105.4,127.4 59.3,127.4 59.3,34.6 47.2,34.6 47.2,137.9 105.4,137.9z' style="fill: #FFF;")
          path(d='M121.1,65.4c0,13-9.1,20.5-24.6,20.5H82.8l42.5,52.1H140l-35-42.6c17.5-1.5,28.1-13.5,28.1-30c0-19.3-13-30.8-35-30.8H82.8 v10.5H97C112.5,45.1,121.1,52.5,121.1,65.4z' style="fill: #FFF;")
      a(href='http://cdlive.lr.org' style='display:inline-block;')
        img(src='/assets/img/c-logo.png', class='error-cd-icon' style="width:40px;height:30px;" height="30" width="40")
