footer#footer.error-footer
  .error-content-main
    .error-corporate-info
      .error-logo
        svg#Layer_1.error-lr-icon(version='1.1',
          xmlns='http://www.w3.org/2000/svg',
          xmlns:xlink='http://www.w3.org/1999/xlink',
          viewbox='0 0 176 176',
          style='enable-background:new 0 0 176 176;',
          xml:space='preserve')
          rect(id="svg_4" height="139.5" width="128.25" y="19.25" x="25.5" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="none" style="fill: #3b8ede;" )
          path(d='M23.2,17v144h131.7V17H23.2z M150.5,156.6H27.5V21.2h123.1V156.6z' style="fill: #FFF;")
          path(d='M105.4,127.4 59.3,127.4 59.3,34.6 47.2,34.6 47.2,137.9 105.4,137.9z' style="fill: #FFF;")
          path(d='M121.1,65.4c0,13-9.1,20.5-24.6,20.5H82.8l42.5,52.1H140l-35-42.6c17.5-1.5,28.1-13.5,28.1-30c0-19.3-13-30.8-35-30.8H82.8 v10.5H97C112.5,45.1,121.1,52.5,121.1,65.4z' style="fill: #FFF;")
        .error-name
          | Lloyd&#39;s
          br
          | Register
      .error-copyright &copy; Lloyd&#39;s Register Group Services Limited, #{new Date().getFullYear()}.
    .error-disclaimer
      | Lloyd&#39;s Register Group Limited, its affiliates  and subsidiaries and their respective officers,
      | employees or agents are, individually and collectively, referred to in this clause as &#39;Lloyd&#39;s
      | Register&#39;. Lloyd&#39;s Register assumes no responsibility and shall not be liable to any person for any loss,
      | damage or expense caused by reliance on the information or advice in this document or howsoever provided, unless
      | that person has signed a contract with the relevant Lloyd&#39;s Register entity for the provision of this information
      | or advice and in that case any responsibility or liability is exclusively on the terms and conditions set out in that contract.