mixin footer(type)
  container.footer.disclaimer
    columns
      row
        columns 
          spacer(size='5')
          if(type == 'survey')
            span.footer-content-1
              |  a.)	Sender agrees with the LR Terms and Conditions
            spacer(size='5')
            span.footer-content-1
              | You are receiving this message because you requested a survey in LR Class Direct. If you believe you have received this email in error please contact
          else
            //- The space after '..to receive these ' is intentional
            span.footer-content-1
              | You are receiving this message because you have subscribed to this service. If you no longer wish to receive these notifications please unsubscribe in LR Class Direct. If you believe you have received this email in error please contact 
          u.footer-content-1.asset-link
            | classdirect@lr.org
          spacer(size='5')

  container.footer.copyright
    columns
      row
        columns
          spacer(size='5')
          table
            tr
              td.footer-content-2
                span Lloyd&#39;s Register Group Limited, its affiliates  and subsidiaries and their respective officers, employees or agents are, individually and collectively, referred to in this clause as &#39;Lloyd&#39;s Register&#39;. Lloyd&#39;s Register assumes no responsibility and shall not be liable to any person for any loss, damage or expense caused by reliance on the information or advice in this document or howsoever provided, unless that person has signed a contract with the relevant Lloyd&#39;s Register entity for the provision of this information or advice and in that case any responsibility or liability is exclusively on the terms and conditions set out in that contract.
            tr
              td
                p.footer-content-2(style="text-align:right !important;") &copy; Lloyd&#39;s Register Group Services Limited, #{new Date().getFullYear()}.
          spacer(size='5')