container.header(align='left')
  //- - var clientName = clientName;
  //- - var emailTitle='asdasd';
  //- - var emailAdditionalText='asdasd';

  table(width="100%")
    tr
      td(width="8%")
      td(width="92%" valign='middle' align='left')
    tr
      td
        a(href='http://lr.org' style='display:inline-block;')
          //- 1x triple block here
          ///img(src=path+'/assets/img/icons/logo.png' style="width:40px;width:2.6rem;max-width:40px;height:40px;height:2.6rem" height="45" width="45")

      //- Add valign for outlook 2010 as vertical-align is not supported
      td(valign='middle' align='left' style='vertical-align: middle !important; align:left;')
        //- Added a align here as outlook will default to center, even when it is deprecated and replaced by text-align(that does not work in outlook :) )
        span.header-h1.header.text-size-14.clientName
          //- 1x triple block here
          ///|#{clientName}

  //- Gmail bug where the table does not follow the parent to fill whole width
  table(width="100%")
    //- Interesting hack
    //- Outlook does not like padding-left:6px
    //- Used a dummy first column to add spaces before the line
    tr
      td(width="2%")
      td(width="98%" valign='middle' align='left')
        .header-h1.header.text-size-11
          //- 1x triple block here
          ///|#{emailTitle}
        spacer(size='5')
    if(emailAdditionalText)
      tr
        td
        td
          .header-h1.header.text-size-10
            //- 1x triple block here
            ///|#{emailAdditionalText}
