mixin title-bar(emailTitle, emailAdditionalText)
  container.title-bar
    //- This title bar has a wave background 
    row
      columns
        spacer(size='13')
    row
      columns
        .title
        //- 1x triple block here
        ///|#{emailTitle}
    row
      columns
        spacer(size='5')
    row
      columns
        .sub-title
          //- 1x triple block here
          ///|#{emailAdditionalText}
    row
      columns
        spacer(size='13')