include /forms
include /shared

.container.content-main.outer.p0(
  data-layout='row',
  data-layout-align='start center',
  data-ng-class='{ hidden: !vm.isVisible }',
)
  .text(
    data-flex,
  )
    +translate('cd-emulated-view')

  div(
    data-flex='none',
  )
    +button({
      buttonType: 'icon-text',
      class: 'my0',
      iconName: 'cancel', /* TODO: Change to proper icon once available */
      label: 'cd-stop-emulation',
      onClick: 'vm.stopMasquerading()',
      theme: 'primary',
    })
