masquerade-bar {
  background-color: #000;

  .container {
    transition: height 0.5s;
    height: $cd6;
    overflow: hidden;

    &.hidden {
      height: 0;
    }
  }

  .text {
    padding: 0 $cd0x8;
  }
}
