account-type {
  > div {
    margin: 0 #{-$cd2};
  }

  .cd-card-context {
    height: 100%;

    info-card {
      height: 100%;

      md-card {
        width: 100%;
        margin-bottom: $cd2;
      }
    }
  }
}
