div(
  data-layout-padding,
  data-layout-wrap,
  data-layout='row',
)
  cd-card(
    data-flex=100,
    data-flex-gt-sm=33,
    data-flex-sm=50,
    data-ng-repeat='accountType in vm.accountTypes track by $index',
    data-theme='grey',
  )
    info-card(
      data-layout='grow',
      data-title='{{ accountType["user-creation-label"] || accountType["label"] }}',
      data-description='{{ accountType.description | safeTranslate }}'
      data-button='accountType.button',
    )
