div(
  data-ng-mouseenter='vm.showTooltip = true',
  data-ng-mouseleave='vm.showTooltip = false',
)
  .active-status-wrapper(
    data-layout='row',
    data-layout-align='start center',
    data-ng-if='::!!vm.statusName',
    data-ng-class='{ button: vm.mode === "button" }'
  )
    div(
      data-flex='none',
      data-flex-order='{{ vm.iconPosition === "left" ? 1 : 3 }}',
      data-layout='row',
      data-layout-align='start center',
    )
      span.circle(
        data-ng-class='vm.statusName',
        data-ng-if='::vm.isIconCircle',
      )
      span(
        data-ng-class='vm.iconName',
        data-ng-if='::!vm.isIconCircle',
      )
        icon(data-name='{{::vm.iconName }}', data-ng-class='vm.statusName')

    div(
      data-flex,
      data-flex-order=2,
    )
      .label(
        data-ng-if='::!!vm.showLabel',
        data-ng-class='{ "ellipsis": vm.useEllipsis }',
        title='{{ ::vm.statusLabel }}',
      )
        b.small(
          data-flex='none',
          data-ng-bind='::vm.statusLabel'
        )
  cd-tooltip(
    data-ng-class='{show: vm.showTooltip, leave: !vm.showTooltip}',
    data-ng-if="vm.enableTooltip && vm._$mdMedia('gt-sm')",
  ) {{ ::vm.toolTipHoverText }}
