active-status {
  .active-status-wrapper.button {
    border: solid $cd0x1 $dark-grey-color;
    padding: $cd-half;
    margin: 0 $cd-half;
  }
  .cancel icon {
    margin: 0 $cd-half;
    width: $cd1x5;
    height: $cd1x5;
    md-icon svg {
      width: $cd1x5;
      height: $cd1x5;
      path {
        fill: $dark-grey-color;
      }
    }
  }

  .triangle icon md-icon {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
  }

  .label.ellipsis {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .circle {
    border-radius: 50%;
    display: inline-block;
    width: $cd1x5;
    height: $cd1x5;
    margin: 0 $cd-half 0 0;
    @include mq-gt-sm {
      margin: 0 $cd-half;
    }
    vertical-align: middle;
    opacity: 1 !important;

    &.finished,
    &.complete,
    &.continues-satisfactory,
    &.active,
    &.not-due,
    &.open {
      background: $green-color;
    }
    &.postponed,
    &.unknown,
    &.not-started,
    &.open-downgraded,
    &.part-held,
    &.change-recommended,
    &.draft,
    &.imminent,
    &.due-soon,
    &.temporary {
      background: $warn-color;
    }
    &.closed,
    &.closed-for-current-job,
    &.disabled,
    &.deleted,
    &.overdue,
    &.inactive {
      background: $error-color;
    }
  }

  &[data-label] {
    icon {
      margin-right: $cd-half;
    }

    .label {
      color: $dark-grey-color;
      line-height: $cd3;
    }
  }

  &[data-theme='light'][data-label] {
    .label {
      color: $white-color;
      line-height: $cd3;
    }
  }
}

md-dialog active-status {
  icon path {
    fill: $white-color !important;
  }
}

html[data-useragent*='MSIE'] {
  active-status icon.archived {
    line-height: $cd * 2.5;
  }
}
