/*

  Table of contents

  - Variables
  - Mixins
  - Imports

  Variables
  =============
*/
@import 'styles/variables';

/*
Mixins
=============
*/
@import 'styles/mixin';

/*
Imports
=============
*/
@import 'styles/accordion';
@import 'styles/asset-hub';
@import 'styles/autocomplete';
@import 'styles/buttons';
@import 'styles/checkboxes';
@import 'styles/date-picker';
@import 'styles/dialogs';
@import 'styles/dropdowns';
@import 'styles/export';
@import 'styles/filters';
@import 'styles/font';
@import 'styles/inputs';
@import 'styles/layout-fill-fix';
@import 'styles/layout-flex-fix';
@import 'styles/radio-buttons';
@import 'styles/radio-groups';
@import 'styles/switch';
@import 'styles/tabs';
@import 'styles/typography';

* {
  box-sizing: border-box;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.dark-background {
  color: $white-color;
  background: url('../../../../resources/images/bg.jpg') $modal-background-color top center/cover no-repeat;

  .page-details .detail {
    .title,
    .content {
      color: $white-color;
    }
  }

  md-divider {
    border-color: $white-color;
  }
}

.animate-minimize {
  opacity: 1;

  &.ng-hide {
    max-height: 0;
    opacity: 0;
  }
  &.ng-hide-add,
  &.ng-hide-remove {
    @include add-transition(.3s);
  }
}

.not-clickable {
  outline: none !important;
  cursor: default !important;
  text-decoration: none !important;
}

// Request Survey
// Codicil details
// Codicil details - repair modal
// Asset details
.page-details {
  .detail {
    margin-bottom: $cd1x6;

    label,
    .title {
      margin-bottom: $cd-half;
      font-size: $cd1x3;
      // This is to overwrite the default styling of onfocus input label color
      // Provided by angular material
      color: $dark-grey-color !important;
    }

    .content {
      color: $dark-blue-color;

      &.description p {
        margin: $cd1x6 0 0;
      }
    }
  }
}

.box {
  display: inline-block;

  margin-right: $cd;
  padding: 0 $cd;

  color: $dark-grey-color;
  border: $cd0x1 solid $dark-grey-color;

  line-height: $cd4;

  .dark-background & {
    color: $white-color;
    border-color: $white-color;
  }

  &.block {
    margin: 0 0 $cd;
    display: block;
  }
}

md-icon.card-image {
  height: 100%;
}

md-icon.circle {
  @include border-radius(50%);
  display: inline-block;
  width: $cd2;
  height: $cd2;
  margin-right: $cd1x1;
  vertical-align: middle;
  min-height: 0;
  min-width: 0;
  &.active {
    background: $green-color;
  }
  &.disabled {
    background: $error-color;
  }
}

.filter-divider {
  border-top-width: $cd0x4;
}

a {
  color: $dark-blue-color;
}

img {
  max-width: 100%;
}

md-dialog {
  md-radio-button {
    .md-on, .md-off {
      border-color: rgba(255,255,255,0.35);
    }
  }
}

form div[data-ng-messages] * {
  padding-top: $cd-half;
  font-size: $cd1x2;
  line-height: $cd1x4;
  color: $error-color !important;

  md-dialog & {
    color: $warn-color !important;
  }
}

md-dialog {
  form {
    margin: $cd;
  }
}

.md-open-menu-container {
  position: absolute;
}

.icon-image {
  width: 40px;

  svg {
    width: 40px;
  }
}

.m0 {
  margin: 0 !important;
}

.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pl1 {
  padding-left: $cd-half;
}

.pr1 {
  padding-right: $cd-half;
}

.pb1 {
  padding-bottom: $cd-half;
}

.py1 {
  padding: $cd-half 0;
}

.px1 {
  padding: 0 $cd-half;
}

.pt0 {
  padding-top: 0 !important;
}

.pt1 {
  padding-top: $cd-half;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.h0{
  min-height: 0 !important;
}

.not-visible {
  visibility: hidden !important;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-self-end {
  align-self: flex-end;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.padding-right {
  padding-right: $cd1x6;
}

.display-block {
  display: block;
}

.layout-padding, .layout-padding > * {
  padding: $cd;
}

.visible-half {
  opacity: 0.5;
}

.dark-font {
  color: $dark-grey-color !important;
}

.p-r-60 {
  padding-right: $cd6 !important;
}

md-divider {
  /*----------------------------------------
  md-divider can be used to act as a partition in 2 different ways

  [Scenario 1 - with border]
  - has horizontal border
  - no margin by default (to stick with Angular Material's standard)

  Usage:
  md-divider                   [no margin]
  md-divider.large             [with 30px margin-top and margin-bottom]

  ===

  [Scenario 2 - without border]
  - a square block without horizontal border
  - has margin (medium 20px) by default

  Usage:
  md-divider.spacer             [with 20px margin-top and margin-bottom]
  md-divider.spacer.small       [with 15px margin-top and margin-bottom]

  ===

  [Sizes available]
  - small (15px)
  - medium (20px)
  - large (25px)
  ----------------------------------------*/

  $sizes:
    ('xxs', $cd-half),
    ('xs', $cd),
    ('small', $cd1x5),
    ('medium', $cd2),
    ('large', $cd2x5);

  // md-divider has border by default
  border-color: $grey-color;

  @each $className, $size in $sizes {
    &.#{$className} {
      margin-top: $size;
      margin-bottom: $size;
    }
  }

  // a spacer has no border
  &.spacer {
    margin: 0;
    border: 0 none;
    height: $cd2;
    width: $cd2;

    @each $className, $size in $sizes {
      &.#{$className} {
        width: $size;
        height: $size;
      }
    }
  }
}

.outline-button {
  background-color: transparent !important;
  border: 1px solid white;
  margin: 10px 0;

  @include border-radius(0);
  @include box-shadow(none !important);

  span {
    color: white;
  }
}

.inline-image-container {
  position: relative;

  img {
    vertical-align: middle;
  }

  p {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.form-footer {
  margin-top: $cd3;
  position: relative;
  overflow: visible;
  background: $dark-blue-color;

  .content-main {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;

    > md-input-container {
      margin: $cd1x8 0;
    }
  }
}

.flex-fix, .flex-fix > * {
  min-height: 0;
  flex: 1;
}

.flex-fix:not(:empty) {
  > * {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

md-input-container:not(.md-input-has-value) input:not(:focus) {
  color: $dark-grey-color;
}

@include mq-xs {
  .cd-actions.cd-actions-mobile-light {
    background-color: $body-color;
    .content-main {
      flex-direction: column-reverse;
    }
  }
}

div[class^='md-whiteframe-'], div[class*=' md-whiteframe-'], md-select-menu {
  // global removal of shadows
  box-shadow: none;
  border: $cd0x1 solid $dark-blue-color;
}
