include /forms

div(
  data-layout='row',
  data-layout-wrap,
)
  .progress-card(
    data-flex-xs='auto',
    data-layout='column',
    data-layout-align='center start',
    data-ng-attr-ng-click='::this.$eval(card.onClick)',
    data-ng-class='{clickable: card.onClick}',
    data-ng-repeat='card in vm.cards track by $index',
  )
    //- TODO: remove flex and layout column if don't want to align one-line text to center
    .progress-card-text(
      data-flex='none',
      data-ng-repeat='line in card.lines track by $index',
    )
      |{{ line }}
