progress-cards {
  .progress-card {
    // TODO need UI help
    color: $dark-grey-color;
    border: $cd0x1 solid $dark-grey-color;
    padding: $cd1x5 $cd2;
    @include add-transition(.15s);
    @include no-select();

    &.clickable {
      cursor: pointer;

      // TODO temporary effect for visual purpose for clickable progress card only
      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white-color;
      }
    }

    @include mq-gt-xs {
      &:not(:first-child) {
        margin-left: $cd;
      }
    }

    @include mq-xs {
      &:not(:first-child) {
        border-left: 0;
      }
    }

    .progress-card-text {
      font-size: $cd1x4;
    }
  }
}
