.wrapper {
  width: 100%; }

#outlook a {
  padding: 0; }

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ExternalClass {
  width: 100%; }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
    line-height: 100%; }

#backgroundTable {
  margin: 0;
  Margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 720px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px;
  Margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #ebebeb; } }

table.body {
  background: #ebebeb;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 720px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

td.columns,
td.column,
th.columns,
th.column {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 0; }
  td.columns .column,
  td.columns .columns,
  td.column .column,
  td.column .columns,
  th.columns .column,
  th.columns .columns,
  th.column .column,
  th.column .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    td.columns .column center,
    td.columns .columns center,
    td.column .column center,
    td.column .columns center,
    th.columns .column center,
    th.columns .columns center,
    th.column .column center,
    th.column .columns center {
      min-width: none !important; }

td.columns.last,
td.column.last,
th.columns.last,
th.column.last {
  padding-right: 16px; }

td.columns table:not(.button),
td.column table:not(.button),
th.columns table:not(.button),
th.column table:not(.button) {
  width: 100%; }

td.large-1,
th.large-1 {
  width: 44px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-1.first,
th.large-1.first {
  padding-left: 16px; }

td.large-1.last,
th.large-1.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-1,
.collapse > tbody > tr > th.large-1 {
  padding-right: 0;
  padding-left: 0;
  width: 60px; }

.collapse td.large-1.first,
.collapse th.large-1.first,
.collapse td.large-1.last,
.collapse th.large-1.last {
  width: 68px; }

td.large-1 center,
th.large-1 center {
  min-width: 12px; }

.body .columns td.large-1,
.body .column td.large-1,
.body .columns th.large-1,
.body .column th.large-1 {
  width: 8.33333%; }

td.large-2,
th.large-2 {
  width: 104px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-2.first,
th.large-2.first {
  padding-left: 16px; }

td.large-2.last,
th.large-2.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-2,
.collapse > tbody > tr > th.large-2 {
  padding-right: 0;
  padding-left: 0;
  width: 120px; }

.collapse td.large-2.first,
.collapse th.large-2.first,
.collapse td.large-2.last,
.collapse th.large-2.last {
  width: 128px; }

td.large-2 center,
th.large-2 center {
  min-width: 72px; }

.body .columns td.large-2,
.body .column td.large-2,
.body .columns th.large-2,
.body .column th.large-2 {
  width: 16.66667%; }

td.large-3,
th.large-3 {
  width: 164px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-3.first,
th.large-3.first {
  padding-left: 16px; }

td.large-3.last,
th.large-3.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-3,
.collapse > tbody > tr > th.large-3 {
  padding-right: 0;
  padding-left: 0;
  width: 180px; }

.collapse td.large-3.first,
.collapse th.large-3.first,
.collapse td.large-3.last,
.collapse th.large-3.last {
  width: 188px; }

td.large-3 center,
th.large-3 center {
  min-width: 132px; }

.body .columns td.large-3,
.body .column td.large-3,
.body .columns th.large-3,
.body .column th.large-3 {
  width: 25%; }

td.large-4,
th.large-4 {
  width: 224px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-4.first,
th.large-4.first {
  padding-left: 16px; }

td.large-4.last,
th.large-4.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-4,
.collapse > tbody > tr > th.large-4 {
  padding-right: 0;
  padding-left: 0;
  width: 240px; }

.collapse td.large-4.first,
.collapse th.large-4.first,
.collapse td.large-4.last,
.collapse th.large-4.last {
  width: 248px; }

td.large-4 center,
th.large-4 center {
  min-width: 192px; }

.body .columns td.large-4,
.body .column td.large-4,
.body .columns th.large-4,
.body .column th.large-4 {
  width: 33.33333%; }

td.large-5,
th.large-5 {
  width: 284px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-5.first,
th.large-5.first {
  padding-left: 16px; }

td.large-5.last,
th.large-5.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-5,
.collapse > tbody > tr > th.large-5 {
  padding-right: 0;
  padding-left: 0;
  width: 300px; }

.collapse td.large-5.first,
.collapse th.large-5.first,
.collapse td.large-5.last,
.collapse th.large-5.last {
  width: 308px; }

td.large-5 center,
th.large-5 center {
  min-width: 252px; }

.body .columns td.large-5,
.body .column td.large-5,
.body .columns th.large-5,
.body .column th.large-5 {
  width: 41.66667%; }

td.large-6,
th.large-6 {
  width: 344px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-6.first,
th.large-6.first {
  padding-left: 16px; }

td.large-6.last,
th.large-6.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-6,
.collapse > tbody > tr > th.large-6 {
  padding-right: 0;
  padding-left: 0;
  width: 360px; }

.collapse td.large-6.first,
.collapse th.large-6.first,
.collapse td.large-6.last,
.collapse th.large-6.last {
  width: 368px; }

td.large-6 center,
th.large-6 center {
  min-width: 312px; }

.body .columns td.large-6,
.body .column td.large-6,
.body .columns th.large-6,
.body .column th.large-6 {
  width: 50%; }

td.large-7,
th.large-7 {
  width: 404px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-7.first,
th.large-7.first {
  padding-left: 16px; }

td.large-7.last,
th.large-7.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-7,
.collapse > tbody > tr > th.large-7 {
  padding-right: 0;
  padding-left: 0;
  width: 420px; }

.collapse td.large-7.first,
.collapse th.large-7.first,
.collapse td.large-7.last,
.collapse th.large-7.last {
  width: 428px; }

td.large-7 center,
th.large-7 center {
  min-width: 372px; }

.body .columns td.large-7,
.body .column td.large-7,
.body .columns th.large-7,
.body .column th.large-7 {
  width: 58.33333%; }

td.large-8,
th.large-8 {
  width: 464px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-8.first,
th.large-8.first {
  padding-left: 16px; }

td.large-8.last,
th.large-8.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-8,
.collapse > tbody > tr > th.large-8 {
  padding-right: 0;
  padding-left: 0;
  width: 480px; }

.collapse td.large-8.first,
.collapse th.large-8.first,
.collapse td.large-8.last,
.collapse th.large-8.last {
  width: 488px; }

td.large-8 center,
th.large-8 center {
  min-width: 432px; }

.body .columns td.large-8,
.body .column td.large-8,
.body .columns th.large-8,
.body .column th.large-8 {
  width: 66.66667%; }

td.large-9,
th.large-9 {
  width: 524px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-9.first,
th.large-9.first {
  padding-left: 16px; }

td.large-9.last,
th.large-9.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-9,
.collapse > tbody > tr > th.large-9 {
  padding-right: 0;
  padding-left: 0;
  width: 540px; }

.collapse td.large-9.first,
.collapse th.large-9.first,
.collapse td.large-9.last,
.collapse th.large-9.last {
  width: 548px; }

td.large-9 center,
th.large-9 center {
  min-width: 492px; }

.body .columns td.large-9,
.body .column td.large-9,
.body .columns th.large-9,
.body .column th.large-9 {
  width: 75%; }

td.large-10,
th.large-10 {
  width: 584px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-10.first,
th.large-10.first {
  padding-left: 16px; }

td.large-10.last,
th.large-10.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-10,
.collapse > tbody > tr > th.large-10 {
  padding-right: 0;
  padding-left: 0;
  width: 600px; }

.collapse td.large-10.first,
.collapse th.large-10.first,
.collapse td.large-10.last,
.collapse th.large-10.last {
  width: 608px; }

td.large-10 center,
th.large-10 center {
  min-width: 552px; }

.body .columns td.large-10,
.body .column td.large-10,
.body .columns th.large-10,
.body .column th.large-10 {
  width: 83.33333%; }

td.large-11,
th.large-11 {
  width: 644px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-11.first,
th.large-11.first {
  padding-left: 16px; }

td.large-11.last,
th.large-11.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-11,
.collapse > tbody > tr > th.large-11 {
  padding-right: 0;
  padding-left: 0;
  width: 660px; }

.collapse td.large-11.first,
.collapse th.large-11.first,
.collapse td.large-11.last,
.collapse th.large-11.last {
  width: 668px; }

td.large-11 center,
th.large-11 center {
  min-width: 612px; }

.body .columns td.large-11,
.body .column td.large-11,
.body .columns th.large-11,
.body .column th.large-11 {
  width: 91.66667%; }

td.large-12,
th.large-12 {
  width: 704px;
  padding-left: 8px;
  padding-right: 8px; }

td.large-12.first,
th.large-12.first {
  padding-left: 16px; }

td.large-12.last,
th.large-12.last {
  padding-right: 16px; }

.collapse > tbody > tr > td.large-12,
.collapse > tbody > tr > th.large-12 {
  padding-right: 0;
  padding-left: 0;
  width: 720px; }

.collapse td.large-12.first,
.collapse th.large-12.first,
.collapse td.large-12.last,
.collapse th.large-12.last {
  width: 728px; }

td.large-12 center,
th.large-12 center {
  min-width: 672px; }

.body .columns td.large-12,
.body .column td.large-12,
.body .columns th.large-12,
.body .column th.large-12 {
  width: 100%; }

td.large-offset-1,
td.large-offset-1.first,
td.large-offset-1.last,
th.large-offset-1,
th.large-offset-1.first,
th.large-offset-1.last {
  padding-left: 76px; }

td.large-offset-2,
td.large-offset-2.first,
td.large-offset-2.last,
th.large-offset-2,
th.large-offset-2.first,
th.large-offset-2.last {
  padding-left: 136px; }

td.large-offset-3,
td.large-offset-3.first,
td.large-offset-3.last,
th.large-offset-3,
th.large-offset-3.first,
th.large-offset-3.last {
  padding-left: 196px; }

td.large-offset-4,
td.large-offset-4.first,
td.large-offset-4.last,
th.large-offset-4,
th.large-offset-4.first,
th.large-offset-4.last {
  padding-left: 256px; }

td.large-offset-5,
td.large-offset-5.first,
td.large-offset-5.last,
th.large-offset-5,
th.large-offset-5.first,
th.large-offset-5.last {
  padding-left: 316px; }

td.large-offset-6,
td.large-offset-6.first,
td.large-offset-6.last,
th.large-offset-6,
th.large-offset-6.first,
th.large-offset-6.last {
  padding-left: 376px; }

td.large-offset-7,
td.large-offset-7.first,
td.large-offset-7.last,
th.large-offset-7,
th.large-offset-7.first,
th.large-offset-7.last {
  padding-left: 436px; }

td.large-offset-8,
td.large-offset-8.first,
td.large-offset-8.last,
th.large-offset-8,
th.large-offset-8.first,
th.large-offset-8.last {
  padding-left: 496px; }

td.large-offset-9,
td.large-offset-9.first,
td.large-offset-9.last,
th.large-offset-9,
th.large-offset-9.first,
th.large-offset-9.last {
  padding-left: 556px; }

td.large-offset-10,
td.large-offset-10.first,
td.large-offset-10.last,
th.large-offset-10,
th.large-offset-10.first,
th.large-offset-10.last {
  padding-left: 616px; }

td.large-offset-11,
td.large-offset-11.first,
td.large-offset-11.last,
th.large-offset-11,
th.large-offset-11.first,
th.large-offset-11.last {
  padding-left: 676px; }

td.expander,
th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

table.container.radius {
  border-radius: 0;
  border-collapse: separate; }

.block-grid {
  width: 100%;
  max-width: 720px; }
  .block-grid td {
    display: inline-block;
    padding: 8px; }

.up-2 td {
  width: 344px !important; }

.up-3 td {
  width: 224px !important; }

.up-4 td {
  width: 164px !important; }

.up-5 td {
  width: 128px !important; }

.up-6 td {
  width: 104px !important; }

.up-7 td {
  width: 86px !important; }

.up-8 td {
  width: 74px !important; }

table.text-center,
th.text-center,
td.text-center,
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
p.text-center,
span.text-center {
  text-align: center; }

table.text-left,
th.text-left,
td.text-left,
h1.text-left,
h2.text-left,
h3.text-left,
h4.text-left,
h5.text-left,
h6.text-left,
p.text-left,
span.text-left {
  text-align: left; }

table.text-right,
th.text-right,
td.text-right,
h1.text-right,
h2.text-right,
h3.text-right,
h4.text-right,
h5.text-right,
h6.text-right,
p.text-right,
span.text-right {
  text-align: right; }

span.text-center {
  display: block;
  width: 100%;
  text-align: center; }

@media only screen and (max-width: 736px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; }
  .small-text-center {
    text-align: center !important; }
  .small-text-left {
    text-align: left !important; }
  .small-text-right {
    text-align: right !important; } }

img.float-left {
  float: left;
  text-align: left; }

img.float-right {
  float: right;
  text-align: right; }

img.float-center,
img.text-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center,
td.float-center,
th.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none !important;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 736px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

table.body table.container .hide-for-large * {
  mso-hide: all; }

@media only screen and (max-width: 736px) {
  table.body table.container .hide-for-large,
  table.body table.container .row.hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 736px) {
  table.body table.container .callout-inner.hide-for-large {
    display: table-cell !important;
    width: 100% !important; } }

@media only screen and (max-width: 736px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  color: #414143;
  font-family: sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  word-wrap: normal;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }
  p.lead {
    font-size: 20px;
    line-height: 1.6; }
  p.subheader {
    margin-top: 4px;
    margin-bottom: 8px;
    Margin-top: 4px;
    Margin-bottom: 8px;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a; }

small {
  font-size: 80%;
  color: #cacaca; }

a {
  color: #3b8ede;
  text-decoration: none; }
  a:hover {
    color: #2175c5; }
  a:active {
    color: #2175c5; }
  a:visited {
    color: #3b8ede; }

h1 a,
h1 a:visited,
h2 a,
h2 a:visited,
h3 a,
h3 a:visited,
h4 a,
h4 a:visited,
h5 a,
h5 a:visited,
h6 a,
h6 a:visited {
  color: #3b8ede; }

pre {
  background: #ebebeb;
  margin: 30px 0;
  Margin: 30px 0; }
  pre code {
    color: #cacaca; }
    pre code span.callout {
      color: #8a8a8a;
      font-weight: bold; }
    pre code span.callout-strong {
      color: #ff6908;
      font-weight: bold; }

table.hr {
  width: 100%; }
  table.hr th {
    height: 0;
    max-width: 720px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #414042;
    border-left: 0;
    margin: 20px auto;
    Margin: 20px auto;
    clear: both; }

.stat {
  font-size: 40px;
  line-height: 1; }
  p + .stat {
    margin-top: -16px;
    Margin-top: -16px; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #ebebeb;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

table.button {
  width: auto;
  margin: 0 0 16px 0;
  Margin: 0 0 16px 0; }
  table.button table td {
    text-align: left;
    color: #fefefe;
    background: #3b8ede;
    border: 0; }
    table.button table td a {
      font-family: sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #fefefe;
      text-decoration: none;
      display: inline-block;
      padding: 12px 20px;
      border: 0 solid #3b8ede;
      border-radius: 0; }
  table.button.radius table td {
    border-radius: 0;
    border: none; }
  table.button.rounded table td {
    border-radius: 0;
    border: none; }

table.button:hover table tr td a,
table.button:active table tr td a,
table.button table tr td a:visited,
table.button.tiny:hover table tr td a,
table.button.tiny:active table tr td a,
table.button.tiny table tr td a:visited,
table.button.small:hover table tr td a,
table.button.small:active table tr td a,
table.button.small table tr td a:visited,
table.button.large:hover table tr td a,
table.button.large:active table tr td a,
table.button.large table tr td a:visited {
  color: #fefefe; }

table.button.tiny table td,
table.button.tiny table a {
  padding: 4px 8px 4px 8px; }

table.button.tiny table a {
  font-size: 10px;
  font-weight: normal; }

table.button.small table td,
table.button.small table a {
  padding: 5px 10px 5px 10px;
  font-size: 12px; }

table.button.large table a {
  padding: 10px 20px 10px 20px;
  font-size: 20px; }

table.button.expand,
table.button.expanded {
  width: 100% !important; }
  table.button.expand table,
  table.button.expanded table {
    width: 100%; }
    table.button.expand table a,
    table.button.expanded table a {
      text-align: center;
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
  table.button.expand center,
  table.button.expanded center {
    min-width: 0; }

table.button:hover table td,
table.button:visited table td,
table.button:active table td {
  background: #2175c5;
  color: #fefefe; }

table.button:hover table a,
table.button:visited table a,
table.button:active table a {
  border: 0 solid #2175c5; }

table.button.secondary table td {
  background: #414143;
  color: #fefefe;
  border: 0px solid #414143; }

table.button.secondary table a {
  color: #fefefe;
  border: 0 solid #414143; }

table.button.secondary:hover table td {
  background: #5a5a5d;
  color: #fefefe; }

table.button.secondary:hover table a {
  border: 0 solid #5a5a5d; }

table.button.secondary:hover table td a {
  color: #fefefe; }

table.button.secondary:active table td a {
  color: #fefefe; }

table.button.secondary table td a:visited {
  color: #fefefe; }

table.button.success table td {
  background: #3adb76;
  border: 0px solid #3adb76; }

table.button.success table a {
  border: 0 solid #3adb76; }

table.button.success:hover table td {
  background: #23bf5d; }

table.button.success:hover table a {
  border: 0 solid #23bf5d; }

table.button.alert table td {
  background: #d54308;
  border: 0px solid #d54308; }

table.button.alert table a {
  border: 0 solid #d54308; }

table.button.alert:hover table td {
  background: #a43406; }

table.button.alert:hover table a {
  border: 0 solid #a43406; }

table.button.warning table td {
  background: #ffae00;
  border: 0px solid #ffae00; }

table.button.warning table a {
  border: 0px solid #ffae00; }

table.button.warning:hover table td {
  background: #cc8b00; }

table.button.warning:hover table a {
  border: 0px solid #cc8b00; }

table.callout {
  margin-bottom: 16px;
  Margin-bottom: 16px; }

th.callout-inner {
  width: 100%;
  border: 1px solid #cbcbcb;
  padding: 10px;
  background: #fefefe; }
  th.callout-inner.primary {
    background: #e2eefa;
    border: 1px solid #0f0f0f;
    color: #414042; }
  th.callout-inner.secondary {
    background: #e2e2e3;
    border: 1px solid #0f0f0f;
    color: #414042; }
  th.callout-inner.success {
    background: #e1faea;
    border: 1px solid #1b9448;
    color: #fefefe; }
  th.callout-inner.warning {
    background: #fff3d9;
    border: 1px solid #996800;
    color: #fefefe; }
  th.callout-inner.alert {
    background: #fde1d5;
    border: 1px solid #732404;
    color: #fefefe; }

.thumbnail {
  border: solid 4px #fefefe;
  box-shadow: 0 0 0 1px rgba(65, 64, 66, 0.2);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 3px;
  margin-bottom: 16px; }
  .thumbnail:hover, .thumbnail:focus {
    box-shadow: 0 0 6px 1px rgba(59, 142, 222, 0.5); }

table.menu {
  width: 720px; }
  table.menu td.menu-item,
  table.menu th.menu-item {
    padding: 10px;
    padding-right: 10px; }
    table.menu td.menu-item a,
    table.menu th.menu-item a {
      color: #3b8ede; }

table.menu.vertical td.menu-item,
table.menu.vertical th.menu-item {
  padding: 10px;
  padding-right: 0;
  display: block; }
  table.menu.vertical td.menu-item a,
  table.menu.vertical th.menu-item a {
    width: 100%; }

table.menu.vertical td.menu-item table.menu.vertical td.menu-item,
table.menu.vertical td.menu-item table.menu.vertical th.menu-item,
table.menu.vertical th.menu-item table.menu.vertical td.menu-item,
table.menu.vertical th.menu-item table.menu.vertical th.menu-item {
  padding-left: 10px; }

table.menu.text-center a {
  text-align: center; }

.menu[align="center"] {
  width: auto !important; }

body.outlook p {
  display: inline !important; }

@media only screen and (max-width: 736px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns,
  table.body .column {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .column,
    table.body .columns .columns,
    table.body .column .column,
    table.body .column .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  table.body .collapse .columns,
  table.body .collapse .column {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  td.small-1,
  th.small-1 {
    display: inline-block !important;
    width: 8.33333% !important; }
  td.small-2,
  th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important; }
  td.small-3,
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  td.small-4,
  th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important; }
  td.small-5,
  th.small-5 {
    display: inline-block !important;
    width: 41.66667% !important; }
  td.small-6,
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  td.small-7,
  th.small-7 {
    display: inline-block !important;
    width: 58.33333% !important; }
  td.small-8,
  th.small-8 {
    display: inline-block !important;
    width: 66.66667% !important; }
  td.small-9,
  th.small-9 {
    display: inline-block !important;
    width: 75% !important; }
  td.small-10,
  th.small-10 {
    display: inline-block !important;
    width: 83.33333% !important; }
  td.small-11,
  th.small-11 {
    display: inline-block !important;
    width: 91.66667% !important; }
  td.small-12,
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns td.small-12,
  .column td.small-12,
  .columns th.small-12,
  .column th.small-12 {
    display: block !important;
    width: 100% !important; }
  table.body td.small-offset-1,
  table.body th.small-offset-1 {
    margin-left: 8.33333% !important;
    Margin-left: 8.33333% !important; }
  table.body td.small-offset-2,
  table.body th.small-offset-2 {
    margin-left: 16.66667% !important;
    Margin-left: 16.66667% !important; }
  table.body td.small-offset-3,
  table.body th.small-offset-3 {
    margin-left: 25% !important;
    Margin-left: 25% !important; }
  table.body td.small-offset-4,
  table.body th.small-offset-4 {
    margin-left: 33.33333% !important;
    Margin-left: 33.33333% !important; }
  table.body td.small-offset-5,
  table.body th.small-offset-5 {
    margin-left: 41.66667% !important;
    Margin-left: 41.66667% !important; }
  table.body td.small-offset-6,
  table.body th.small-offset-6 {
    margin-left: 50% !important;
    Margin-left: 50% !important; }
  table.body td.small-offset-7,
  table.body th.small-offset-7 {
    margin-left: 58.33333% !important;
    Margin-left: 58.33333% !important; }
  table.body td.small-offset-8,
  table.body th.small-offset-8 {
    margin-left: 66.66667% !important;
    Margin-left: 66.66667% !important; }
  table.body td.small-offset-9,
  table.body th.small-offset-9 {
    margin-left: 75% !important;
    Margin-left: 75% !important; }
  table.body td.small-offset-10,
  table.body th.small-offset-10 {
    margin-left: 83.33333% !important;
    Margin-left: 83.33333% !important; }
  table.body td.small-offset-11,
  table.body th.small-offset-11 {
    margin-left: 91.66667% !important;
    Margin-left: 91.66667% !important; }
  table.body table.columns td.expander,
  table.body table.columns th.expander {
    display: none !important; }
  table.body .right-text-pad,
  table.body .text-pad-right {
    padding-left: 10px !important; }
  table.body .left-text-pad,
  table.body .text-pad-left {
    padding-right: 10px !important; }
  table.menu {
    width: 100% !important; }
    table.menu td,
    table.menu th {
      width: auto !important;
      display: inline-block !important; }
    table.menu.vertical td,
    table.menu.vertical th, table.menu.small-vertical td,
    table.menu.small-vertical th {
      display: block !important; }
  table.menu[align="center"] {
    width: auto !important; }
  table.button.small-expand,
  table.button.small-expanded {
    width: 100% !important; }
    table.button.small-expand table,
    table.button.small-expanded table {
      width: 100%; }
      table.button.small-expand table a,
      table.button.small-expanded table a {
        text-align: center !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important; }
    table.button.small-expand center,
    table.button.small-expanded center {
      min-width: 0; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

.container.header {
  background: #f3f3f3; }

.body-drip {
  border-top: 8px solid #663399; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

.header p {
  color: #fff;
  padding-top: 15px; }

.header .wrapper-inner {
  padding: 20px; }

.header .container {
  background: transparent; }

table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998; }

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced; }

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39; }

.wrapper.secondary {
  background: #f3f3f3; }

/******************

  !!!!! ATTENTION PL0X !!!!!


  Outlook Problems:
  ------------------------------------
  1) Outlook doesn't like `rem`! SPENT HOURS TO FIGURE IT OUT!! To save human kind, please use `px`.


  Overwritting Foundation Stylings:
  ------------------------------------
  1) If any styles doesn't get applied, force apply it explicity on `*`.

******************/
.container {
  background-color: #ebebeb; }

.icon {
  height: 1.5625rem; }
  .icon.md {
    height: 1.875rem; }
  .icon.icon-right-pad {
    padding-right: 3px; }

.button {
  letter-spacing: 1px; }
  .button .icon img {
    height: 30px;
    display: inline-block;
    vertical-align: middle; }
  .button.download-report-button .text {
    width: 65%;
    line-height: 22px;
    display: inline-block; }
  .button.download-report-button .icon {
    float: right; }

.display-none {
  display: none; }

.break-all {
  word-break: break-all; }

.grey {
  color: #888888; }

.medium {
  width: 90%; }

.header-standard {
  font-size: 12px; }

.sub-title {
  font-size: 14px; }

.title {
  font-size: 15px; }

.bold {
  font-weight: bold; }

h7 {
  font-size: 16px; }

h7 a:visited {
  color: #3b8ede; }

.error-body h7 {
  margin-top: 0;
  font-weight: 400; }

h7.text-center {
  text-align: center; }

h7.text-left {
  text-align: left; }

h7.text-right {
  text-align: right; }

h7 {
  color: #414143;
  font-family: sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h7 {
  color: inherit;
  word-wrap: normal;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

.fixed {
  width: 720px; }

.header {
  background-color: #003c71; }
  .header * {
    color: #FFF; }
  .header .logo-container img {
    width: 2.8125rem; }

.title-bar {
  background-image: url(../assets/img/bg-waves.jpg);
  background-size: cover;
  background-color: #1b324f; }
  .title-bar * {
    color: #FFF; }

.asset-header {
  background-color: #3b8ede; }
  .asset-header .emblem {
    max-width: 168px; }
  .asset-header .asset-name {
    margin-bottom: 0; }
  .asset-header *:not(.asset-name) {
    font-size: 13px;
    color: #FFF; }
  .asset-header .emblem-container table th {
    padding-right: 4px; }
  .asset-header .emblem-container table table th {
    padding-right: 0px; }

.footer * {
  font-size: 11px; }

.footer.disclaimer {
  background-color: #FFF; }

.footer.copyright {
  background-image: url(../assets/img/bg-waves.jpg);
  background-size: cover;
  background-color: #1b324f; }
  .footer.copyright * {
    color: #FFF; }
  .footer.copyright p {
    margin-bottom: 0; }
  .footer.copyright .logo-container .logo {
    height: 2.5rem; }

.footer .container {
  background-color: transparent; }

.main-content {
  width: 600px !important; }

.mb0 {
  margin-bottom: 0; }

.dark-blue {
  color: #003c71; }

.label {
  font-size: 12px;
  color: #888888; }

.detail {
  font-size: 12px;
  color: #414143; }

.border-bottom {
  border-bottom: 5px solid #ebebeb; }

.border-right {
  border-right: 5px solid #ebebeb; }

.tabular-header {
  background-color: #FFF; }
  .tabular-header .inner-detail-padding table th {
    padding: 0 8px; }
  .tabular-header .th-no-left-right-padding table th {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .tabular-header .no-outer-padding table th {
    padding: 0; }
  .tabular-header .no-outer-padding table table th {
    padding: 0 4px; }
  .tabular-header th {
    padding: 0 16px; }
  .tabular-header .job-detail {
    word-break: break-all;
    font-size: 12px; }
  .tabular-header .detail {
    font-size: 15px; }

.tabular-row {
  background-color: #ebebeb; }
  .tabular-row table table th {
    padding: 0 16px; }
  .tabular-row .due-status .icon,
  .tabular-row .due-status .detail {
    display: inline-block; }

.error-body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ebebeb;
  margin: 0;
  min-width: 320px;
  line-height: 1.4; }
  .error-body h1, .error-body h2, .error-body h3, .error-body h4, .error-body h5, .error-body h6, .error-body h7 {
    margin-top: 0;
    font-weight: 400; }
  .error-body .error-container-wrapper {
    display: flex;
    flex-direction: column; }
  .error-body .error-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; }
  .error-body .error-header {
    background-color: #003c71;
    color: rgba(255, 255, 255, 0.87); }
    .error-body .error-header .error-header-content {
      max-width: 1460px;
      margin: 0 auto;
      line-height: 0; }
      .error-body .error-header .error-header-content .display-none {
        display: inline-block !important; }
  .error-body .error-main {
    display: flex;
    flex: 1;
    flex-direction: row; }
    .error-body .error-main .error-content-main {
      margin: 0 auto;
      padding: 1rem 0;
      width: 100%; }
    .error-body .error-main .error-content {
      color: #003c71;
      background-color: white;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      text-align: center;
      box-sizing: border-box; }
      .error-body .error-main .error-content::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        border-top: 0.625rem solid #E7EBEE;
        border-right: 0.625rem solid #E7EBEE;
        border-bottom: 0.625rem solid transparent;
        border-left: 0.625rem solid transparent; }
      .error-body .error-main .error-content h2, .error-body .error-main .error-content p {
        text-align: center; }
  .error-body .error-footer {
    display: flex;
    color: white;
    font-size: 0.875rem;
    background: url("../assets/img/cd-bg-new.jpg") 0 0;
    background-size: cover;
    padding: 1rem 1.25rem; }
    .error-body .error-footer svg {
      margin-left: -5px;
      position: relative; }
    .error-body .error-footer .error-corporate-info {
      width: 100%;
      margin-bottom: 1.3em;
      display: flex;
      justify-content: space-between; }
    .error-body .error-footer .error-logo {
      display: flex; }
    .error-body .error-footer .error-copyright {
      display: flex;
      align-self: flex-end;
      font-size: 0.75rem;
      padding-left: 10px; }
    .error-body .error-footer .error-disclaimer {
      text-align: justify; }
    .error-body .error-footer .error-name {
      font-size: 0.75rem;
      align-self: flex-end;
      line-height: 1.1;
      margin-bottom: 3px; }
  .error-body .error-lr-icon {
    width: 50px;
    height: 50px; }
    .error-body .error-lr-icon path {
      fill: rgba(255, 255, 255, 0.6); }
  .error-body .error-cd-icon {
    width: 50px;
    height: 50px; }
