include /shared

div(
  data-flex,
  data-layout='row',
)

  active-status(
    data-custom-label='item.name',
    data-flex=33,
    data-layout-align='start center',
    data-icon-position='right',
    data-mode='button',
    data-ng-repeat='item in vm.services | limitTo : vm._AppSettings.JOB.TOP_SERVICES_TO_SHOW',
    data-show-label='true',
    data-status-name='item.status',
    data-use-ellipsis='true',
  )

div(
  data-layout='row',
  data-layout-align='end center',
  data-ng-show='{{ vm.showXOfY }}',
)
  p.x-of-y(
    data-translate-once='cd-show-x-of-y-surveys',
    data-translate-values='{ totalServicesCount: vm.totalServicesCount, shownServicesCount: vm.shownServicesCount }',
  )
