include /forms
include /shared

- const AppSettings = require('app/config/project-variables.js');
- const outsideIfNotClasses = AppSettings.FILTER_OPTIONS.OUTSIDE_IF_NOT_CLASSES;

.filter-search-container(
  data-layout='row',
  data-layout-wrap,
  data-ng-class='{ "px0" : vm._$mdMedia("sm") || vm._$mdMedia("xs")}',
  data-ng-cloak,
)
  .title.column(
    data-flex,
    data-layout='row',
    data-layout-align='start center',
  )
    .h1(
      data-translate-once='cd-survey-planner',
    )

  //- Filter
  .filter-container.column(
    data-flex-md=30,
    data-flex-gt-md=25,
    data-hide-xs,
    data-hide-sm,
  )
    .filter
      .filter-header(
        data-ng-click='::vm.showFilterModal($event)',
        )
        .filter-title(
          data-layout='row',
          )
          icon(
            data-flex='none',
            data-name='filters',
          )
          .filter-title-text.ellipsis(data-flex)
            +translate-once('cd-filter-survey-schedule')

  //- Filter (mobile view)
  .filter-mobile-buttons.column(
    data-flex-xs=20,
    data-flex-sm='none',
    data-layout='column'
    data-hide,
    data-show-xs,
    data-show-sm,
  )
    +button({
      buttonType: 'icon-bg',
      class: 'm0',
      iconName: 'filters',
      label: 'filters',
      onClick: '::vm.showFilterModal($event)',
      theme: 'primary',
    })

  //- Service schedule display switch
  .service-schedule-tab.column(
    data-flex='none',
    data-hide-xs,
  )
    tabular-gantt-switch(
      data-location='vm.viewLocation',
      data-type='vm.viewType',
    )
