include /forms
include /shared

.widget-container(
  data-ng-if='::!!vm.serviceTypes.length',
)
  accordion(
    data-expandable='::vm.isAccordionExpandable',
    data-is-expanded='::!vm.isAccordionExpandable',
    data-title='cd-surveys',
  )
    service-type(
      data-on-change='vm.updateFilterOptions({ serviceCatalogueIds })',
      data-service-types='::vm.serviceTypes',
      data-is-single-asset='true',
    )

.widget-container.border-top(
  data-ng-if='::!!vm.codicilTypes.length',
)
  accordion(
    data-expandable='::vm.isAccordionExpandable',
    data-is-expanded='::!vm.isAccordionExpandable',
    data-title='cd-note-and-action-type',
  )
    codicil-type(
      data-is-single-asset='true',
      data-on-change='vm.updateFilterOptions({ codicilTypeId })',
      data-codicil-types='vm.codicilTypes',
      data-selected-codicil-types-ids='vm.codicilTypeId',
    )
