include /forms
include /shared

.date-range-sticky(
  data-sticky,
  data-sticky-top=100,
)
  date-range(
    data-has-timeline='true',
    data-max='vm.dueDateMax',
    data-max-limit='vm.serviceMaxDate'
    data-min='vm.dueDateMin',
    data-min-limit='vm.serviceMinDate',
    data-on-change='vm.onDatePickerChange({ minDate, maxDate })',
    data-range-layout='row',
    data-range-validator='true',
  )
    .cd-card(
      data-theme='light',
    )
      cd-card-gantt(
        data-asset='vm.asset',
        data-items='[]',
        data-max-date='vm.dueDateMax',
        data-min-date='vm.dueDateMin',
        data-show-pip-dates='true',
      )
