include /forms
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

md-dialog.cd-dialog-small.medium(
  aria-label='{{ "cd-amend-asset-expiry-date" | translate }}',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2 {{ 'cd-amend-asset-expiry-date' | translate }}
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm._$mdDialog.cancel()',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      div(data-layout='row')
        .item-label(
          data-flex=40,
          data-layout-fill,
        )
          | {{ 'cd-existing-asset-expiry-date' | translate }}
        .item-value(
          data-flex=50,
          data-layout-fill,
        )
          | {{ vm.eor['assetExpiryDate'] | date : '#{dateFormatter}' }}

      form(
        class='px0 mx0',
        name='vm.form',
      )
        +inputDate(
          'vm.form',
          'accountExpiryDate',
          'cd-new-asset-expiry-date',
          'cd-eg-date',
          'vm.newEorExpirationDate',
          'vm.now',
          '',
          'cd-error-invalid-date-min-arrival',
          '',
          '',
          'true'
        )

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      +button({
        class: 'modal-cancel-button',
        label: 'cd-cancel',
        ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
        onClick: 'vm._$mdDialog.cancel()',
        theme: 'light',
      })
      +button({
        class: 'modal-confirm-button',
        disabled: 'vm.form.$invalid',
        label: 'cd-confirm',
        ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
        onClick: 'vm._$mdDialog.hide(vm.form)',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
