include /forms

md-dialog.cd-dialog-small.medium(
  aria-label='{{ "cd-remove-eor-permission" | translate }}',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2 {{ 'cd-remove-eor-permission' | translate }}
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm._$mdDialog.cancel()',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      div(data-layout='row')
        .item-label(
          data-flex=100,
          data-layout-fill,
        )
          | {{ 'cd-remove-eor-permission-message' | translate }}

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      +button({
        class: 'modal-cancel-button',
        label: 'cd-cancel',
        ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
        onClick: 'vm._$mdDialog.cancel()',
        theme: 'light',
      })
      +button({
        class: 'modal-confirm-button',
        disabled: 'vm.form.$invalid',
        label: 'cd-confirm',
        ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
        onClick: 'vm._$mdDialog.hide()',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
