include /forms
include /shared
include _partials/_editable-actions-bar.pug
include _partials/_submit-actions-bar.pug

main(data-layout-fill)
  div(data-layout='row')
    user-details-header(
      data-flex='auto'
      data-is-admin-view='true',
      data-user='vm.user',
    )

  div(
    data-layout-xs='column',
    data-layout-gt-xs='row',
  )
    div(
      data-flex-xs='auto'
      data-flex-gt-xs=50,
      data-layout-gt-xs='column',
    )
      admin-user-details(
        data-user='vm.user',
      )

      md-divider.spacer

      admin-account-details(
        data-user='vm.user',
      )

    md-divider.spacer

    div(
      data-flex-xs='auto'
      data-flex-gt-xs=50,
      data-layout-gt-xs='column',
    )
      company-details(
        data-user='vm.user',
      )

      md-divider.spacer(data-ng-if='vm.canMasquerade')

      masquerade-user(
        data-ng-if='vm.canMasquerade',
        data-user-id='vm.user.userId',
      )

  md-divider.spacer(data-ng-if='vm.canViewEor')
  eor-assets(
    data-ng-if='vm.canViewEor',
    data-user='vm.user',
  )

  md-divider.spacer

  div(
    data-flex='none',
    data-ng-if='vm.shouldShowManageAccessibleAndRestrictedAssetsButton',
  )
    +button({
      class: 'mx0',
      label: 'cd-manage-accessible-restricted-assets',
      goTo: 'administration.accessibleAndRestrictedAssets({ id: vm.user.userId })',
      theme: 'primary',
    })

  md-divider.spacer
