include /forms
include /shared

cd-card(
  data-ng-class='{ "in-edit-mode": vm.inEditMode }',
)
  cd-card-tabular(
    aria-label='{{ ::vm.item.workItemAction.name }}',
  )
    .task-item(
      data-layout-gt-sm='row',
      data-layout-sm='column',
    )
      div.layout-row(
        data-flex-sm='auto',
        data-flex-gt-sm=45,
      )
        div
          strong.break-word
            strong.task-name(
              data-ng-bind='::vm.item.workItemAction.name',
            )
          div.task-number(
            data-ng-bind='::vm.item.taskNumber',
          )
        md-divider.spacer.small.hide-xs.hide-sm
      div(
        data-flex-sm='auto',
        data-layout-gt-xs='row',
        data-flex-gt-sm=55,
      )
        .group(
          data-flex-sm=45,
          data-flex-gt-sm=50,
        )
          div(
            data-ng-bind="('cd-assigned-date' | translate)",
          )
          strong.task-assigned-date(
            data-ng-bind='::vm.item.assignedDateFormatted',
          )

        .group(
          data-flex-gt-xs=50,
        )
          div(
            data-ng-bind='("cd-due-date" | translate)'
          )
          strong.task-due-date(
            data-ng-bind='::vm.item.dueDateFormatted',
          )

        .group(
          data-flex-sm=55,
          data-flex-gt-sm=50,
        )
          div(
            data-ng-bind="('cd-postponed-date' | translate)"
          )
          strong.task-postponement-date(
            data-ng-bind='::vm.item.postponementDateFormatted',
          )

        .group
          +button({
            class: 'm0 button-credit-task',
            label: 'cd-task-submit-date',
            theme: 'primary',
            onClick: '::vm.edit()',
          })

    .task-item-credit
      .date-credited(
        data-flex,
        data-flex-gt-sm=40,
      )
        md-input-container.md-block(
          data-ng-class='{ "md-input-invalid": vm.canShowInvalidDateError }',
        )
          form(
            name='::vm.taskDateCreditedForm',
          )
            +inputDate(
              'vm.taskDateCreditedForm',
              'taskDateCredited',
              'cd-date-credited',
              'cd-eg-date',
              'vm.dateCredited',
              '',
              '',
              '',
              '',
              '',
              '',
              'vm.reactToDateChange()',
              'true'
            )
        .error-message(
          data-ng-if='::!!vm.canShowNoDateSelectedError',
        )
          +translate-once('cd-please-select-a-date')
