mpms-task {
  .task-item {
    .group {
      @include mq-lt-md {
        margin-top: $cd;
      }
    }
  }

  .task-item-credit {
    margin-top: $cd2;
    position: absolute;
    // Get the component off the screen. Alternative to hiding.
    // Hiding the component causes the height of textarea inside to shrink
    top: -99999px;
  }

  .in-edit-mode .task-item-credit {
    position: static;
  }

  md-select .md-select-value {
    span:first-child {
      color: $dark-grey-color;
    }
  }

  .md-input-message-animation {
    margin-left: 0!important;
  }

  .error-message {
    padding-top: $cd-half;
    font-size: $cd1x1;
    color: $error-color;
  }

  &:nth-child(odd) md-card md-card-content > * {
    background-color: $tabular-grey-color;
  }
}
