//- Only required for testing with dummy data so there is no error when compiling
- asset = getAsset && getAsset();
- assets = getAssets && getAssets();
- Function.prototype.get = function(val) { return val };
- Array.prototype.size = function(val) { return 1 };
- Object.prototype.prototype = function(val) { return 'Some Value' };
- ais = getAis && getAis();
- ans = getAns && getAns();
- cocs = getCocs && getCocs();
- defList = getSds && getSds();
- sFindingsList = getSfs && getSfs();
- pmsTasks = getPmsTasks && getPmsTasks()
- checklist = getChecklist && getChecklist()
- checkLists = getCheckLists && getCheckLists()
- tasksList = getTasksList && getTasksList()
- helper = { formatDate: function(val) { return val } };
- content = getContent && getContent()
- job = getJob && getJob()
- assetDetail = getAssetDetail && getAssetDetail()
- report = getReport && getReport()
- serviceCatalogueLookup = getServiceCatalogueLookup && getServiceCatalogueLookup()
- certificateActionLookup = getCertificateActionLookup && getCertificateActionLookup()
- actionTakenLookup = getActionTakenLookup && getActionTakenLookup()
- resolutionStatusLookup = getResolutionStatusLookup && getResolutionStatusLookup()
- employeeList = getEmployeeList && getEmployeeList()
- reportIssueBy = getReportIssueBy && getReportIssueBy()
- tocMapping = getTocMapping && getTocMapping()
- groupedTask = getGroupedTask && getGroupedTask()
- tailshaftReadings = getTailshaftReadings && getTailshaftReadings()
- surveysByGroup = getSurveysByGroup && getSurveysByGroup()
- reportType = getReportType && getReportType()
- date = new Date()

- fullAsset = getFullAsset && getFullAsset()
- if(fullAsset) asset = fullAsset.getAsset()
- if(fullAsset) assetDetail = fullAsset.getAssetDetail()
- if(fullAsset) sbg = fullAsset.getServicesByGroup()
- if(fullAsset) servicesByGroup = [sbg.getMachinery(), sbg.getSecondMachinery()]
- if(fullAsset) cocs = fullAsset.getCocs()
- if(fullAsset) statutoryFindings = fullAsset.getStatutoryFindings()
- if(fullAsset) actionableItems = fullAsset.getActionableItems()
- if(fullAsset) assetNotes = fullAsset.getAssetNotes()
- if(fullAsset) checklistByPartheldServices = fullAsset.getChecklistByPartheldServices()

