table(width="100%")
  tr
    td(style="padding-left:0")
      if(content)
        span #{content.getAssetName()} - #{content.getImoNumber()}
    td(style="padding-right:0;text-align:right")
      div Report number: #{job && job.getJobNumber() ? job.getJobNumber() : ''}, Version: #{report && report.getReportVersion() ? report.getReportVersion() : '-'}
      div Date: #{helper.formatDate(currentDate)}