table(width="100%")
  tr
    td(style="padding-left:0")
      if(asset)
        span #{asset.getName()} - #{asset.getImoNumber()}
    td(style="padding-right:0;text-align:right") Lloyd&#39;s Register - Asset Information
