mixin inputText (form, slug, title, placeholder, model, autofocus)
  md-input-container.md-block
    - var title = "{{ ::'" + title + "' | translate }}"
    - var placeholder = "{{ ::'" + placeholder + "' | translate }}"
    label(for=slug)=title
    input(
      aria-label=placeholder,
      data-md-autofocus=autofocus,
      data-ng-model=model,
      id=slug,
      type='text',
      placeholder=placeholder,
    )

mixin inputPhone (form, slug, title, placeholder, model)
  md-input-container.md-block
    - var title = "{{ ::'" + title + "' | translate }}"
    - var placeholder = "{{ ::'" + placeholder + "' | translate }}"
    label(for=slug)=title
    input(
      aria-label=placeholder,
      data-ng-model=model,
      id=slug,
      type='text',
      placeholder=placeholder,
    )
    - var errorFormObject = form + "." + slug + ".$error";
    - var errorMessage = '{{"cd-error-invalid-phone" | translate}}'
    div(data-ng-messages=errorFormObject)
      div(data-ng-message="phone-number")=errorMessage

mixin inputEmail (form, slug, title, placeholder, model)
  md-input-container.md-block
    - var title = "{{ ::'" + title + "' | translate }}"
    - var placeholder = "{{ ::'" + placeholder + "' | translate }}"
    label(for=slug)=title
    input(
      aria-label=placeholder,
      data-ng-model=model,
      id=slug,
      name=slug,
      type='email',
      placeholder=placeholder,
    )
    - var errorFormObject=form + "." + slug + ".$error";
    - var errorMessage = '{{"cd-error-invalid-email" | translate}}'
    div(data-ng-messages=errorFormObject)
      div(data-ng-message="email")=errorMessage

mixin inputAutoComplete (form, slug, title, placeholder, model, searchText, autoCompleteSettings, searchFunction, searchResult, onSelectedFunction, requireMatchErrorMessage, isSelectOnMatch, noSearchResult, onChangeMethod)
  - var title = "{{ ::'" + title + "' | translate }}"
  - var searchFunction = searchFunction + '(' + searchText + ')'
  - var searchResult = 'item in ' + searchResult
  - var minimumCharacter = autoCompleteSettings + '.minimumCharacter'
  - var delay = autoCompleteSettings + '.delay'
  - var errorFormObject=form + '.' + slug;
  - var placeholder = "{{ ::'" + placeholder + "' | translate }}"

  .autocomplete-wrapper(
    data-ng-class='{"has-error": ' + errorFormObject + '.$dirty && ' + errorFormObject + '.$invalid}',
  )
    label(for=slug)=title + '*'

    //- Moving out clear button because it doesn't get trancluded when md-autocomplete is not using floating label
    icon.clear-button.grey(
      data-name='cancel',
      data-ng-click=model + '= null;' + searchText +' = ""',
      data-ng-if=errorFormObject+'.$viewValue.length',
    )
    md-autocomplete(
      data-md-delay=delay,
      data-md-input-id=slug,
      data-md-input-name=slug,
      data-md-item-text='item.name',
      data-md-items=searchResult,
      data-md-match-case-insensitive=isSelectOnMatch,
      data-md-min-length=minimumCharacter,
      data-md-no-cache='true'
      data-md-require-match='true',
      data-md-search-text-change=searchFunction,
      data-md-search-text=searchText,
      data-md-selected-item-change=onSelectedFunction,
      data-md-selected-item=model,
      data-md-select-on-match=isSelectOnMatch,
      data-ng-blur=onChangeMethod,
      data-placeholder=placeholder,
      data-required,
      data-ng-class='{"has-error": ' + errorFormObject + '.$dirty && ' + errorFormObject + '.$invalid}',
    )
      md-item-template
        span(
          data-md-highlight-text=searchText,
          data-md-highlight-flags='i',
        ) {{item.name}}

    //- Moving out ngMessage because it doesn't get trancluded when md-autocomplete is not using floating label
    div(
      data-ng-if=errorFormObject + '.$dirty',
      data-ng-messages=errorFormObject + '.$error',
    )
      div(
        data-ng-message='required',
        data-translate-once='cd-error-field-required',
      )
      div(
        data-ng-message='md-require-match',
        data-ng-if=noSearchResult,
        data-translate=requireMatchErrorMessage,
      )

//- input date
mixin inputDate (form, slug, title, placeholder, model, minDate, maxDate, errorMin, errorMax, isMobileDevice, isRequired, onChangeMethod, forceModelUpdate)
  - var placeholder = '{{ ::"' + placeholder + '" | translate }}';
  - var errorFormObject = form + '.' + slug + '.$error';
  - var errorMessage = '{{"cd-error-invalid-date" | translate}}';
  - var errorMessageRequired = '{{"cd-error-field-required" | translate}}';
  - var errorMessageMin = '{{ "' + errorMin + '" | translate }}';
  - var errorMessageMax = '{{ "' + errorMax + '" | translate }}';
  - var labelError = '{"has-error": '+ form + '.'+ slug + '.$invalid && '+ form + '.' + slug + '.$touched}';
  - var isMobileDevice = isMobileDevice ? isMobileDevice : 'false';
  - var forceModelUpdate = forceModelUpdate ? forceModelUpdate : 'false';

  .date-picker.has-label(data-ng-class=labelError)
    label(
      for=slug,
      data-translate=title,
    )
    input(
      aria-label=placeholder,
      data-ng-if=isMobileDevice,
      data-ng-model=model,
      type='date',
      name=slug,
    )
    md-datepicker(
      data-date-picker,
      data-md-hide-icons='triangle',
      data-md-is-open=slug + '.isOpen',
      data-md-max-date=maxDate,
      data-md-min-date=minDate,
      data-md-placeholder=placeholder,
      data-ng-attr-ng-required=isRequired,
      data-ng-blur=onChangeMethod,
      data-ng-change=onChangeMethod,
      data-ng-model=model,
      data-force-model-update=forceModelUpdate,
      id=slug,
      name=slug,
    )
    div(
      data-ng-messages=errorFormObject
      data-ng-show=form + '.' + slug + '.$touched'
    )
      div(data-ng-message="required")=errorMessageRequired
      //- The $error object returned from the validation for invalid date format can be either "valid", "date", or both.
      //- "valid" is not documented as one of the error types:
      //- https://docs.angularjs.org/api/ng/type/form.FormController#$error
      div(data-ng-message-exp='["valid", "date"]')=errorMessage
      div(data-ng-message="mindate")=errorMessageMin
      div(data-ng-message="maxdate")=errorMessageMax

    //- ngClick is added to allow user to trigger the calendar via keyboard tab
    icon.dark-blue(
      data-name='calendar',
      data-ng-click=slug + '.isOpen = true',
    )

//- input time
mixin inputTime (form, slug, title, placeholder, model, format)
  md-input-container.md-block
    - var title = '{{ ::"' + title + '" | translate }}'
    - var placeholder = "{{ ::'" + placeholder + "' | translate }}"
    - var errorFormObject = form + "." + slug + ".$error";
    - var errorMessage = '{{"cd-error-invalid-date" | translate}}'
    label(for=slug)=title
    input(
      aria-label=placeholder,
      data-ng-model=model,
      data-ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]$/",
      data-parse-time,
      id=slug,
      name=slug,
      maxlength='5',
      placeholder='E.g. 18:00',
      type='text',
    )
    div(data-ng-messages=errorFormObject)
      div(data-ng-message="time")=errorMessage

//- input time picker using auto complete
mixin inputTimePicker (form, slug, title, placeholder, model, searchText, searchFunction, searchResult, onSelectedFunction, requireMatchErrorMessage, isMobileDevice)
  md-input-container.md-block
    - var title = '{{ ::"' + title + '" | translate }}';
    - var searchFunction = searchFunction + '(' + searchText + ')';
    - var searchResult = 'item in ' + searchResult;
    - var errorFormObject=form + '.' + slug;
    - var requireMatchErrorMessage = '{{ "' + requireMatchErrorMessage + '" | translate }}';
    - var isMobileDevice = isMobileDevice ? isMobileDevice : 'false';
    - var placeholder = "{{ ::'" + placeholder + "' | translate }}";

    input(
      aria-label=placeholder,
      data-ng-if=isMobileDevice,
      data-ng-model=searchText,
      type='time',
      name=slug,
    )
    md-autocomplete.timepicker-autocomplete(
      data-md-floating-label=title,
      data-md-input-id=slug,
      data-md-input-name=slug,
      data-md-items=searchResult,
      data-md-min-length='0',
      data-md-require-match='true',
      data-md-search-text-change=searchFunction,
      data-md-search-text=searchText,
      data-md-selected-item-change=onSelectedFunction,
      data-md-selected-item=model,
      data-md-select-on-match='true',
      data-ng-class='{"has-error": !' + errorFormObject + '.$pristine && ' + errorFormObject + '.$invalid}',
      data-timepicker-helper=placeholder
    )
      md-item-template
        span(data-md-highlight-text=searchText) {{item}}
      div(data-ng-messages=errorFormObject + '.$error', data-ng-messages-multiple)
        div(
          data-ng-if=errorFormObject+'.$viewValue.length',
          data-ng-message='md-require-match',
        )=requireMatchErrorMessage
        div(data-ng-message='required') {{ 'cd-error-field-required' | translate }}

//- input time picker using ui-select
mixin inputTimePickerUiSelect (form, slug, title, placeholder, model, searchFunction, options)
  md-input-container.md-block
    - var title = '{{ ::"' + title + '" | translate }}';
    - var placeholder = '{{ ::"' + placeholder + '" | translate }}';
    - var errorFormObject=form + '.' + slug;
    - var errorMessage = '{{"cd-error-invalid-date" | translate}}';
    - var searchFunction = searchFunction + '($select.search)';

    label=title
    .input-time-picker-ui-select
      .container(
          data-ng-class='{"has-error": !' + errorFormObject + '.$pristine && ' + errorFormObject + '.$invalid}'
        )
        ui-select(
          data-append-to-body,
          data-close-on-select='true',
          data-name=slug,
          data-ng-model=model,
          data-ng-pattern='/([01]?[0-9]|2[0-3]):[0-5][0-9]$/',
        )
          ui-select-match(
            data-allow-clear='true',
            placeholder=placeholder,
          ) {{ $select.selected }}
          ui-select-choices(
            data-repeat='option in ' + options + ' | filter: $select.search',
            data-refresh=searchFunction,
            data-refresh-delay='500'
          ) {{ option }}

        div(data-ng-messages=errorFormObject + '.$error')
          div(data-ng-message='pattern')=errorMessage

//- input textarea
mixin inputTextArea (form, slug, title, placeholder, model, rows)
  md-input-container.md-block
    - var title = "{{ ::'" + title + "' | translate }}"
    - var placeholder = "{{ ::'" + placeholder + "' | translate }}"
    - var rows = rows || 5;
    label(for=slug)=title
    textarea(
      data-md-no-autogrow,
      data-ng-model=model,
      id=slug,
      type='text',
      placeholder=placeholder,
      rows=rows,
    )

//-
  * To create a button or anchor (if `data.sref is defined`).
  *
  * @param {Object} data
  * @param {string} data.label - The key of translation object in language file.
  * @param {string=} data.buttonType - The button can be [icon | icon-text | icon-bg]
  * @param {string=} data.class - A string of classes.
  * @param {string=} data.goTo - State name or expression.
  * @param {string=} data.href - External link.
  * @param {string=} data.iconName - The name of icon.
  * @param {string=} data.iconClass - The class for the icon.
  * @param {string=} data.id - The ID of element.
  * @param {string=} data.ngClass - The ng-class object.
  * @param {string=} data.target - Target for href.
  * @param {string=} data.theme - Color theme for the icon/button. [dark | dark-blue | warn | white | primary]
  * @param {expression=} data.hideIcon - Expression to hide the icon.
  * @param {expression=} data.hideLabel - Expression to hide the label.
  * @param {expression=} data.disabled - The expression to disable the element
  * @param {expression=} data.hide - The expression to hide the element
  * @param {expression=} data.labelValues - The translation values
  * @param {expression=} data.labelVariable - The variable, eg: vm.label
  * @param {expression=} data.onClick - The expression to be called upon onclick.
  * @param {expression=} data.bindNotifier - The expression to be used with data bind notifier.
mixin button (data)
  //- classes for button or anchor
  - var classes = data.class || ''
  //- translation for label and aria-label
  - var labelValues = '{}';
  - var label = '';
  if data.labelValues
    - labelValues = data.labelValues
    - var count = " ({{" + labelValues + "}})"
  if data.labelVariable
    //- only labelVariable which is a variable need bind notifier. if labelVariable is just a string, one time bind
    if data.bindNotifier
      - label = "{{:valUpdate:" + data.labelVariable + " | safeTranslate: " + labelValues + " }}"
    else
      - label = "{{ ::" + data.labelVariable + " | safeTranslate: " + labelValues + " }}"
  else
    - label = "{{ ::'" + data.label + "' | translate }}"

  //- icon color
  - var iconClass = data.iconClass || ''
  if data.buttonType === 'icon'
    - iconClass = iconClass + ' ' + (data.theme || '')

  - var flexOrder = 3
  if data.iconName && data.iconPosition == 'left'
    - flexOrder = 1

  //- hide button conditions
  - var hideButton = false
  if data.hide
    - hideButton = "!(" + data.hide + ")"

  //- title on icon only button
  - var title = ''
  if data.buttonType === 'icon'
    - title = label

  md-button(
    aria-label=label,
    class=classes,
    data-bind-notifier=data.bindNotifier,
    data-ng-attr-id=data.id,
    data-ng-attr-ng-class=data.ngClass,
    data-ng-attr-href=data.href,
    data-ng-attr-ng-click=data.onClick,
    data-ng-attr-ng-disabled=data.disabled,
    data-ng-attr-ng-if=hideButton,
    data-ng-attr-ui-sref=data.goTo,
    data-ng-attr-target=data.target,
    data-ng-attr-theme=data.theme,
    data-ng-attr-button-type=data.buttonType,
    data-ng-attr-icon-position=data.iconPosition,
    title=title,
  )
    //- For icon type button, add a hidden text to enable screen reader accessibility.
    //- Tried adding alt attribute on icon > md-icon and it didn't work.
    if data.buttonType === 'icon'
      .sr-only=label
    div(
      data-layout='row',
      data-layout-align='center center',
    )
      if data.buttonType !== 'icon' && data.buttonType !== 'icon-bg'
        - var hideLabel = "!("+data.hideLabel+")"

        // Text align left or right. Center by default
        - var textAlignClass = data.textAlign ? '{ "align-'+data.textAlign+'": true }' : '';

        .ellipsis.text(
          data-flex='auto',
          data-flex-order=2,
          data-ng-class=textAlignClass,
          data-ng-if=hideLabel,
        )=label
          if count
            span=count
      if data.iconName
        - var hideIcon = "!("+data.hideIcon+")"
        div(
          data-ng-if=hideIcon,
          data-flex='none',
          data-flex-order=flexOrder,
        )
          icon(
            data-name=data.iconName,
            class=iconClass,
          )
