mixin title(title, classes, isHidden, data)
  div(
    class=classes,
    data-flex,
    data-layout-xs='row',
    data-layout-sm='row',
    data-ng-hide=isHidden,
    data-ng-if=data,
  )
    div(
      data-flex-xs=50,
    )
      .label(
        data-translate-once=title,
      )
    if block
      block

mixin assetHubTitle(title, classes, isHidden, data)
  div(
    class=classes,
    data-flex,
    data-layout-sm='row',
    data-ng-hide=isHidden,
    data-ng-if=data,
  )
    .label(
      data-flex-sm=50,
      data-translate-once=title,
    )
    if block
      block

mixin surveyRequestTitle(title, classes, isHidden, data)
  div(
    class=classes,
    data-flex,
    data-layout='row',
    data-ng-hide=isHidden,
    data-ng-if=data,
  )
    div(
      data-flex=50,
    )
      .label(
        data-translate-once=title,
      )
    if block
      block