mixin translate(str)
  //- the following line check if there's any interpolation
    and binds it once using '::' if there isn't
  - var finalStr = str.split('{{').length === 1 ? str : '::' + str
  | {{ "#{str}" | translate:vm }}

// Use the following for labels & similar things
mixin translate-once(str)
  span(data-translate-once=str)

mixin unordered-list(listOfStrings)
  ul
    each str in listOfStrings
      li
        +translate(str)

mixin icon(iconName)
  - var _ = require('lodash');
  - var iconFileName = _.capitalize(iconName) + '.svg'; // TODO file name should be small case
  span.icon-image !{require('resources/images/icons/' + iconFileName)}

mixin labeled-field(label, field)
  label=label+':'
  strong=field

mixin icon-info(icon, text)
  icon.dark-grey(
    data-name=icon
  )
  small
   strong.dark(
     data-translate-once=text,
   )

mixin mobileFilterButton(data)
  md-button.m0(
    aria-label="{{ ::'" + data.label + "' | safeTranslate }}",
    data-ng-attr-ng-click=data.onClick,
    data-ng-attr-ng-disabled=data.disabled,
    data-ng-attr-ng-if='::!!!(' + data.hide + ')',
    data-ng-attr-ui-sref=data.goTo,
    theme='dark-blue',
  )
    icon.white(
      data-name=data.iconName,
    )
    .label.ellipsis(
      data-translate-once=data.label,
    )
