include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    include _asset/_basic-information.pug
    include _asset/_full-information.pug

  //- SERVICE INFORMATION
  h3 SERVICE INFORMATION
  include _service/_product.pug
  //- include _service/_product.pug
  //- include _service/_product.pug

  //- CODICILS INFORMATION
  h3 CODICILS INFORMATION
  include _codicils/_coc-list.pug
  include _codicils/_actionable-items.pug
  include _codicils/_asset-notes.pug
