include /shared

div(
  data-ng-class='{"dark-background": !vm.disableBackgroundImage}',
)
  div(
    data-layout='row',
    data-layout-align='start start',
    data-layout-align-xs='start center',
    data-layout-wrap,
    data-ng-class='{ "show-icon": vm.showIcon }',
  )
    .title(
      data-flex='nogrow',
      data-layout='row',
    )
      md-button.back-button(
        aria-label="{{ (vm.goTo ? 'cd-back' : vm.label) | safeTranslate }}",
        data-flex='none',
        data-ng-attr-ui-sref='{{ ::vm.goTo }}',
        data-ng-attr-ng-click='vm.goBack()',
        data-ng-if='::!!vm.showIcon',
      )
        icon(
          data-name='backButton',
        )

      div.text(
        data-flex='nogrow',
        data-layout='column',
        data-layout-align='center start',
        data-ng-hide='::!!vm.hideText',
      )
        h1.m0(
          data-translate='{{ ::vm.label || "-" }}',
        )
        .h1-regular(
          data-ng-if='::!!vm.headingSub',
          data-translate='{{ ::vm.headingSub }}'
        )
        .h4(
          data-ng-if='::!!vm.labelSub',
          data-translate='{{ ::vm.labelSub }}',
        )

    div(data-flex)

    export(
      data-export-options='vm.exportOptions',
      data-ng-if='vm.exportOptions && vm.showPrintExport()',
    )
