page-header {
  @include mq-gt-lg {
    .show-icon .title {
      @include transform(translateX(-$cd5x5));
    }
  }

  .md-button {
    min-height: 0;
    margin: 0 $cd2 0 0;
    padding: 0;

    @include mq-xs {
      margin: 0 $cd 0 0;
    }

    &:not([href]) {
      cursor: default;

      .md-ripple-container {
        display: none;
      }
    }

    icon {
      cursor: pointer;

      md-icon svg {
        width: $cd3x5;
        height: $cd3x5;

        path {
          fill: $dark-blue-color;
        }
      }
    }
  }

  export {
    margin: auto 0;
    icon {
      margin-right: $cd;
    }
  }

  .dark-background {
    background-size: initial !important;
    position: relative;
    margin: 0 -9999px;
    /* add back section padding value */
    padding: $cd 9999px;
    z-index: 0;

    .md-button {
      icon md-icon svg path {
        fill: $white-color;
      }

      .text > * {
        color: $white-color;
      }
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
    }
  }
}
