include /shared
include _partials/_export-and-sister-assets.pug
include _partials/_render.pug
- var schema = require('./fields-schema');

.content-main
  page-header(
    data-label='cd-asset-details',
  )

  .page-details.hide-on-page-change(
    data-layout-gt-sm='row',
  )
    .column-1(
      data-flex-gt-sm=50,
    )
      +exportAndSisterAssets('!!!vm._$mdMedia("gt-sm")')
      each group in schema.section1
        +render(group)

    md-divider.spacer.small(
      data-hide,
      data-show-gt-sm,
    )

    .column-2(
      data-flex-gt-sm=50,
    )
      +exportAndSisterAssets('vm._$mdMedia("gt-sm")')
      +render(schema.cfo)
      h3.h3-primary.dark: +translate('cd-ownership-and-management-details')
      each group in schema.section2
        +render(group)
