asset-details {
  // TODO: Remove this from scss if possible
  .column-2 > *:last-child md-divider {
    border-color: transparent;
  }

  .section-registered-owner {
    margin-top: -$cd2;
  }

  .page-details .detail {
    margin-bottom: $cd-half;
  }

  .page-details .detail .title {
    margin-bottom: 0;
  }

  .sister-vessels .box {
    padding: $cd1x5;
    cursor: default;
    @include no-select();

    .count {
      margin-bottom: $cd;
      font-size: $cd5;
    }

    .label {
      line-height: normal;
    }

    a.view-all {
      color: $dark-grey-color;
    }
  }
}
