include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ vm.cmroName | safeTranslate }}')
  md-toolbar
    .md-toolbar-tools.content-main(
      data-layout-align='start start',
    )
      div
        .modal-title.h1(
          data-translate='{{ vm.cmroName }}'
        )
      span(data-flex)
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm.cancel()',
      })
  md-dialog-content(
    data-flex,
    style='position: relative',
  )
    spinner(
      style='position: absolute; left: 50%; top: 0; z-index: -1; transform: translate(-50%);',
    )
    iframe(
      id='cmro-frame',
      style='position: absolute; margin: 0; padding: 0; border: 0; width: 100%; height: 100%;',
      data-ng-src='{{ vm.cmroUrl | trusted }}',
    )
