include /forms
include /shared

md-dialog.cd-dialog.cmro-dialog.dark-background(aria-label='{{ vm.searchLabel | safeTranslate }}')
  md-toolbar
    .md-toolbar-tools
      .modal-title.h1(
        data-flex,
        data-translate-once='cd-incident-and-defect-reports',
      )
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm.cancel()',
      })

  md-dialog-content(
    data-flex,
    data-layout-margin,
  )
    md-divider.spacer.large

    .cmro-links
      .link-item(
        ng-repeat='link in vm.links',
        data-layout='column',
      )
        //- WEB
        +button({
          buttonType: 'icon-text',
          class: 'flex',
          iconName: 'right',
          iconPosition: 'right',
          hide: 'vm._$window.cordova',
          href: '{{ link.URL }}',
          labelVariable: 'link.NAME',
          target: '_blank',
          textAlign: 'left',
        })
        //- MOBILE APP
        +button({
          buttonType: 'icon-text',
          class: 'flex',
          hide: '!vm._$window.cordova',
          iconName: 'right',
          iconPosition: 'right',
          labelVariable: 'link.NAME',
          onClick: 'vm.displayCMROInModal(link.URL, link.NAME)',
          textAlign: 'left',
        })
        md-divider

  md-dialog-actions.cd-actions(data-flex='none')
    .content-main(
      data-layout='row',
      data-layout-align='end',
    )
      +button({
        class: 'flex-50 modal-cancel-button',
        label: 'cd-cancel',
        onClick: 'vm._$mdDialog.cancel()',
        theme: 'light',
      })
      span(
        data-ng-class='::{"p-r-60":vm.isNativeMobile}',
        data-ng-if='::vm.isNativeMobile'
      )
