survey-confirmation-form {
  color: $dark-blue-color;

  .page-details {
    .main-title:not(:first-child) {
      margin-bottom: $cd2;
    }

    .comments-wrapper {
      margin-bottom: $cd2;
    }

    form {
      &.not-visible {
        height: 0;
      }

      .detail {
        margin: $cd2 0 0;
      }
    }
  }
}
