include /forms
include /shared

mixin show-title(title)
  .h3-primary.dark.main-title
    +translate(title)

mixin show-subtitle(subtitle)
  h3.dark.mt0
    +translate(subtitle)

mixin item(label, content, small)
  .detail(
    data-flex=100,
    data-ng-attr-flex-gt-sm=small,
  )
    .title
        +translate(label)
    if content
      .content(data-ng-bind='('+content+') || "-"')

md-divider.medium(
  data-ng-show='vm._$mdMedia("xs")',
)

.page-details
  +show-title('cd-client-service-delivery-support-team')
  md-divider.spacer

  .break-word(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    div(
      data-flex=100,
      data-flex-gt-sm=50,
    )
      +item(
        'cd-contact-name',
        'vm.asset.cfoOffice.name'
      )
      +item(
        'cd-email-address',
        'vm.asset.cfoOffice.emailAddress'
      )
    div(
      data-flex=100,
      data-flex-gt-sm=50,
    )
      +item(
        'cd-phone-number',
        'vm.asset.cfoOffice.phoneNumber'
      )
      +item(
        'cd-address',
        'vm.asset.cfoOffice.address'
      )

  md-divider.medium.mt0

  +show-title('cd-dates')
  div(data-layout='row')
    +item(
      'cd-survey-start-date',
      'vm.surveyDetailModel.surveyStartDate|date:"dd MMM yyyy"',
      50
    )
  div(data-layout='row')
    +item(
      'cd-arrival-date',
      'vm.surveyDetailModel.estimatedDateOfArrival|date:"dd MMM yyyy"',
      50
    )
    +item(
      'cd-arrival-time',
      'vm.surveyDetailModel.estimatedTimeOfArrival|date:"HH:mm"',
      50
    )
  div(data-layout='row')
    +item(
      'cd-departure-date',
      'vm.surveyDetailModel.estimatedDateOfDeparture|date:"dd MMM yyyy"',
      50
    )
    +item(
      'cd-departure-time',
      'vm.surveyDetailModel.estimatedTimeOfDeparture|date:"HH:mm"',
      50
    )

  md-divider.medium.mt0

  +show-title('cd-port')
  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    +item(
      'cd-port-name',
      'vm.surveyDetailModel.port.name',
      50
    )
    +item(
      'cd-port-agent-name',
      'vm.surveyDetailModel.portAgent.name',
      50
    )
  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    +item(
      'cd-port-agent-phone-number',
      'vm.surveyDetailModel.portAgent.phoneNumber',
      50
    )
    +item(
      'cd-port-agent-email-address',
      'vm.surveyDetailModel.portAgent.email',
      50
    )
  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    +item(
      'cd-berth-anchorage',
      'vm.surveyDetailModel.berthAnchorage',
      50
    )

  md-divider.medium.mt0

  +show-title('cd-ship-contact-details')
  p(
    data-ng-bind='vm.surveyDetailModel.shipContactDetails',
  )

  md-divider.medium.mt0

  .comments-wrapper
    div(
      data-layout='row',
      data-layout-align='end center',
    )
      +button({
        class: 'm0',
        label: 'cd-edit-details',
        onClick: 'vm.goToEdit()',
        theme: 'dark',
      })

    +show-title('cd-comments')

    p
      +translate('cd-survey-request-comments-info')

    - var commentsList = [1, 2, 3, 4, 5].map(function(i) { return 'cd-survey-request-comments-info-' + i })
    +unordered-list(commentsList)

    +inputTextArea(
      'TODO',
      'survey-request-comments',
      '',
      'cd-comments-placeholder',
      'vm.surveyDetailModel.additionalComments'
    )

  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    div(
      data-flex=100,
      data-flex-gt-sm='grow',
    )
      .detail
        .title
          +translate('cd-request-will-be-sent-to')
          |:
        .content(
          data-ng-bind='vm.surveyDetailModel.port.sdo.emailAddress',
        )
    div(
      data-flex=100,
      data-flex-gt-sm='nogrow',
      data-ng-show='vm.otherEmailsReadOnly',
    )
      +button({
        class: 'm0',
        label: 'cd-share-others',
        onClick: 'vm.activateShareEmail()',
        theme: 'dark',
      })

  form(
    data-name='vm.surveyDetailForm',
    data-ng-class='{ "not-visible": vm.otherEmailsReadOnly }',
  )
    .detail.no-margin
      .title
        +translate('cd-also-send-to')
        |:
    input-tags.no-margin(
      data-form='vm.surveyDetailForm',
      data-is-email='true',
      data-model='vm.surveyDetailModel.otherEmails',
      data-name='otherEmails',
      data-options='vm.otherEmailsOptions',
      data-placeholder='{{"cd-eg-email" | translate}}',
      data-validation='emailTransform',
    )
