include /shared

div(
  data-ng-repeat='notificationType in vm.notificationTypes'
)
  div(
    data-layout='row',
    data-layout-align='start center',
  )
    div(
      data-layout='row',
      data-layout-align='start center',
      data-flex='45',
    )
      strong {{ ::'cd-notification-' + notificationType.label | safeTranslate }}
      p(
        data-ng-bind='::notificationType.value'
      )
    md-divider.spacer.xs
    div(
      data-layout='row',
      data-layout-align='center center',
      data-flex='20',
    )
      div(
        data-flex='nogrow',
      )
        md-switch(
          aria-label='{{ ::"' + cd-notification + '" notificationType.label | safeTranslate }}',
          data-md-no-ink,
          data-ng-model='notificationType.isEnabled',
          data-ng-change='vm.updateNotification(notificationType)',
        )
    md-divider.spacer.xs
    div(
      data-layout='row',
      data-layout-align='end center',
      data-flex='35',
    )
      md-select(
        aria-label='{{ ::"cd-select-notification" | translate }}',
        md-on-close='vm.updateNotification(notificationType)',
        data-ng-model='notificationType.userOptionChanges',
        data-ng-selected-text='vm.notificationOptions[notificationType.isFavouritesOnly].LABEL',
        data-ng-disabled='!!!notificationType.isEnabled',
        data-ng-class=`{
          'visible-half': !!!notificationType.isEnabled,
        }`,
      )
        md-option(
          data-ng-value='option.VALUE',
          data-ng-repeat='option in vm.notificationOptions',
          data-ng-selected='option.VALUE == notificationType.isFavouritesOnly',
        )
          span(data-ng-bind='option.LABEL')

  p {{ ::'cd-notification-description-' + notificationType.label | safeTranslate }}
