include /shared

mixin detail-block(title, titleDescription, iconName)
  .cd-card(
    data-theme='light',
  )
    md-card.m0(
      data-layout-fill,
    )
      md-card-title(
        data-flex='nogrow',
      )
        md-card-title-text
          h2.h2-primary.m0(
            data-layout='row',
            data-layout-align='start center',
          )
            icon.big.dark-blue(
              data-flex='nogrow',
              data-name=iconName,
            )
            +translate(title)
          p
            +translate(titleDescription)
      md-card-content
        if block
          block
div(data-ng-if='vm.notificationTypes')
  +detail-block('cd-notifications', 'cd-notifications-description','notifications')
    include _notifications.pug
