table-header-btn {
  font-size: $cd1x4;
  color: #ffffff;
  .header-btn {
    padding: 0 !important;
    margin: 0 !important;

    .header-icon {
      .label {
        padding: $cd-half;
      }
      md-icon {
        visibility: hidden;
        svg {
          width: $cd2;
          height: $cd2;
        }
      }
    }

    &.focused,
    &:hover {
      .header-icon md-icon {
        visibility: visible;
      }
    }
  }
  .md-button[theme]:not([button-type]) {
    min-width: 0;
    width: 100%;
  }
}
