.layout-row.layout-fill
  md-ink-ripple.md-button.header-btn.flex(
    aria-label='{{ ::vm.label | safeTranslate }}',
    data-ng-click='::vm.sortData()',
    data-ng-class='{focused: vm.isFocused}',
    theme='dark-blue',
  )
    .header-icon.flex.layout-row.layout-align-start-center
      .label.layout-row.flex
        span(data-translate-once='{{ ::vm.label }}')
      icon(
        data-ng-if='vm.isFocused',
        data-name='{{vm.headerIcon}}',
      )
      icon(
        data-ng-if='!vm.isFocused',
        data-name='arrowUp',
      )
