user-details {
  // info-card is a shared component, thus the custom flex for user-details component only
  > cd-card {
    height: 100%;

    info-card {
      > md-card {
        height: 100%;

        > md-card-title {
          flex-grow: 0;
        }
      }
    }
  }
}
