include /forms
include /shared

- var AppSettings = require('app/config/project-variables.js');
- var outsideIfNotClasses = AppSettings.FILTER_OPTIONS.OUTSIDE_IF_NOT_CLASSES;

//- Desktop view
.filter-search-container(
  data-hide-xs,
  data-layout-wrap,
  data-layout='row',
  data-ng-class='{ "disabled" : !vm.isResolved }',
  data-ng-cloak,
)
  .filter-container.column(
    data-flex-sm=35,
    data-flex-gt-sm=25,
    data-flex-order-sm=2,
    data-ng-if='vm.filterOptions',
  )
    .label.not-visible(
      data-translate-once='cd-filter',
      data-ng-class='{ "hide-sm": vm.sortByList }',
      data-ng-if='!vm.hideFilterOptionsLabel',
    )
    .filter
      .filter-header(data-ng-click='vm.showFilterModal($event)')
        .filter-title(data-layout='row')
          icon(
            data-flex='none',
            data-name='filters',
          )
          .filter-title-text.ellipsis(data-flex)
            | {{ vm.filterLabel ? vm.filterLabel : "cd-sidebar-filter" | safeTranslate }}

  div(
    data-flex-sm='{{ ::vm.sortByList ? 100 : "auto" }}',
    data-flex-gt-sm='noshrink',
    data-flex-order-sm='{{ ::vm.sortByList ? 1 : 3 }}',
    data-layout='row',
  )
    //- Search
    .search-column.column(
      data-flex='auto',
      data-ng-if='vm.searchByList',
    )
      .label(
        data-ng-if='!vm.hideLabel',
      )
        | {{ vm.searchLabel ? vm.searchLabel : "cd-search" | safeTranslate }}
      //- Select category
      form.search-inputs-container(
        data-layout='row',
        data-layout-wrap,
        data-ng-submit='vm.updateData()',
      )
        md-input-container.category(
          data-ng-class='{ "flex-30": vm._$mdMedia("gt-md"), "flex-35": !vm._$mdMedia("gt-md") }',
          data-ng-hide='vm.searchByList.length < 2',
        )
          md-select(
            aria-label='{{ "cd-select-category" | translate }}',
            data-ng-change='vm.updateFilterOptions({ search: { searchBy: vm.model.search.searchBy } })',
            data-ng-model='vm.searchBy',
            placeholder='Search by',
          )
            md-option(
              data-ng-repeat='category in vm.searchByList track by $index',
              data-ng-selected='category.selected',
              data-ng-value='category',
            )
              | {{ ::category.name | safeTranslate | titleize }}

        //- Input search
        div(
          data-flex,
          data-layout='row',
        )
          md-input-container.search(
            data-ng-class='{ "flex": vm.searchByList.length >= 2, "flex-100": vm.searchByList.length < 2 }',
          )
            label.hide(
              data-translate-once='cd-type-to-search',
            )
            input(
              add-clear-btn,
              aria-label='{{ ::vm.searchBy.placeholder || "cd-type-to-search" | safeTranslate }}',
              data-ng-model='vm.searchText',
              placeholder='{{ ::vm.searchBy.placeholder || "cd-type-to-search" | safeTranslate }}',
            )
            search-button.clear-btn.show-always(
              data-is-disable='!vm.searchText',
              data-ng-class='{ "hidden": !vm.searchText }',
              data-on-click='vm.updateData()',
            )
    //- expand collapse
    .search-column.column(
      data-flex-sm='40',
      data-flex-gt-sm='35',
      data-ng-if='vm.canExpandCollapse',
    )
      .label
        span &nbsp;
      md-input-container(
        data-flex,
        data-layout='row'
      )
        cd-accordion-toggler(
          data-flex,
          data-layout='row',
          data-should-expand='true',
          data-is-layout-row='true',
        )

        md-divider.spacer.xs

        cd-accordion-toggler(
          data-flex,
          data-layout='row',
          data-is-layout-row='true',
        )

    //- Sort
    .sorting-column.column(
      data-flex=25,
      data-ng-hide='!vm.sortByList',
    )
      div(data-layout='row')
        div(
          data-flex,
          data-ng-if='vm.sortByList',
        )
          .label
            +translate('cd-sort-by')
          //- Select Sort
          md-input-container.sortByType
            md-select(
              aria-label='{{ ::"cd-sort-by" | translate }}',
              data-ng-model='vm.sortBy',
              placeholder='Sort by',
            )
              md-option(
                data-ng-repeat='type in vm.sortByList track by $index',
                data-ng-selected='type.selected'
                data-ng-value='type',
              )
                | {{ type.name | safeTranslate | titleize }}

  //- Additional buttons
  div.column.functional-buttons-column(
    data-flex-sm=65,
    data-flex-gt-sm=100,
    data-flex-order-sm=4,
    data-layout='row',
    data-layout-align='end start',
    data-ng-if='vm.showAdministrationButtons',
  )
    div(
      data-flex='nogrow',
      data-layout='row',
    )
      +button({
        buttonType: 'icon-text',
        class: 'm0',
        goTo: 'administration.addUser',
        iconName: 'plus',
        iconPosition: 'left',
        label: 'cd-add-user',
        theme: 'primary',
      })

      md-divider.spacer.xs

      export-users(
        data-filters='vm.filters',
        data-users='vm.items',
      )

//- Mobile view
.filter-search-mobile-container(
  data-hide-gt-xs,
  data-layout='row',
)
  div(
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.filterOptions',
  )
    +mobileFilterButton({
      iconName: 'filters',
      label: 'cd-filter',
      onClick: 'vm.showFilterModal($event)',
    })
  div(
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.searchByList',
  )
    +mobileFilterButton({
      iconName: 'search',
      label: 'cd-search',
      onClick: 'vm.showSearchModal($event)',
    })
  div(
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.sortByList',
  )
    +mobileFilterButton({
      iconName: 'gantt',
      label: 'cd-sort',
      onClick: 'vm.showSortModal($event)',
    })
  div(
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.showAdministrationButtons',
  )
    +mobileFilterButton({
      goTo: 'administration.addUser',
      iconName: 'plus',
      label: 'cd-add-user',
    })
  div(
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.showAdministrationButtons',
  )
    export-users(
      data-filters='vm.filters',
      data-has-mobile-view='true',
      data-users='vm.items',
    )

  div(
    data-flex,
    data-layout='row',
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.canExpandCollapse',
  )
    cd-accordion-toggler.dark-blue.mobile(
      data-flex,
      data-layout='row',
      data-should-expand='true',
    )

  div(
    data-flex,
    data-layout='row',
    data-ng-class='vm.mobileFilterButtonClass',
    data-ng-if='vm.canExpandCollapse',
  )
    cd-accordion-toggler.dark-blue.mobile(
      data-flex,
      data-layout='row',
    )

