include /forms
include /shared

.widget-container(
  data-flex=100,
  data-flex-md='{{ filter.type === "daterange" ? 50 : 100 }}',
  data-flex-gt-md='{{ filter.type === "daterange" ? 40 : 100 }}',
  data-ng-class='{ "border-top": $index > 0 }',
  data-ng-repeat='filter in vm.filterOptions track by $index',
)
  accordion(
    data-expandable='::vm.isAccordionExpandable',
    data-is-expanded='::!vm.isAccordionExpandable',
    data-title='{{ filter.title }}',
    data-selected-id='vm.selectedRiderFilterId',
    data-id='$index',
  )
    //- Radio buttons section
    form(
      data-ng-if='filter.type === "radiobuttons"',
      name='rider-form-{{$index}}',
    )
      md-radio-group.rider-filter(
        data-layout='row',
        data-layout-wrap,
        data-layout-xs='column',
        data-ng-model='filter.model',
        data-ng-change='vm.updateFilterQuery(filter.key, filter.model)'
      )
        md-radio-button.md-primary(
          aria-label='{{ option.label }}',
          data-flex=100,
          data-flex-sm=50,
          data-flex-md=25,
          data-flex-gt-md=20,
          data-layout='row',
          data-layout-align='start center',
          data-ng-repeat='option in ::filter.options track by $index',
          data-ng-value='option.value',
        ) {{ option.label }}

    //- Checkboxes section
    form(
      data-layout='row',
      data-layout-wrap,
      data-layout-xs='column',
      data-ng-if='filter.type === "checkboxes"',
      name='rider-form-{{$index}}',
    )
      .checkbox(
        data-flex=100,
        data-flex-sm=50,
        data-flex-md=25,
        data-flex-gt-md=20,
      )
        md-checkbox.small(
          aria-label='{{ "cd-all" | translate }}',
          data-ng-change='vm.toggleAllSelected(filter, filter.isAllSelected)',
          data-ng-model='filter.isAllSelected',
        )
        .label
          +translate('cd-all')
      .checkbox(
        data-flex=100,
        data-flex-sm=50,
        data-flex-md=25,
        data-flex-gt-md=20,
        data-ng-repeat='checkbox in ::filter.options track by $index'
      )
        md-checkbox.small(
          aria-label='{{ status.name }}',
          data-ng-change='vm.toggleSelected(filter)',
          data-ng-model='checkbox.selected',
        )
        .label {{ checkbox.name | safeTranslate }}

    //- Daterange section
    div(
      data-flex-gt-sm=90,
      data-ng-if='filter.type === "daterange"',
    )
      date-range(
        data-filter-options='filter',
        data-force-update-invalid-model='true',
        data-has-datepicker-label='true',
        data-is-valid='vm.isFilterFormValid',
        data-max='filter.maxDate',
        data-min='filter.minDate',
        data-on-change='vm.revalidateDateRange({ filterDateMin: minDate, filterDateMax: maxDate }, filter)',
        data-range-layout='row',
        data-range-validator='false',
      )
