include /shared

cd-card.hide-on-page-change(
  data-ng-class='{ "not-visible": !vm.showResults }',
)
  //- Do not one time binding vm.items vm.items value can change as it is used with pagination
  riders-refresher(data-condition='vm.items')
    cd-card-tabular(
      data-action='vm.action',
      data-item='item',
      data-ng-if='!vm.accordionMode',
      data-ng-repeat='item in vm.items | orderBy : (vm.useBackend ? null : vm.orderBy)',
    )
      riders(
        data-item='item',
        data-template-location='vm.template',
        data-custom-data='vm.customData',
      )

    cd-card-accordion(
      data-header-item='items',
      data-is-expanded='vm.isAccordionExpanded',
      data-ng-if='vm.accordionMode',
      data-ng-repeat='items in vm.items | orderBy: "displayOrder"',
      data-template-location='vm.template',
    )
