include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

//- Page is at /assets/{assetId: string}/survey-reports
//- TODO: Reconfirm if survey-reports is used cause can't be found in the front end
asset-header(data-asset='vm.asset')

.dark-background(
  data-flex,
  data-layout-padding,
  )
  .content-main
    h2
      +translate('cd-survey-reports')

.content-main(data-layout-padding)

  div.details(
    data-ng-repeat="item in ::vm.reports",
    )

    div.name(
      data-ng-bind='::item.reportTypeDto.name',
      )

    //TODO: Use model date
    div.date {{ item.issueDate | #{'date : "' + dateFormatter + '"'} }}
