div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-note-and-action',
    'vm.item.typeName',
    25
  )
  +detail(
    'cd-category',
    'vm.item.category',
    25,
    '!vm.currentUser.isEquasisThetis'
  )
  +detail(
    'cd-imposed-date',
    'vm.item.imposedDateFormatted',
    25
  )
  +detail(
    'cd-due-date',
    'vm.item.dueDateFormatted',
    25,
    '!vm.currentUser.isEquasisThetis'
  )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
  data-ng-if='::!vm.currentUser.isEquasisThetis',
)
  div(
    data-ng-if='::!!vm.item.items.length'
  )
    +detail(
      'cd-items',
      'null',
      '"auto"',
      'true'
    )
      .box(data-ng-repeat='elem in ::vm.item.items')
        span(data-ng-bind='::elem.name')
  div(
    data-ng-if='::!!!vm.item.items.length'
  )
    +detail(
      'cd-items',
      '"-"',
      '"auto"',
      'true'
    )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-status',
    null,
    25
  )
    active-status(
      data-ng-if='::!!vm.item.status',
      data-show-label='true',
      data-status-name='::vm.item.status',
    )
    span(
      data-ng-if='::!!!vm.item.status',
    ) -
  +detail(
    'cd-job-number',
    'vm.item.job.jobNumber',
    75
  )

div(
  data-layout='row',
)
  +detail(
    'cd-description',
    'vm.item.description',
    100
  )
