div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-defect',
    'vm.item.typeName',
    33
  )
  +detail(
    'cd-category',
    'vm.item.category',
    33
  )
  +detail(
    'cd-date-occurred',
    'vm.item.dateOccurredFormatted',
    33
  )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  div(
    data-ng-if='::!!vm.item.items.length'
  )
    +detail(
      'cd-items',
      'null',
      '"auto"',
      'true'
    )
      .box(data-ng-repeat='elem in ::vm.item.items')
        span(data-ng-bind='::elem.name')
  div(
    data-ng-if='::!!!vm.item.items.length'
  )
    +detail(
      'cd-items',
      '"-"',
      '"auto"',
      'true'
    )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-status',
    null,
    33
  )
    active-status(
      data-ng-if='::!!vm.item.status',
      data-show-label='true',
      data-status-name='::vm.item.status',
    )
    span(
      data-ng-if='::!!!vm.item.status',
    ) -
  +detail(
    'cd-job-number',
    'vm.item.jobNumbers',
    66
  )

div(
  data-layout='row',
)
  +detail(
    'cd-description',
    'vm.item.description',
    100
  )
