div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-note-and-action',
    'vm.item.typeName',
    34
  )
  +detail(
    'cd-due-date',
    'vm.item.dueDateFormatted',
    33
  )
  +detail(
    'cd-closure-date',
    'vm.item.closureDateFormatted',
    33,
    '::vm.isClosedMNCN'
  )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-status',
    null,
    34
  )
    active-status(
      data-ng-if='::vm.item.status',
      data-show-label='::true',
      data-status-name='::vm.item.status',
    )
    span(
      data-ng-if='::!vm.item.status',
    ) -
  +detail(
    'cd-ism-clause',
    'vm.item.ismClause',
    33
  )
  +detail(
    'cd-area-under-review',
    'vm.item.areaUnderReview',
    33
  )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-doc-country',
    'vm.item.docCompanyCountry',
    34
  )
  +detail(
    'cd-doc-company-id',
    'vm.item.docCompanyImo',
    33
  )
  +detail(
    'cd-doc-company-name',
    'vm.item.docCompanyName',
    33
  )


div(
  data-layout='row',
)
  +detail(
    'cd-description',
    'vm.item.description',
    100
  )

div(
  data-layout='row',
)
  +detail(
    'cd-objective-evidence',
    'vm.item.objectiveEvidence',
    100
  )

div(
  data-layout='row',
)
  +detail(
    'cd-accepted-immediate-corrective-action',
    'vm.item.correctiveAction',
    100,
    '::!vm.isOpenMNCN'
  )

div(
  data-layout='row',
)
  +detail(
    'cd-justification-of-closure',
    'vm.item.closureReason',
    100,
    '::vm.isClosedMNCN'
  )
