div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-note-and-action',
    'vm.item.typeName',
    33
  )
  +detail(
    'cd-imposed-date',
    'vm.item.imposedDateFormatted',
    33
  )
  +detail(
    'cd-due-date',
    'vm.item.dueDateFormatted',
    33
  )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-status',
    null,
    33
  )
    active-status(
      data-ng-if='::!!vm.item.status',
      data-show-label='true',
      data-status-name='::vm.item.status',
    )
    span(
      data-ng-if='::!!!vm.item.status',
    ) -

div(
  data-layout='row',
)
  +detail(
    'cd-description',
    'vm.item.description',
    100
  )

div(
  data-layout='row',
)
  +detail(
    'cd-narrative',
    'vm.item.narrative',
    100
  )
