div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-deficiency',
    'vm.item.typeName',
    33
  )
  +detail(
    'cd-category',
    'vm.item.category',
    33
  )
  +detail(
    'cd-date-occurred',
    'vm.item.dateOccurredFormatted',
    33
  )

div(
  data-layout-xs='column',
  data-layout-sm='row',
  data-layout-gt-sm='row',
)
  +detail(
    'cd-status',
    null,
    33
  )
    active-status(
      data-ng-if='::!!vm.item.status',
      data-show-label='true',
      data-status-name='::vm.item.status',
    )
    span(
      data-ng-if='::!!!vm.item.status',
    ) -
  +detail(
    'cd-flag-state-consulted',
    'vm.item.flagStateConsulted',
    33
  )

div(
  data-ng-if='::!!vm.item.items.length'
)
  +detail(
    'cd-checklist-items',
    'null',
    '"auto"',
    'true'
  )
    .box.block(data-ng-repeat='elem in ::vm.item.items')
      span(data-ng-bind='::elem.name')
div(
  data-ng-if='::!!!vm.item.items.length'
)
  +detail(
    'cd-checklist-items',
    '"-"',
    '"auto"',
    'true'
  )

div(
  data-layout='row',
)
  +detail(
    'cd-description',
    'vm.item.description',
    100
  )

div(
  data-layout='row',
)
  +detail(
    'cd-narrative',
    'vm.item.narrative',
    100
  )
