request-submission-confirmation {
  md-card {
    position: relative;
    @include box-shadow(none);

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      border-top: $cd solid #E7EBEE;
      border-right: $cd solid #E7EBEE;
      border-bottom: $cd solid transparent;
      border-left: $cd solid transparent;
    }

    .receipients span {
      display: block;
      margin-right: $cd-half;
      overflow-wrap: break-word;

      &:not(:last-child):after {
        content: ',';
      }

      @include mq-gt-sm {
        display: inline-block;
      }
    }
  }
}
