include /shared

.content-main(
  data-ng-cloak,
)
  h1
    +translate('cd-survey-request-submission-confirmation-title')
  div(
    data-layout='row',
    data-layout-align='center center',
  )
    md-card.m0(data-flex-gt-sm='60')
      md-card-content
        h1.mt0
          +translate('cd-survey-request-submission-confirmation-info-1')
        p
          +translate('cd-survey-request-submission-confirmation-info-2')
        p.mx0: strong(data-ng-if='vm.otherEmails.length')
          +translate('cd-survey-request-submission-confirmation-info-3')
        div.receipients
          span(data-ng-repeat='email in vm.otherEmails') {{email}}
