extends _layouts/home-landscape
include _mixins/_titles

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details

  if(ais && ais.size() > 0)
    +section-title('Actionable Items')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width="10%").lr-header ID
          td(width="10%").lr-header Imposed Date
          td(width="10%").lr-header Due Date
          td(width="10%").lr-header Category
          td(width="10%").lr-header Status
          td(width="50%").lr-header Description
      tbody
        for ai in ais
          tr
            td.is-underlined #{(ai.getReferenceCode()) ? ai.getReferenceCode() : '-'}
            td.is-underlined #{(ai.getImposedDate()) ? helper.formatDate(ai.getImposedDate()) : '-'}
            td.is-underlined #{(ai.getDueDate()) ? helper.formatDate(ai.getDueDate()) : '-'}
            td.is-underlined #{(ai.getCategoryH() && ai.getCategoryH().getName()) ? ai.getCategoryH().getName() : '-'}
            td.is-underlined #{(ai.getStatusH() && ai.getStatusH().getName()) ? ai.getStatusH().getName() : '-'}
            td.is-underlined #{(ai.getDescription()) ? ai.getDescription() : '-'}

block footer
  include _partials/_footer-generic
