extends _layouts/home-landscape
include _mixins/_titles

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details

  if(ans && ans.size() > 0)
    +section-title('Asset Notes')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width="10%").lr-header ID
          td(width="10%").lr-header Imposed Date
          td(width="10%").lr-header Category
          td(width="10%").lr-header Status
          td(width="60%").lr-header Description
      tbody
        for an in ans
          tr.is-underlined
            td #{(an.getReferenceCode()) ? an.getReferenceCode() : '-'}
            td #{(an.getImposedDate()) ? helper.formatDate(an.getImposedDate()) : '-'}
            td #{(an.getCategoryH() && an.getCategoryH().getName()) ? an.getCategoryH().getName() : '-'}
            td #{(an.getStatusH() && an.getStatusH().getName()) ? an.getStatusH().getName() : '-'}
            td #{(an.getDescription()) ? an.getDescription() : '-'}

block footer
  include _partials/_footer-generic
