extends _layouts/appendix
include _mixins/_titles
include _mixins/_tasks

block header
  include _partials/_header-report

block content
  if(checklist && checklist.size() > 0)
    h1.appendix-header Appendix 3 - Checklist items
    +section-title('Outstanding Checklist Items')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='10%').lr-header Survey Code
          td(width='15%').lr-header Checklist item ID
          td.lr-header Checklist item description
      tbody
        for item in checklist
          tr.is-underlined
            td #{(item.getServiceCode()) ? item.getServiceCode() : '-'}
            td #{(item.getReferenceCode()) ? item.getReferenceCode() : '-'}
            td #{(item.getLongDescription()) ? item.getLongDescription() : '-'}

block footer
  include _partials/_footer-appendix-checklist
