extends _layouts/appendix
include _mixins/_titles
include _mixins/_tasks

block header
  include _partials/_header-report

block content
  if((tailshaftReadings && tailshaftReadings.size() > 0) || surveysByGroup)
    h1.appendix-header  Appendix 2 - Readings

    if(tailshaftReadings)
      +section-title('Tailshaft readings')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr.is-underlined
            td(width='30%').lr-header Item
            td.lr-header Reading
            td(width='10%').lr-header DS
            td(width='10%').lr-header TS
            td(width='10%').lr-header %age variance
        tbody
          for data in tailshaftReadings
            tr.is-underlined
              td #{(data.getItemField()) ? data.getItemField() : '-'}
              td #{(data.getReadingField()) ? data.getReadingField() : '-'}
              td #{(data.getDsField()) ? data.getDsField() : '-'}
              td #{(data.getTsField()) ? data.getTsField() : '-'}
              td #{(data.getAgeVarianceField()) ? data.getAgeVarianceField() : '-'}

    if(surveysByGroup)
      for taskIdSurvey, serviceName in surveysByGroup
        +service-title(serviceName)
        for attrList, attrId in taskIdSurvey
          if(attrId == 1 || attrId == 3)
            table(style='-fs-table-paginate: paginate; border-spacing: 0')
              thead
                tr.is-underlined
                  td(width='30%').lr-header Item
                  td.lr-header Reading
                  td(width='20%').lr-header Value reported
              tbody
                for attr in attrList
                  tr.is-underlined
                    td #{(attr.getItemField()) ? attr.getItemField() : '-'}
                    td #{(attr.getReadingField()) ? attr.getReadingField() : '-'}
                    td #{(attr.getValueReportedField()) ? attr.getValueReportedField() : '-'}

          if(attrId == 2)
            table(style='-fs-table-paginate: paginate; border-spacing: 0')
              thead
                tr.is-underlined
                  td(width='30%').lr-header Item
                  td.lr-header Reading
                  td(width='10%').lr-header Reported
                  td(width='10%').lr-header Previous
              tbody
                for attr in attrList
                  tr.is-underlined
                    td #{(attr.getItemField()) ? attr.getItemField() : '-'}
                    td #{(attr.getReadingField()) ? attr.getReadingField() : '-'}
                    td #{(attr.getValueReportedField()) ? attr.getValueReportedField() : '-'}
                    td #{(attr.getPreviousField()) ? attr.getPreviousField() : '-'}

block footer
  include _partials/_footer-appendix-readings
