extends _layouts/appendix
include _mixins/_titles
include _mixins/_tasks

block header
  include _partials/_header-report

block content
  if(groupedTask)
    if(tocMapping)
      h1.appendix-header  Appendix 1 - Tasks

      table.appendix-table
        tr
          td(colspan=2) Table of contents:
      table.appendix-table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr
            td.lr-header Sections
            td.lr-header Page number
        - var i = 1;
        tbody
          each number, productName in tocMapping
            if(productName == "postponed")
              tr
                td #{i}. Postponed tasks [optional]
                td #{number}
            else
              tr
                td #{i}. Tasks credited for #{productName}
                td #{number}
            - i++

    - var j = 1;
    if(groupedTask)
      each surveyCodes, productName in groupedTask
        if(productName.getName() == "postponed")
          .section-title.lr-header #{j}. Postponed tasks [optional]
        else
          .section-title #{j}. Tasks credited for #{productName.getName()}
        -j++

        if(surveyCodes)
          for tasksPair, surveyCode in surveyCodes
            if(surveyCode)
                table
                  tr.is-underlined
                    td(width="89%").lr-appendix-header #{(surveyCode && surveyCode.getSurveyStatus() && surveyCode.getSurveyStatus().getId()) ? serviceCreditStatusLookup.get(surveyCode.getSurveyStatus().getId()).getName() : ''}
                    td(style="padding-right:10;text-align:right").lr-appendix-header Credit
                  tr.is-underlined
                    td(colspan=3).lr-appendix-header.light-grey-background #{(surveyCode.getServiceCatalogueH() && surveyCode.getServiceCatalogueH().getCode() ? surveyCode.getServiceCatalogueH().getCode() : '') + (surveyCode && surveyCode.getOccurrenceNumber() ? surveyCode.getOccurrenceNumber() : ' ') } - #{surveyCode.getServiceCatalogueH() && surveyCode.getServiceCatalogueH().getName() ? surveyCode.getServiceCatalogueH().getName() : ''}
                
                 each tasks, assetItem in tasksPair
                    if(assetItem.getParentAssetItemName() != "Other checklist items")
                      tr.is-underlined
                        td(style='padding-left:38px',colspan=3).lr-appendix-header.light-grey-background #{assetItem.getParentAssetItemName()}
               
                    tr.is-underlined
                      table(style='-fs-table-paginate: paginate; border-spacing: 0')
                        thead
                        tbody
                          for task in tasks
                            tr.is-underlined
                              td(style='padding-left:38px',width='30%').lr-appendix-body-specific #{(task.getTaskNumber()) ? task.getTaskNumber() : '-'}
                              td(style='padding-left:38px',width='60%').lr-appendix-body #{(task.getName()) ? task.getName() : '-'}
                              td(style="padding-right:0;text-align:right").lr-appendix-body #{(task.getResolutionStatus() && task.getResolutionStatus().getId()) ? ((resolutionStatusLookup.get(task.getResolutionStatus().getId())) ? resolutionStatusLookup.get(task.getResolutionStatus().getId()).getName() : '-') : '-'}
                            if(task.getWorkItemQAModel() && (task.getWorkItemQAModel().size() > 0))
                              for qa in task.getWorkItemQAModel()
                                if(qa)
                                  tr.is-underlined
                                    td
                                    td(style='padding-left:38px',width='100%').lr-appendix-body Q: #{qa.question}
                                    td
                                  tr.is-underlined
                                    td
                                    td(style='padding-left:38px',width='100%').lr-appendix-body A: #{qa.answer}
                                    td

block footer
  include _partials/_footer-appendix-tasks