extends _layouts/home
include _mixins/_titles
include _mixins/_report-sections

block header
  include _partials/_header-report

block content
  +report-title('Enhanced Survey Programme Report')
  +report-sub-title('Provisional Issue')(class='report-title-margin')

  table
    tr
      td A #{(reportIssueBy && reportIssueBy.getLegalEntity()) ? reportIssueBy.getLegalEntity() : 'Lloyd\'s Register'}  survey report

  +service-details(job, content, 'esp')
  +surveys(content, serviceCatalogueLookup, serviceCreditStatusLookup, 'esp')
  +certificates(content, certificateActionLookup, actionTakenLookup, 'esp')
  +conditions-of-class(content, actionTakenLookup, 'esp')
  +actionable-items(content, actionTakenLookup, 'esp')
  +asset-notes(content, actionTakenLookup, 'esp')
  +serviceNarratives(serviceNarratives, reportType)
  +surveyors(employeeList, report, reportIssueBy, 'esp')

block footer
  include _partials/_footer-esp
