extends _layouts/home-landscape
include _mixins/_titles

block header
  include _partials/_header-generic
block content
  include _partials/_asset-details

  if(sFindingsList)
    +section-title('Statutory Findings')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width="10%").lr-header ID
          td(width="10%").lr-header Imposed Date
          td(width="10%").lr-header Due Date
          td(width="10%").lr-header Status
          td(width="10%").lr-header Category
          td(width="50%").lr-header Description
      tbody
        for sf in sFindingsList
          tr.is-underlined
            td #{(sf.getReferenceCode()) ? sf.getReferenceCode() : '-'}
            td #{(sf.getImposedDate()) ? helper.formatDate(sf.getImposedDate()) : '-'}
            td #{(sf.getDueDate()) ? helper.formatDate(sf.getDueDate()) : '-'}
            td #{(sf.getStatusH() && sf.getStatusH().getName()) ? sf.getStatusH().getName() : '-'}
            //--- td #{(sf.getCategoryH() && sf.getCategoryH().getName()) ? sf.getCategoryH().getName() : '-'}
            td #{(sf.getDescription()) ? sf.getDescription() : '-'}

block footer
  include _partials/_footer-generic
