extends _layouts/home-landscape
include _mixins/_titles
include _mixins/_tasks

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details

  if(tasksList)
    +section-title('Task Details')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='57%').lr-header &nbsp;
          td(width='10%').lr-header Status
          td(width='11%').lr-header Assigned Date
          td(width='11%').lr-header Due Date
          td(width='11%').lr-header Postponed Date
      tbody
        for service in tasksList.getServicesH()
          tr.is-underlined
            td.light-grey-background(colspan='5') 
              span #{(service.getServiceCatalogueH() && service.getServiceCatalogueH().getProductCatalogue() && service.getServiceCatalogueH().getProductCatalogue().getName()) ? service.getServiceCatalogueH().getProductCatalogue().getName() : '-'}
          if(service && service.getItemsH() && service.getItemsH().size() > 0)
            - var parentRef = service.getServiceCatalogueH().getCode()
            - var childRef = service.getServiceCatalogueH().getName()
            - var occurrenceNoRef = service.getOccurrenceNumber()
            tr.is-underlined
              td(colspan='5') 
                span #{parentRef ? parentRef : ''}
                span #{occurrenceNoRef ? occurrenceNoRef : ''} -
                span #{childRef ? childRef : ''}
            for tasks in service.getItemsH()
              +tasks(tasks, '', childRef)
block footer
  include _partials/_footer-generic
