include /forms
include /shared

md-dialog.cd-dialog.dark-background.export-users-modal
  form(
    data-flex,
    data-layout='column',
    data-ng-cloak,
    name='vm.exportUserForm',
  )
    md-toolbar(data-flex='none')
      .md-toolbar-tools.content-main
        .h1(data-translate-once='cd-export-account-report')
        span(data-flex)
        +button({
          buttonType: 'icon',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.closeModal()',
        })

    md-dialog-content(
      data-flex,
      data-layout='row',
    )
      .content-main.vertical-tabs(
        data-flex='none',
        data-layout-xs='column',
        data-layout-sm='column',
        data-layout-gt-sm='row',
        data-theme='dark-blue',
      )
        .tab-items(
          data-flex='none',
          data-flex-gt-sm=25,
          data-layout='row',
          data-layout-gt-sm='column',
        )
          .item(
            data-flex,
            data-flex-gt-sm='none',
            data-ng-repeat='(key, tabObj) in vm.tabs',
            data-ng-class='{active: vm.selectedTab === key}',
            data-ng-click='vm.selectedTab = key',
          )
            span(data-translate='{{ tabObj.label }}')

        .tab-content(
          data-flex,
          data-flex-gt-sm=70,
          data-flex-offset-gt-sm=5,
          data-layout='row',
        )
          include _partials/_tab-users.pug
          include _partials/_tab-information.pug

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout-align='start center',
    )
      .content-main(
        data-layout-align='end',
        data-layout='row',
      )
        +button({
          label: 'cd-cancel',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.closeModal()',
          theme: 'light',
        })
        +button({
          class: 'flex-50',
          disabled: '!vm.includedCount',
          hide: 'vm._$mdMedia("gt-sm")',
          label: 'cd-export',
          onClick: 'vm.exportCSV()',
          theme: 'warn',
        })
        +button({
          buttonType: 'icon-text',
          disabled: '!vm.includedCount',
          hide: 'vm._$mdMedia("xs") || vm._$mdMedia("sm")',
          iconName: 'export',
          iconPosition: 'left',
          label: 'cd-export',
          onClick: 'vm.exportCSV()',
          theme: 'warn',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
