@import 'src/app/components/assets/export-assets/export-assets.scss';

export-users {
}

.export-users-modal {
  @extend .export-assets-modal;

  .account-type-box {
    padding: 0 $cd;
    margin: $cd-half;
    min-width: $cd15;
    height: $cd5;
    text-align: center;
    background: $light-grey-color;
    vertical-align: middle;

    .h4 {
      color: $dark-grey-color;
    }
  }

  .from-to-box {
    @extend .account-type-box;
    margin: 0;
  }

  .dates-last-login md-input-container {
    margin: $cd-half;

    label {
      bottom: 0;
      color: $white-color;
    }

    input {
      background: $light-grey-color;
      color: $dark-grey-color;
    }
  }

  users {
    display: block;
    overflow-x: hidden;
  }
}
