include /forms
include /shared

+button({
  class: 'flex m0',
  disabled:'!vm.users.length',
  buttonType: 'icon-text',
  hide: 'vm.hasMobileView && vm._$mdMedia("xs")',
  iconName: 'export',
  iconPosition: 'left',
  label: 'cd-export-account-report',
  onClick: 'vm.showModal($event)',
  theme: 'primary',
})

+mobileFilterButton({
  disabled:'!vm.users.length',
  hide: '!vm.hasMobileView || vm._$mdMedia("gt-xs")',
  iconName: 'export',
  label: 'cd-export',
  onClick: 'vm.showModal($event)',
})
