$button-border-radius: 0;
@import 'vendor/angular-material/angular-material.scss';
@import 'node_modules/angular-loading-bar/build/loading-bar';
@import 'src/app/common/styles/ie-fixes';

html {
  overflow-x: hidden;

  // To fix double scrollbars on FF and IE when modal is shown.
  // Can't find the source that adds inline CSS of `overflow-y: scroll` to html element
  // that causes the issue.
  overflow-y: auto !important;
}

app {
  display: block;
  height: auto;
  overflow-x: hidden;
  .app {
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    transition: padding-top 0.5s;
    height: 100%;
    max-width: 100%;
    margin-top: $cd5;
    &.cd-actions-on {
      // Hide footer & loading bar in CD actions mode.
      footer {
        display: none !important;
      }
      // Make room for the position fixed bar.
      padding-bottom: $cd * 12;
      .cd-actions-context {
        min-height: 100vh;
      }
    }
    &.masquerade-bar-visible {
      margin-top: $cd5 + $cd6; // Height of top toolbar + maquerade bar

      .is-sticky .date-range-sticky {
        padding-top: $cd6;
      }
    }
    &.initializing, &.transitioning {
      main {
        visibility: none;
        opacity: 0;
      }
      initializing-overlay {
        height: 100vh;
        visibility: visible;
        opacity: 1;
        z-index: 100;
      }
    }
    initializing-overlay {
      position: fixed;
      height: 0vh;
      overflow: hidden;
      opacity: 0;
      transition: .2s opacity;

      background-color: $body-color;
      display: flex;
      padding-top: $cd2x5;
      .spinner-wrapper {
        width: 100vw;
        display: inline-block;
        text-align: center;
        .spinner {
          margin: 0;
        }
        p {
          color: $dark-grey-color;
        }
      }
    }
    >main {
      min-height: $cd * 80;
      visibility: visible;
      transition: .2s opacity;
      opacity: 1;
    }
  }
}

body {
  height: auto; // auto is important for programmatic scroll.
  min-width: #{$screen-min-width}px;
  max-width: 100vw;
  overflow-x: hidden;
  color: $primary-color;
  background-color: #ebebeb;
  font-family: 'OpenSans', sans-serif;
  font-size: $cd1x6;
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  // font: 62.5% sans-serif;
  [data-ng-click],
  [data-ui-sref],
  [href] {
    cursor: pointer;
  }
  // When dialog is showing, some space is taken on the right for the scrollbar.
  // Also, it is possible to scroll beyond height of screen.
  // Prevent all this.
  &.md-dialog-is-showing {
    overflow-y: hidden;
  }
}

.content-main {
  box-sizing: border-box;
  width: 100%;
  max-width: $screen-max-width;
  margin: 0 auto;
  flex: 1 0 auto;
  padding-left: $cd1x5;
  padding-right: $cd1x5;
  @include mq-gt-md {
    padding-left: $cd5;
    padding-right: $cd5;
    &.outer {
      padding-left: 0;
      padding-right: 0;
    }
    &.inner {
      padding-left: $cd2;
      padding-right: $cd2;
    }
  }
  @include mq-gt-lg {
    padding-left: $cd10;
    padding-right: $cd10;
  }
}

.phantom-wrapper {
  position: relative;
  z-index: 0;
  > :first-child {
    position: fixed;
    right: 0;
    left: 0;
  }
  > :last-child {
    opacity: 0;
  }
  +* {
    position: relative;
    z-index: 1;
    background: $body-color;
  }
}

.full-width {
  @include full-width;
}

#loading-bar .bar {
  height: 5px;
}