<!-- Place all UI elements intended to be present across all routes in this file -->

include /shared

system-header(data-ng-hide='vm.isTnCState || !vm.showBody')
.app(
  class='initializing',
  data-flex,
  data-layout='column',
  data-ng-class=`{
    "cd-actions-on": vm._$rootScope.isActionBarEnabled,
    "hide-toolbar": vm.isPlayPage,
    "initializing": vm.isInitializing,
    "transitioning": vm.isTransitioning,
    "masquerade-bar-visible": vm.masqueradeBarVisible,
  }`
  data-ng-show='vm.showBody',
)
  initializing-overlay(
    data-flex,
    data-layout='row',
  )
    .spinner-wrapper
      p(
        ng-if="vm.isInitializing",
        data-translate-once="cd-loading-app",
      )
      p(
        ng-if="!vm.isInitializing && vm.isTransitioning",
        data-translate-once="{{ vm.loadingMessage }}",
      )
      spinner
  main(
    data-flex='auto',
  )
    div.panacea(
      data-ui-view,
    )
  footer(
    data-flex='none',
  ).dark-background
