include /forms

+button({
  buttonType: 'icon-text',
  class: 'card-style',
  hide: '!vm.name',
  labelVariable: 'vm.name',
  bindNotifier: '{ valUpdate: vm.name }',
  textAlign: 'left',
  onClick: 'vm.goToVesselList()',
})
