asset-client-name {
  max-width: $cd * 20;
  height: 100%;
  background-color: $black-color;
  .md-button {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0 $cd2;
    font-weight: bold;

    @include mq-lt-sm {
      font-weight: 400;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

@include mq-xxs {
  asset-client-name {
    max-width: $cd * 16;
    .md-button {
      padding: 0 $cd0x9;
    }
  }
}

@include mq-lt-xxs {
  asset-client-name {
    max-width: $cd * 11;
    .md-button {
      padding: 0 $cd0x8;
    }
  }
}
