include /forms
include /shared

md-dialog.cd-dialog-small.medium(
  aria-label='{{ vm.title }}',
  data-ng-class='{ "dark-background": vm.useBackgroundImage }',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2(
          data-translate='{{ vm.title }}',
        )
        //- AM's way of flexing with the `span` below
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.cancelDialog()',
        })
    md-dialog-content.confirm-new-status(
      data-flex,
      data-layout='column',
    )
      div {{ 'cd-confirm-' + vm.newStatus | safeTranslate }}

      md-divider.spacer.large

      div(data-layout='row')
        .item-label(
          data-flex=50,
        )
          +translate('cd-user')
          |:
        .item-value(
          data-flex=50,
        ) {{ vm.user.fullName }}

      md-divider.spacer.small

      div.old-status(data-layout='row')
        .item-label(
          data-flex=50,
        )
          +translate('cd-account-status')
          |:
        .item-value(
          data-flex=50,
        )
          active-status(
            data-show-label='true',
            data-status-name='vm.oldStatus',
          )

      md-divider.spacer.small

      div.new-status(data-layout='row')
        .item-label(
          data-flex=50,
        )
          +translate('cd-new-account-status')
          |:
        .item-value(
          data-flex=50,
        )
          active-status(
            data-show-label='true',
            data-status-name='vm.newStatus',
          )
    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      .button-container(
        data-flex-xs=50,
        data-layout-xs='row',
        data-ng-repeat='button in vm.buttons',
      )
        +button({
          class: '{{ button.class }}',
          labelVariable: 'button.label',
          onClick: '::this.$eval(button.onClick)',
          theme: '{{ button.theme }}',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
