user-details-header {
  .container {
    margin: $cd2 0;
  }
  md-input-container {
    @include mq-lt-sm {
      margin: $cd 0;
    }
  }
  md-select-value {
    icon.archived svg {
      width: $cd2;
      margin-right: $cd;
      path {
        fill: $dark-grey-color;
      }
    }
  }
}

md-dialog-content.confirm-new-status {
  active-status {
    .circle,
    icon {
      margin-left: 0;
    }
  }
}

md-option.account-statuses {
  icon.archived svg {
    width: $cd2;
    margin-right: $cd;
    path {
      fill: $dark-grey-color;
    }
  }
}
