include /shared

- var ADMINISTRATION_STATE = require('app/config/project-variables.js').STATES.ADMINISTRATION;

.container(
  data-layout-xs='column',
  data-layout='row',
  data-layout-align-xs='start stretch',
  data-layout-align-gt-xs='start center',
)
  div(
    data-flex='auto',
    data-flex-gt-xs='grow',
  )
    page-header(
      data-disable-background-image='true',
      data-go-to=ADMINISTRATION_STATE,
      data-label='{{ vm.user.fullName }}',
      data-name='left',
    )
  md-input-container(
    data-flex='auto',
    data-flex-sm=30,
    data-flex-gt-sm=20,
    data-layout='column'
  )
    md-select(
      aria-label='Select the account status for this user.',
      data-name='type',
      data-ng-disabled='vm.user.statusName === vm._AppSettings.ACCOUNT_STATUS.ARCHIVED',
      data-ng-model='vm.currentStatusId',
    )
      md-option.account-statuses(
        data-ng-repeat='status in vm.accountStatuses | orderBy: "order"',
        data-value='{{ status.id }}',
      )
        div(
          data-layout='row',
          data-layout-align='start center',
        )
          md-icon.circle.active(
            data-flex='none',
            data-md-menu-align-target,
            data-ng-class='status.class',
            data-ng-if='status.class !== vm._AppSettings.ACCOUNT_STATUS.ARCHIVED.toLowerCase()',
          )
          icon.archived(
            data-flex='none',
            data-name='cancel',
            data-ng-if='status.class === vm._AppSettings.ACCOUNT_STATUS.ARCHIVED.toLowerCase()',
          )
          div(
            data-flex='auto',
          ) {{ status.label | safeTranslate }}
