doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', lang='en', xml:lang='en')
  block vars
  head
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    title #{emailTitle}
    | <!-- <style> -->
  body
    block style
    table.body
      tr
        td.center(align='center', valign='top')
          center
            include ../partials/_header.pug
            include ../partials/_title.pug
            include ../partials/_asset-header.pug
            include ../partials/_asset-header-simple.pug
            include ../partials/_footer.pug
            block content
    //- prevent Gmail on iOS font size manipulation
    div(style="display:none; white-space:nowrap; font:15px courier; line-height:0;")  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
