doctype html
html
  head
    title Class Direct - Lloyd&#39;s Register
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    block style
  body.error-flexed.error-body
    .error-container-wrapper
      .error-container
        include ../partials/_error-header.pug
        block content
        include ../partials/_error-footer.pug

