mixin mncn-row(label, data)
  - var label = label
  //- Need the data to be a variable as if(#{data}) does not work
  - var data = data

  if(data)
    tr
      td(width="30%").lr-header #{label}
      td(width="70%").is-underlined #{data}

mixin mncn-table(item)
  - var status = item.getStatusH().getName()
  //- There are 3 statuses 
  - var statusOpen = "Open"
  - var statusOpenDowngraded = "Open - Downgraded"
  - var statusClosed = 'Closed'

  +section-title("MNCN - ID #:" + mncn.getMncnNumber())
  table
    tbody
      +mncn-row("DOC company name", mncn.getDocCompanyName())
      +mncn-row("DOC company ID", mncn.getDocCompanyImo())
      +mncn-row("DOC Country", mncn.getDocCompanyCountry())
      +mncn-row("ISM clauses", mncn.getIsmClause())
      +mncn-row("Area under review", mncn.getAreaUnderReview())
      +mncn-row("NCN description", mncn.getDescription())
      +mncn-row("Objective evidence", mncn.getObjectiveEvidence())
      +mncn-row("Due", helper.formatDate(mncn.getDueDate()))
      +mncn-row("Status", mncn.getStatusH().getName())
      if(status == statusOpenDowngraded || status == statusClosed)
        +mncn-row("Accepted immediate corrective action", mncn.getCorrectiveAction())
      if(status == statusClosed)
        +mncn-row("Closure", mncn.getClosureDate())
        +mncn-row("Justification for closure", mncn.getClosureReason())