mixin tasks(item, itemParentRef, itemRef, isMpms)
  if(item.getTasksH())
    tr.is-underlined
      td(colspan='5', style='padding-left:38px').lr-header
        span #{itemParentRef ? itemParentRef : ''} - 
        span #{itemRef ? itemRef : ''}
    for task in item.getTasksH()
      +task-details(task, isMpms)
  if(item.getItemsH() && item.getItemsH().size() > 0)
    for subitem in item.getItemsH()
      - childRef = subitem.getName()
      +tasks(subitem, itemRef, childRef, isMpms)

mixin task-details(task, isMpms)
  tr.is-underlined
    td(style='padding-left:38px',width='57%')
      span #{(task.getWorkItemAction() && task.getWorkItemAction().getName()) ? task.getWorkItemAction().getName() : ''} - 
      span #{(task.getTaskNumber()) ? task.getTaskNumber() : ''}
    if(isMpms)
      td(width='10%') #{(task.getDueStatusH() && task.getDueStatusH().getName()) ? task.getDueStatusH().getName() : '-'}
    else
      td(width='10%') #{(task.getResolutionStatus() && task.getResolutionStatus().getId()) ? ((task.getResolutionStatus().getId().equals(1)) ? 'Complete' : ((task.getResolutionStatus().getId().equals(2)) ? 'Confirmatory Check' : ((task.getResolutionStatus().getId().equals(3)) ? 'Waived' : ((task.getResolutionStatus().getId().equals(4)) ? 'Not applicable' : ((task.getResolutionStatus().getId().equals(5)) ? 'Chief Engineer' : ((task.getResolutionStatus().getId().equals(6)) ? 'Postponed' : 'Not Credited')))))) : 'Not Credited'}
    td(width='11%') #{(task.getAssignedDate()) ? helper.formatDate(task.getAssignedDate()) : '-'}
    td(width='11%') #{(task.getDueDate()) ? helper.formatDate(task.getDueDate()) : '-'}
    td(width='11%') #{(task.getPostponementDate()) ? helper.formatDate(task.getPostponementDate()) : '-'}
