include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ "cd-filter-sort-assets" | translate }}')
  md-toolbar
    .md-toolbar-tools
      .modal-title.h1(
        data-flex,
        data-translate-once='cd-filter-sort-assets',
      )
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm.hide()',
      })
  md-dialog-content(
    data-flex,
    data-layout='column',
    data-layout-margin,
  )
    .h3-regular
      +translate('cd-sort-by')
    md-radio-group(
      data-ng-model='vm.selectedSortType',
    )
      md-radio-button.md-primary(
        data-ng-repeat='type in vm.sortByTypes track by $index',
        data-ng-value='type',
      )
        | {{ type.name | safeTranslate }}
  md-dialog-actions.cd-actions(data-flex='none')
    .content-main(
      data-flex='none',
      data-layout-align='end',
      data-layout='row',
    )
      +button({
        class: 'flex-50 modal-cancel-button',
        label: 'cd-cancel',
        onClick: 'vm.cancel()',
        theme: 'light',
      })
      +button({
        class: 'flex-50 modal-submit-button',
        label: 'cd-submit',
        onClick: 'vm.hide(vm.selectedSortType)',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
