include /shared

.content-main
  div(
    data-ng-if='::!!!vm.service.workItemType'
  )
    page-header(
      data-label='{{ ::vm.service.catalogueName }}',
    )
    p.dark
      +translate('cd-tasklist-checklist-not-available')

div(
  data-ui-view='asset-service-view'
)
