include /forms
include /shared

tabs-master(
  data-show-admin-tab='vm.currentUser.isAdmin',
  data-on-update='vm.updateState({ icon: icon, label: label, uiSref: uiSref })',
)
.dashboard-container(
  data-layout='column'
)
  #main-wrapper.content-container
    .content-main
      .main-content(
        data-layout='column',
        data-flex-auto,
      )
        h1.sr-only(
          data-translate-once='cd-tabs-fleet-list',
          data-ng-if='!vm.isAdministrationView && !vm.isServiceSchedule'
        )

        h1.sr-only(
          data-translate-once='cd-tabs-survey',
          data-ng-if='!vm.isAdministrationView && vm.isServiceSchedule'
        )
        search-assets(
          data-assets='vm.dashboardAssets',
          data-ng-class='{ "vessel-list": !vm.isServiceSchedule, "service-schedule": vm.isServiceSchedule }',
          data-ng-show="vm.isFleetDashboardView",
        )
        div(
          data-ui-view='dashboard-content',
          keep-scroll-pos
        )