dashboard {
  display: block;
  flex-direction: column;

  .dashboard-container {
    height: auto;

    .content-container {
      flex-grow: 1;
    }
  }

  spinner.top-spinner {
    position: relative;
    .spinner {
      width: 100%;
      position: absolute;
    }
  }
}
