include /shared

.pdf-template.greyscale
  h3.m0 Final attendance / draft survey report
  h1.m0 Appendix 2 – Readings

  <br /><br />

  //- Tailshaft readings
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=5)
        h4 Tailshaft readings
    tr.small-header
      th Item
      th Reading
      th DS
      th TS
      th %age variance
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td(width='10%')
        div.detail -
      td(width='10%')
        div.detail -
      td(width='10%')
        div.detail -

  //- Special survey
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=3)
        h4 Special survey
    tr.small-header
      th Item
      th Reading
      th Value reported
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td(width='20%')
        div.detail -

  //- Docking survey
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=3)
        h4 Docking survey
    tr.small-header
      th Item
      th Reading
      th Value reported
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td(width='20%')
        div.detail -
  
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Item
      th Reading
      th Reported
      th Previous
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td(width='10%')
        div.detail -
      td(width='10%')
        div.detail -
