include /shared

.pdf-template.greyscale
  h3.m0 Final attendance / draft survey report
  h1.m0 Appendix 3 – Checklist items

  <br /><br />

  //- CHECKLIST
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=3)
        h4 Checklist items credited:
    tr.small-header
      th Survey Code
      th Checklist Item ID
      th Checklist Item Description
    tr
      td
        div.detail -
      td
        div.detail -
      td.auto-width
        div.detail -
