include /shared

.pdf-template.greyscale
  h3.m0 Final attendance / draft survey report
  h1.m0 Appendix 1 – Tasks

  <br /><br />

  //- TABLE OF CONTENT
  table.toc(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr
      th
        div.detail Sections
      th
        div.detail Page Number
    tr
      td.auto-width
        div.detail 1. Tasks credited for Machinery
      td
        div.detail 1

  //- TASKS
  table.page-break(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=3)
        h4 1. Tasks credited for Machinery
    tr.small-header
      th Survey ID
      td.auto-width(colspan=2)
        div.detail -
    tr.small-header
      th Task ID
      th Task Description
      th Task Credit
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -
