include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979
    //- ASSET INFORMATION (BASIC) - body
    tr
      td
        div.label Asset Type
        div.detail -
      td
        div.label Class Status
        div.detail -
      td
        div.label Laid Up Date
        div.detail -
      td
        div.label Date of Build
        div.detail -
    tr
      td
        div.label Gross Tonnage
        div.detail -
      td
        div.label Flag
        div.detail -
      td
        div.label Asset Overall Status
        div.detail -
      td
        div.label MMS Indicator
        div.detail -
    tr
      td(colspan=4)
        div.label Classed/Dual Classed Indicator
        div.detail -

  //- PRODUCT - SERVICE
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=5)
        h4 Boiler (Service Name)
    tr
      td
        div.label Due Date
        div.detail -
      td
        div.label Range Date
        div.detail
          div 02 Nov 2017 -
          div 08 Nov 2017
      td
        div.label Postponement Date
        div.detail -
      td
        div.label Postponement Status
        div.detail -
      td
        div.label Due Status
        div.detail -

  //- CHECKLIST - GROUP 1
  h3 CHECKLIST
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    //- GROUP 1
    tr.sub-header
      th
        h4 Checklist Group 1
      th
        h4 Credit Status
    tr
      td.auto-width
        div.detail Checklist Item 1 Long description
      td
        div.detail -
    tr
      td.auto-width
        div.detail Checklist Item 2 Long description
      td
        div.detail -
    tr
      td.auto-width
        div.detail Checklist Item 3 Long description
      td
        div.detail -

    //- SUB-GROUP 1.1
    tr.small-header
      th Checklist Group 1.1
      th Credit Status
    tr
      td.auto-width
        div.detail Checklist Item 1 Long description
      td
        div.detail -
    tr
      td.auto-width
        div.detail Checklist Item 2 Long description
      td
        div.detail -
    tr
      td.auto-width
        div.detail Checklist Item 3 Long description
      td
        div.detail -

  br

  //- CHECKLIST - GROUP 2
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th
        h4 Checklist Group 2
      th
        h4 Credit Status
    tr
      td.auto-width
        div.detail Checklist Item 4 Long description
      td
        div.detail -
    tr
      td.auto-width
        div.detail Checklist Item 5 Long description
      td
        div.detail -
    tr
      td.auto-width
        div.detail Checklist Item 6 Long description
      td
        div.detail -
