include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979
    //- ASSET INFORMATION (BASIC) - body
    tr
      td
        div.label Asset Type
        div.detail -
      td
        div.label Class Status
        div.detail -
      td
        div.label Laid Up Date
        div.detail -
      td
        div.label Date of Build
        div.detail -
    tr
      td
        div.label Gross Tonnage
        div.detail -
      td
        div.label Flag
        div.detail -
      td
        div.label Asset Overall Status
        div.detail -
      td
        div.label MMS Indicator
        div.detail -
    tr
      td(colspan=4)
        div.label Classed/Dual Classed Indicator
        div.detail -

  //- CONDITION OF CLASS
  h3 CONDITION OF CLASS
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 CoC #1
    tr
      td
        div.label Category
        div.detail -
      td
        div.label Imposed Date
        div.detail -
      td
        div.label Due Date
        div.detail -
    tr
      td
        div.label Items
        div.detail -
      td
        div.label Status
        div.detail -
      td
        div.label Job Number
        div.detail -
    tr
      td(colspan=3)
        div.label Description
        div.detail -

  //- ASSOCIATED REPAIRS
  h3 ASSOCIATED REPAIRS
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Title
      th Type
      th Date Added
    tr
      td.auto-width
        div.detail Repair #1
      td
        div.detail -
      td
        div.detail -

  //- ASSOCIATED CLASS DEFECTS
  h3 ASSOCIATED CLASS DEFECTS
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Title
      th Type
      th Date Occurred
      th Status
    tr
      td.auto-width
        div.detail Defect #1
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -
