include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979

  //- CONDITION OF CLASS
  h3 CONDITION OF CLASS
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Title
      th Category
      th Imposed Date
      th Due Date
      th Status
    tr
      td.auto-width
        div.detail CoC #1
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -
