include /shared

.pdf-template.greyscale
  div.logo-header
    table(
      cellpadding=1,
      cellspacing=0,
      width='100%'
    )
      tr
        td
          div Lloyd's
          div Register
        td(align='right')
          div Working together
          div For a safer world

  table.title-table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th
        h1.m0 Class Direct - Final Survey Report
        h3.m0 &nbsp;
    tr.small-header
      th A Lloyd’s Register [Entity]  survey report

  //- Service Details
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Service details
    tr.small-header
      th(width='10%') Ship Name
      td
        div.detail -
      th(width='10%') Location
      td
        div.detail -
    tr.small-header
      th LR Number
      td
        div.detail -
      th First Visit Date
      td
        div.detail -
    tr.small-header
      th Port of Registry
      td
        div.detail -
      th Last Visit Date
      td
        div.detail -

  //- Class Recommendation
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Class Recommendation
    tr
      td
        div.detail The ship/installation has been surveyed in accordance with the relevant Rules and Statutory Regulations and the items examined as indicated hereon were found good unless otherwise indicated on any attached sheets.  It is recommended that the class be maintained with new records of survey as shown subject to any conditions imposed now or previously being dealt with as recommended.

  //- Surveys credited in this report
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=5)
        h4 Surveys credited in this report
    tr.small-header
      th Survey Code
      th Survey Title
      th Status
      th Credited Date
      th Postponed Date
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -

  //- Action taken with Certificates
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Action taken with Certificates
    tr.small-header
      th ID
      th Certificate Title
      th Action Taken
      th Expiry Date
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -
      td
        div.detail -

  //- Action taken with Condition of Class
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Action taken with Condition of Class
    tr.small-header
      th ID
      th Title
      th Action Taken
      th Due Date
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -
      td
        div.detail -

  //- Action taken with Statutory Findings
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Action taken with Statutory Findings
    tr.small-header
      th ID
      th Title
      th Action Taken
      th Due Date
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -
      td
        div.detail -

  //- Action taken with Actionable Items
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Action taken with Actionable Items
    tr.small-header
      th ID
      th Title
      th Action Taken
      th Due Date
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -
      td
        div.detail -

  //- Action taken with Asset Notes
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=3)
        h4 Action taken with Asset Notes
    tr.small-header
      th ID
      th Description
      th Action Taken
    tr
      td
        div.detail -
      td.auto-width
        div.detail -
      td
        div.detail -

  //- Narrative
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Narrative
    tr.small-header
      th(width='10%') Survey Code
      td
        div.detail -
      th(width='10%') Description
      td
        div.detail -
    tr.small-header
      th Narrative
      td(colspan=3)
        div.detail -
    tr.small-header
      th Task Title
      td(colspan=3)
        div.detail -
    tr.small-header
      th Narrative
      td(colspan=3)
        div.detail -

  //- Narrative - CoC
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th(width='10%') Condition of Class
      td
        div.detail -
      th(width='10%') Action Taken
      td
        div.detail -
    tr.small-header
      th Narrative
      td(colspan=3)
        div.detail -

  //- Narrative - Statutory Finding
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th(width='10%') Statutory Finding
      td
        div.detail -
      th(width='10%') Action Taken
      td
        div.detail -
    tr.small-header
      th Narrative
      td(colspan=3)
        div.detail -

  //- Narrative - Actionable Item
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th(width='10%') Actionable Item
      td
        div.detail -
      th(width='10%') Action Taken
      td
        div.detail -
    tr.small-header
      th Narrative
      td(colspan=3)
        div.detail -

  //- Narrative - Asset Note
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th(width='10%') Asset Note
      td
        div.detail -
      th(width='10%') Action Taken
      td
        div.detail -
    tr.small-header
      th Narrative
      td(colspan=3)
        div.detail -

  //- Appendices (issued/attached/supplied/included)
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=2)
        h4 Appendices (issued/attached/supplied/included)
    tr.small-header
      th Number
      th Title
    tr
      td
        div.detail -
      td.auto-width
        div.detail -

  //- Attending Surveyors
  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=4)
        h4 Attending Surveyors
    tr.small-header
      th Attending Surveyor Name
      th Lead Surveyor
    tr
      td
        div.detail Surveyor #1
      td
        div.detail
          //- Unchecked
          img.checkbox(
            width='30',
            src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB6SURBVGhD7Y+xDQAgDIB8uvfrih+ggYQd1szsH2zE5jXyGmxvxADbGzHA9kYMsL0RA2xvxADbGzHA9kYMsL0RA2xvxADbGzHA9kYMsL0RA2xvxADbGzHA9kYMsL0RA2xvxADbGzHA9kYMsL0RA2xvxADb/xx52UZczj7wpVrmD/FtmQAAAABJRU5ErkJggg=='
          )
    tr
      td
        div.detail Surveyor #2
      td
        div.detail
          //- Checked
          img.checkbox(
            width='30',
            src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEFSURBVGhD7dQxDoQgEIXhvTSdN7C0tPMUdHoKb2DpGdi8gmTjjrIiDJPNK/4GKOZLgJdzLvxDhFiLEGsRYi1CrEWItQixFiGl6/s+eO/FvV8yAQFi27aw73uY51k8k6o55BMRy8E0hUgINE2TeP6qZpCSCNQEUhqB1CE1EEgVUguB1CA1ESgbMo5j6LpO3DtWG4GyIBgAg6zrmsRoINBtSETErjBaCHQbsizL12ASRhOBsq5WCqONQNmP/QwzDIM6AmVDkISRqo1AjyAohdFAoMcQdIbRQqAiEHTEaCJQMQiKGG0EKgpB+LWk9doVh7SKEGsRYi1CrEWItQixFiHWIsRWLrwBkNzS5lkmwkEAAAAASUVORK5CYII='
          )

  //- Signature
  p The above recommendation is made subject to any outstanding conditions of class being dealt with as previously recommended.
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th(width='10%') Issuing Surveyor Signature
      td
        div.detail -
      th(width='10%') Signed Date
      td
        div.detail -
    tr.small-header
      th Issuing Surveyor Name
      td(colspan=3)
        div.detail -
    tr.small-header
      th LR Legal Entity
      td(colspan=3)
        div.detail -

  table.spacer(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th(width='10%') Authorising Surveyor Signature
      td
        div.detail -
      th(width='10%') Signed Date
      td
        div.detail -
    tr.small-header
      th Authorising Surveyor Name
      td(colspan=3)
        div.detail -
