include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979

  //- MPMS TASKLIST
  h3 MPMS TASKLIST
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr
      td.auto-width
        div.label Task Name
        div.detail Test Of The Dynamic Positioning System Control System And Associated Machinery Under Working Conditions (In Accordance With An Approved Test Schedule)
      td
        div.label Task Number
        div.detail -
      td
        div.label Assigned Date
        div.detail -
      td
        div.label Due Date
        div.detail -
    tr
      td.auto-width
        div.label Notes
        div.detail Note note note note note note note note note
      td
        div.label Type of Task
        div.detail -
      td
        div.label Credit Status
        div.detail -
      td
        div.label Date Credited
        div.detail -

    //- this tr is a divider with no data
    tr.small-header
      th(colspan='4')

    tr
      td.auto-width
        div.label Task Name
        div.detail Test Of The Dynamic Positioning System Control System And Associated Machinery Under Working Conditions (In Accordance With An Approved Test Schedule)
      td
        div.label Task Number
        div.detail -
      td
        div.label Assigned Date
        div.detail -
      td
        div.label Due Date
        div.detail -
    tr
      td.auto-width
        div.label Notes
        div.detail Note note note note note note note note note
      td
        div.label Type of Task
        div.detail -
      td
        div.label Credit Status
        div.detail -
      td
        div.label Date Credited
        div.detail -

    //- this tr is a divider with no data
    tr.small-header
      th(colspan='4')

    tr
      td.auto-width
        div.label Task Name
        div.detail Test Of The Dynamic Positioning System Control System And Associated Machinery Under Working Conditions (In Accordance With An Approved Test Schedule)
      td
        div.label Task Number
        div.detail -
      td
        div.label Assigned Date
        div.detail -
      td
        div.label Due Date
        div.detail -
    tr
      td.auto-width
        div.label Notes
        div.detail Note note note note note note note note note
      td
        div.label Type of Task
        div.detail -
      td
        div.label Credit Status
        div.detail -
      td
        div.label Date Credited
        div.detail -
