include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979

  //- DEFECTS
  h3 STATUTORY DEFICIENCIES
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Statutory Deficiencies Title
      th Category
      th Date Occurred
    tr
      td.auto-width
        div.detail Defect #1
      td
        div.detail -
      td
        div.detail -
