include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979

  //- STATUTORY FINDINGS
  h3 STATUTORY FINDINGS
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Statutory Findings Title
      th Impose Date
      th Due Date
    tr
      td.auto-width
        div.detail Statutory Finding #1
      td
        div.detail -
      td
        div.detail -
