include /shared

.pdf-template
  //- ASSET INFORMATION
  h3 ASSET INFORMATION
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.main-header
      th(
        colspan=4
      )
        h1 Adonia
        div 7653979
    //- ASSET INFORMATION (BASIC) - body
    tr
      td
        div.label Asset Type
        div.detail -
      td
        div.label Class Status
        div.detail -
      td
        div.label Laid Up Date
        div.detail -
      td
        div.label Date of Build
        div.detail -
    tr
      td
        div.label Gross Tonnage
        div.detail -
      td
        div.label Flag
        div.detail -
      td
        div.label Asset Overall Status
        div.detail -
      td
        div.label MMS Indicator
        div.detail -
    tr
      td(colspan=4)
        div.label Classed/Dual Classed Indicator
        div.detail -

  //- PRODUCT - SERVICE
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.sub-header
      th(colspan=5)
        h4 Boiler (Service Name)
    tr
      td
        div.label Due Date
        div.detail -
      td
        div.label Range Date
        div.detail
          div 02 Nov 2017 -
          div 08 Nov 2017
      td
        div.label Postponement Date
        div.detail -
      td
        div.label Postponement Status
        div.detail -
      td
        div.label Due Status
        div.detail -

  //- TASKLIST
  h3 TASKLIST
  table(
    cellpadding=1,
    cellspacing=0,
    width='100%'
  )
    tr.small-header
      th Task
      th Due Date
      th Assigned Date
      th Credit Status
      th Postponement Date
      th Postponement Status
    tr
      td.auto-width
        div.detail
          div Task #1
          div 000001-ADFGOS-000002
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -
      td
        div.detail -
