gross-tonnage {

  .gross-tonnage-container {
    margin-bottom: $cd1x5;
  }

  .connector {
    line-height: $cd6;
  }

  .md-input-messages-animation {
    span {
      color: $error-color !important;
      width: 100%;
      display: block;
    }
  }
}
