include /shared

.gross-tonnage-container.display-block
  h3.group-title
    +translate('cd-sidebar-gross-ton')
  form(
    data-layout='row',
    data-layout-wrap,
    data-ng-submit='vm.setMinMaxValue(form)',
    name='form',
  )
    md-input-container.m0.input-min(
      data-flex=100,
      data-flex-gt-xs=45,
    )
      label.md-no-float.md-container-ignore(
        data-translate-once='cd-min',
        for='gross-tonnage-min',
      )
      input(
        aria-label='{{ "cd-gross-tonnage-min" | translate }}',
        data-ng-model='vm.min',
        data-ng-min='0',
        data-ng-max='vm.max',
        data-ng-change='vm.setMinMaxValue(form)',
        id='gross-tonnage-min',
        name='grossMin',
        placeholder='Min',
        type='number'
      )
      div(data-ng-messages='form.grossMin.$error')
        span(data-ng-message='min')
          +translate('cd-gross-tonnage-min-input-min-message')
        span(data-ng-message='max')
          +translate('cd-gross-tonnage-min-input-max-message')

    div(
      data-flex=5,
      data-hide-xs,
    )

    md-input-container.m0.input-max.md-container-ignore(
      data-flex=100,
      data-flex-gt-xs=50,
    )
      label.md-no-float.md-container-ignore(
        data-translate-once='cd-max',
        for='gross-tonnage-min',
      )
      input(
        aria-label='{{ "cd-gross-tonnage-max" | translate }}',
        data-ng-model='vm.max',
        data-ng-min='vm.min',
        data-ng-change='vm.setMinMaxValue(form)',
        id='gross-tonnage-max',
        name='grossMax',
        placeholder='Max',
        type='number'
      )
      div(data-ng-messages='form.grossMax.$error')
        span(data-ng-message='min')
          +translate('cd-gross-tonnage-max-input-min-message')
    //- had to include this hidden submit button.
    //- Otherwise the 'enter' on submit button won't work.
    input(
      aria-label='submit',
      data-hide,
      type='submit',
    )
