include /shared
include /forms
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

cd-card(
  data-theme='light',
  data-layout-fill,
)
  md-card.m0(data-layout-fill)
    md-card-title(data-flex='nogrow')
      md-card-title-text
        h2.h2-primary.m0(
          data-layout='row',
          data-layout-align='start center',
        )
          icon.big.dark-blue(
            data-flex='nogrow',
            data-name='profile',
          )
          +translate('cd-account-settings')

    md-card-content.mx0(
      data-layout='row',
      data-layout-align='start center',
    )
      .item-label(
        data-flex=40,
        data-layout-fill,
      ) {{ 'cd-account-expiry-date' | translate }}:
      .item-value(
        data-flex=50,
        data-layout-fill,
      ) {{ vm.user.userAccExpiryDate || '-' | #{'date : "' + dateFormatter + '"'} }}
      .item-action(
        data-flex=10,
        data-layout='row',
        data-layout-align='end center',
      )
        +button({
          buttonType: 'icon',
          class: 'm0 p0',
          hide: 'vm.user.isEORUserOnly',
          iconName: 'edit',
          label: 'cd-edit-expiry-date',
          onClick: 'vm.showUpdateAccountExpiryDateModal()',
          theme: 'dark',
        })
