admin-account-details {
  md-card {
    .item-value, h2 {
      font-weight: bold;
    }

    md-card-content {
      .item-action {
        .md-button {
          min-height: 0;
          line-height: 0;
        }
      }
    }
  }
}
