.date-range-container {
  .connector {
    line-height: $cd3;
  }

  form:not(.ng-invalid) {
    .date-picker {
      md-datepicker {
        .md-datepicker-input-container {
          input {
            border-color: $grey-color;
          }
        }
      }
    }
  }

  cd-card-gantt {
    border: 0;
    md-card md-card-content {
      padding-bottom: $cd2;
    }
  }

  @include mq-xxs {
    .date-picker md-datepicker .md-datepicker-input-container input {
      min-width: $cd10;
      padding-left: $cd0x8 !important;
      padding-right: $cd0x8 !important;
    }
  }

  @include mq-gt-xs {
    date-range[data-has-timeline='true'] & {
      padding: 0 $cd1x8;
      background-color: $white-color;

      .date-picker md-datepicker .md-datepicker-input-container input {
        width: 0 !important;
        min-width: 0;
        padding: 0 !important;
        border: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .timeline-graph {
    margin: 0 !important;
  }
}

.is-sticky .date-range-container {
  @include mq-lt-sm {
    &:before {
      // No white background in mobile please.
      background-color: $body-color !important;
    }
  }
}

.md-calendar-date.md-calendar-date-disabled {
  color: $light-grey-color;
}

.is-sticky .date-range-container {
  position: relative;
  top: $cd;
  z-index: 1;
  padding: $cd 0;
  &:after {
    margin: 0px -2000px;
    padding: 0px 2000px;
    position: absolute;
    top: -$cd;
    bottom: -$cd;
    border-bottom: $cd0x1 solid $grey-color;
    background: $body-color;
    content: ' ';
    z-index: -2;
  }
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ' ';
    z-index: -1;
    background: $white-color;
  }
}


// If modal is showing please hide the sticky.
.md-dialog-is-showing {
  .is-sticky {
    display: none !important;
  }
}
