include /forms
include /shared

- var dateFormat = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

mixin errorMessage(message, indicator, value, rangeIndicator)
  - var dateStringObj = '{ dateString: "{{ ' + value + ' | date: "' + dateFormat + '" }}" }';
  span(
    data-ng-if=rangeIndicator,
    data-ng-message=indicator,
    data-translate=message,
    data-translate-compile,
    data-translate-values=dateStringObj,
  )

.date-range-container
  h3.group-title(
    data-ng-hide='vm.hideTitle',
    data-ng-if='vm.title',
    data-translate='{{ vm.title }}',
  )
  form.display-block(
    data-layout='column',
    name='form',
  )
    div(
      data-flex,
      data-layout='{{ vm.rangeLayout }}',
      data-layout-wrap,
      data-ng-class='{ "layout-align-start-center": vm.hasTimeline && vm._$mdMedia("gt-xs") }',
    )
      .date-picker(
        data-flex-xs='{{ vm.hasTimeline ? 50 : 100 }}',
        data-flex-gt-xs='{{ vm.hasTimeline ? "none" : 50 }}',
      )
        .label(
          data-ng-if='vm.hasDatepickerLabel',
          data-translate-once='cd-from',
        )
        .date-picker.start-date(
          data-ng-mouseenter='vm.showStartDateTooltip = true',
          data-ng-mouseleave='vm.showStartDateTooltip = false',
        )
          cd-tooltip(
            data-ng-class='{show: vm.showStartDateTooltip, leave: !vm.showStartDateTooltip}',
            data-ng-if='vm.hasTimeline && vm._$mdMedia("gt-xs")',
            data-position='{{ vm.getTooltipPosition }}',
          ) {{ 'cd-select-start-date' | translate }}

          md-datepicker.date-from(
            data-force-model-update='vm.forceUpdateInvalidModel',
            data-md-is-open='dateMin.isOpen',
            data-md-min-date='vm.minLimit',
            data-md-max-date='vm.maxDateValid',
            data-md-placeholder='{{ "cd-eg-date" | translate }}',
            data-name='dateMin',
            data-ng-change='vm.setMinMaxDate(form)',
            data-ng-keypress='vm.setMinMaxDate(form)',
            data-ng-model='vm.min',
            data-ng-focus='vm.resetModel("max")',
          )
          div(data-ng-messages='form.dateMin.$error' multiple)
            +errorMessage(
              'cd-error-invalid-date',
              'valid'
            )
            +errorMessage(
              'cd-date-range-input-min-message',
              'mindate',
              'vm.minLimit'
            )
            +errorMessage(
              'cd-date-range-min-range-message',
              'maxdate',
              'vm.maxDateValid',
              'vm.rangeValidator'
            )
            +errorMessage(
              'cd-date-range-input-max-message',
              'maxdate',
              'vm.maxDateValid',
              '!vm.rangeValidator'
            )
          icon.dark-blue(
            data-name='calendar',
            data-ng-click='dateMin.isOpen = true',
          )

      div(
        data-flex-gt-xs,
        data-hide-xs,
        data-ng-transclude,
      )

      .date-picker(
        data-flex-xs='{{ vm.hasTimeline ? 50 : 100 }}',
        data-flex-gt-xs='{{ vm.hasTimeline ? "none" : 50 }}',
      )
        .label(
          data-ng-if='vm.hasDatepickerLabel',
          data-translate-once='cd-to',
        )
        .date-picker.end-date(
          data-ng-mouseenter='vm.showEndDateTooltip = true',
          data-ng-mouseleave='vm.showEndDateTooltip = false',
        )
          cd-tooltip(
            data-ng-class='{show: vm.showEndDateTooltip, leave: !vm.showEndDateTooltip}',
            data-ng-if='vm.hasTimeline && vm._$mdMedia("gt-xs")',
            data-position='{{ vm.getTooltipPosition }}',
          ) {{ 'cd-select-end-date' | translate }}

          md-datepicker.date-to(
            data-force-model-update='vm.forceUpdateInvalidModel',
            data-md-is-open='dateMax.isOpen',
            data-md-min-date='vm.minDateValid',
            data-md-max-date='vm.maxLimit',
            data-md-placeholder='{{ "cd-eg-date" | translate }}',
            data-name='dateMax',
            data-ng-change='vm.setMinMaxDate(form)',
            data-ng-keypress='vm.setMinMaxDate(form)',
            data-ng-model='vm.max',
            data-ng-focus='vm.resetModel("min")',
          )
          div(
            data-ng-messages='form.dateMax.$error',
            multiple,
          )
            +errorMessage(
              'cd-error-invalid-date',
              'valid'
            )
            +errorMessage(
              'cd-date-range-min-range-message',
              'mindate',
              'vm.minDateValid',
              'vm.rangeValidator'
            )
            +errorMessage(
              'cd-date-range-input-min-message',
              'mindate',
              'vm.minDateValid',
              '!vm.rangeValidator'
            )
            +errorMessage(
              'cd-date-range-input-max-message',
              'maxdate',
              'vm.maxLimit'
            )
          icon.dark-blue(
            data-name='calendar',
            data-ng-click='dateMax.isOpen = true',
          )
