user-card {
  button.action-btn {
    margin-top: $cd2 !important;
  }

  md-card-content.content {
    margin-left: $cd3x5;
  }

  md-card-title-text icon {
    margin-right: $cd-half;
  }

  md-chips.pill {
    margin: 0;
    .md-chips {
      box-shadow: none;
    }
    md-chip {
      border: solid $cd0x1 $primary-color;
      color: $primary-color;
    }
  }
}
