include /forms
include /shared

- var AppSettings = require('app/config/project-variables.js');

.cd-card(
  data-theme='light',
  data-layout='row',
)
  md-card(
    data-flex='auto',
    data-flex-gt-xs=40,
    data-flex-gt-md=30,
  )
    md-card-title(
      data-flex='nogrow',
    )
      md-card-title-text
        .h2-primary(
          data-layout='row',
          data-layout-align='start center',
        )
          icon.big.dark-blue(
            data-flex='nogrow',
            data-name='profile',
          )
          .h2-primary {{ vm.user.fullName }}

    md-card-content.content(
      data-layout='column',
      data-layout-align='start start',
      data-layout-margin,
    )
      div(
        data-layout='column',
      )
        strong {{ vm.user.email }}
        strong {{ vm.user.company.name }}
        strong {{ vm.user.companyPosition }}

      md-chips.pill
        md-chip(
          data-ng-hide='!vm.user.cdUser',
        ) {{ vm.user.isEORUser ? "cd-class-direct-eor" : "cd-class-direct" | safeTranslate }}

      +button({
        class: 'action-btn m0',
        labelVariable: 'vm.isUserEditable ? "cd-edit-account" : "cd-create-new-account"',
        onClick: 'vm.buttonAction()',
        theme: 'primary',
      })
