include /forms

- var form = 'vm.surveyRequestForm';

md-divider.medium(
  data-ng-show='vm._$mdMedia("xs")',
)

form.page-details(
  data-name=form,
)
  .detail(
    data-layout='row',
  )
    port-finder(
      data-flex,
      data-form=form,
      data-asset="vm.asset",
      data-port-model='vm.surveyDetailModel.port',
    )
  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    div.detail(
      data-flex=100,
      data-flex-gt-sm=45,
    )
      +inputDate(
        form,
        'arrivalDate',
        'cd-estimated-date-of-arrival',
        'cd-eg-date',
        'vm.surveyDetailModel.estimatedDateOfArrival',
        'vm.now',
        'vm.maxArrivalDate',
        'cd-error-invalid-date-min-arrival',
        'cd-error-invalid-date-max-arrival',
        'vm.isMobileDevice()'
        )
    div.detail(
      data-flex=100,
      data-flex-gt-sm=50,
      data-flex-offset-gt-sm=5,
    )
      +inputTimePicker(
        form,
        'arrivalTime',
        'cd-estimated-time-of-arrival',
        'cd-eg-time',
        'vm.datePickerSelectedItems.estimatedTimeOfArrival',
        'vm.surveyDetailModel.estimatedTimeOfArrival',
        '',
        'vm.queryListTimes(vm.surveyDetailModel.estimatedTimeOfArrival)',
        '',
        'cd-error-require-match',
        'vm.isMobileDevice()'
      )
  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    div.detail(
      data-flex=100,
      data-flex-gt-sm=45,
    )
      +inputDate(
        form,
        'surveyStartDate',
        'cd-survey-start-date',
        'cd-eg-date',
        'vm.surveyDetailModel.surveyStartDate',
        'vm.minSurveyStartDate',
        'vm.maxSurveyStartDate',
        'cd-error-invalid-date-min-survey',
        'cd-error-invalid-date-max-survey',
        'vm.isMobileDevice()'
      )
  div(
    data-layout-xs='column',
    data-layout-sm='column',
    data-layout-gt-sm='row',
  )
    div.detail(
      data-flex=100,
      data-flex-gt-sm=45,
    )
      +inputDate(
        form,
        'departureDate',
        'cd-estimated-date-of-departure',
        'cd-eg-date',
        'vm.surveyDetailModel.estimatedDateOfDeparture',
        'vm.minDepartureDate',
        '',
        'cd-error-invalid-date-min-departure',
        '',
        'vm.isMobileDevice()'
      )
    div.detail(
      data-flex=100,
      data-flex-gt-sm=50,
      data-flex-offset-gt-sm=5,
    )
      +inputTimePicker(
        form,
        'departureTime',
        'cd-estimated-time-of-departure',
        'cd-eg-time',
        'vm.datePickerSelectedItems.estimatedTimeOfDeparture',
        'vm.surveyDetailModel.estimatedTimeOfDeparture',
        '',
        'vm.queryListTimes(vm.surveyDetailModel.estimatedTimeOfDeparture)',
        '',
        'cd-error-require-match',
        'vm.isMobileDevice()'
      )
  div.detail(data-layout='row')
    div(
      data-flex,
      data-flex-gt-sm=80,
    )
      +inputText(
        form,
        'agentName',
        'cd-port-agent-name',
        'cd-eg-name',
        'vm.surveyDetailModel.portAgent.name'
      )
  div.detail(data-layout='row')
    div(
      data-flex,
      data-flex-gt-sm=80,
    )
      +inputPhone(
        form,
        'agentPhoneNumber',
        'cd-port-agent-phone-number',
        'cd-eg-phone-number',
        'vm.surveyDetailModel.portAgent.phoneNumber'
      )
  div.detail(data-layout='row')
    div(
      data-flex,
      data-flex-gt-sm=80,
    )
      +inputEmail(
        form,
        'agentEmail',
        'cd-port-agent-email-address',
        'cd-eg-email',
        'vm.surveyDetailModel.portAgent.email'
      )
  div.detail(data-layout='row')
    div(
      data-flex,
      data-flex-gt-sm=80,
    )
      +inputText(
        form,
        'berthAnchorage',
        'cd-berth-anchorage',
        'cd-eg-anchor',
        'vm.surveyDetailModel.berthAnchorage'
      )

  div.detail(data-layout='row')
    div(data-flex)
      +inputTextArea(
        form,
        'shipContactDetails',
        'cd-ship-contact-details',
        'cd-eg',
        'vm.surveyDetailModel.shipContactDetails'
      )
