location-and-dates-form {
  @include mq-gt-xs {
    margin-top: $cd1x2;
    display: block;
  }

  label.has-error,
  div[data-ng-message] {
    color: $error-color !important;
    border-color: $error-color;
  }
}
