.clear-btn {
  height: 100%;
  width: $cd5;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  @include add-transition(all 0.3s ease);

  &.show {
    opacity: 0.5;
  }

  &.show-always {
    opacity: 1;
  }

  &.flush-left {
    right: 100%;
  }

  svg {
    width: $cd5 / 2;
  }

  path {
    fill: $dark-grey-color !important;
  }

  &:hover {
    path {
      fill: $primary-color;
    }
  }
}
