attachments {
  cd-card {
    .action {
      min-width: $cd4;
      max-width: $cd4 !important; // IE Fix
    }

    @include mq-gt-sm {
      .cd-card-context {
        padding: $cd1x5;
        background-color: $white-color;

        md-card md-card-content > * {
          background-color: $light-grey-color;
        }
      }
    }
    @include mq-lt-md {
      md-card-content > div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
      }
    }
  }
}

.download-tm-report-modal {
  .download-buttons {
    &:hover {
      opacity: 0.8;
    }

    a {
      text-decoration: underline;
    }
  }
}
