cd-card(
  data-collapsible='true',
  data-theme='grey',
  data-title='{{ "cd-downloads" | translate }}',
  data-title-size='big',
  data-ng-if='vm.attachments.length',
)
  cd-card-tabular(
    data-action='vm.action',
    data-item='item',
    data-ng-repeat='item in vm.attachments',
  )
    riders(
      data-item='item',
      data-template-location='vm.attachmentItemTpl',
    )

  div(
    data-ng-transclude,
  )

.notification(
  data-ng-if='!vm.attachments.length',
)
  h2
    span(data-translate-once='cd-downloads')
  small
    strong(
      data-translate-once='cd-there-are-no-files-attached',
    )
