include /forms
include /shared

- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

mixin detail(title, text, columnWidth, canShow)
  .detail(
    data-flex='auto',
    data-flex-gt-sm=columnWidth,
    data-ng-if=canShow,
  )
    .title: +translate(title)
    .content(
      class=title.replace('cd-', ''),
    )
      if block
        block
      if !block && text
        | {{ #{text} || '-' }}

md-dialog.cd-dialog.dark-background(
  aria-label='{{ vm.title }}',
  data-layout='column',
  data-ng-class='{"dark-background": vm.useBackgroundImage}',
  data-ng-cloak,
)
    md-toolbar(
      data-flex='none'
    )
      .md-toolbar-tools.content-main
        .modal-title.h1(data-translate='{{ vm.item.title }}')
        span(data-flex)
        icon.close-modal-button(
          data-name='close',
          data-ng-click='vm._$mdDialog.cancel()',
        )
    md-dialog-content(data-flex)
      .content-main
        //- TODO : match it with the correct fields
        .page-details
          .repair-details(
            data-layout-xs='column',
            data-layout-sm='column',
            data-layout-gt-sm='row',
          )
            div(
              data-flex='auto',
              data-flex-gt-sm=65,
            )
              div(
                data-layout-xs='column',
                data-layout-sm='column',
                data-layout-gt-sm='row',
              )
                +detail(
                  'cd-repair-type',
                  'vm.item.repairTypeDescription',
                  33
                )
                +detail(
                  'cd-repair-action',
                  'vm.item.repairAction',
                  33
                )
                +detail(
                  'cd-date-added',
                  'vm.item.createdOn || "-" | date:"' + dateFormatter + '"',
                  33
                )

              div(
                data-layout-xs='column',
                data-layout-sm='column',
                data-layout-gt-sm='row',
              )
                div(
                  data-ng-if='vm.item.items.length'
                )
                  +detail(
                    'cd-items',
                    'null',
                    '"auto"',
                    'true'
                  )
                    .box(data-ng-repeat='elem in vm.item.items') {{ elem.name }}
                div(
                  data-ng-if='!vm.item.items.length'
                )
                  +detail(
                    'cd-items',
                    '"-"',
                    '"auto"',
                    'true'
                  )

              div(
                data-layout='row',
              )
                +detail(
                  'cd-description',
                  'vm.item.description',
                  100
                )

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
      data-layout-align='start center',
    )
      .content-main(
        data-layout-align='end',
        data-layout-xs='column',
        data-layout-gt-xs='row',
      )
        div(
          data-flex='none',
          data-layout='row',
        )
          +button({
            class: 'mx0 modal-close-button',
            label: 'cd-close',
            ngClass: '{"flex-100": !vm._$mdMedia("gt-sm")}',
            onClick: 'vm._$mdDialog.cancel()',
            theme: 'light'
          })
          span(
            data-ng-class='{"p-r-60":vm.isNativeMobile}',
            data-ng-if='vm.isNativeMobile'
          )
