include /lists
include /shared

-
  var codesMap = {
    'vm.item.clientCode': 'cd-client-code',
    'vm.item.flagCode': 'cd-flag-code',
    'vm.item.shipBuilderCode': 'cd-ship-builder-code'
  }

mixin item-row(translateKey, vmReference, labelFlex, attrs, isRoles)
  .pb1.pr1(
    data-flex=100,
    data-layout='row',
  )&attributes(attrs)
    .pr1(
      data-flex-gt-sm='nogrow',
      data-flex-sm=labelFlex,
      data-flex-xs=labelFlex,
    )
      | {{ '#{translateKey}' | safeTranslate }}:
    .user-data.ellipsis(
      data-flex-gt-xs,
      data-flex-xs=labelFlex,
    )
      -if (isRoles)
        strong(
          class=translateKey.replace('cd-', ''),
          data-ng-repeat='role in ' + vmReference,
        ) {{ role | roleTranslate : 'short' }}{{ $last ? '' : ', ' }}
      -else
        strong(
          class=translateKey.replace('cd-', ''),
        ) {{ #{vmReference} || '-' }}
div(
  data-layout-align='left',
  data-layout-xs='column',
  data-layout-gt-sm='row',
  data-layout-gt-sm-align='left center',
)
  .user-item-data-row.m0(
    data-flex,
    data-flex-gt-sm=20,
    data-layout='row',
    data-layout-align-xs='start center',
    data-layout-align-sm='start center',
  )
    .h3.user-name.ellipsis.pr1(data-flex) {{ vm.item.fullName || '-' }}
    active-status(
      data-flex,
      data-flex-sm=50,
      data-hide-gt-sm,
      data-show-label='true',
      data-status-name='vm.item.statusName',
    )
  div(
    data-flex,
    data-flex-gt-sm=30,
    data-layout='column',
    data-hide,
    data-show-gt-sm,
  )
    +item-row('cd-email', 'vm.item.email', 20)
  div(
    data-flex,
    data-flex-gt-sm=30,
    data-layout='row',
    data-layout-wrap,
  )
    +item-row('cd-email', 'vm.item.email', '', { 'data-hide-gt-sm': '' })
    +item-row('cd-company', 'vm.item.company.name', '')
    +item-row('cd-role', 'vm.item.roles', '', '',true)
    each translateKey, vmReference in codesMap
     +item-row(translateKey, vmReference, 50, { 'data-ng-if': vmReference })
  div(
    data-flex,
    data-flex-gt-sm=20,
    data-hide,
    data-layout='column',
    data-show-gt-sm,
  )
    .pl1(data-layout='row')
      div(data-flex) {{ 'cd-account-status' | translate }}:
      div(data-flex)
        active-status(
          data-show-label='true',
          data-status-name='vm.item.statusName',
        )
