include /forms
include /shared
include ../_partials/_editable-actions-bar.pug
include ../_partials/_submit-actions-bar.pug

main(data-layout-fill)
  md-divider.spacer
  div(data-layout='row')
    page-header(
      data-disable-background-image='true',
      data-go-to='administration.userDetails({ id: "{{ vm._$stateParams.id }}" })',
      data-label='{{ vm.user.fullName }}',
    )
  md-divider.spacer
  .wizard-wrapper(
    data-sticky-top=50,
    data-sticky,
  )
    md-divider.spacer(
      data-hide,
      data-show-md,
      data-show-lg,
    )
    ul.steps-indicator.no-steps(data-flex='auto')
      li(
        data-flex=50,
        data-ng-class='{ current: vm.tabSelected === $index }',
        data-ng-click='vm.tabSelected = $index',
        data-ng-repeat='tab in ["cd-accessible-assets", "cd-restricted-assets"]',
      )
        h3.sr-only(
          data-translate='{{ tab }}',
        )
        a(data-translate='{{ tab }}')
    div(data-ng-show='vm.tabSelected===0')
      +editable-actions-bar({
        assets: 'vm.accessibleAssets',
        includeAll: 'vm.includeAllAccessible',
        includedCount: 'vm.includedAccessibleCount',
        isPristine: 'vm.accessibleIsPristine',
        notification: 'cd-accessible-assets-no-result-error',
        showEditButton: 'vm.showEditAccessible',
        onSelectAll: 'vm.toggleAllAccessible(true)',
        onDeselectAll: 'vm.toggleAllAccessible(false)',
      })
    div(data-ng-show='vm.tabSelected===1')
      +editable-actions-bar({
        assets: 'vm.restrictedAssets',
        includeAll: 'vm.includeAllRestricted',
        includedCount: 'vm.includedRestrictedCount',
        isPristine: 'vm.restrictedIsPristine',
        notification: 'cd-restricted-assets-no-result-error',
        showEditButton: 'vm.showEditRestricted',
        onSelectAll: 'vm.toggleAllRestricted(true)',
        onDeselectAll: 'vm.toggleAllRestricted(false)',
      })
  //- Accessible assets tab view
  div(data-ng-if='vm.tabSelected===0')
    assets(
      data-assets='vm.accessibleAssets',
      data-disable-animate,
      data-include-all='vm.includeAllAccessible',
      data-included-count='vm.includedAccessibleCount',
      data-is-editable='true',
      data-is-pristine='vm.accessibleIsPristine',
      data-mode='summary',
      data-selected-ids='vm.selectedAccessibleIds',
      data-show-edit-button='vm.showEditAccessible',
      data-show-spinner='true',
      data-show-top-control='false',
    )
    div(
      data-sticky,
      data-sticky-bottom=0,
    )
      +submit-actions-bar({
        disableSubmit: '!vm.includedAccessibleCount',
        onCancel: 'vm.closeEditable()',
        onSubmit: 'vm.showModal($event, true)',
        onSubmitLabel: 'cd-move-to-restricted-assets',
        show: 'vm.tabSelected===0',
        showEditable: '!vm.showEditAccessible',
      })

  //- Restricted assets tab view
  div(data-ng-if='vm.tabSelected===1')
    spinner(
      data-ng-show='!vm.restrictedAssetsLoaded',
    )
    assets(
      data-assets='vm.restrictedAssets',
      data-disable-animate,
      data-include-all='vm.includeAllRestricted',
      data-included-count='vm.includedRestrictedCount',
      data-is-editable='true',
      data-is-pristine='vm.restrictedIsPristine',
      data-mode='summary',
      data-selected-ids='vm.selectedRestrictedIds',
      data-show-edit-button='vm.showEditRestricted',
      data-show-spinner='true',
      data-show-top-control='false',
    )
    div(
      data-sticky,
      data-sticky-bottom=0,
    )
      +submit-actions-bar({
        disableSubmit: '!vm.includedRestrictedCount',
        onCancel: 'vm.closeEditable()',
        onSubmit: 'vm.showModal($event, false)',
        onSubmitLabel: 'cd-move-to-accessible-assets',
        show: 'vm.tabSelected===1',
        showEditable: '!vm.showEditRestricted',
      })