accessible-and-restricted-assets {
  .editable-bar {
    padding-top: $cd2;

    .md-button {
      height: $cd * 4.8;
    }
  }

  md-tab-content .content-main {
    overflow-x: hidden;
  }

  .wizard-wrapper {
    display: block !important;
  }

  assets {
    .assets-container {
      padding-top: 0;
    }
  }
}
