/*
  Loading spinner
  ===========
*/

@keyframes spin {
  0%, 100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes spin2 {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}

spinner {
  display: block;
  .spinner {
    height: $cd5;
    margin: $cd auto;
    text-align: center;
    display: block;

    .icon {
      width: $cd5;
      height: $cd5;
      position: relative;
      display: inline-block;

      span {
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: $primary-color;
        border-radius: 50%;
        opacity: .6;
        animation: spin 2s infinite ease-in-out;
        position: absolute;
        top: 0;
        left: 0;

        &:last-of-type {
          animation: spin2 2s infinite ease-in-out;
        }
      }
    }

    .message {
      margin-top: $cd2;
      font-size: $cd1x4;
      color: $dark-blue-color;
    }

    &.light .message {
      color: $white-color;
    }
  }

  &.white .icon span {
    background-color: $half-white-color;
  }

  &.small {
    .spinner,
    .icon {
      width: $cd3;
      height: $cd3;
    }
  }
}

/*
  Loading spinner in button
  ===========
*/

button {
  .spinner {
    height: $cd3;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .icon {
      width: $cd3;
      height: $cd3;
    }
  }
}
