h4.h4-primary.mt0(
  data-translate-once='cd-basic-asset-information',
)
div(
  data-layout='column',
  data-layout-gt-xs='row',
)
  div(
    data-flex,
    data-flex-gt-sx=33,
  )
    ul
      li: span: +translate('cd-imo-number')
      li: span: +translate('cd-asset-name')
  div(
    data-flex,
    data-flex-gt-sx=33,
  )
    ul
      li: span: +translate('cd-type')
      li: span: +translate('cd-class-status')
  div(
    data-flex,
    data-flex-gt-sx=33,
  )
    ul
      li: span: +translate('cd-gross-tonnage')
      li: span: +translate('cd-flag')


h4.h4-primary(
  data-translate-once='cd-basic-survey-information',
)
div(
  data-layout='column',
  data-layout-gt-xs='row',
)
  div(
    data-flex,
    data-flex-gt-sx=33,
  )
    ul
      li: span: +translate('cd-product')
      li: span: +translate('cd-service')
  div(
    data-flex,
    data-flex-gt-sx=33,
  )
    ul
      li: span: +translate('cd-due-date')
      li: span: +translate('cd-range-date')
  div(
    data-flex,
    data-flex-gt-sx=33,
  )
    ul
      li: span: +translate('cd-postponement-date')
      li: span: +translate('cd-postponement-status')
      li: span: +translate('cd-due-status')
