include /forms
include /shared

.tab.services-codicils(
  data-flex=100,
  data-layout='column',
)
  //- Services
  h2(
    data-translate-once='cd-surveys',
  )
  md-radio-group(
    data-layout='column',
    data-theme='dark-blue',
    class='radio-groups',
    data-ng-model='vm.selection.service',
  )
    //- No service information
    md-radio-button(
      aria-label='{{ "cd-no-survey-information" | translate }}',
      data-flex='auto',
      data-ng-value='{{ vm.SERVICE.NONE }}',
    )
      h4.h4-primary.my0(
        data-translate-once='cd-no-survey-information',
      )
      p(
        data-translate-once='cd-no-survey-description',
      )
    //- Basic service information
    md-radio-button(
      aria-label='{{ "cd-basic-survey-information" | translate }}',
      data-flex='auto',
      data-ng-value='{{ vm.SERVICE.BASIC }}',
    )
      h4.h4-primary.my0(
        data-translate-once='cd-basic-survey-information',
      )
      p(
        data-translate-once='cd-basic-survey-description',
      )
    //- Full service information
    md-radio-button(
      aria-label='{{ "cd-full-survey-information" | translate }}',
      data-flex='auto',
      data-ng-value='{{ vm.SERVICE.FULL }}',
    )
      h4.h4-primary.my0(
        data-translate-once='cd-full-survey-information',
      )
      p(
        data-translate-once='cd-full-survey-description',
      )

  //- Codicils
  .codicils
    h2.mb0(
      data-translate-once='cd-notes-and-actions',
    )
    h4.mt0(
      data-translate-once='cd-export-notes-and-actions-description',
    )
    div(
      data-layout='column',
      data-layout-gt-xs='row',
    )
      .codicil-item(
        data-flex,
        data-flex-gt-xs=50,
        data-ng-repeat='codicil in ::[vm.CODICILS.COC, vm.CODICILS.AI]',
      )
        div(
          data-layout='row'
          data-layout-align='space-between-start',
        )
          h4.h4-primary.mb0(
            data-translate='{{ codicil.NAME | safeTranslate }}',
          )
          md-checkbox(
            aria-label='{{ codicil.NAME | safeTranslate }}',
            data-ng-model='codicil.SELECTED',
          )
    div(
      data-layout='column',
      data-layout-gt-xs='row',
    )
      .codicil-item(
        data-flex,
        data-flex-gt-xs=50,
        data-ng-repeat='codicil in ::[vm.CODICILS.AN, vm.CODICILS.SF]',
      )
        div(
          data-layout='row'
          data-layout-align='space-between-start',
        )
          h4.h4-primary.mb0(
            data-translate='{{ codicil.NAME | safeTranslate }}',
          )
          md-checkbox(
            aria-label='{{ codicil.NAME | safeTranslate }}',
            data-ng-model='codicil.SELECTED',
          )

md-divider.spacer
md-divider.spacer
