//- Basic asset information
.basic-information
  h4.h4-primary.mt0(
    data-translate-once='cd-basic-asset-information',
  )
  div(
    data-layout='column',
    data-layout-gt-xs='row',
  )
    div(
      data-flex,
      data-flex-gt-sx=33,
    )
      ul
        li: span: +translate('cd-imo-number')
        li: span: +translate('cd-asset-name')
    div(
      data-flex,
      data-flex-gt-sx=33,
    )
      ul
        li: span: +translate('cd-type')
        li: span: +translate('cd-class-status')
    div(
      data-flex,
      data-flex-gt-sx=33,
    )
      ul
        li: span: +translate('cd-gross-tonnage')
        li: span: +translate('cd-flag')

md-divider.spacer.large

div(
  data-layout='row',
  data-layout-align='start center',
)
  md-checkbox.small(
    aria-label='{{ "cd-all" | translate }}',
    data-ng-model='vm.selection.info',
    data-ng-true-value='{{ vm.INFO.FULL }}',
    data-ng-false-value='{{ vm.INFO.BASIC }}',
  )

  h4.h4-primary.my0(
    data-translate-once='cd-additional-asset-information',
  )

.additional-information
  div(
    data-layout='column',
    data-layout-gt-xs='row',
  )
    div(
      data-flex,
      data-flex-gt-sx=33,
    )
      ul
        li: span: +translate('cd-registry-information')
        li: span: +translate('cd-principal-dimensions')

    div(
      data-flex,
      data-flex-gt-sx=33,
    )
      ul
        li: span: +translate('cd-rule-set-class-notations')
        li: span: +translate('cd-equipment-information')

    div(
      data-flex,
      data-flex-gt-sx=33,
    )
      ul
        li: span: +translate('cd-ownership-and-management-details')



