include /forms

div(
  data-flex=100,
  data-layout='column',
  data-ng-show='vm.selectedTab === "assets"',
  data-ng-if='vm.showAssets',
)
  md-content(data-infinite-scroll)
    assets(
      data-assets='vm.assets',
      data-include-all='vm.includeAll',
      data-included-count='vm.includedCount',
      data-is-editable='true',
      data-mode='export',
      data-selected-ids='vm.selectedIds',
      data-show-spinner='true',
      data-theme='white',
    )
