include /forms
include /shared

.tab-information(
  data-flex=100,
  data-layout='column',
  data-ng-show='vm.selectedTab === "information"',
)
  md-content
    .file-type-selection(
      data-layout='column',
      data-layout-gt-xs='row',
      data-layout-padding,
      data-layout-align='start center',
    )
      .white(
        data-translate-once='cd-export-as',
      )

      md-radio-group(
        data-layout='row',
        data-ng-model='vm.selection.fileType',
      )
        md-radio-button(
          aria-label='{{ "cd-csv-file" | translate }}',
          data-ng-value='{{ vm.FILE_TYPE.CSV }}',
        )
          h4.h4-primary.mt0(
            data-translate-once='cd-csv-file',
          )

        md-radio-button(
          aria-label='{{ "cd-pdf-file" | translate }}',
          data-ng-value='{{ vm.FILE_TYPE.PDF }}',
        )
          h4.h4-primary.mt0(
            data-translate-once='cd-pdf-file',
          )

    .tab-information-content(
      data-layout-padding,
    )
      div(
        ng-show='vm.selection.fileType === vm.FILE_TYPE.CSV',
      )
        include _csv-export

      div(
        ng-show='vm.selection.fileType === vm.FILE_TYPE.PDF',
      )
        include _pdf-export-asset-info
        include _pdf-export-services-codicils

    md-divider.spacer
