certificates-and-records {
  .item-row {
    margin-bottom: $cd;
  }

  @include mq-gt-md {
    .title > * {
      margin-top: -$cd-half;
      line-height: $cd * 2.8;
    }
  }

  @include mq-lt-sm {
    .item-row {
      margin-top: 0;
    }
  }
}
