include /shared
include /forms

.content-main
  page-header(
    data-label='cd-certificates-and-records',
  )

.content-main
  rider-filter(
    data-action='vm.action',
    data-custom-sort='vm.customSort',
    data-show-top-spinner='true',
    data-filter-label='cd-sidebar-filter-certificates',
    data-filter-options='vm.filterOptions',
    data-items='vm.certificates',
    data-search-by-list='vm.searchByList',
    data-search-label='cd-filter-search-certificates',
    data-sort-by-list='vm.sortByList',
    data-sort-label='cd-filter-sort-certificates',
    data-template='{{ vm.itemTemplate }}',
)
