include /forms
include /shared

md-toolbar.main-toolbar.md-hue-2
  masquerade-bar
  .md-toolbar-tools.content-main.outer(
    data-ng-if='vm.initialized',
  )
    +button({
      buttonType: 'icon',
      class: 'mx0 lr-logo',
      href:'{{ vm._AppSettings.LR_LANDING_PAGE_URL }}',
      iconName: 'lr',
      label: 'cd-lloyds-register',
    })

    cd-logo

    asset-client-name(
      data-name='vm.clientName',
      data-current-user='vm.currentUser',
    )

    span(flex)

    +button({
      buttonType: 'icon',
      class: 'mx0',
      goTo: 'nationalAdministration',
      hide: '!vm.canShowNationalAdministrationButton',
      iconName: 'countryFiles',
      label: 'cd-country-files',
    })

    +button({
      buttonType: 'icon-text',
      class: 'my-account mx0',
      goTo: 'user',
      hide: '!vm.canShowProfileButton',
      hideLabel: 'vm._$mdMedia("xs")',
      iconName: 'profile',
      iconPosition: 'left',
      labelVariable: 'vm.currentUser.fullName',
      bindNotifier: '{ valUpdate: vm.currentUser.fullName }',
    })

    +button({
      buttonType: 'icon-text',
      class: 'my-account mx0',
      hide: '!vm.canShowLoginButton',
      hideIcon: 'vm._$mdMedia("xs")',
      iconName: 'profile',
      iconPosition: 'left',
      label: 'cd-log-in',
      onClick: 'vm.goToCDLogin()',
    })

    header-menu(
      data-update-client-name='vm.updateClientName',
      data-ng-if='!vm.currentUser.isEORUserOnly',
    )
