system-header {
  display: block;
  md-toolbar.main-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    min-height: $cd5; // Override AM
    flex: initial;
    z-index: 65;
    background-color: $dark-blue-color !important;
    svg {
      width: $cd3;
      height: $cd3;

      color: $half-white-color;

      path, circle, ellipse {
        &:not([fill='none']) {
          fill: $white-color;
          stroke: $white-color;
        }
      }

      ellipse {
        stroke-width: $cd; // IE fix for blured circles of global menu icon
      }
    }

    .md-toolbar-tools {
      height: $cd5;
      max-height: $cd5; // Override AM
      padding: 0;

      > .md-button {
        min-width: auto;
        height: 100%;
        padding: $cd;
        border: 0;
        background-color: transparent;
        line-height: $cd3;

        &:hover {
          background-color: transparent;
        }
        &:first-child {
          margin: 0;
          padding: 0;
        }

        &.md-focused:not([disabled]) {
          background-color: transparentize($body-color, 0.8);
        }
      }

      .lr-logo svg {
        width: $cd5;
        height: $cd5;
        path, circle, ellipse {
          &:not([fill='none']) {
            fill: $white-color;
          }
        }
      }
    }

    .card-style {
      position:relative;
      background-color: rgba(0, 0, 0, 0.25);

      &:hover {
        background-color: rgba(0, 0, 0, 0.35) !important; // to override button hover effect
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        border-top: $cd solid $dark-blue-color;
        border-left: $cd solid transparent;
      }

      &.md-button:before {
        background-color: transparent !important;
      }

      @include mq-lt-sm {
        background-color: rgba(255, 255, 255, 0.05);

        &:hover {
          background-color: rgba(255, 255, 255, 0.05) !important; // to override button hover effect
        }
      }
    }

    .my-account > div > div + div {
      margin-right: $cd;
    }
  }
}
