.accordion {
  md-list {
    padding: 0;

    md-card {
      margin-right: 0;

      // Have to do this in order not to overwrite AM's default flex-offset margin
      @include mq-lt-md {
        margin-left: 0;
      }
    }

    > md-card:first-child {
      box-shadow: none;
      cursor: pointer;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: $cd0x2;
      background-color: transparent;
      @include no-select();

      > div {
        color: $dark-blue-color;
        font-weight: bold;
        background-color: white;
        padding: $cd0x7;

        &:last-child {
          display: flex;
          align-items: center;
        }
      }

      & + md-card {
        margin-top: $cd-half;
        margin-bottom: 0;
        background-color: transparent;
        box-shadow: none;
        md-list-item {
          background-color: transparent;
          margin-bottom: $cd-half;
          padding: 0;
          &:before {
            min-height: 0;
          }
          > * {
            padding: $cd-half;
            background-color: $light-grey-color;

            &:first-child {
              padding-left: $cd;
            }

            &.md-secondary-container,
            &._md-secondary-container {
              display: none;
              margin-right: 20px;
            }

            .dateTo {
              line-height: $cd1x4; // Dirty fix to get even flex
            }
          }
          .md-body-2 {
            font-weight: bold;
          }
          @include mq-gt-sm {
            &:nth-child(even) > * {
              background-color: $white-color;
            }
          }
        }
      }

      > div:first-child {
        margin-right: $cd0x2;
      }
      & + md-card {
        padding-left: $cd0x2;

        md-list-item {
          > .checkbox {
            padding: $cd-half;
            margin-left: $cd0x2;
          }
        }
      }
    }
  }
}

.side .accordion {
  @include mq-gt-sm {
    .icon-toggle {
      flex: 1 1 10%;
      max-width: 10%;
    }

    md-list > md-card:first-child + md-card {
      margin-left: 10%;
    }
  }
  @include mq-sm {
    .icon-toggle {
      flex: 1 1 15%;
      max-width: 15%;
    }
  }
}
