.asset-hub {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  border-radius: 0;

  .item {
    @include add-transition(color 0.3s ease);
    font-size: $cd1x4;
    text-decoration: none;
    color: white;

    &:hover {
      color: $primary-color;
    }

    > div {
      padding-right: $cd2;
      position: relative;

      &.details {
        .name {
          font-weight: bold;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .date {
          font-size: $cd1x2;
        }
      }
    }

    .status icon {
      @include vertical-align(absolute);
      padding:0 !important;
    }

    .arrow icon {
      @include vertical-align(absolute);
      padding:0 !important;
    }
  }

  .main {
    > div {
      padding: $cd;
      position: relative;
    }

    .title {
      icon {
        padding: 0 !important;

        md-icon {
          width: $cd4;
          height: $cd4;

          svg {
            fill: white;
          }
        }
      }

      span {
        @include vertical-align(absolute);
        left: $cd6;
        font-size: $cd2;
      }

      a.view-all {
        right: $cd;
      }
    }

    a.view-all {
      @include vertical-align(absolute);
      font-size: $cd1x4;
      color: $light-blue-color;
    }
  }

  .side {
    background-color: rgba(255, 255, 255, 0.1);

    a.item {
      margin: 0 $cd;
      padding: $cd 0;

      &:not(:first-child) {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}
