.autocomplete-wrapper {
  position: relative;

  label {
    display: block;
    line-height: $cd1x8; // IE fix
    margin-bottom: $cd-half;
  }

  .clear-button {
    width: $cd * 4.8;
    height: $cd * 4.8;
    margin: 0;
    position: absolute;
    top: $cd * 2.4;
    right: 0;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    z-index: 101; // to get ahead of dropdown/virtual repeater

    md-icon {
      @include vertical-align();

      svg {
        width: $cd2x5;
        height: $cd2x5;
      }
    }
  }
}

// Prevent the clear-button from showing on top of a dialog.
.md-dialog-is-showing {
  .autocomplete-wrapper {
    .clear-button {
      z-index: auto !important;
    }
  }
}

md-autocomplete {
  height: auto;
  background: none;

  md-autocomplete-wrap {
    height: auto;
    @include box-shadow(none !important);
  }

  // timepicker
  &[data-md-floating-label] {
    label {
      padding: 0;
      position: relative;
      top: 0;
      display: block;
      font-size: $cd1x4;
      @include transform(none !important);
    }
  }

  // port finder
  &:not([data-md-floating-label]) {
    height: auto;

    md-autocomplete-wrap {
      height: $cd5;
      border: $cd0x1 solid $dark-grey-color;
      background-color: $white-color;

      md-progress-linear {
        top: $cd * 4.8;
      }

      button {
        display: none;
      }
    }

    &.has-error md-autocomplete-wrap {
      border-color: $error-color;
    }

    input[type='search'] {
      height: $cd * 4.8;
      line-height: $cd2;
      padding: $cd0x9 $cd1x5 !important;
      color: $dark-grey-color;
    }
  }
}

.md-autocomplete-suggestions {
  li {
    color: $dark-grey-color;
    @include add-transition(all .15s);

    &:hover {
      background-color: #e5e5e5;
      color: $dark-blue-color;
    }

    .highlight {
      color: $primary-color;
    }
  }
}
