$colors :
  ('dark-blue', $dark-blue-color),
  ('dark', $dark-grey-color),
  ('dark-black', $black-color),
  ('primary', $primary-color),
  ('warn', $warn-color),
  ('light', $white-color)
  ('light-blue', $primary-color);

.md-button {
  min-width: 0;
  min-height: $cd5;
  text-transform: none;

  &[theme].icon-position-right-abs {
    padding-right: $cd6;

    icon {
      position: absolute;
      right: $cd-half;
      top: $cd0x2;
    }
  }

  &[theme].icon-position-left-abs {
    padding-left: $cd6;

    icon {
      position: absolute;
      left: $cd-half;
      top: $cd0x2;
    }
  }

  &:not([disabled]):not([theme]):hover {
    background-color: transparent;
  }

  &.md-focused:not([disabled])::before {
    background-color: transparentize($body-color, 0.8) !important;
  }

  &[theme] {
    text-transform: none;
    padding: $cd-half $cd2;
    border: $cd0x1 solid transparent;
    @include box-shadow(none !important);

    &[disabled] {
      opacity: 0.6;
    }

    // button-type - icon
    // button-type - text
    &[button-type='icon'],
    &[button-type='text'] {
      padding: $cd-half;
      background-color: transparent !important; // !yes
      border: 0;

      @each $className, $color in $colors {
        &[theme='#{$className}'] {
          color: $color;
        }
      }

      &:not([disabled]) {
        &:hover,
        &:active {
          opacity: 0.8;
        }
      }

      .md-ripple-container {
        display: none;
      }
    }

    // button-type - general
    // button-type - icon-bg
    // button-type - icon-text
    &:not([button-type]),
    &[button-type='icon-bg'],
    &[button-type='icon-text'] {
      min-width: $cd12;
      color: $white-color;

      &::before {
        @include add-overlay-background-initialization();
      }

      &:hover,
      &:active {
        &:not([disabled])::before {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      @each $className, $color in $colors {
        &[theme='#{$className}'] {
          background-color: $color;
        }
      }

      &[theme='light'] {
        background-color: transparent !important;
        border-color: $white-color;
      }

      &[theme='light-blue'] {
        color: $primary-color;
        border-color: $primary-color;
      }

      &[theme='white-blue'] {
        color: $dark-blue-color;

        path {
          fill: $dark-blue-color;
        }
      }

      &[disabled] {
        color: $white-color;
      }
    }

    // button-type - icon-bg
    &[button-type='icon-bg'] {
      min-width: $cd8;
    }

    // button-type - icon-text
    &[button-type='icon-text'] {
      icon {
        margin: 0 0 0 $cd;
      }

      &[icon-position='left'] icon {
        margin: 0 $cd 0 0;
      }
    }
  }
}
