md-checkbox {
  height: $cd5;
  width: $cd5;
  margin: 0;

  &.small {
    transform: scale(0.6);
    transform-origin: center left;
  }

  &.medium {
    transform: scale(0.8);
  }

  .md-icon,
  .md-container {
    width: $cd5;
    height: $cd5;
  }

  .md-icon {
    border: $cd0x1 solid $light-grey-color;
    border-width: $cd0x1;
    background-color: $white-color;
  }

  &.md-checked {
    .md-icon {
      background-color: $primary-color !important;

      &:after {
        width: $cd;
        height: $cd2x5;
        margin: auto;
        left: 0;
        right: 0;
        top: $cd0x8;
        border-color: $light-grey-color;
        border-width: $cd0x1;
        border-top: 0 !important; // IE fix
        border-left: 0; // IE fix
        display: inline-block; // IE fix
      }
    }
  }

  .md-label {
    margin-left: $cd6;
    margin-top: $cd1x5;
    white-space: nowrap;
    @include no-select();
  }
}

// For accessibility
.dark-background {
  md-checkbox.md-checked.md-focused .md-container:before,
  md-checkbox.md-focused:not([disabled]):not(.md-checked) .md-container:before {
    background-color: transparentize($white-color, 0.5);
  }
}


.cd-actions {
  md-checkbox.md-checked .md-icon {
    background-color: $dark-blue-color !important;
  }
}
