md-calendar {
  .md-calendar-day-header {
    background-color: $light-grey-color;
    color: $dark-blue-color;
  }

  .md-calendar-month-label {
    color: $dark-blue-color;
    md-icon {
      color: $dark-blue-color;
    }
  }

  .md-calendar-date {
    color: $grey-color;
  }

  .md-calendar-date-selection-indicator{
    border-radius: 0;
    border: 0 none;
    font-size: $cd1x5;
    color: $dark-grey-color;
  }

  .md-calendar-date-selection-indicator{
    position: relative;
    &:after{
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      border-top: $cd solid $white-color;
      border-left: $cd solid transparent;
    }
  }

  .md-calendar-date.md-focus
  .md-calendar-selected-date {
    background: $dark-blue-color;
  }

  .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    background: $body-color;
    border: 0 none;
  }
}

.date-picker {
  position: relative;

  > icon {
    position: absolute;
    top: $cd-half;
    right: $cd-half;

    svg {
      width: $cd4;
      height: $cd4;

      path {
        fill: $dark-blue-color;
      }
    }
  }

  &.has-label {
    > icon {
      top: $cd3;
    }
  }

  label,
  .label {
    margin-bottom: $cd-half;
    font-size: $cd1x3 !important;
    line-height: $cd2;
    color: $dark-grey-color;
    display: block;

    md-dialog & {
      color: $white-color;
    }
  }

  md-datepicker {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;

    .md-datepicker-input-container {
      margin: 0;

      .md-datepicker-triangle-button {
        display: none;
      }
    }

    .md-datepicker-button {
      margin: 0;
      position: absolute;
      top: 0;
      right: $cd-half;
      z-index: 2;
      border-radius: 0 !important;
      padding: 0;
      opacity: 0;

      md-icon {
        height: $cd4;
        width: $cd4;
      }
    }

    .md-datepicker-input-container {
      width: 100%;
      margin: 0 !important;
      padding-right: $cd5;
      display: block;
      box-sizing: border-box;
      height: 100%;
      border: 0;
      background: none !important;

      input {
        width: 100%;
        max-width: 100%;
        min-height: $cd5;
        line-height: $cd2;
        padding: $cd0x9 $cd1x5 !important;
        font-size: $cd1x4;
        display: block;
        border: $cd0x1 solid $dark-grey-color;
        border-radius: 0;
        background: white;
        -webkit-appearance: none; // iPhone Safari fix
      }

      &.md-datepicker-invalid input {
        border-color: $error-color;

        md-dialog & {
          border-color: $warn-color;
        }
      }
    }
  }

  &.has-error.has-label {
    > label,
    > .label {
      color: $error-color !important;

      md-dialog & {
        color: $warn-color !important;
      }
    }

    md-datepicker .md-datepicker-input-container input {
      border-color: $error-color;

      md-dialog & {
        border-color: $warn-color;
      }
    }
  }
}

md-dialog {
  .date-picker > icon svg path {
    fill: $white-color !important;
  }
}

.md-datepicker-calendar-pane {
  border-color: $dark-blue-color;
  box-shadow: none;

  .md-datepicker-input-mask {
    display: none;
  }
}
