md-backdrop.md-opaque {
  background-color: rgba(25, 49, 70, 0.95);
  opacity: 1;

  // If you are wondering why `&.md-opaque` again at the line below,
  // it is because AM does it that way :/
  &.ng-enter.md-opaque.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }
}

// Fix from https://github.com/angular/material/issues/3079#issuecomment-134549735
// Modal dialog half blocked in iOS otherwise.
.md-dialog-container{
  position: fixed;
  top: 0 !important;
  height: 100%;

  md-dialog {
    max-height: 100%;
  }
}

.cd-dialog {
  // using cd-dialog and not md-dialog as ngMaterial seems
  // to use dialogs for a lot of things
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;

  &.dark-background {
    background: url('../../../../resources/images/bg.jpg') $modal-background-color top center;
    background-size: cover;

    md-icon svg path{
      fill: $white-color;
    }

    md-input-container {
      label {
        color: $white-color !important;
      }
    }
  }

  md-toolbar {
    min-height: 0;
    background-color: transparent;

    .md-toolbar-tools {
      height: auto;
      max-height: none;
      padding-top: $cd2;
      padding-bottom: $cd2;

      page-header {
        margin: 0;
      }
    }
  }

  md-content {
    padding-right: $cd;
  }

  form {
    margin: 0;
  }

  .md-dialog-content {
    padding: 0;
    overflow: hidden;
  }

  .cd-actions {
    padding-left: 0;
    padding-right: 0;

    .content-main {
      padding-bottom: 0;
    }

    .md-button {
      margin: 0;

      &:not(:first-child) {
        margin-left: $cd;
      }
    }
  }

  @include mq-lt-md {
    md-toolbar .md-toolbar-tools {
      padding-left: $cd1x5;
      padding-right: $cd1x5;
    }
  }
}

.cd-dialog-small {
  padding: $cd1x6;
  background-color: $navy-color;
  background-image: none;
  border: $cd0x1 solid $white-color;
  border-radius: 0;
  color: $white-color;

  md-input-container {
    label {
      color: $white-color !important;
    }
  }

  md-toolbar {
    padding: 0;
    background-color: transparent;

    .md-toolbar-tools {
      height: auto;
      max-height: none;

      .md-title {
        font-weight: 300;
      }
    }
  }

  md-dialog-content {
    padding: $cd2 0 $cd6;
  }

  md-dialog-actions {
    padding: 0;
    background-color: transparent;
    @include box-shadow(none);

    &::after {
      background-color: transparent;
    }

    .button-container,
    .md-button {
      margin: 0;

      &:not(:first-child) {
        margin-left: $cd;
      }
    }
  }

  @include mq-xs {
    max-width: 90%;
  }

  &.medium {
    @include mq-gt-sm {
      min-width: 35%;
    }
  }
}
