.md-select-value {
  padding: $cd0x7 !important;
}

.md-input-has-value.md-input-focused {
  .md-select-value {
    padding: $cd0x7 !important;
  }
}

md-select-menu.md-default-theme md-content md-option,
md-select-menu md-content md-option{
  color: $dark-grey-color;
  md-icon {
    vertical-align: sub;
  }
}

md-select {
  &:not([disabled]):focus {
    .md-select-value {
      border-bottom-width: $cd0x1;
    }
  }

  .md-select-value {
    padding: $cd0x7 $cd1x5;

    border: $cd0x1 solid $grey-color !important;

    span:first-child {
      padding-left: $cd1x6;

      color: $primary-color;
    }

    span:last-child {
      padding-right: $cd;
    }
  }
}

md-select[disabled] {
  .md-select-value {
    background-image: none;
  }
}

md-select-menu md-content md-option,
.md-open-menu-container.md-active md-menu-item .md-button {
  &:hover,
  &:focus {
    background-color: $light-grey-color !important;
  }
}
