@import 'src/app/common/styles/typography';

.filter-container {
  .filter {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    .filter-header {
      padding: $cd-half;
      outline: 0;
      background: $primary-color;
      transition: .3s;

      &:focus {
        background-color: darken($primary-color, 5%);
      }

      .filter-title {
        color: $white-color;

        align-items: center;

        icon {
          transform: rotate(0deg);
          @include add-transition(transform 0.3s ease-in-out);

          &:first-child {
            margin-right: $cd-half;
          }

          &.up {
            transform: rotate(-180deg);

            @include add-transition(transform 0.3s ease-in-out);
          }

          md-icon {
            svg {
              width: $cd4;
              height: $cd4;

              line,
              path {
                fill: $white-color;
                stroke: $white-color;
              }
            }
          }

          &.default md-icon svg {
            width: $cd3;
            height: $cd3;
          }
        }
      }

      visible-results {
        margin: $cd-half 0;

        color: $dark-grey-color;
      }
    }

    .filter-body {
      z-index: 7;

      background-color: $white-color;

      @include transform(translate(0, -100%));
      @include add-transition(transform 0.75s);

      &.open {
        @include transform(translate(0, 0));
      }

      .widget-container {
        position: relative;
        padding: $cd 0;
        color: $dark-grey-color;

        &.border-top {
          border-top: $cd0x1 solid rgba(0, 0, 0, 0.5);
        }

        .section-title {
          margin: $cd 0;

          color: $dark-blue-color;
        }

        &.footer {
          .md-button {
            min-width: auto;
          }
        }
      }

      md-radio-button {
        margin: 0 0 $cd;

        .md-label {
          margin-top: 0;
        }
      }

      .checkbox {
        margin-top: -$cd-half;
        display: flex;
        align-items: center;

        .label {
          margin-left: -$cd;
          flex: 1;
        }
      }
    }
  }
}

.filter-search-container {
  margin: $cd-half #{-$cd-half} 0;
  position: relative;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
    @include no-select();
    // Conditional styling to make the filter position on top of the other element
    position: relative;
    z-index: 1;
  }

  .column {
    padding: $cd-half;

    .label {
      margin-bottom: $cd;
      font-size: $cd1x4;
      line-height: $cd2;
      color: $dark-grey-color;

      @extend .ellipsis;
    }
  }

  @include mq-gt-md {
    margin: $cd-half #{-$cd} 0;
  }

  .filter-mobile-buttons {
    .md-button[theme][button-type='icon-bg'][theme='primary'] {
      height: $cd5;

      @include mq-xs {
        min-width: auto;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .search-column {
    md-select-value {
      border: 0 none !important;
    }
  }

  .search-column,
  .sorting-column {
    md-input-container {
      width: 100%;
      height: $cd5;
      margin: 0;
      padding: 0;

      md-select {
        .md-select-value > span {
          transform: none !important;
        }
      }

      &.category {
        md-select {
          height: $cd5;

          border: $cd0x1 solid $grey-color;
          background-color: $white-color;
        }
      }

      &.search {
        // Make the search category and search input overlap in the middle.
        left: -$cd0x1;

        input {
          padding-right: $cd5;
        }

        md-select {
          align-self: stretch;
        }
      }

      &.sortByType {
        md-select {
          height: $cd5;
        }
      }
    }
  }

  @include mq-lt-md {
    md-select {
      font-size: $cd1x4;

      .md-select-value {
        span:first-child {
          padding-left: $cd-half;
        }

        .md-select-icon {
          width: $cd;
          padding: 0;
        }
      }
    }

    .functional-buttons-column .md-button {
      padding-left: $cd;
      padding-right: $cd1x5;
    }
  }
}

.dark-background {
  color: $white-color;

  .filter {
    margin-top: 0;

    .filter-body {
      overflow-y: auto;
      transform: none;
      background-color: transparent;

      .checkbox {
        .label {
          color: $white-color;
        }
      }
    }
  }

  .widget-container {
    color: $white-color;
    // No borders in modal
    border: 0 !important;

    .group-title,
    .section-title {
      margin-bottom: $cd;
      color: $white-color;
    }

    md-radio-button {
      .md-label {
        color: $white-color;
      }
    }
  }

  filter {
    display: inline;

    transform: translateX(0); //IE hack

    color: $white-color;

    visible-results {
      margin: $cd 0;

      color: $white-color;
    }

    .filter {
      .filter-header {
        background-color: transparent;

        .filter-title {
          icon {
            display: none;
          }
        }
      }
    }
  }
}

.filter-search-mobile-container {
  margin: $cd1x5 #{-$cd0x2} 0;

  > [class*='flex'] {
    padding: 0 $cd0x2;
  }

  .md-button {
    width: 100%;
    min-width: 0 !important;
    padding: $cd;

    @include mq-lt-sm {
      padding: $cd 0;
    }
  }

  .label {
    margin: $cd-half 0;
    line-height: 100%;
  }
}
