$fonts: ('OpenSans-Light', 300),
('OpenSans-Regular', 400),
('OpenSans-Bold', bold);
@each $font-face,
$weight in $fonts {
  @font-face {
    font-family: 'OpenSans';
    font-weight: $weight;
    src: url('../../../../resources/fonts/#{$font-face}.woff') format('woff'),
    url('../../../../resources/fonts/#{$font-face}.ttf') format('truetype');
  }
}

@font-face {
  font-family: 'furtigerminiregular';
  src: url('../../../../resources/fonts/frutigerstrippedff-webfont.woff') format('woff'),
       url('../../../../resources/fonts/frutigerstrippedff-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
