html[data-useragent*='MSIE'] {
  @include mq-lt-sm {
    asset-card {
      display: block;
      flex-basis: auto !important;
    }
  }

  //- I fix the active status labels
  //-   ****Before****    |    ****After***   |
  //-          Open       |     Open -        |
  //-        O -          |   O Downgraded    |
  //-          Downgraded |-------------------|
  active-status.mncn-status .active-status-wrapper {
    div {
      display: block;
      flex-basis: auto !important;
    }
  }

  .flex-fix:not(:empty) {
    .layout-column {
      flex: 1 0 auto;
    }
  }

  // Accordion header text is not wrapping when the display is flex
  checklist cd-card-accordion md-card md-card-content div.header-item div:nth-child(2){
    display: block;
  }

  div.card-cell {
    vertical-align: top;
  }

  div.flex.link{
    flex: 1 0 auto;
  }

  // The child div did not take the min height of the parents with display:flex. Either explicitly specify the height or let the div inherit the parents min-height
  mpms-task md-card-content > div,
  tasklist cd-card-tabular md-card md-card-content > div,
  checklist cd-card-tabular md-card md-card-content > div,
  national-administration cd-card-tabular md-card md-card-content > div {
    min-height: inherit;
  }

  // The following chuncky codes are to fix flex issue on IE based on breakpoints.
  // The breakpoint conditions are needed because an element maybe be `layout-row` on certain resolution, `flex-basis: auto` will mess up row's `data-flex`.
  //
  // Can't simplify the codes because SASS interpolation for `@include` doesn't work.
  .layout-column:not([class*='-row']) {
    > [data-flex] {
      flex-basis: auto;
    }
  }

  @include mq-xs {
    .layout-xs-column, .layout-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-gt-xs {
    .layout-gt-xs-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-sm {
    .layout-sm-column, .layout-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-gt-sm {
    .layout-gt-sm-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-md {
    .layout-md-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-gt-md {
    .layout-gt-md-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-lg {
    .layout-lg-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
  @include mq-gt-lg {
    .layout-gt-lg-column {
      > [data-flex] {
        flex-basis: auto;
      }
    }
  }
}
