::-ms-clear {
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $grey-color !important;
  opacity: 1 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $grey-color !important;
  opacity: 1 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $grey-color !important;
  opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: $grey-color !important;
  opacity: 1 !important;
}

md-input-container {
  margin: 0;
  padding: 0;

  label {
    margin-bottom: $cd-half;
    padding: 0 !important;
    font-size: $cd1x3;
    line-height: $cd2;
    transform: none !important;
    color: $dark-grey-color !important;
    position: relative !important;
    display: block;

    &:after {
      color: $primary-color;
    }

    &.smaller {
      font-size: $cd1x3;
    }

    &.darker {
      color: $dark-grey-color !important;
    }
  }

  .md-errors-spacer {
    min-height: 0;
  }

  .md-input {
    height: $cd * 4.8;
    min-height: $cd5;
    line-height: $cd2;
    font-size: $cd1x4;
    border: $cd0x1 solid $dark-grey-color;
    padding: $cd0x9 $cd1x5 !important;
    background-color: #FFF;
    color: $dark-grey-color;
    -webkit-appearance: none; // iPhone Safari fix

    // LR machine's Chrome fix
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;

    &[disabled] {
      border-color: #d7d8da;
    }
  }

  .md-input.has-error {
    border-color: $error-color;
  }

  textarea.md-input {
    height: auto;
    line-height: 1.5;
    padding: $cd1x5;
  }

  md-select {
    .md-select-value {
      min-height: $cd3x4;
      background-color: $white-color;

      span {
        color: $dark-blue-color;
      }
    }
  }

  &.md-input-focused md-select {
    border-color: $primary-color !important;

    .md-select-value {
      border-color: $primary-color !important;
      background-color: $light-grey-color;

      span {
        color: $primary-color !important;
      }
    }
  }
}

md-input-container.md-input-focused,
md-input-container.md-input-focused.md-input-has-value {
  label,
  label:after {
    color: $primary-color;
  }

  input[type='search'],
  .md-input {
    border: $cd0x1 solid $primary-color;
  }

  textarea.md-input {
    padding-bottom: $cd1x5;
  }
}

md-input-container.md-input-invalid,
md-input-container.md-input-invalid.md-input-has-value,
md-input-container.md-input-invalid.md-input-focused.md-input-has-value {
  label,
  label:after,
  div[class^='md-input-messages'] > div {
    color: $error-color !important;
  }

  input[type='search'],
  .md-input.ng-invalid.ng-dirty {
    border: $cd0x1 solid $error-color !important;
  }
}

input[type='time'] {
  position: absolute;
  top: $cd2x5;
  height: $cd5;
  z-index: 1;
}

input[type='date'] {
  height: $cd * 4.8;
  min-height: $cd5;
  line-height: $cd2;
  font-size: $cd1x4;
  border: $cd0x1 solid $dark-grey-color;
  padding: $cd0x9 $cd1x5 !important;
  background-color: $white-color;
  color: $dark-grey-color;
  position: absolute;
  width: 100%;
  z-index: 3;

  &[disabled] {
    border-color: #d7d8da;
  }
}

button {
  &.style-reset {
    border: 0;
    padding: 0;
    outline: 0 none;
    background-color: transparent;
  }
}
