// The following CSS are to apply layout-fill based on breakpoints which are not supported by Angular Material at the moment.
//
// Can't simplify the codes because SASS interpolation for `@include` doesn't work. @extend in @include will not work as well.
// Please amend if you found ways to make it cleaner. :)
@include mq-xs {
  .layout-xs-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-gt-xs {
  .layout-gt-xs-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-sm {
  .layout-sm-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-gt-sm {
  .layout-gt-sm-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-lt-sm {
  .layout-lt-sm-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-md {
  .layout-md-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-gt-md {
  .layout-gt-md-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-lt-md {
  .layout-lt-md-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-lg {
  .layout-lg-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-gt-lg {
  .layout-gt-lg-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
@include mq-lt-lg {
  .layout-lt-lg-fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
}
