/*

  Source
  ============
  - These stylings are extracted from angular-material.scss (v1.1.4).

  Problem
  ============
  - Since v1.1.2, a fix is added to solve flex-offset issues (https://github.com/angular/material/pull/9572).
  - However, that fix breaks Safari flex layout (https://github.com/angular/material/issues/10516).

  Solution
  ============
  - Reverting the fix -> flex-properties-for-name(), to v1.1.1 implementation.
  - Checked on major browsers, reverting the codes fixes Safari problem and is not affected by flex-offset problem.

*/
$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;

@mixin layouts_for_breakpoint($name:null) {
  @include flex-properties-for-name($name);
}

@mixin flex-properties-for-name($name: null) {
  $flexName: 'flex';
  @if $name != null {
    $flexName: 'flex-#{$name}';
    $name : '-#{$name}';
  } @else {
    $name : '';
  }

  .#{$flexName}             { flex: 1;         box-sizing: border-box; }  // === flex: 1 1 0%;

  .#{$flexName}-grow        { flex: 1 1 100%;  box-sizing: border-box; }
  .#{$flexName}-initial     { flex: 0 1 auto;  box-sizing: border-box; }
  .#{$flexName}-auto        { flex: 1 1 auto;  box-sizing: border-box; }
  .#{$flexName}-none        { flex: 0 0 auto;  box-sizing: border-box; }
  .#{$flexName}-noshrink    { flex: 1 0 auto;  box-sizing: border-box; }
  .#{$flexName}-nogrow      { flex: 0 1 auto;  box-sizing: border-box; }

  // (1-20) * 5 = 0-100%
  @for $i from 0 through 20 {
    $value : #{$i * 5 + '%'};

    .#{$flexName}-#{$i * 5} {
      flex: 1 1 #{$value};
    }

    .layout-row > .#{$flexName}-#{$i * 5} {
      flex: 1 1 #{$value};
    }

    .layout-column > .#{$flexName}-#{$i * 5} {
      flex: 1 1 #{$value};
    }

    .layout#{$name}-row > .#{$flexName}-#{$i * 5} {
      flex: 1 1 #{$value};
    }

    .layout#{$name}-column > .#{$flexName}-#{$i * 5} {
      flex: 1 1 #{$value};
    }
  }

  .layout-row,
  .layout#{$name}-row {
    > .#{$flexName}-33 { flex: 1 1 33.33%; }
    > .#{$flexName}-66 { flex: 1 1 66.66%; }
  }

  .layout-column,
  .layout#{$name}-column {
    > .#{$flexName}-33 { flex: 1 1 33.33%; }
    > .#{$flexName}-66 { flex: 1 1 66.66%; }
  }
}

@include layouts_for_breakpoint();

@media (max-width: $layout-breakpoint-xs - 1) {
  @include layouts_for_breakpoint(xs);
}

@media (min-width: $layout-breakpoint-xs) {
  @include layouts_for_breakpoint(gt-xs);
}

@media (min-width: $layout-breakpoint-xs) and (max-width: $layout-breakpoint-sm - 1) {
  @include layouts_for_breakpoint(sm);
}

@media (min-width: $layout-breakpoint-sm) {
  @include layouts_for_breakpoint(gt-sm);
}

@media (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md - 1) {
  @include layouts_for_breakpoint(md);
}

@media (min-width: $layout-breakpoint-md) {
  @include layouts_for_breakpoint(gt-md);
}

@media (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-lg - 1) {
  @include layouts_for_breakpoint(lg);
}

@media (min-width: $layout-breakpoint-lg) {
  @include layouts_for_breakpoint(gt-lg);
  @include layouts_for_breakpoint(xl);
}
