@mixin add-transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
}
@mixin background-opacity($color, $opacity: 0.25) {
  background: $color;
  background: rgba($color, $opacity);
}
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin add-overlay-background-initialization() {
  @include add-transition(background-color 0.3s ease);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin transform($value) {
  -o-transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}

// Tooltip

@mixin tooltip($dir: left, $bgcolor: $tooltip-background-color, $color: $body-color, $size: $cd-half) {
  background: $bgcolor;
  color: $color;
  font-size: 80%;
  line-height: $cd2x5;
  padding: $cd0x6 $cd1x2;
  position: relative;
  white-space: nowrap;
  &:before {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    @if (($dir == top) or ($dir == bottom)) {
      border-color: $bgcolor transparent;
      left: 50%;
      margin-left: -$size;
    } @else {
      border-color: transparent $bgcolor;
      margin-top: -$size;
      top: 50%;
    }
    @if ($dir == top) {
      border-width: 0 $size $size $size;
      top: -$size;
    }
    @if ($dir == right) {
      border-width: $size 0 $size $size;
      right: -$size;
    }
    @if ($dir == bottom) {
      border-width: $size $size 0 $size;
      bottom: -$size;
    }
    @if ($dir == left) {
      border-width: $size $size $size 0;
      left: -$size;
    }
  }
}

@mixin mq-xxs {
  @media (max-width: #{$mq-xxs}px) {
  @content;
  }
}
@mixin mq-lt-xxs {
  @media (max-width: #{$mq-xxs - 1}px) {
    @content;
  }
}
@mixin mq-xs {
  @media (max-width: #{$mq-sm - 1}px) {
  @content;
  }
}
@mixin mq-gt-xs {
  @media (min-width: #{$mq-sm}px) {
  @content;
  }
}
@mixin mq-sm {
  @media (min-width: #{$mq-sm}px) and (max-width: #{$mq-md - 1}px) {
  @content;
  }
}
@mixin mq-gt-sm {
  @media (min-width: #{$mq-md}px) {
  @content;
  }
}
@mixin mq-lt-sm {
  @media (max-width: #{$mq-sm - 1}px) {
  @content;
  }
}
@mixin mq-md {
  @media (min-width: #{$mq-md}px) and (max-width: #{$mq-lg - 1}px) {
  @content;
  }
}
@mixin mq-gt-md {
  @media (min-width: #{$mq-md}px) {
  @content;
  }
}
@mixin mq-lt-md {
  @media (max-width: #{$mq-md - 1}px) {
  @content;
  }
}
@mixin mq-lg {
  @media (min-width: #{$mq-lg}px) and (max-width: #{$mq-xl - 1}px) {
  @content;
  }
}
@mixin mq-gt-lg {
  @media (min-width: #{$mq-lg}px) {
  @content;
  }
}
@mixin mq-lt-lg {
  @media (max-width: #{$mq-lg - 1}px) {
  @content;
  }
}
@mixin mq-xl {
  @media (min-width: #{$mq-xl}px) {
  @content;
  }
}

@mixin component-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  .content-main:not(.inner) {
    padding-left: 0;
    padding-right: 0;
  }
}
@mixin full-width-dark-background {
  &::after {
    z-index: 0;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    left: -100%;
    background-image: url('../../../../../../resources/images/cd-bg.jpg');
    background-size: cover;
  }
}
