@import 'src/app/common/styles/typography';

md-radio-group.radio-groups {
  text-align: center;
  color: $dark-blue-color;
  border: $cd0x1 solid $grey-color;

  md-radio-button {
    @include no-select();
    @extend .ellipsis;

    margin: 0 !important;
    padding: $cd1x5;
    background-color: $white-color;
    transition: 0.3s;

    &:not(:first-child) {
      border-left: $cd0x1 solid $grey-color;
    }

    &.md-checked {
      background: $dark-blue-color;
      color: $white-color;
    }

    &:not([disabled]):not(.md-checked):hover {
      @include background-opacity($dark-blue-color);
    }

    &[disabled] {
      background: $light-grey-color;
    }

    .md-container {
      top: $cd * 2.7;
      left: auto;
      right: $cd1x2;
      z-index: 2;

      .md-off {
        background-color: $white-color;
      }
    }

    &.md-checked .md-off {
      border-color: transparent;
    }

    .md-label {
      margin: 0;
      word-break: break-word;
    }
  }

  /*
    Vertical radio group
    ====================
  */
  &[data-layout='column'] {
    text-align: left;

    md-radio-button {
      &:not(:first-child) {
        border: 0;
        border-top: $cd0x1 solid $grey-color;
      }

      .md-label {
        width: 100%;
      }
    }

    // Theme - dark blue
    &[data-theme='dark-blue'] {
      color: $white-color;
      border: 0;

      md-radio-button {
        @include background-opacity($dark-blue-color, 0.4);

        &:not(:first-child) {
          border-color: $white-color;
        }

        &.md-checked {
          background: $dark-blue-color;
          color: $white-color;
        }

        &:not([disabled]):not(.md-checked):hover {
          background-color: $dark-blue-color;
        }

        &[disabled] {
          color: $white-color;
          opacity: 0.5;
        }
      }
    }
  }
}

// For accessibility
.dark-background {
  md-radio-group.md-focused:not(:empty) .md-checked.md-primary .md-container:before {
    background-color: transparentize($white-color, 0.5);
  }
}
