md-radio-button {
  min-height: $global-rem-size * 3;

  .md-container {
    width: $global-rem-size * 3;
    height: $global-rem-size * 3;
  }

  .md-off {
    width: $global-rem-size * 3;
    height: $global-rem-size * 3;
  }

  .md-on {
    width: $global-rem-size * 3;
    height: $global-rem-size * 3;
  }

  .md-label {
    margin-left: $global-rem-size * 4;
    margin-top: $global-rem-size * 0.4;
  }

  &.md-primary.md-checked {
    .md-off {
      border-color: $primary-color !important;
    }

    .md-on {
      background-color: $primary-color !important;
    }

    .md-label {
      color: $primary-color;
    }
  }
}

.dark-background {
  md-radio-button.md-primary {
    &.md-checked {
      .md-label {
        color: $white-color;
      }
    }

    .md-on {
      background-color: $primary-color;
    }

    .md-off {
      background-color: $white-color;
    }
  }
}

