md-switch {
  height: $cd3;
  margin: 0;
  border: $cd0x2 solid $dark-grey-color;
  @include border-radius($cd1x5);

  .md-ink-ripple {
    display: none;
  }

  > .md-container {
    width: $cd5;
    margin: 0 $cd0x4;

    .md-bar {
      display: none;
    }

    .md-thumb {
      background-color: $grey-color;
      @include box-shadow(none);

      // ripple effect acts weirdly and `md-no-ink` doesn't disable the ripple
      &::before {
        display: none;
      }
    }
  }

  &.md-checked {
    .md-thumb {
      background-color: $green-color;
    }
    .md-thumb-container {
      @include transform(translate3d($cd3, 0, 0));
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}
