$headings: (h1, $cd3),
  (h2, $cd2x5),
  (h3, $cd2),
  (h4, $cd1x5);
@each $key,
$size in $headings {
  #{$key},
  .#{$key},
  .#{$key}-primary,
  .#{$key}-regular {
    font-size: $size;
    line-height: calc(#{$size} + #{$cd});
    @extend .dark-blue;
    &.warn {
      @extend .warn;
    }
    &.white {
      @extend .white;
    }
    &.dark {
      @extend .dark;
    }
    &.primary {
      @extend .primary;
    }
    &.dark-blue {
      @extend .dark-blue;
    }

    &.dark-black{
      @extend .dark-black;
    }
  }
  .dark-background,
  md-dialog {
    #{$key},
    .#{$key},
    .#{$key}-primary,
    .#{$key}-regular,
    a {
      @extend .white;
    }
  }
  .dark-background md-card #{$key},
  .dark-background md-card .#{$key},
  .dark-background md-card .#{$key}-primary,
  .dark-background md-card .#{$key}-regular {
    @extend .dark-blue;
  }
  #{$key},
  .#{$key} {
    font-weight: 300;
  }
  .#{$key}-primary {
    font-weight: bold;
  }
  .#{$key}-regular {
    font-weight: 400;
  }
}

div[data-ng-messages] {
  span {
    display: block;
    width: 100%;
    font-size: $cd1x2;
    color: $error-color;
  }
}

small {
  font-size: $cd1x4;
}

.warn {
  color: $warn-color;
}

.white {
  color: $white-color;
}

.primary {
  color: $primary-color;
}

.dark {
  color: $dark-grey-color;
}

.dark-blue {
  color: $dark-blue-color;
}

.dark-black{
  color: $black-color;
}

.page-title {
  margin: $cd2 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification {
  color: $dark-grey-color;
  a,
  a:visited {
    color: $primary-color;
    font-weight: bold;
  }
}

ul {
  margin: 0;
  font-size: $cd1x4;
  li {
    margin-bottom: $cd1x5;
  }
}

.dark-background {
  ul li {
    color: $primary-color;
    span {
      color: $white-color;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
}

span.frutiger {
  font-family: 'furtigerminiregular';
}

.strong {
  font-weight: bold;
}
