$black-color: #414042;
$body-color: #ebebeb;
$dark-blue-color: #003c71;
$dark-blue-grey-color: #3B5873;
$dark-grey-color: #414143;
$error-color: #ce1204;
$green-color: #76bf17;
$grey-color: #888888;
$grey-color-notification: #d9d9d9;
$half-white-color: rgba(255, 255, 255, 0.5);
$light-blue-color: #3b8ede;
$light-blue-color-notification:#0057b8;
$light-grey-color: #ebebeb;
$light-text-color: #f5f5f5;
$modal-background-color: #1b324f;
$navy-color: #193146;
$olive-green-color: #70aa39;
$primary-color: #3b8ede;
$primary-hover-color: #64a0d7;
$reminder-color: yellow;
$revision-light-grey-color: #ecedef;
$revision-dark-grey-color: #dedee4;
$tabular-grey-color: $light-grey-color;
$toolbar-triangle-border-color: #23517e;
$tooltip-background-color: #182E45;
$triangle-border-color: #FAFAFA;
$warn-color: #ee7624;
$white-color: #FFF;


$global-rem-size: 0.625rem;
$mq-xs: 0;
$mq-xxs: 375;
$mq-sm: 600;
$mq-md: 960;
$mq-lg: 1280;
$mq-xl: 1920;
$screen-max-width: 1460px;
$screen-min-width: 320;
$cd: $global-rem-size;
$cd0x0: $cd * 0;
$cd0x1: $cd * .1;
$cd0x2: $cd * .2;
$cd0x3: $cd * .3;
$cd0x4: $cd * .4;
$cd-half: $cd * .5;
$cd0x6: $cd * .6;
$cd0x7: $cd * .7;
$cd0x8: $cd * .8;
$cd0x9: $cd * .9;
$cd1x1: $cd * 1.1;
$cd1x2: $cd * 1.2;
$cd1x3: $cd * 1.3;
$cd1x4: $cd * 1.4;
$cd1x5: $cd * 1.5;
$cd1x6: $cd * 1.6;
$cd1x7: $cd * 1.7;
$cd1x8: $cd * 1.8;
$cd1x9: $cd * 1.9;
$cd2: $cd * 2;
$cd2x5: $cd * 2.5;
$cd3: $cd * 3;
$cd3x2: $cd * 3.2;
$cd3x3: $cd * 3.3;
$cd3x4: $cd * 3.4;
$cd3x5: $cd * 3.5;
$cd3x6: $cd * 3.6;
$cd4: $cd * 4;
$cd4x5: $cd * 4.5;
$cd5: $cd * 5;
$cd5x5: $cd * 5.5;
$cd6: $cd * 6;
$cd7: $cd * 7;
$cd8: $cd * 8;
$cd9: $cd * 9;
$cd10: $cd * 10;
$cd11: $cd * 11;
$cd12: $cd * 12;
$cd13: $cd * 13;
$cd14: $cd * 14;
$cd15: $cd * 15;
$cd16: $cd * 16;
$cd17: $cd * 17;
$cd21: $cd * 21;
$cd25: $cd * 25;
$cd35: $cd * 35;

$due-color: $warn-color;
$due-soon-color: $warn-color;
$imminent-color: $warn-color;
$not-started-color: $warn-color;
$part-held-color: $warn-color;
$postponed-color: $warn-color;
$unknown-color: $warn-color;
$withdrawn-color: $warn-color;
$draft-color: $warn-color;

$complete-color: $green-color;
$final-color: $green-color;
$finished-color: $green-color;
$not-due-color: $green-color;

$overdue-color: $error-color;
$expired-color: $error-color;
