include /shared

.content
  span(
    data-translate='{{ "cd-result-summary" }}',
    data-translate-values="vm"
  )
  span(
    data-ng-if='vm.isFilteredResult',
  ) : {{ 'cd-view-filtered-results' | translate }}

