include /shared
include /forms

.cd-card
  md-card.m0
    md-card-title
      md-card-title-text
        h2.h2-primary.m0: +translate('cd-see-class-direct-as-this-user')

    md-card-content
      +button({
        buttonType: 'icon-text',
        class: 'm0',
        iconName: 'view',
        label: 'cd-emulate-class-direct-as-this-user',
        onClick: 'vm.startMasquerading()',
        theme: 'primary',
      })

      p: +translate('cd-masquerade-disclaimer')
