.content-main
  page-header(
    data-go-to='asset.jobDetails({ jobId: "{{ vm._$stateParams.jobId }}" })',
    data-label='cd-executive-hull-summaries',
  )

  md-divider.spacer.small

  p.notification(
    data-ng-if='!vm.jobEhsAttachments.length',
    data-translate-once='cd-no-executive-hull-summaries',
  )

  rider-filter(
    data-action='vm.action',
    data-filter-label='cd-sidebar-filter',
    data-filter-options='vm.filterOptions',
    data-items='vm.jobEhsAttachments',
    data-ng-if='vm.jobEhsAttachments.length',
    data-search-by-list='vm.searchByList',
    data-search-label='cd-search-by-name',
    data-template='{{ vm.itemTemplate }}',
  )
