accept-terms-and-conditions {
  color: $dark-grey-color;

  .accept-checkbox {
    padding-right: $cd-half;
  }

  a {
    text-decoration: underline;
    margin-left: $cd-half;
    margin-right: $cd-half;
  }

  md-card {
    font-size: $cd1x4;
    white-space: pre-wrap;
    text-align: justify;
    border-radius: 0;
    box-shadow: none;

    h2 {
      margin-bottom: -$cd4 !important;
    }

    ul li {
      margin-bottom: -$cd2 !important;
    }
  }
}
