include /shared
include /forms

.content-main
  h1.h1-primary.mt0(data-translate-once='cd-accept-terms-and-conditions')

  md-card.m0
    md-card-content
      div(data-ng-bind-html='vm.latestTermsAndConditions.tcDesc | safeHtml')

md-divider.spacer

cd-actions
  .content-main(
    data-flex='none',
    data-layout-align='end',
    data-layout='row',
  )
    +button({
      label: 'cd-cancel',
      ngClass: '{"flex-50": vm._$mdMedia("xs")}',
      onClick: 'vm.logout()',
      theme: 'light',
    })
    +button({
      class: 'mr0',
      disabled: 'vm.isDisabled',
      hide: 'vm._$mdMedia("xs")',
      label: "cd-i-accept-terms-and-conditions",
      onClick: 'vm.acceptTermsAndConditions()',
      theme: 'warn',
    })
    +button({
      class: 'mr0 flex-50',
      disabled: 'vm.isDisabled',
      hide: '!vm._$mdMedia("xs")',
      label: "cd-i-accept",
      onClick: 'vm.acceptTermsAndConditions()',
      theme: 'warn',
    })
    span(
      data-ng-class='::{"p-r-60":vm.isNativeMobile}',
      data-ng-if='::vm.isNativeMobile'
    )
