include /shared

.codicil-type-container
  form(
    data-layout='row',
    data-layout-wrap,
    name='form',
  )
    .checkbox(
      data-flex=100,
      data-flex-sm=50,
      data-flex-md=25,
      data-flex-gt-md=20,
      data-ng-if='!vm.isSingleAsset',
    )
      md-checkbox.small.checkbox-all(
        aria-label='{{ "cd-all" | translate }}',
        data-ng-change='vm.setCodicilTypesValues()',
        data-ng-model='vm.isAll',
      )
      .label(
        data-flex,
      )
        +translate('cd-all')
    .checkbox(
      data-flex=100,
      data-flex-sm=50,
      data-flex-md=25,
      data-flex-gt-md=20,
      data-ng-repeat='type in ::vm.codicilTypes track by $index',
    )
      md-checkbox.small(
        aria-label='{{ type.NAME | safeTranslate }}',
        data-ng-class=`{ '{{ "checkbox-" + type.ID | lowercase }}': type.ID }`,
        data-ng-change='vm.onSelectionChanged()',
        data-ng-model='type.selected',
      )
      .label(
        data-flex,
      ) {{ type.NAME | safeTranslate }}
