mixin itemsHierarchy(item)
  if(item)
    table
      tr.is-underlined
        td(colspan='5') Item Parent - #{(item.getName()) ? item.getName() : ''}
      if(item && item.getTasksH() && item.getTasksH().length > 0)
        for task in item.getTasksH()
          +task-details(task)
        if(item.getItemsH() && item.getItemsH().length > 0)
          tr
            td(colspan='5')
              table
                tr
                  td(width='10')
                  td(colspan='4')
                    for subitem in item.getItemsH()
                      +itemsHierarchy(subitem)

mixin task-details(task)
  tr.is-underlined
    td(style='padding-left:20px') #{(task.getName()) ? task.getName() : ''} - #{(task.getTaskNumber()) ? task.getTaskNumber() : ''}
    td #{(task.getResolutionStatus() && task.getResolutionStatus().getId()) ? ((task.getResolutionStatus().getId().equals(1)) ? 'Complete' : ((task.getResolutionStatus().getId().equals(2)) ? 'Confirmatory Check' : ((task.getResolutionStatus().getId().equals(3)) ? 'Waived' : ((task.getResolutionStatus().getId().equals(4)) ? 'Not applicable' : ((task.getResolutionStatus().getId().equals(5)) ? 'Chief Engineer' : ((task.getResolutionStatus().getId().equals(6)) ? 'Postponed' : 'Not Credited')))))) : 'Not Credited'}
    td #{(task.getAssignedDate()) ? helper.formatDate(task.getAssignedDate()) : '-'}
    td #{(task.getDueDate()) ? helper.formatDate(task.getDueDate()) : '-'}
    td #{(task.getPostponementDate()) ? helper.formatDate(task.getPostponementDate()) : '-'}
