include _titles

mixin service-details(job, content, reportType)
  if(reportType == 'far')
    +section-title('Service Details')(class='m0')
  else
    +section-title('Service Details')
  table
    tr
      td(width='20%').lr-header Asset Name
      td(width='30%').is-underlined #{content.getAssetName() ? content.getAssetName() : '-'}
      td(width='20%').lr-header Location
      td(width='30%').is-underlined #{(job.getLocationDto() && job.getLocationDto().getName()) ? job.getLocationDto().getName() : '-'}
    tr
      td.lr-header LR Number
      td.is-underlined #{(content.getImoNumber()) ? content.getImoNumber() : '-'}
      td.lr-header First visit date
      td.is-underlined #{(content.getFirstVisitDate()) ? helper.formatDate(content.getFirstVisitDate()) : '-'}
    tr
      td.lr-header Port of Registry
      td.is-underlined #{(content.getRegisteredPortH() && content.getRegisteredPortH().getName()) ? content.getRegisteredPortH().getName() : '-'}
      td.lr-header Last visit date
      td.is-underlined #{(content.getLastVisitDate()) ? helper.formatDate(content.getLastVisitDate()) : '-'}
    if(reportType == 'esp')
      tr
        td.lr-header
        td
        td.lr-header Job Number
        td.is-underlined #{(job.getJobNumber()) ? job.getJobNumber() : '-'}
    else
      tr
        td.lr-header Current Flag
        td.is-underlined #{(content.getCurrentFlagH() && content.getCurrentFlagH().getName()) ? content.getCurrentFlagH().getName() : '-'}
        td.lr-header Job Number
        td.is-underlined #{(job.getJobNumber()) ? job.getJobNumber() : '-'}
      if(content.getProposedFlagH() && content.getProposedFlagH().getId() > 0)
        tr
          td.lr-header Proposed Flag
          td.is-underlined #{(content.getProposedFlagH() && content.getProposedFlagH().getName()) ? content.getProposedFlagH().getName() : '-'}
          td.lr-header 
          td
mixin class-recommendation(classRecommendation)
  if(classRecommendation)
    +section-title('Class recommendations:')
    table
      each phrase in classRecommendation
        tr
          td #{phrase}


mixin surveys(content, serviceCatalogueLookup, serviceCreditStatusLookup, reportType)
  if(reportType == 'esp' && surveys)
    +section-title('Surveys credited in this report')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header Survey Code
          td(width='40%').lr-header Survey title
          td(width='11%').lr-header Status
          td(width='17%').lr-header Credited Date
          td(width='17%').lr-header Postponed Date
      tbody
        for survey in surveys
          tr.is-underlined
            //--- td #{(survey.getServiceCatalogue() && survey.getServiceCatalogue().getId()) ? serviceCatalogueLookup.get(survey.getServiceCatalogue().getId()).getCode() + (survey.getOccurrenceNumber() ? survey.getOccurrenceNumber() : ' ') : '-'}
            td #{survey.getName() ? survey.getName() : '-'}
            //--- td #{(survey.getSurveyStatus() && survey.getSurveyStatus().getId()) ? serviceCreditStatusLookup.get(survey.getSurveyStatus().getId()).getCode() : '-'}
            td #{(survey.getDateOfCrediting()) ? helper.formatDate(survey.getDateOfCrediting()) : (survey.getSurveyStatus() && survey.getSurveyStatus().getId() == 2) ? 'On completion':'-'}
            td #{(survey.getPostponementDate()) ? helper.formatDate(survey.getPostponementDate()) : '-'}
  else if(content && content.getSurveys())
    +section-title('Surveys credited in this report')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header Survey Code
          td(width='40%').lr-header Survey title
          td(width='11%').lr-header Status
          td(width='17%').lr-header Credited Date
          td(width='17%').lr-header Postponed Date
      tbody
        for survey in content.getSurveys()
          tr.is-underlined
            //--- td #{(survey.getServiceCatalogue() && survey.getServiceCatalogue().getId()) ? serviceCatalogueLookup.get(survey.getServiceCatalogue().getId()).getCode() + (survey.getOccurrenceNumber() ? survey.getOccurrenceNumber() : ' ') : '-'}
            td #{survey.getName() ? survey.getName() : '-'}
            //--- td #{(survey.getSurveyStatus() && survey.getSurveyStatus().getId()) ? serviceCreditStatusLookup.get(survey.getSurveyStatus().getId()).getCode() : '-'}
            td #{(survey.getDateOfCrediting()) ? helper.formatDate(survey.getDateOfCrediting()) : (survey.getSurveyStatus() && survey.getSurveyStatus().getId() == 2) ? 'On completion':'-'}
            td #{(survey.getPostponementDate()) ? helper.formatDate(survey.getPostponementDate()) : '-'}

mixin certificates(content, certificateActionLookup, actionTakenLookup, reportType)
  if(reportType == 'esp' && certificates)
    +section-title('Action taken with Certificates')
    table(style='-fs-table-paginate: paginate; border-spacing: 0;')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Certificate title
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Expiry Date
      tbody
        for cert in certificates
          tr.is-underlined
            td #{(cert.getCertificateNumber()) ? cert.getCertificateNumber() : '-'}
            td #{(cert.getName()) ? cert.getName()  : '-'}
            //--- td #{(certificateActionLookup.get(cert.getId()) && certificateActionLookup.get(cert.getId()).getActionTaken() && certificateActionLookup.get(cert.getId()).getActionTaken().getId()) ? actionTakenLookup.get(certificateActionLookup.get(cert.getId()).getActionTaken().getId()).getName() : '-'}
            td #{(cert.getExpiryDate()) ? helper.formatDate(cert.getExpiryDate()) : '-'}
  else if(content && content.getCertificates())
    +section-title('Action taken with Certificates')
    table(style='-fs-table-paginate: paginate; border-spacing: 0;')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Certificate title
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Expiry Date
      for cert in content.getCertificates()
        tbody
          tr.is-underlined
            td #{(cert.getCertificateNumber()) ? cert.getCertificateNumber() : '-'}
            td #{(cert.getName()) ? cert.getName()  : '-'}
            //--- td #{(certificateActionLookup.get(cert.getId()) && certificateActionLookup.get(cert.getId()).getActionTaken() && certificateActionLookup.get(cert.getId()).getActionTaken().getId()) ? actionTakenLookup.get(certificateActionLookup.get(cert.getId()).getActionTaken().getId()).getName() : '-'}
            td #{(cert.getExpiryDate()) ? helper.formatDate(cert.getExpiryDate()) : '-'}

mixin conditions-of-class(content, actionTakenLookup, reportType)
  if(reportType == 'esp' && cocs)
    +section-title('Action taken with Conditions of Class')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Description
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Due Date
      tbody
        for coc in cocs
          tr.is-underlined
            td #{(coc.getReferenceCode()) ? coc.getReferenceCode() : '-'}
            td #{(coc.getDescription()) ? coc.getDescription() : '-'}
            //--- td #{(coc.getActionTaken()) ? actionTakenLookup.get(coc.getActionTaken().getId()).getName() : '-'}
            td #{(coc.getDueDate()) ? helper.formatDate(coc.getDueDate()) : '-'}
  else if(content && content.getWipCocs())
    +section-title('Action taken with Conditions of Class')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Description
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Due Date
      tbody
        for coc in content.getWipCocs()
          tr.is-underlined
            td #{(coc.getReferenceCode()) ? coc.getReferenceCode() : '-'}
            td #{(coc.getDescription()) ? coc.getDescription() : '-'}
            //--- td #{(coc.getActionTaken()) ? actionTakenLookup.get(coc.getActionTaken().getId()).getName() : '-'}
            td #{(coc.getDueDate()) ? helper.formatDate(coc.getDueDate()) : '-'}

mixin statutory-findings(content, actionTakenLookup)
  if(content && content.getStatutoryFindings())
    +section-title('Action taken with Statutory Findings')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Description
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Due Date
      tbody
        for sf in content.getStatutoryFindings()
          tr.is-underlined
            td #{(sf.getReferenceCode()) ? sf.getReferenceCode() : '-'}
            td #{(sf.getDescription()) ? sf.getDescription() : '-'}
            //--- td #{(sf.getActionTaken()) ? actionTakenLookup.get(sf.getActionTaken().getId()).getName() : '-'}
            td #{(sf.getDueDate()) ? helper.formatDate(sf.getDueDate()) : '-'}

mixin actionable-items(content, actionTakenLookup, reportType)
  if(reportType == 'esp' && actionableItems)
    +section-title('Action taken with Actionable Items')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Description
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Due Date
      tbody
        for item in actionableItems
          tr.is-underlined
            td #{(item.getReferenceCode()) ? item.getReferenceCode() : '-'}
            td #{(item.getDescription()) ? item.getDescription() : '-'}
            //--- td #{(item.getActionTaken()) ? actionTakenLookup.get(item.getActionTaken().getId()).getName() : '-'}
            td #{(item.getDueDate()) ? helper.formatDate(item.getDueDate()) : '-'}
  else if(content && content.getWipActionableItems())
    +section-title('Action taken with Actionable Items')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='55%').lr-header Description
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Due Date
      tbody
        for item in content.getWipActionableItems()
          tr.is-underlined
            td #{(item.getReferenceCode()) ? item.getReferenceCode() : '-'}
            td #{(item.getDescription()) ? item.getDescription() : '-'}
            //--- td #{(item.getActionTaken()) ? actionTakenLookup.get(item.getActionTaken().getId()).getName() : '-'}
            td #{(item.getDueDate()) ? helper.formatDate(item.getDueDate()) : '-'}

mixin asset-notes(content, actionTakenLookup, reportType)
  if(reportType == 'esp' && assetNotes)
    +section-title('Action taken with Asset Notes')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='70%').lr-header Description
          td(width='15%').lr-header Action Taken
      tbody
        for note in assetNotes
          tr.is-underlined
            td #{(note.getReferenceCode()) ? note.getReferenceCode() : '-'}
            td #{(note.getDescription()) ? note.getDescription() : '-'}
            //--- td #{(note.getActionTaken()) ? actionTakenLookup.get(note.getActionTaken().getId()).getName() : '-'}
  else if(content && content.getWipAssetNotes())
    +section-title('Action taken with Asset Notes')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header ID
          td(width='70%').lr-header Description
          td(width='15%').lr-header Action Taken
      tbody
        for note in content.getWipAssetNotes()
          tr.is-underlined
            td #{(note.getReferenceCode()) ? note.getReferenceCode() : '-'}
            td #{(note.getDescription()) ? note.getDescription() : '-'}
            //--- td #{(note.getActionTaken()) ? actionTakenLookup.get(note.getActionTaken().getId()).getName() : '-'}

mixin mncns(content, actionTakenLookup, reportType)
  if(reportType != 'esp' && content && content.getWipMNCNs())
    +section-title('Action taken with Major Non-Conformities')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='15%').lr-header MNCN ID
          td(width='55%').lr-header Description
          td(width='15%').lr-header Action Taken
          td(width='15%').lr-header Due Date
      tbody
        for mncs in content.getWipMNCNs()
          tr.is-underlined
            td #{(mncs.getMncnNumber()) ? mncs.getMncnNumber() : '-'}
            td #{(mncs.getDescription()) ? mncs.getDescription() : '-'}
            //--- td #{(mncs.getActionTaken()) ? actionTakenLookup.get(mncs.getActionTaken().getId()).getName() : '-'}
            td #{(mncs.getDueDate()) ? helper.formatDate(mncs.getDueDate()) : '-'}

mixin serviceNarratives(serviceNarratives, reportType)
  if(reportType != 'far' && serviceNarratives && !serviceNarratives.isEmpty())
    +section-title('Narratives')
    if(serviceNarratives)
          for tasksPair, surveyCode in serviceNarratives
            if(surveyCode)
                table
                  tr.is-underlined
                    td(width='30%').lr-header.light-grey-background #{(surveyCode.getServiceCatalogueH() && surveyCode.getServiceCatalogueH().getCode() ? surveyCode.getServiceCatalogueH().getCode() : '') + (surveyCode && surveyCode.getOccurrenceNumber() ? surveyCode.getOccurrenceNumber() : ' ') }
                    td(width='70%').lr-header.light-grey-background #{surveyCode.getServiceCatalogueH() && surveyCode.getServiceCatalogueH().getName() ? surveyCode.getServiceCatalogueH().getName() : ''}
                if(surveyCode.getNarrative())
                      table
                        each serviceNarrative in surveyCode.getServiceNarratives()
                          tr
                            td(style='padding-left:38px',width='30%').lr-appendix #{serviceNarrative}

                each tasks, assetItem in tasksPair
                  if(assetItem.getParentAssetItemName() != "Other checklist items")
                      tr.is-underlined
                        td(style='padding-left:38px', colspan=3).lr-fsr-esp-header.light-grey-background #{assetItem.getParentAssetItemName()}
                  
                  tr.is-underlined
                    table
                      tbody
                        for task in tasks
                          tr.is-underlined
                            if(assetItem.getParentAssetItemName() != "Other checklist items")
                              td(style='padding-left:50px',width='30%').lr-appendix-body #{(task.getTaskNumber()) ? task.getTaskNumber() : '-'}
                            if(assetItem.getParentAssetItemName() == "Other checklist items")
                              td(style='padding-left:38px',width='30%').lr-appendix-body #{(task.getTaskNumber()) ? task.getTaskNumber() : '-'}
                            td(style='padding-left:38px',width='70%').lr-appendix-body #{(task.getWorkItemAction() && task.getWorkItemAction().getName()) ? task.getWorkItemAction().getName() : '-'}
                          
                          if(task.getTaskNarratives())
                            tr
                              table
                                for tasknarrative in task.getTaskNarratives()
                                  tr
                                    td(style='padding-left:38px',width='30%')
                                    td(style='padding-left:38px',width='70%').lr-appendix-body #{tasknarrative}

mixin surveyors(employeeList, report, reportIssueBy, reportType)
  +section-title('Attending surveyors')
  table(style='-fs-table-paginate: paginate; border-spacing: 0')
    thead
      tr.is-underlined
        td.lr-header Attending surveyor name
        td.lr-header( width='75%') Lead Surveyor #{employeeList.length}
    tbody
      for employeeContainer in employeeList
        tr.is-underlined
          td #{(employeeContainer.getEmployee() && employeeContainer.getEmployee().getName()) ? employeeContainer.getEmployee().getName() : '-'}
          if(employeeContainer.getEmployeeLink().getEmployeeRole().getId() == 11)
            td Yes
          else
            td &nbsp;
      if(reportType != 'esp')
        tr.is-underlined
          td(colspan=2) &nbsp;
  if(reportType != 'esp')
    table
      tr.is-underlined
        td(width='25%').lr-header Issuing surveyor signature
        td
        td(width='15%').lr-header Signed date
        td(width='15%') #{(report.getIssueDate()) ? helper.formatDate(report.getIssueDate()) : '-'}
      tr.is-underlined
        td(width='25%').lr-header Issuing surveyor name
        td(colspan=3) #{(reportIssueBy && reportIssueBy.getName()) ? reportIssueBy.getName() : '-'}
      tr.is-underlined
        td(width='25%').lr-header LR Legal Entity
        td(colspan=3) #{(reportIssueBy && reportIssueBy.getLegalEntity()) ? reportIssueBy.getLegalEntity() : '-'}