mixin tasks(item, itemParentRef, itemRef, isMpms)
  if(item.getTasksH())
    tr.is-underlined
      td(colspan='5', style='padding-left:38px').lr-header
        span #{itemParentRef ? itemParentRef : ''} - 
        span #{itemRef ? itemRef : ''}
    for task in item.getTasksH()
      +task-details(task, isMpms)
  if(item.getItemsH() && item.getItemsH().size() > 0)
    for subitem in item.getItemsH()
      - childRef = subitem.getName()
      +tasks(subitem, itemRef, childRef, isMpms)

mixin task-details(task, isMpms)
  if(isMpms)
    - var taskResolutionStatus = (task.getDueStatusH() && task.getDueStatusH().getName()) ? task.getDueStatusH().getName() : '-' ;
  else
    // - Possible values - Complete, Confirmatory Check, Waived, Not Applicable, Postponed
    // - else is not credited
    - var taskResolutionStatus = (task.getResolutionStatusH() && task.getResolutionStatusH().getName()) ? task.getResolutionStatusH().getName() : 'Not Credited';

  tr.is-underlined
    td(style='padding-left:38px',width='57%')
      span #{(task.getWorkItemAction() && task.getWorkItemAction().getName()) ? task.getWorkItemAction().getName() : ''} -
      span #{(task.getTaskNumber()) ? task.getTaskNumber() : ''}
    td(width='10%') #{taskResolutionStatus}
    td(width='11%') #{(task.getAssignedDate()) ? helper.formatDate(task.getAssignedDate()) : '-'}
    td(width='11%') #{(task.getDueDate()) ? helper.formatDate(task.getDueDate()) : '-'}
    td(width='11%') #{(task.getPostponementDate()) ? helper.formatDate(task.getPostponementDate()) : '-'}