mixin page-title(text, subtext)
  .page-title
    .text= text
    if(subtext)
      .subtext= subtext

mixin section-title(text)
  .section-title(class!=attributes.class)= text

mixin report-title(text)
  .report-title(class!=attributes.class)= text

mixin report-sub-title(text)
  .report-sub-title(class!=attributes.class)= text

mixin service-title(title)
  .section-title #{title}
