include /shared
include /forms

- const PERMISSION_TYPES =  require('app/config/project-variables.js').PERMISSION_TYPES;

div(
  data-layout-wrap,
  data-ng-if='vm.mode === "' + PERMISSION_TYPES.EOR + '"',
)
  include _partials/_permissions-eor

//- Else which includes:
  PERMISSION_TYPES.FLAG,
  PERMISSION_TYPES.CLIENT,
  PERMISSION_TYPES.SHIP_BUILDER,
  PERMISSION_TYPES.LR_ADMIN,
  PERMISSION_TYPES.LR_INTERNAL
div(
  data-layout-wrap,
  data-ng-if='vm.mode !== "' + PERMISSION_TYPES.EOR + '"',
)
  include _partials/_permissions-flag
