include /shared

.favourites-section-container
  .h3-regular.group-title
    +translate('cd-sidebar-favourites')
  form
    md-radio-group(
      data-layout-xs='column',
      data-layout='row',
      data-layout-wrap,
      data-ng-model='vm.selection',
      data-ng-change='vm.onSelect()'
    )
      md-radio-button.md-primary(
        data-flex=100,
        data-flex-sm=50,
        data-flex-md=25,
        data-flex-gt-md=20,
        value='{{ ::vm.constructor.CHOICES.ALL }}',
      )
        +translate('cd-favourites-section-all-assets')
      md-radio-button.md-primary(
        data-flex=100,
        data-flex-sm=50,
        data-flex-md=25,
        data-flex-gt-md=20,
        value='{{ ::vm.constructor.CHOICES.FAVOURITES }}',
      )
        +translate('cd-favourites-section-my-favourites')
