asset-service-schedule(
  data-asset='vm.asset',
  data-is-detailed-mode='true',
  data-service-max-date='vm.serviceScheduleDateRange.highRange',
  data-service-min-date='vm.serviceScheduleDateRange.lowRange',
  data-service-schedule-codicils='vm.serviceScheduleCodicils',
  data-service-schedule-services='vm.serviceScheduleServices',
)
