.products {
  .title {
    display: flex;
    justify-content: space-between;
    margin: $cd3 0 $cd2 0;
  }
}

.selected-list {
  .service-type {
    padding: $cd1x5 $cd1x5 $cd1x5 0;
    border-bottom: $cd0x1 solid $grey-color;
    margin: $cd0x2 0;
  }
}

.show-more-less-button {
  outline: none;
  margin-top: $cd-half;
}

.dark-background {
  .selected-list {
    .service-type {
      color: $white-color;
    }
  }

  bucket {
    icon.primary md-icon svg path:not([fill='none']) {
      fill: $primary-color;
    }
  }
}
