include /forms
include /shared

md-dialog.cd-dialog.dark-background(
  aria-label='cd-filter-survey-schedule | translate'
  )
  form(
    data-flex,
    data-layout='column',
    data-ng-cloak,
    name='form'
  )
    md-toolbar
      .md-toolbar-tools.content-main
        .h1
          +translate('cd-filter-survey-schedule-by')
        span(data-flex)
        +button({
          buttonType: 'icon',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.cancel()',
        })
    md-dialog-content(data-flex)
      .products.content-main
        .title
          .h4-regular
            +translate('cd-type-of-survey')
          a.underline(
            data-ng-click='vm.clearAllSelection(vm.refServiceTypes)',
          )
            +translate('cd-clear-all')
        md-divider
        bucket(
          data-service-list='vm.refServiceTypes',
          data-is-hide-details='true',
          data-is-read-only='false',
          data-mode='service-type',
        )
    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout-align='start center',
    )
      .content-main(
        data-flex='none',
        data-layout-align='end',
        data-layout='row',
      )
        +button({
          label: 'cd-cancel',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
        +button({
          label: 'cd-submit',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.submit()',
          theme: 'warn',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
