include /forms
include /shared

.service-type-container(
  data-layout='row',
)
  +button({
    class: 'mx0 flex-xs-100 flex-sm-50 flex-gt-sm-25',
    label: 'cd-survey-type',
    onClick: 'vm.showAdvanced($event)',
    theme: 'dark',
  })
