include /shared

.content-main.layout-margin
  div(
    data-layout='row',
    data-layout-align='center center',
  )
    md-card.md-padding(
      data-flex-gt-sm='60',
    )
      md-card-content
        .h1-regular(
          data-translate='{{ vm.cardTitle }}'
        )
        p(
          data-translate='{{ vm.cardDescription }}'
          data-translate-compile,
        )
