page-error {
  .content-main.layout-margin {
      > .h1-regular {
        padding-top: $cd3x2;
        padding-bottom: $cd * 2.4;
      }
  }

  md-card {
    position: relative;
    @include box-shadow(none);

    &:before {
      // @TODO UI - refactor corner-cut with mixin
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      border-top: $cd solid #E7EBEE;
      border-right: $cd solid #E7EBEE;
      border-bottom: $cd solid transparent;
      border-left: $cd solid transparent;
    }
  }
}
