include /forms
include /shared

.cd-card(data-theme='light')
  md-card
    md-card-title
        md-card-title-text(
          data-layout='row',
          data-layout-align='center center',
          data-layout-wrap,
        )
          h2.h2-primary.m0(
            data-flex,
            data-flex-xs=100,
            data-translate-once='cd-class-direct-exhibition-of-records',
          )
          div(
            data-flex=20,
            data-flex-xs=100,
            data-layout='row',
          )
            +button({
              class: 'm0 flex',
              label: 'cd-add-eor-access',
              onClick: 'vm.goToAddEorAccess()',
              theme: 'primary',
            })
    md-card-content(
      data-layout='row',
      data-layout-padding,
      data-layout-wrap,
    )
      eor-asset(
        data-eor='eor',
        data-flex-xs=100,
        data-flex-sm=50,
        data-flex-gt-sm=33,
        data-ng-repeat='eor in vm.eorRecords',
        data-user='vm.user',
      )
