.container(
  data-ng-class='{"has-error": !vm.form[vm.name].$pristine && vm.form[vm.name].$invalid}'
)
  ui-select(
    data-close-on-select='vm.closeOnSelect',
    data-multiple,
    data-name='{{ vm.name }}',
    data-ng-attr-autofocus='{{ vm.autoFocus }}',
    data-ng-attr-is-email='{{ vm.isEmail || undefined }}',
    data-ng-attr-is-required='{{ vm.isRequired || undefined }}',
    data-ng-attr-ui-select-backspace-no-clear='{{ vm.backspaceNoClear }}',
    data-ng-disabled='disabled',
    data-ng-model='vm.model',
    data-ng-model-options='{ allowInvalid: true }',
    data-on-remove='vm.onRemove({item: $item, model: $model})',
    data-tagging-label='false',
    data-tagging='vm[vm.validation]',
    data-theme='bootstrap',
    data-validations,
  )
    ui-select-match(
      data-placeholder='{{ vm.placeholder }}'
    ) {{ vm.label ? $item[vm.label] : $item }}
    ui-select-choices(
      data-ng-class='{ "hide-choices": $select.search.length < vm.minKeyLength }',
      data-repeat='option in vm.options | filter: vm.searchFromBeginningExp ? vm.searchFromBeginningFilter($select.search) : $select.search'
    ) {{ vm.label ? option[vm.label] : option }}

div(data-ng-messages='vm.form[vm.name].$error', data-ng-if='!vm.form[vm.name].$pristine')
  div(data-ng-message='isEmail') {{ 'cd-error-invalid-email' | translate }}
  div(data-ng-message='isRequired') {{ 'cd-error-field-required' | translate }}
