@import 'src/app/common/styles/typography';

input-tags,
.input-time-picker-ui-select {
  position: relative;
  display: block;

  .ui-select-container {
    .ui-select-match {
      > span {
        margin: $cd0x2 $cd-half $cd0x2 0;
        padding: $cd-half 0 $cd-half $cd1x5;
        color: $grey-color;
        background: $light-grey-color;
        border: $cd0x1 solid #ccc;
        border-radius: $cd2;
        display: inline-block;

        .ui-select-match-item {
          > span {
            font-size: $cd1x4;
            line-height: $cd * 2.2;
            display: inline-block;
          }

          .close {
            padding: 0 $cd1x5 0 $cd-half;
            font-weight: bold;
            float: right;
            cursor: pointer;
            outline: none;

            @include no-select();
          }
        }
      }
    }

    .ui-select-search {
      font-size: $cd1x4;
      line-height: $cd2;
      border: 0;
      border-radius: 0;
      outline: none;
      color: $dark-grey-color;
      -webkit-appearance: none; // iPhone Safari fix
    }

    .ui-select-choices {
      width: 100%;
      max-height: $cd5 * 5;
      margin: 0;
      padding: 0;
      list-style: none;
      background: $white-color;
      overflow: auto;
      position: absolute;
      top: calc(100% + #{$cd0x1});
      left: 0;
      z-index: 10;

      @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.25)); // follow AM's default autocomplete style

      &.hide-choices {
        display: none;
      }

      .ui-select-choices-row {
        padding: 0 $cd1x5;
        font-size: $cd1x4;
        line-height: $cd5;
        cursor: pointer;
        outline: none;
        @extend .ellipsis;
        @include add-transition(all .15s); // follow AM's default autocomplete style

        &.active,
        &:hover {
          background-color: #e5e5e5;

          span {
            color: $primary-color;
          }
        }

        span {
          color: $grey-color;
        }
      }
    }
  }

  &[data-tag-square] .ui-select-container .ui-select-match > span {
    border-radius: 0;
  }

  &[data-tag-square] .ui-select-container .ui-select-match > span {
    background: $white-color;
  }

  // default, tags wrapped in an area
  &:not([data-tag-position]) > .container {
    min-height: $cd * 4.8;
    padding: $cd;
    border: $cd0x1 solid $grey-color;
    background: $white-color;
    position: relative;

    .ui-select-container {
      &.open.direction-up .ui-select-choices {
        top: auto !important;
        bottom: calc(100% + #{$cd0x1});
      }

      .ui-select-search {
        height: $cd3;
        padding: 0;
        line-height: $cd3;
      }
    }
  }

  &[data-tag-position='up'],
  &[data-tag-position='down'] {
    .ui-select-search {
      width: 100% !important;
      height: $cd5;
      line-height: $cd2;
      padding: $cd0x9 $cd1x5 !important;
      display: block;
      border: $cd0x1 solid $grey-color;
      box-sizing: border-box;
    }
  }

  &[data-tag-position='up'] {
    .ui-select-container {
      .ui-select-match {
        > span {
          margin: 0 $cd-half $cd-half 0;
        }
      }

      &.open.direction-up .ui-select-choices {
        top: auto !important;
        bottom: $cd5;
      }
    }
  }

  &[data-tag-position='down'] {
    .ui-select-container {
      > div {
        display: flex;
        flex-direction: column-reverse;

        .ui-select-match {
          > span {
            margin: $cd-half $cd-half 0 0;
          }
        }
      }

      .ui-select-choices {
        top: $cd5;
      }
    }
  }
}

form.ng-invalid.ng-dirty {
  div[data-ng-message] {
    color: $error-color;
  }

  .container.has-error {
    &, .ui-select-search {
      border-color: $error-color;
    }
  }
}

.input-time-picker-ui-select {
  &:not([data-tag-position]) > .container {
    padding: 0;
    min-height: $cd * 4.8;
    height: $cd * 4.8;
    display: block;

    .ui-select-container {
      .ui-select-match {

        a.btn {
          position: absolute;
          z-index: 1;
          right: 0;
          cursor: pointer;

          &:before {
            content: '\2716';
            display: block;
          }
        }

        .ui-select-toggle {
          display: block;
          margin: 0;
          border-radius: 0;
          background-color: transparent;
          padding-left: $cd;
          line-height: 2.5;
          font-size: $cd1x5;
          color: #9F9F9F;
        }
      }

      .ui-select-match > span {
        border: 0;
      }

      .ui-select-search {
        min-height: $cd * 4.6;
        padding-left: $cd;
      }
    }
  }

  .ui-select-focusser {
    display: none;
  }
}
