search-button {
  background-color: $light-blue-color;
  &.hidden {
    opacity: 0.6 !important;
  }
  .search-button {
    margin-left: -$cd0x1;
    width: 100%;
    height: 100%;
    path {
      fill: $white-color !important;
    }
    &.is-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  +.clear-btn {
    transform: translate3d(-100%, 0, 0);
  }
}
