include /forms
include /shared

md-dialog.cd-dialog-small.download-tm-report-modal(
  aria-label='{{ ::vm.title | safeTranslate }}',
  data-ng-class='::{"dark-background": vm.useBackgroundImage}',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2(data-translate-once='{{ ::vm.title }}')
        //- AM's way of flexing with the `span` below
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: '::vm._$mdDialog.cancel()',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
      data-ng-if='::!!vm.body',
    )
      span(data-translate-once='{{ ::vm.body }}')
    h3.my0 {{ 'cd-downloads' | translate }}

    md-dialog-actions(
      data-layout='column',
      data-layout-align='start start',
    )
      .download-buttons(
        data-flex,
        data-layout='row',
        data-layout-align='start center',
        data-ng-repeat='button in ::vm.buttons',
      )
        +button({
          buttonType: 'icon',
          class: 'mx0',
          iconName: '{{ button.label.toLowerCase() }}',
          iconClass: 'big',
          onClick: '::this.$eval(button.onClick)',
          theme: '{{ button.theme }}',
        })
        a(
          data-ng-click='::this.$eval(button.onClick)',
          data-translate='{{ button.description }}'
        )
      md-divider.spacer.xs
      div(
        data-flex,
        data-ng-if='::vm.isArgonautFilePresent',
        data-translate-once='cd-download-arg'
      )
