doctype html
html
  head
    include ../_partials/_style

  body
    //- Include only for testing the html, value set in gulpfile
    if(useDummyDataAndFunctions)
      include ../_partials/_functions

    .page-header
      block header

    .page-footer
      block footer

    .content
      block content


