doctype html
html
  head
    include ../_partials/_style

  body
    //- Include only for testing the html, value set in gulpfile
    if(useDummyDataAndFunctions)
      include ../_partials/_functions

    .page-header
      block header

    if(!onlyOnePage)
      .page-footer
        block footer

    include ../_partials/_branding

    .content
      block content

    .page-footer
      .disclaimer(style="margin-bottom:0") Lloyd&#39;s Register Group Limited, its subsidiaries and affiliates and their respective officers, employees or agents are, individually and collectively, referred to in this clause as 	&lsquo;Lloyd&#39;s Register&rsquo;. Lloyd&#39;s Register assumes no responsibility and shall not be liable to any person for any loss, damage or expense caused by reliance on the information or advice in this document or howsoever provided, unless that person has signed a contract with the relevant Lloyd&#39;s Register entity for the provision of this information or advice and in that case any responsibility or liability is exclusively on the terms and conditions set out in that contract.

      block footer
