include /shared

//- ACTIONABLE ITEMS
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr.main-header
    th(
      align='left',
      colspan=5
    )
      h2 Actionable Items
  tr
    td.auto-width
      div.detail Actionable Item #1
    td
      div.label Category
      div.detail -
    td
      div.label Item
      div.detail -
    td
      div.label Impose Date
      div.detail -
    td
      div.label Status
      div.detail -
  tr
    td.auto-width
      div.detail Actionable Item #2
    td
      div.label Category
      div.detail -
    td
      div.label Item
      div.detail -
    td
      div.label Impose Date
      div.detail -
    td
      div.label Status
      div.detail -
