include /shared

//- ASSET NOTES
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr.main-header
    th(
      align='left',
      colspan=5
    )
      h2 Asset Notes
  tr
    td.auto-width
      div.detail Asset Note #1
    td
      div.label Category
      div.detail -
    td
      div.label Item
      div.detail -
    td
      div.label Impose Date
      div.detail -
    td
      div.label Status
      div.detail -
  tr
    td.auto-width
      div.detail Asset Note #2
    td
      div.label Category
      div.detail -
    td
      div.label Item
      div.detail -
    td
      div.label Impose Date
      div.detail -
    td
      div.label Status
      div.detail -
  tr
    td.auto-width
      div.detail Asset Note #3
    td
      div.label Category
      div.detail -
    td
      div.label Item
      div.detail -
    td
      div.label Impose Date
      div.detail -
    td
      div.label Status
      div.detail -
