include /shared

//- COC
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr.main-header
    th(
      align='left'
    )
      h2 Condition of Class

include _coc-item.pug
include _coc-item.pug
