include /shared

//- COC - ITEM
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr.sub-header
    th(colspan=5)
      h4 COC (Title)
  tr
    td
      div.label Category
      div.detail -
    td
      div.label Impose Date
      div.detail -
    td
      div.label Due Date
      div.detail -
    td
      div.label Status
      div.detail -
    td
      div.label Job Number
      div.detail -
  tr
    td(colspan=5)
      div.label Narrative
      div.detail -

//- COC - ITEM - DEFECTS
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr
    th(colspan=5)
      h4 Associated Defects
  //- DEFECT #1
  tr
    td.auto-width
      div.detail Defect #1
    td
      div.label Category
      div.detail -
    td
      div.label Date Occurred
      div.detail -
    td
      div.label Status
      div.detail -
    td
      div.label Job Number
      div.detail -
  tr
    td(colspan=5)
      div.label Narrative
      div.detail -
  //- DEFECT #2
  tr
    td.auto-width
      div.detail Defect #2
    td
      div.label Category
      div.detail -
    td
      div.label Date Occurred
      div.detail -
    td
      div.label Status
      div.detail -
    td
      div.label Job Number
      div.detail -
  tr
    td(colspan=5)
      div.label Narrative
      div.detail -
