// Use FIXED to make sure CD actions main bar stick to the bottom!!!
cd-actions {
  display: block;
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102; // to get ahead of X icon in autocomplete
}

.cd-actions {
  padding: $cd1x5 0;
  background-color: $primary-color;
  color: $white-color;
  margin: auto;
  width: 100%;
}
