extends layouts/_default.pug

block vars
  //- Backend to subtitute and remove variables as necessary
  - var clientName = clientName;
  - var emailTitle = emailTitle;
  - var path = path;
  - var assetListingLink = link;

block content
  container
    columns
      container.main-content
        spacer(size='5')
        div.text-content.text-size-10
          | The quarterly listings for your Fleet are available to download by following the link provided. Fleet Listings include information on the Vessel, Service Schedule and other items that require your attention
        spacer(size='5')
        table.button
          tr
            td
              table
                tr
                  td(style="vertical-align:middle;background-color:#0057b8;")
                    //- 1x triple block here
                    ///a(href='#{assetListingLink}')
                      span.text-content.text-size-11 Click here to download
  +footer
