extends layouts/_default.pug

block vars
  //- Backend to subtitute and remove variables as necessary
  - var clientName = clientName;
  - var assetDetailsUrl = assetDetailsUrl;
  - var emailTitle = emailTitle;
  - var path = path;
  - var assets = assets;

block content

  mixin asset-codicil-item-table(item)
    //-  Codicils/Non-Service (Coc, AI, SF) items will have a title and category property, and does not have lower & upper range date
    //- 1x triple blocks here
    - var category = item.category;
    - var dueDate = item.dueDate;
    - var dueStatusLabel = item.dueStatusLabel;
    //- LRCD-2419 (Story) Imposed Date is only applicable to Statutory Finding
    - var imposedDate = item.imposedDate;
    - var link = item.link;
    - var title = item.title;

    row.row-style
      columns
        row
          columns(small='6')
            //- 1x triple block here
            span(style='font-size:8pt') #{title}
          columns(small='2')
            //- 1x triple block here
            span(style='font-size:8pt') #{imposedDate}
          columns(small='2')
            //- 1x triple block here
            span(style='font-size:8pt') #{dueDate}
          columns(small='2')
            //- 1x triple block here
            span(style='font-size:8pt') #{dueStatusLabel}

  mixin asset-codicil-item-header(columnName)
    //- 1x triple block here
    - var columnName = columnName;

    row.row-style
      columns
        row
          columns(small='6')
            //- 1x triple block here
            span.table-header(style='font-size:8pt;font-weight:bold;') #{columnName}
          columns(small='2')
            span.table-header(style='font-size:8pt;font-weight:bold;') Imposed Date
          columns(small='2')
            span.table-header(style='font-size:8pt;font-weight:bold;') Due Date
          columns(small='2')
            span.table-header(style='font-size:8pt;font-weight:bold;') Due Status

  mixin asset-codicil-section(label, list)
    - var label = label;
    - var list = list;
    //- given a label and list, generate the section if the data is available
    if(label && list)
      //- 2x triple block here
      //////+asset-codicil-item-header(label)

      //- 2x triple block here
      //- intentionally to add 3 spaces below
      for item in list
         //////+asset-codicil-item-table(item)

  mixin asset-service-item-table(item)
    //- 1x triple block here
    - var dueDate = item.dueDate;
    - var dueStatusLabel = item.dueStatusLabel;
    - var link = item.link;
    - var lowerRangeDate = item.lowerRangeDate;
    - var postponementDate = item.postponementDate;
    - var product = item.product;
    - var serviceCode = item.serviceCode;
    - var occurrenceNumber = item.occurrenceNumber;
   
    - var serviceName = item.serviceName;
    - var upperRangeDate = item.upperRangeDate;
    - var rangeDate = lowerRangeDate+' - '+upperRangeDate;

    if(occurrenceNumber)
      - var serviceDetails = serviceCode+'+'+occurrenceNumber;
    else
      - var serviceDetails = serviceCode;

    row.row-style
      columns
        row
          columns(small='4')
            row
              //- the table row gets stripped from chrome gmail, change to inline
              span(style='font-size:8pt') #{serviceDetails}
            row
              span(style='font-size:8pt') #{serviceName}

          columns(small='2')
            span(style='font-size:8pt') #{dueDate}

          columns(small='4')
            span(style='font-size:8pt') #{rangeDate}

          columns(small='2')
            span(style='font-size:8pt') #{dueStatusLabel}

  mixin asset-service-item-header()
    row.row-style
      columns
        row
          columns(small='4')
            span.table-header(style='font-size:8pt;font-weight:bold;') Service Details

          columns(small='2')
            span.table-header(style='font-size:8pt;font-weight:bold;') Due Date

          columns(small='4')
            span.table-header(style='font-size:8pt;font-weight:bold;') Range Dates

          columns(small='2')
            span.table-header(style='font-size:8pt;font-weight:bold;') Due Status

  mixin asset-header-table(asset)
    - var asset = asset;

    if(asset.dueStatus && asset.dueStatus.name)
      //- Add a postponed label if it is postponed
      if(asset.hasPostponedService)
        - var overallStatusName = 'Postponed -'+asset.dueStatus.name;
      else
        - var overallStatusName = asset.dueStatus.name;
    else
      - var overallStatusName = 'blank';

    - var link = asset.link;

    row.grey
      columns
        row
          columns(small='6')
            //- 1x triple block here
            span.asset-header-h1(style='font-size:10.5pt;font-weight:bold;') #{asset.name}

          columns(small='6')
            //- 1x triple block here
            span.asset-header-h1(style='font-size:10.5pt;font-weight:bold;') #{overallStatusName}

    row.grey
      columns
        row
          columns(small='2')
            //- 1x triple block here
            ///a.asset-header-h2(style='font-size:10.5pt;').asset-link(href='#{link}')
              span #{asset.imo}
          columns(small='4')
            //- 1x triple block here
            span.asset-header-h2(style='font-size:10.5pt;') #{asset.type}
          columns(small='4')
            //- 1x triple block here
            span.asset-header-h2(style='font-size:10.5pt;') #{asset.flag}
          columns(small='2')
            //- 1x triple block here
            span.asset-header-h2(style='font-size:10.5pt;') #{asset.classStatus}

  mixin generateAsset(asset)
    - var asset = asset;
    //- 2x triple blocks here
    //////+asset-header-table(asset)

    //- Service List section
    if(asset.listService)
      //- 2x triple blocks here
      //////+asset-service-item-header()

    //- 2x triple blocks here
    //- intentionally to add 3 spaces below
    for item in asset.listService
       //////+asset-service-item-table(item)

    //- 2x triple blocks here
    //////+asset-codicil-section('Condition of Class', asset.listConditionOfClass)
    //- 2x triple blocks here
    //////+asset-codicil-section('Statutory Findings', asset.listStatutoryFinding)
    //- 2x triple blocks here
    //////+asset-codicil-section('Actionable Items', asset.listActionableItem)

  container
    //- intentionally to add 3 spaces below
    for asset in assets
       +generateAsset(asset)
  +footer
