extends layouts/_default.pug

block vars
  //- Backend to subtitute and remove variables as necessary
  - var path = path;
  - var asset = asset;
  - var products = products;
  - var clientName = clientName;
  - var emailTitle = emailTitle;
  - var emailAdditionalText = emailAdditionalText;
  - var assetDetailsUrl = assetDetailsUrl;
  - var backgroundPath = path+'/assets/img/bg-waves.jpg';
  - var overallStatusIconName = (asset.dueStatus && asset.dueStatus.assetIcon) ? asset.dueStatus.assetIcon : 'blank';
  - var overallStatusIcon = path+'/assets/img/icons/'+ overallStatusIconName+'.png';
  - var overallStatusName = (asset.dueStatus && asset.dueStatus.name) ? asset.dueStatus.name : '';
  - var emblemIcon = path+'/assets/img/emblems/'+ asset.emblemImage;
  - var CFOOffice = CFOOffice;
  - var CFOPhone = CFOPhone;
  - var CFOEmailAddress = CFOEmailAddress;
  - var CFOAddress = CFOAddress;
  - var surveyStartDate = surveyStartDate;
  - var estimatedDateOfArrival = estimatedDateOfArrival;
  - var estimatedTimeOfArrival = estimatedTimeOfArrival;
  - var estimatedDateOfDeparture = estimatedDateOfDeparture;
  - var estimatedTimeOfDeparture = estimatedTimeOfDeparture;
  - var portName = portName;
  - var portAgentName = portAgentName;
  - var portAgentPhoneNumber = portAgentPhoneNumber;
  - var portAgentEmailAddress = portAgentEmailAddress;
  - var berthOrAnchorage = berthOrAnchorage;
  - var shipContactDetails = shipContactDetails;
  - var additionalComments = additionalComments;
  - var registeredOwner = registeredOwner;
  - var registeredOwnerPhone = registeredOwnerPhone;
  - var registeredOwnerEmailAddress = registeredOwnerEmailAddress;
  - var registeredOwnerAddress = registeredOwnerAddress;
  - var shipManager = shipManager;
  - var shipManagerPhone = shipManagerPhone;
  - var shipManagerEmailAddress = shipManagerEmailAddress;
  - var shipManagerAddress = shipManagerAddress;

block content

  mixin request-survey-service(product)
    row.tabular-header
      columns(valign='middle')
        spacer(size='5')
        //#{product.name}
        .title #{product.name}
        spacer(size='5')
    spacer(size='5', role)
    for service in product.services
      +details(service)

  mixin details(service)
    - var statusIcon = path+'/assets/img/icons/'+ service.dueStatus+'.png';
    row.tabular-row
      columns(small='11' valign='middle')
        spacer(size='10')
        row
          columns(small='12', large='12')
            //#{service.title}
            .title #{service.title}
            spacer(size='10')
        row
          columns(small='12', large='3')
            .label Due date:
            .detail
              //#{service.dueDate}
              span #{service.dueDate}
            spacer(size='10')
          columns(small='12', large='3')
            .label Assigned date:
            .detail
              //#{service.assignedDate}
              span #{service.assignedDate}
            spacer(size='10')
          columns(small='12', large='3')
            .label Range date:
            .detail
              //#{service.rangeDates[0]}
              span #{service.rangeDates[0]} - #{service.rangeDates[1]}
            spacer(size='10')
          columns(small='12', large='3')
            .label Postponed date:
            .detail
              //#{service.postponementDate}
              span #{service.postponementDate}
            spacer(size='10')
      columns(small='1', valign='top')
        spacer(size='10')
        //- src=statusIcon
        //- 2x triple block here
        //////img.icon.md(src=statusIcon height="35" width="35" style="width:35px;min-width:35px;height:35px;").float-center

    spacer(size='5')

  container
    +asset-header-simple(asset)

  container
    columns
      container.main-content
        row
          columns
            spacer(size='10')
            h6 Lloyd’s Register Client Service Delivery Support Team
        row
          columns(small='12',large='4')
            .label Contact name
            .detail #{CFOOffice}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Phone number
            .detail #{CFOPhone}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Email address
            .detail #{CFOEmailAddress}
        spacer.hide-for-large(size='4')
        spacer.show-for-large(size='15')
        row
          columns(small='12')
            .label Address
            .detail #{CFOAddress}
        //- Dates section
        row
          columns
            spacer(size='5')
            hr
            h6 Dates
        row
          columns(small='12',large='12')
            //- Nested row & columns here as there is an odd number of elements that cannot be split by 12
            row
              columns(small='12',large='3')
                .label Survey start date
                .detail #{surveyStartDate}
                spacer.hide-for-large(size='4')
              columns(small='12',large='9')
                row
                  columns(small='12',large='3')
                    .label Arrival date
                    .detail #{estimatedDateOfArrival}
                    spacer.hide-for-large(size='4')
                  columns(small='12',large='3')
                    .label Arrival time
                    .detail #{estimatedTimeOfArrival}
                    spacer.hide-for-large(size='4') 
                  columns(small='12',large='3')
                    .label Departure date
                    .detail #{estimatedDateOfDeparture}
                    spacer.hide-for-large(size='4')
                  columns(small='12',large='3')
                    .label Departure time
                    .detail #{estimatedTimeOfDeparture}
                    spacer.hide-for-large(size='4')
        row
          columns
            spacer(size='5')
            hr
            h6 Port
        row
          columns(small='12',large='4')
            .label Port name
            .detail #{portName}
            spacer.hide-for-large(size='4')
          columns(small='12',large='8')
            .label Berth anchorage
            .detail #{berthOrAnchorage}
        spacer.show-for-large(size='15')
        row
          columns(small='12',large='4')
            .label Port agent name
            .detail #{portAgentName}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Telephone number
            .detail #{portAgentPhoneNumber}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Port agent email address
            .detail #{portAgentEmailAddress}
            spacer.hide-for-large(size='4') 
        row
          columns
            spacer(size='5')
            hr
            h6 Registered owner
        row
          columns(small='12',large='4')
            .label Contact name
            .detail #{registeredOwner}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Phone number
            .detail #{registeredOwnerPhone}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Email address
            .detail #{registeredOwnerEmailAddress}
            spacer.hide-for-large(size='4')
        spacer.show-for-large(size='15') 

        row
          columns(small='12',large='12')
            .label Address
            .detail #{registeredOwnerAddress} 

        row
          columns
            spacer(size='5')
            hr
            h6 Ship manager

        row
          columns(small='12',large='4')
            .label Contact name
            .detail #{shipManager}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Phone number
            .detail #{shipManagerPhone}
            spacer.hide-for-large(size='4')
          columns(small='12',large='4')
            .label Email address
            .detail #{shipManagerEmailAddress}
            spacer.hide-for-large(size='4')

        spacer.show-for-large(size='15')

        row
          columns(small='12',large='5')
            .label Address
            .detail #{shipManagerAddress}

        row
          columns
            spacer(size='5')
            hr
            h6 Ship contact details
        row
          columns
            .detail #{shipContactDetails}

        row
          columns
            spacer(size='5')
            hr
            h6 Comments
        row
          columns
            .detail #{additionalComments}

        row
          columns
            spacer(size='5')
            hr
            h6 Request surveys

        //- intentionally to add 3 spaces below
        for product in products
           +request-survey-service(product)

        spacer(size='40')

  +footer('survey')
