extends layouts/_error-default.pug

block content
  main#main.error-main
    .error-content-main
      #content.error-content
        h2 This download has exceeded time limit.
        p.pb0 Please try again.