extends layouts/_error-default.pug

block content
  main#main.error-main
    .error-content-main
      #content.error-content
        h2 Sorry, something's gone wrong with this link.
        p Please use your back button to return to the previous page and try again.
        p.pb0 If you continue to have problems accessing this page, please contact classdirect@lr.org for support.
