extends layouts/_default.pug

block vars
  - var emailTitle = 'Template';

block content
  container
    columns
      container.main-content
        h5 You can access the following templates:
        mixin link(href, name, dontcompile)
          //- attributes == {class: "btn"}
          a(title='need this before href' href=href)= name
        ul
          li
            +link ('./asset-listing-notification.html', 'Asset Listing Notification, AKA Quarterly Listings')
          li
            +link ('./asset-status-update.html', 'Asset Status Update, AKA Asset Status Update')
          li
            +link ('./confirmation-survey-request.html', 'Confirmation Survey Request')
          li
            +link ('./job-report.html', 'Job Report')
          li
            +link ('./error.html', 'Generic error')
          li
            +link ('./maintenance.html', 'Maintenance')
          li
            +link ('./download-failed.html', 'Download Failed')
          li
            +link ('./download-timed-out.html', 'Download Timed Out')

