extends layouts/_default.pug

block vars
  //- Backend to subtitute and remove variables as necessary
  - var clientName = clientName;
  - var emailTitle = emailTitle;
  - var path = path;
  - var assets = assets;
  - var arrowLink = path + '/assets/img/icons/right.png';

block content

  mixin job-report(job)
    - var serviceIcon = job.serviceIcon; 
    - var link = job.link;

    row.tabular-header.border-bottom
      columns(small='8', large='11', valign='middle').no-outer-padding
        spacer(size='10')
        row
          columns(small='12', large='4', valign='middle').inner-detail-padding
            spacer(size='10')
            row.no-outer-padding
              columns(small='12', valign='middle')
                span.job-detail Job number
            row.no-outer-padding
              columns(small='12', valign='middle')
                //#{job.jobNumber}
                div.job-detail #{job.jobNumber}
          columns(small='12', large='4', valign='middle').inner-detail-padding
            spacer(size='10')
            row.no-outer-padding
              columns(small='12', valign='middle')
                span.job-detail Port of Survey
            row.no-outer-padding
              columns(small='12', valign='middle')
                //#{job.location}
                div.job-detail #{job.location}
          columns(small='12', large='4', valign='middle').inner-detail-padding
            spacer(size='10')
            row.no-outer-padding
              columns(small='12', valign='middle')
                span.job-detail Last visit date
            row.no-outer-padding
              columns(small='12', valign='middle')
                //#{job.lastVisit}
                div.job-detail #{job.lastVisit}
        spacer(size='10')

      columns(small='4', large='1', valign='middle').th-no-left-right-padding
        a(href=link).float-center
          //- 2x triple block here
          //- Review the src link
          //////img(src=arrowLink, style="width:60px;max-width:60px;height:60px;" height="60" width="60")

  mixin job-body(asset)
    container.main-content
      +asset-header-simple(asset)
      spacer(size='5')
      //- intentionally to add 3 spaces below
      for job in asset.jobs
         +job-report(job)
      spacer(size='10')

  container
    spacer(size='10')
    //- intentionally to add 3 spaces below
    for asset in assets
       +job-body(asset)

  +footer
