extends layouts/_error-default.pug

block content
  main#main.error-main
    .error-content-main
      #content.error-content
        h2 System is under maintenance.
        p.pb0 We apologize for any inconvenience caused.
