include /shared
include /forms

.content-main
  page-header(
    data-export-options=`{
      assetCode: vm.asset.id,
      itemType: vm._AppSettings.EXPORTABLE_ITEMS.MPMS,
    }`,
    data-label='cd-mpms-crediting',
  )

  md-divider.spacer.xs

  .cd-actions-context
    .mpms-message-bar(
      data-ng-show='vm.submissionDone',
    )
      cd-card
        cd-card-tabular
          div(
            data-layout,
            data-ng-show='vm.submissionSuccesful',
          )
            icon.green(data-name='tick')
            h3.m0: +translate('cd-mpms-successful-report-submission')
          div(
            data-layout,
            data-ng-show='!vm.submissionSuccesful',
          )
            icon.warn(data-name='alert')
            div(data-flex)
              h3.mt0: +translate('cd-the-following-error-was-found')
              p {{ vm.submissionErrorMessage }}

    cd-card
      cd-card-accordion(
        data-header-item='items',
        data-is-expanded='true',
        data-ng-repeat='items in ::vm.taskItems',
        data-ng-if='items.itemsH.length',
        data-template-location='vm.accordionMpmsTemplate',
      )

    .dark(
      data-ng-if='!vm.taskItems.length',
    )
      +translate('cd-there-are-no-tasks-to-be-credited')

  cd-actions(
    data-ng-show='vm.taskItems.length',
  )
    .content-main(data-layout='row')
      +button({
        class: 'm0',
        label: 'cd-cancel',
        goTo: 'asset.home({ assetId: vm.asset.id })',
        theme: 'light',
      })
      div(data-flex='auto') &nbsp;
      +button({
        class: 'm0',
        disabled: '!vm.inEditMode',
        label: 'cd-submit-report',
        onClick: 'vm.submit()',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
