mpms {
  .mpms-message-bar {
    margin-bottom: $cd2;

    icon {
      margin-right: $cd;
    }
  }

  .cd-actions {
    margin-top: $cd2;
  }

  md-card {
    background-color: transparent;
  }

  cd-card-tabular md-card md-card-content > * {
    background-color: $tabular-grey-color !important;
  }
}
