include /forms

md-card
  a(
    data-ng-attr-ui-sref='{{ ::vm.goTo }}',
    data-ng-click='::vm.onClickContainer($event)',
    data-ng-class='{ "not-clickable": !vm.isContainerClickable || !vm.userHasPermissionToClick }',
    tabindex='{{ ::vm.isContainerClickable ? 0 : -1 }}',
  )
    md-card-content(
      data-layout-gt-sm='row',
      data-ng-attr-layout='{{ ::vm.hasGap && vm.clickArea === "icon" ? "column" : "row" }}',
    )
      //- Transclude a template (riders component)
      div(
        data-flex,
        data-layout-gt-sm='column',
        data-layout-align-gt-sm='center stretch',
        data-ng-transclude,
      )

      //- Action icon if ui-sref or ng-click exists
      .action(
        data-ng-show='vm.canViewCTA',
        data-flex='none',
        data-flex-gt-sm='{{ vm.clickArea === "icon" ? 10 : "none" }}',
        data-layout='column',
        data-layout-align='center center',
        data-ng-click='vm.onClickIcon()',
        data-ng-class='vm.actionClass',
        tabindex='{{ vm.clickArea === "icon" ? 0 : -1 }}',
      )
        icon.primary(data-name='{{ ::vm.actionIcon }}')
