cd-card-tabular {
  display: block;
  md-card {
    > a {
      color: $dark-grey-color;
      text-decoration: none;
    }

    md-card-content {
      min-height: $cd8; // Different heights shown in designs, so standardize all to 80px instead
      padding: 0;

      > * {
        background-color: $tabular-grey-color;

        &:not(.action) {
          padding: $cd-half $cd-half $cd-half $cd;
        }
      }

      .action icon {
        padding: $cd-half;
      }
    }
  }

  &:nth-child(odd) {
    md-card md-card-content {
      &, & > * {
        background-color: $white-color;
      }
    }
  }

  .item-row {
    @include mq-xs {
      margin-top: $cd3;
    }
    @include mq-sm {
      margin-top: $cd;
    }
  }
}

md-dialog {
  cd-card-tabular,
  cd-card-tabular:nth-child(odd) {
    md-card md-card-content {
      &, & > * {
        background-color: $dark-blue-color;
        color: $white-color !important;
      }
    }
  }
}

/*
 * This block runs only on IE, IE 10 and above
 * https://stackoverflow.com/questions/11173106/apply-style-only-on-ie
*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  //- !important removed to fix LRCD-3458
  cd-card-tabular md-card-content{
    min-height: $cd0x0;
  }
}
