include /shared

.tabs-container.dark-background
  .content-main.inner(
    data-flex='none',
    data-layout='row',
  )
    md-tabs.full-tabs(
      data-md-no-ink-bar,
      data-md-no-ink,
      data-md-no-pagination,
      data-md-no-select-click,
      data-md-selected='vm.tabSelected',
      data-md-stretch-tabs='always',
    )
      md-tab(
        data-ng-repeat='tab in vm.tabs track by $index',
        data-ui-sref='{{ tab.uiSref }}',
      )
        md-tab-label.with-icon
          //- Automation hook
          .wrapper(
            class='{{ tab.class }}',
          )
            icon.desktop-icon-display(data-name='{{ tab.icon }}')
            icon.mobile-icon-display(data-name='{{ tab.icon }}')
            span.label(
              data-translate='{{ tab.label }}',
            )

    md-menu(
      data-md-offset='0 60',
      data-md-position-mode='target-right target',
      data-width=4,
    )
      md-button.p0(
        aria-label='{{ "cd-aria-open-main-menu" | translate }}',
        data-ng-click='$mdOpenMenu($event)',
      )
        icon(data-name='filters')
      md-menu-content(data-width='4')
        md-menu-item.dark-blue(
          data-ng-class='{ hide: vm.tabSelected === $index }',
          data-ng-repeat='tab in vm.tabs track by $index',
          data-ui-sref='{{ tab.uiSref }}',
        )
          md-button(
            aria-label='{{ "cd-aria-link-page" | translate }}',
            data-translate-values='{ pageName: "{{ tab.label | translate }}" }',
            data-translate-compile,
          )
            div.display-block(
              data-flex,
              data-layout='row',
            )
              icon.dark-blue(data-name='{{ tab.icon }}')
              p(data-flex) {{ tab.label | safeTranslate }}
