$pip-color: transparentize($dark-grey-color, .4);
cd-card-gantt {
  @mixin dot-triangle {
    position: relative;
    z-index: 2;
    left: 0;
    @include vertical-align(absolute);
    @include transform(translateX(-50%) translateY(-50%));
    @include add-transition(.2s left);
  }
  display: block;
  +cd-card-gantt,
  &:first-child {
    border-bottom: $cd-half solid $body-color;
  }
  md-card {
    margin: 0 !important;
    md-card-content {
      padding: $cd-half;
      .details {
        margin-bottom: $cd-half;
        padding-bottom:  $cd-half;
        border-bottom: $cd0x1 solid $body-color;
        .date strong {
          margin-right: $cd-half;
        }
      }
      .timeline-wrapper {
        @include mq-lt-md {
          flex-direction: column-reverse;
        }
        cd-tooltip {
          top: -$cd3 !important;
        }
        .timeline-category {
          padding-right: $cd;
        }
        .timeline-graph {
          position: relative;
          height: $cd4;
          margin-bottom: $cd0x4; // some xtra margin when date labels present.
          .timeline-bar {
            overflow: visible;
            width: 100%;
            height: $cd * 1.35; // 13.5px
            background-color: $light-grey-color;
            @include vertical-align(absolute);
            .range-bar {
              position: absolute;
              z-index: 1;
              top: 0;
              bottom: 0;
              height: $cd1x4;
              margin: auto;
              &.due {
                background-color: $due-color;
              }
              &.due-soon {
                background-color: $due-soon-color;
              }
              &.imminent {
                background-color: $imminent-color;
              }
              &.not-due {
                background-color: $not-due-color;
              }
              &.overdue {
                background-color: $overdue-color;
              }
            }
          }
          .today {
            z-index: 1;
            width: $cd0x2;
            height: $cd4;
            background: $warn-color;
            @include vertical-align(absolute);
          }
          .dot-wrapper {
            width: $cd4;
            height: $cd3x3;
            text-align: center;
            @include dot-triangle;

            &.has-range .dot {
              border-color: $white-color;
            }
            &.due .dot {
              background-color: $due-color;
            }
            &.due-soon .dot {
              background-color: $due-soon-color;
            }
            &.imminent .dot {
              background-color: $imminent-color;
            }
            &.not-due .dot {
              background-color: $not-due-color;
            }
            &.overdue .dot {
              background-color: $overdue-color;
            }
            &:not(.has-interaction) {
              outline: none;
            }
            &.has-interaction .dot:hover {
              transform: scale(1.3, 1.3);
            }

            .dot {
              width: $cd3x2;
              height: $cd3x2;
              color: $body-color;
              line-height: $cd2x5;
              border: $cd0x2 solid transparent;
              background-color: $olive-green-color;
              display: block;
              @include border-radius(50%);
            }
          }

          .triangle-wrapper {
            width: $cd4;
            height: $cd4;
            @include dot-triangle;

            &.due .triangle {
              border-bottom: $cd3 solid $due-color;
            }
            &.due-soon .triangle {
              border-bottom: $cd3 solid $due-soon-color;
            }
            &.imminent .triangle {
              border-bottom: $cd3 solid $imminent-color;
            }
            &.not-due .triangle {
              border-bottom: $cd3 solid $not-due-color;
            }
            &.overdue .triangle {
              border-bottom: $cd3 solid $overdue-color;
            }
            &:not(.has-interaction) {
              outline: none;
            }
            &.has-interaction .triangle:hover {
              transform: scale(1.3, 1.3);
            }

            .triangle {
              width: inherit;
              height: $cd3;
              color: $body-color;
              line-height: $cd4;
              border-left: $cd2 solid transparent;
              border-right: $cd2 solid transparent;
              display: block;
              border-bottom: $cd3 solid $not-due-color;
              -webkit-transform: translate(0, $cd-half);
              -ms-transform: translate(0, $cd-half);
                  transform: translate(0, $cd-half);
            }
          }
        }
        .timeline-dates {
          margin-top: -$cd;
          font-size: $cd1x2;
        }
      }
    }
    &.gantt-padding  {
      .timeline-graph {
        margin: $cd $cd * 6.8 0;
      }
      .timeline-wrapper > div {
        position: relative;
        .timeline-category {
          position: absolute;
          top: 0;
        }
      }
    }
  }
  timeline-pips {
    z-index: 1;
    margin-top: -$cd0x7;
    left: 0;
    right: 0;
    border-bottom: $cd0x1 solid $pip-color;
    timeline-pips-offset>span::before {
      border-right: $cd0x1 solid $pip-color;
    }
  }
}

$timeline-height: $cd * 7.5;
$timeline-handle-height: $cd * 3.4;

timeline {
  position: relative;
  z-index: 0;
  display: block;
  padding: $cd4 0;
  background: $body-color;
}

timeline-pips {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: $cd3;
  left: $cd3;
  height: $cd1x5;
  display: block;
  overflow-y: visible;
  pointer-events: none;
  border-bottom: $cd0x1 solid $body-color;
  margin-top: -$cd0x9;
  @include vertical-align(absolute);

  timeline-pips-offset {
    // Changed `display: table` to `display: block` based on `timeline-pips-offset > span` implementation (line 219)
    display: block;
    height: inherit;
    overflow-y: visible;
  }

  // Changed `display: table-cell` to 'display: inline-block`
  // Chrome ignores fraction points for table-cell which impacts significantly on timeline pips' alignment
  timeline-pips-offset > span {
    // [100% width / (12 months * 7 years)]
    // Making it fix % instead of using calc() prevent inconsistent rounding in different browsers (just to be sure)
    width: 1.1905%;
    position: absolute;
    height: $cd1x3;
    text-align: center;
    vertical-align: bottom;

    &:first-child {
      visibility: hidden;
    }

    span {
      position: absolute;
      top: $cd2;
      transform: translate3d(-50%, 0, 0);
      font-size: $cd1x3;
      width: $cd7;
    }

    &:before {
      height: $cd-half; // IE fix
      position: absolute;
      top: $cd1x2;
      bottom: 0;
      left: 0;
      display: block;
      content: ' ';
      border-right: $cd0x1 solid $body-color;
    }

    &.medium {
      &:before {
        height: $cd0x7;
        top: $cd1x1;
      }
    }

    &.large{
      &:before {
        height: $cd1x1;
        top: $cd0x9;
        border-width: $cd * 0.20;
      }
    }

    @include mq-sm {
      span {
        font-size: $cd1x1;
        top: $cd2x5;
        transform: translate3d(-50%, 0, 0) rotate(-20deg);
      }
    }
  }
}
