include /forms
include /shared

- const dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;
md-card(
  data-ng-class='{ "gantt-padding": vm.ganttPadding }'
)
  md-card-content
    div.details(
      data-layout='row',
      data-layout-align='start center',
      data-ng-if='::!!vm.showDetails',
    )
      div(data-flex=50)
        .h4-primary(
          data-layout='row',
          data-ng-if='::!!!vm.title',
        )
          md-divider.spacer.xs
          //- Move to model
          span {{ vm.items.title || vm.items.catalogueName }}
        .h4-regular(data-ng-if='::!!vm.title')
          icon.dark-blue(
            data-name='{{ vm.iconName }}',
            data-ng-if='::!!vm.iconName',
          )
          | {{ vm.title | safeTranslate }}
      div.pos-rel(
        data-flex=20,
        data-hide,
        data-show-gt-md,
      )
        due-status(
          data-show-gt-md,
          data-colorize='true',
          data-item='vm.items',
          data-status-name='{{ vm.items.dueStatusH.name }}',
        )
      //- for mobile, laptop and tablet
      div(
        data-flex='grow',
        data-hide-gt-md,
        data-layout='column',
      )
        div(
          data-layout-gt-xs='row',
        )
          div.pos-rel(
            data-flex-gt-xs=30,
          )
            due-status(
              data-colorize='true',
              data-item='vm.items',
              data-status-name='{{ vm.items.dueStatusH.name }}',
            )
          div(
            data-layout-md='row',
            data-layout-sm='column',
            data-flex,
          )
            small.pr1(
              data-flex-md=30,
              data-flex-sm,
              data-layout-md='column',
              data-layout-sm='row',
            )
              +translate-once('cd-next-due-date')
              strong(
                data-hide,
                data-show-sm
              ) &nbsp;:&nbsp;
              strong
                span(data-ng-bind='vm.items.dueDateFormatted')
            small(
              data-flex-md=30,
              data-flex-sm,
              data-layout-md='column',
              data-layout-sm='row',
              data-ng-if='::!!!vm.items.codicilType',
            )
              +translate-once('cd-postponed-date')
              strong(
                data-hide,
                data-show-sm,
              ) &nbsp;:&nbsp;
              strong
                span(data-ng-bind='vm.items.postponementDateFormatted')
            small(
              data-flex,
              data-layout-md='column',
              data-layout-sm='row',
              data-ng-if='vm.items.creditStatus',
            )
              div(
                data-flex=30,
              )
                +translate-once('cd-credit-status')
              strong(
                data-hide,
                data-show-sm,
              ) &nbsp;:&nbsp;
              //- Avoid interpolation like this when other text in same element
              //- This should be in its own element and done using ng-bind='::vm...'
              //- | &nbsp;{{ vm.items.creditStatus }}
              strong
                span(data-ng-bind='vm.items.creditStatus')
            small(
              data-flex,
              data-layout-md='column',
              data-layout-sm='row',
              data-ng-if='::!!vm.items.codicilType',
            )
              div(
                data-flex=2530,
              )
                +translate-once('cd-job-status')
              strong(
                data-hide,
                data-show-sm,
              ) :&nbsp;
              strong
                span(data-ng-bind='vm.items.job.status || "-"')

      div.date(
        data-layout='row',
        data-flex='grow',
        data-hide,
        data-show-gt-md,
        data-ng-if='::vm.showDetails',
      )
        div(data-flex)
          small.pr1
            +translate-once('cd-next-due-date')
            |:&nbsp;
            strong
              span(data-ng-bind='vm.items.dueDateFormatted')
          small.pr1(
            data-ng-if='::!!!vm.items.codicilType',
          )
            +translate-once('cd-postponed-date')
            |:&nbsp;
            strong
              span(data-ng-bind='vm.items.postponementDateFormatted')
        div(
          data-flex=40,
          data-ng-if='::!!!vm.items.codicilType'
        )
          small.px1
            +translate-once('cd-credit-status')
            |:&nbsp;
            strong
              span(data-ng-bind='vm.items.creditStatus')
        div(
          data-flex,
          data-ng-if='::!!vm.items.codicilType'
        )
          small.px1
            +translate-once('cd-job-status')
            |:&nbsp;
            strong
              span(data-ng-bind='::vm.items.job.status || "-"')
      //- Do not one time bind vm.showDetails, it disables the show checklist CTA
      div(
        data-flex='nogrow',
        data-ng-if='!!vm.showDetails',
      )
        +button({
          label: 'cd-view-details',
          /* TODO: Make the link dynamic for codicil and service once service is available */
          goTo: '{{ ::vm.tabularAction }}',
          theme: 'primary',
          hide: '!vm.canViewCTA',
        })

    div(
      data-ng-if='::!!vm.isShowingTitle',
      data-hide-gt-xs,
      data-translate-once='{{ vm.title }}',
    )
    div.timeline-wrapper(
      data-layout='column',
    )
      div(
        data-layout-align='start center',
        data-layout='row',
      )
        .timeline-category(
          data-ng-class='{ "flex-15": !vm.ganttPadding }',
          data-hide-xs,
          data-ng-if='::!!vm.isShowingTitle',
          data-translate-once='{{ vm.title }}',
        )
        div(data-flex)
          .timeline-graph
            .timeline-bar
              timeline-pips
                timeline-pips-offset(
                  data-bind-notifier='{ valueToUpdate: vm.pips }'
                )
                  span(
                    data-ng-repeat='pip in vm.pips',
                    data-ng-class='{ "{{pip.pipType}}" : pip.pipType }',
                    data-ng-style=`{
                      left: pip.position + "%"
                    }`,
                  )
                    //- generate the following dates in dateHelper (refer to controller)
                    span(
                      data-hide-gt-sm,
                      data-ng-if='pip.isShowLabel && vm.showPipDates',
                    ) {{:valueToUpdate:pip.date | #{'date: pip.dateFormatMobile'}  }}
                    span(
                      data-hide-xs,
                      data-hide-sm,
                      data-ng-if='pip.isShowLabel && vm.showPipDates',
                    ) {{:valueToUpdate:pip.date | #{'date: pip.dateFormatDefault'}  }}
              .today(
                data-ng-if='vm.isShowingTodayPip',
                data-ng-style='{ left: vm.positionForToday + "%" }',
              )
              .item(
                data-ng-repeat='item in vm.groupedItems track by $index',
              )
                //- Each .item is a rider. In single mode, we have range dates as well
                //- I.e. the .range-bar
                //- @TODO - create uitility method in controller like showRangeBar(item) and use that for ng-if
                .range-bar(
                  data-ng-class=`{
                     imminent: vm.dueStatusClass(item) === 'imminent',
                     overdue: vm.dueStatusClass(item) === 'overdue',
                    'due-soon': vm.dueStatusClass(item) === 'due-soon',
                    'not-due': vm.dueStatusClass(item) === 'not-due',
                  }`,
                  data-ng-if='!vm.multiMode && (item.lowerRangeDate || item.upperRangeDate)',
                  data-ng-mouseenter='item.showRangeTooltip = true',
                  data-ng-mouseleave='item.showRangeTooltip = false',
                  data-ng-style=`{ left: vm.getRangeDateStyleLeft(item) + "%", right: vm.getRangeDateStyleRight(item) + "%" }`,
                )

                //- Dots can either be a count of riders inside, or a single rider
                //- mouseenter/leave move to controler
                div(
                  data-ng-class=`{
                    'triangle-wrapper' : item.postponement.hasPostponedService,
                    'dot-wrapper' : !item.postponement.hasPostponedService,
                    'has-interaction': vm.hasDotInteraction(),
                    'has-range': item.lowerRangeDate || item.upperRangeDate,
                     imminent: vm.dueStatusClass(item) === 'imminent',
                     overdue: vm.dueStatusClass(item) === 'overdue',
                    'due-soon': vm.dueStatusClass(item) === 'due-soon',
                    'not-due': vm.dueStatusClass(item) === 'not-due',
                  }`,
                  data-ng-click='::vm.openModal(item)',
                  data-ng-mouseenter='vm.hasDotInteraction() && vm.toggleDotTooltip(item, true)',
                  data-ng-mouseleave='vm.hasDotInteraction() && vm.toggleDotTooltip(item, false)',
                  data-ng-style='{left: vm.dynamicDotPosition(item) + "%", cursor: !vm.showDetails ? "pointer" : "default"}',
                )
                  //- create a new utility function in controller that is like hasPostponedService(item)
                  strong(
                    data-ng-class=`{
                      "triangle" : vm.hasPostponedService(item),
                      "dot" : !vm.hasPostponedService(item),
                    }`
                  )
                    span(
                      data-flex,
                      data-layout='row'
                      data-layout-align='center center',
                    ) {{ item.riders.length }}

                //- Grouped dot tooltip
                cd-tooltip(
                  data-ng-class='{show: item.showGroupedDotTooltip, leave: !item.showGroupedDotTooltip}',
                  data-ng-if='vm.isShowingTooltip && item.riders.length > 1',
                  data-ng-style='{left: vm.dynamicDotPosition(item) + "%"}',
                )
                  div(
                    data-ng-if='item.postponement.hasPostponedService',
                    data-translate-once='cd-grouped-triangle-tooltip',
                    data-translate-values=`{ count: item.riders.length,
                      type: (vm.title | translate),
                      postponedCount: item.postponement.postponedServiceCount }`,
                  )
                  div(
                    data-ng-if='!item.postponement.hasPostponedService',
                    data-translate-once='cd-grouped-dot-tooltip',
                    data-translate-values='{ count: item.riders.length, type: (vm.title | translate) }',
                  )
                  //- @TODO MOVE TO CONTROLLER
                  div {{ vm.groupedDotMinMaxDate(item, 'min') || '-' | #{'date : "' + dateFormatter + '"'} }} - {{ vm.groupedDotMinMaxDate(item, 'max') || '-' | #{'date : "' + dateFormatter + '"'} }}

                //- Single dot tooltip
                cd-tooltip(
                  data-ng-class='{show: item.showDotTooltip, leave: !item.showDotTooltip}',
                  data-ng-if='vm.isShowingTooltip && item.riders.length === 1',
                  data-ng-style='{left: vm.dynamicDotPosition(item) + "%"}',
                )
                  div(data-ng-if='item.riders[0].serviceCatalogueH.name || item.riders[0].title')
                    //- @TODO Move to model
                    strong {{ item.riders[0].serviceCatalogueH.name || item.riders[0].title }}
                  div.capitalize(data-ng-if='item.riders[0].dueStatusH.name')
                    +translate-once('cd-due-status')
                    | : {{ item.riders[0].dueStatusH.name }}
                  div
                    +translate-once('cd-status-definition')
                    //- @TODO move to controller, use one-time binding
                    | : {{ vm._utils.getDueStatusDefinition('service', item.riders[0].dueStatusH.name, item) | safeTranslate }}
                  div(data-ng-if='item.riders[0].dueDate && !item.riders[0].isPostponed')
                    +translate-once('cd-due-date')
                    | : {{ item.riders[0].dueDateFormatted }}
                  div(data-ng-if='item.riders[0].isPostponed')
                    +translate-once('cd-postponed-date')
                    | : {{ item.riders[0].postponementDateFormatted }}

          div.timeline-dates(
            data-layout='row',
            data-ng-if='::!!vm.showRangeDates',
          )
            div(
              data-flex='auto',
            ) {{ vm.timelineStartDate }}
            div(
              data-flex='nogrow',
            ) {{ vm.timelineEndDate }}
