include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ vm.title }}')
  form(
    data-flex,
    data-layout='column',
    name='form'
  )
    md-toolbar(
      data-flex='none',
    )
      .md-toolbar-tools.content-main
        .h1 {{ vm.title }}
        span(data-flex)
        +button({
          buttonType: 'icon',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm._$mdDialog.cancel()',
        })
    md-dialog-content(
      data-flex,
    )
      .content-main
        .toggler-container(
          data-flex,
          data-layout='row',
        )
          .toggler(
            data-flex-sm='40',
            data-flex-gt-sm='35',
            data-layout='row',
          )
            cd-accordion-toggler.dark-blue(
              data-flex,
              data-layout='row',
              data-is-layout-row='true',
              data-should-expand='true',
            )
            md-divider.spacer.xs
            cd-accordion-toggler.dark-blue(
              data-flex,
              data-layout='row',
              data-is-layout-row='true',
            )
        md-divider.spacer.xs
        cd-card(data-theme='dark-blue')
          cd-card-accordion(
            data-header-item='item',
            data-modal-closer='vm._$mdDialog.cancel()',
            data-ng-repeat='item in vm.items',
            data-theme='dark',
            data-tree-view,
            data-mode='serviceSchedule',
          )
  md-divider.spacer.large
