add-user {
  progress-cards.disabled {
    pointer-events: none;
  }

  .wizard {
    padding-bottom: $cd10;
  }

  .cd-actions {
    padding-left: 0;
    padding-right: 0;
  }

  .confirmation-box {
    color: $white-color;
    padding-bottom: $cd;
    margin-bottom: $cd;
    border-bottom: $cd0x1 $light-text-color solid;

    span {
      margin-left: $cd-half;
    }
  }
}
