include /forms

.cd-actions-context
  md-divider.spacer
  page-header(
    data-disable-background-image='true',
    data-label='{{ vm.headerTitle }}',
  )

  md-divider.spacer.small

  progress-cards(
    data-ng-class='{disabled: vm.isEditingEORPermissions}',
    data-cards='vm.progressData',
  )

  md-divider.spacer.small

  mixin step-title(str)
    h3.h3-primary.mb0(
      data-translate=str,
    )

  wizard.wizard(
    data-flex='auto',
    data-layout='column',
    data-layout-align='end none',
    hide-indicators='true',
    on-finish='vm.createUser()',
  )
    wz-step(data-wz-title='SEARCH_USER')
      search-user(
        data-create-user-fn='vm.userToCreate(user)',
        data-edit-user-fn='vm.userToEdit(user)',
        data-selected-user='vm.selectedUser',
      )
    wz-step(data-wz-title='ACCOUNT_TYPE')
      +step-title('cd-choose-an-account-type')
      account-type(
        data-current-user='vm.currentUser',
        data-user='vm.selectedUser',
        data-on-select='vm.setAccountType(accountType)',
      )
    wz-step(
      data-ng-repeat='journey in vm.currentJourney track by $index',
      data-ng-switch='journey.component',
      data-wz-title='{{ journey.key }}',
    )
      +step-title('{{ journey.title }}')
      search-client(
        data-on-select='vm.setSelectedClient(client)',
        data-ng-switch-when='search-client',
      )
      search-ship-builder(
        data-on-select='vm.setSelectedShipBuilder(shipBuilder)',
        data-ng-switch-when='search-ship-builder',
      )
      search-flag(
        data-flags='vm.flags',
        data-ng-switch-when='search-flag',
        data-set-selected-flag='vm.setSelectedFlag(flag)',
      )
      permissions(
        data-is-valid='vm.isValid',
        data-mode='vm.selectedAccountType',
        data-model='vm.userModel',
        data-ng-switch-when='permissions',
      )
      confirmation(
        data-mode='vm.selectedAccountType',
        data-model='vm.userModel',
        data-ng-switch-when='confirmation',
      )

cd-actions
  .content-main(data-layout='row')
    +button({
      class: 'm0',
      label: 'cd-cancel',
      goTo: '{{ vm._AppSettings.STATES.ADMINISTRATION }}',
      theme: 'light',
    })
    div(data-flex='auto') &nbsp;
    +button({
      class: 'm0',
      disabled: 'vm.isNextButtonDisabled',
      hide: '!vm.isPermissions',
      labelVariable: 'vm.permissionBtnLabel',
      onClick: 'vm.next()',
      theme: 'warn',
    })
    +button({
      class: 'm0',
      disabled: 'vm.isNextButtonDisabled',
      hide: '!vm.isConfirmation',
      labelVariable: 'vm.confirmationBtnLabel',
      onClick: 'vm.next()',
      theme: 'warn',
    })
    span(
      data-ng-class='::{"p-r-60":vm.isNativeMobile}',
      data-ng-if='::vm.isNativeMobile'
    )
