include /shared

//- ASSET INFORMATION (BASIC) - header
tr.main-header
  th(
    align='left',
    colspan=4
  )
    h1 Adonia
    div 7653979
//- ASSET INFORMATION (BASIC) - body
tr
  td
    div.label Asset Type
    div.detail -
  td
    div.label Class Status
    div.detail -
  td
    div.label Laid Up Date
    div.detail -
  td
    div.label Date of Build
    div.detail -
tr
  td
    div.label Gross Tonnage
    div.detail -
  td
    div.label Flag
    div.detail -
  td
    div.label Asset Overall Status
    div.detail -
  td
    div.label MMS Indicator
    div.detail -
tr
  td(colspan=4)
    div.label Classed/Dual Classed Indicator
    div.detail -
