include /shared

//- ASSET INFORMATION (FULL) - Registry information - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Registry information
//- ASSET INFORMATION (FULL) - Registry information - body
tr
  td
    div.label Former asset names
    div.detail -
  td
    div.label Port of registry
    div.detail -
  td
    div.label Call sign
    div.detail -
  td
    div.label Official number
    div.detail -
tr
  td
    div.label Builder
    div.detail -
  td
    div.label Yard
    div.detail -
  td
    div.label Yard number
    div.detail -
  td
    div.label Keel laying date
    div.detail -
tr
  td
    div.label Year of build
    div.detail -
  td
    div.label Country of build
    div.detail -
  td
    div.label Classification society
    div.detail -
  td
    div.label Asset lifecycle status
    div.detail -
tr
  td(colspan=2)
    div.label Lead technical sister
    div.detail -
  td(colspan=2)
    div.label MMSI number
    div.detail -
//- ASSET INFORMATION (FULL) - Rule set - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Class history, notations and descriptive notes
//- ASSET INFORMATION (FULL) - Rule set - body
tr
  td
    div.label Hull notation
    div.detail -
  td
    div.label Machinery notation
    div.detail -
  td(colspan=2)
    div.label Descriptive notes
    div.detail -
//- ASSET INFORMATION (FULL) - Equipment information - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Equipment information
//- ASSET INFORMATION (FULL) - Equipment information - body
tr
  td
    div.label Cable length
    div.detail -
  td
    div.label Cable grade
    div.detail -
  td
    div.label Cable diameter
    div.detail -
  td
    div.label Equipment letter
    div.detail -
//- ASSET INFORMATION (FULL) - Principal dimensions - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Principal dimensions
//- ASSET INFORMATION (FULL) - Principal dimensions - body
tr
  td
    div.label Length overall
    div.detail -
  td
    div.label Length between perpendiculars
    div.detail -
  td
    div.label Breadth moulded
    div.detail -
  td
    div.label Breadth extreme
    div.detail -
tr
  td
    div.label Draught max
    div.detail -
  td
    div.label Depth moulded
    div.detail -
  td
    div.label Gross tonnage
    div.detail -
  td
    div.label Net tonnage
    div.detail -
tr
  td
    div.label Deadweight
    div.detail -
  td
    div.label Decks
    div.detail -
  td(colspan=2)
    div.label Propulsion
    div.detail -
//- ASSET INFORMATION (FULL) - Registered owner - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Registered owner
//- ASSET INFORMATION (FULL) - Registered owner - body
tr
  td
    div.label Name
    div.detail -
  td
    div.label Telephone
    div.detail -
  td
    div.label Email/Website
    div.detail -
  td
    div.label Address
    div.detail -
//- ASSET INFORMATION (FULL) - Group owner - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Group owner
//- ASSET INFORMATION (FULL) - Group owner - body
tr
  td
    div.label Name
    div.detail -
  td
    div.label Telephone
    div.detail -
  td
    div.label Email/Website
    div.detail -
  td
    div.label Address
    div.detail -
//- ASSET INFORMATION (FULL) - Ship owner - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Ship owner
//- ASSET INFORMATION (FULL) - Ship owner - body
tr
  td
    div.label Name
    div.detail -
  td
    div.label Telephone
    div.detail -
  td
    div.label Email/Website
    div.detail -
  td
    div.label Address
    div.detail -
//- ASSET INFORMATION (FULL) - Operator - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Operator
//- ASSET INFORMATION (FULL) - Operator - body
tr
  td
    div.label Name
    div.detail -
  td
    div.label Telephone
    div.detail -
  td
    div.label Email/Website
    div.detail -
  td
    div.label Address
    div.detail -
//- ASSET INFORMATION (FULL) - Doc Company - header
tr
  th(
    align='left',
    colspan=4
  )
    h4 Doc company
//- ASSET INFORMATION (FULL) - Doc Company - body
tr
  td
    div.label Name
    div.detail -
  td
    div.label Telephone
    div.detail -
  td
    div.label Email/Website
    div.detail -
  td
    div.label Address
    div.detail -
