extends _layouts/home-landscape
include _mixins/_titles
include _mixins/_tasks

block header
  include _partials/_header-listing

block content

  if asset
    +section-title('Asset Details')
    table
      tr
        td(width="15%").lr-header Asset Name
        td(width="35%").is-underlined #{asset.getName() ? asset.getName() : '-'}
        td(width="15%").lr-header Gross Tonnage
        td(width="35%").is-underlined #{helper.removeDecimals(asset.getGrossTonnage())}
      tr
        td.lr-header LR Number
        td.is-underlined #{asset.getImoNumber() ? asset.getImoNumber() : '-'}
        td.lr-header Class Status
        td.is-underlined #{(asset.getClassStatusDto() && asset.getClassStatusDto().getName()) ? asset.getClassStatusDto().getName() : '-'}
      tr
        td.lr-header Date of Build
        td.is-underlined #{(asset.getBuildDate()) ? helper.formatDate(asset.getBuildDate()) : '-'}
        td.lr-header Classification Society
        td.is-underlined #{(asset.getIhsAssetDto() && asset.getIhsAssetDto().getIhsAsset() && asset.getIhsAssetDto().getIhsAsset().getClassList()) ? asset.getIhsAssetDto().getIhsAsset().getClassList() : '-' }
      tr
        td.lr-header Asset Type
        td.is-underlined #{(asset.getAssetType() && asset.getAssetType().getName()) ? asset.getAssetType().getName() : '-'}
        td.lr-header Asset Overall Status
        td.is-underlined #{(asset.getDueStatusH() && asset.getDueStatusH().getName()) ? (asset.getHasPostponedService() ? 'Postponed - '+ asset.getDueStatusH().getName() : ' ' + asset.getDueStatusH().getName()) : '-'}
      tr
        td.lr-header Dual Class Indicator
        td.is-underlined #{(asset.getClassMaintenanceStatusDto() && asset.getClassMaintenanceStatusDto().getName())  ? asset.getClassMaintenanceStatusDto().getName() : '-'}
        td.lr-header Lifecycle Status
        td.is-underlined #{(asset.getAssetLifeCycleStatusDto() && asset.getAssetLifeCycleStatusDto().getName()) ? asset.getAssetLifeCycleStatusDto().getName() : '-'}
  
  //- Please Remove the '&& (exportConfig.getInfo() == 2)' to test in the front end
  if(exportConfig.getInfo() == 2)
    if assetDetail
      - ad = assetDetail
      +section-title('Registry Information')
      table
        tr
          td(width="15%").lr-header Former Name(s)
          td(width="35%").is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getFormerAssetNames()) ? ad.getRegistryInformation().getFormerAssetNames() : '-'}
          td(width="15%").lr-header Flag
          td(width="35%").is-underlined #{(asset.getFlagStateDto() && asset.getFlagStateDto().getName()) ? asset.getFlagStateDto().getName() : '-'}
        tr
          td.lr-header Builder
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getBuilder()) ? ad.getRegistryInformation().getBuilder() : '-'}
          td.lr-header Port of Registry
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getPortOfRegistry()) ? ad.getRegistryInformation().getPortOfRegistry() : '-'}
        tr
          td.lr-header Yard
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getYard()) ? ad.getRegistryInformation().getYard() : '-'}
          td.lr-header Call Sign
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getCallSign()) ? ad.getRegistryInformation().getCallSign() : '-'}
        tr
          td.lr-header Yard Number
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getYardNumber()) ? ad.getRegistryInformation().getYardNumber() : '-'}
          td.lr-header Official Number
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getOfficialNumber()) ? ad.getRegistryInformation().getOfficialNumber() : '-'}
        tr
          td.lr-header Keel Laying Date
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getKeelLayingDate()) ? ad.getRegistryInformation().getKeelLayingDate() : '-'}
          td.lr-header MMSI Number
          td.is-underlined #{(ad && ad.getRegistryInformation() && ad.getRegistryInformation().getMmsiNumber()) ? ad.getRegistryInformation().getMmsiNumber() : '-'}
        tr
          td.lr-header Lead Technical Sister?
          td.is-underlined #{(asset.getIsLead() != null) ? ((asset.getIsLead() == true) ? 'Yes' : 'No')  : '-'}
      
    if(asset && assetDetail)
      +section-title('Ruleset, Class Notations and Descriptive Notes')
      table
        tbody
          tr
            td(width="20%").lr-header Hull Notation
            td.is-underlined #{(asset.getClassNotation()) ? asset.getClassNotation() : '-' }
          tr
            td.lr-header Machinery Notation
            td.is-underlined #{(ad && ad.getRulesetDetailsDto() && ad.getRulesetDetailsDto().getMachineryNotation()) ? ad.getRulesetDetailsDto().getMachineryNotation() : '-'}
          tr
            td.lr-header Descriptive Notes
            td.is-underlined #{(ad && ad.getRulesetDetailsDto() && ad.getRulesetDetailsDto().getDescriptiveNote()) ? ad.getRulesetDetailsDto().getDescriptiveNote() : '-' }
    
    if assetDetail
      - ad = assetDetail
      +section-title('Principal Dimensions (m, t)')
      table
        tr
          td(width="20%").lr-header Length Overall
          td(width="30%").is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getLengthOverall()) ? ad.getPrincipalDimension().getLengthOverall() : '-'}
          td(width="15%").lr-header Draught Max
          td(width="35%").is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getDraughtMax()) ? ad.getPrincipalDimension().getDraughtMax() : '-' }
        tr
          td.lr-header Length between Perpendiculars
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getLengthBetweenPerpendiculars()) ? ad.getPrincipalDimension().getLengthBetweenPerpendiculars() : '-'}
          td.lr-header Depth Moulded
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getDepthMoulded()) ? ad.getPrincipalDimension().getDepthMoulded() : '-'}
        tr
          td.lr-header Breadth Moulded
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getBreadthMoulded()) ? ad.getPrincipalDimension().getBreadthMoulded() : '-'}
          td.lr-header Gross Tonnage
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getGrossTonnage()) ? ad.getPrincipalDimension().getGrossTonnage() : '-'}
        tr
          td.lr-header Breadth Extreme
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getBreadthExtreme()) ? ad.getPrincipalDimension().getBreadthExtreme() : '-'}
          td.lr-header Net Tonnage
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getNetTonnage()) ? ad.getPrincipalDimension().getNetTonnage() : '-'}
        tr
          td.lr-header Deadweight
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getDeadWeight()) ? ad.getPrincipalDimension().getDeadWeight() : '-'}
          td.lr-header Decks
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getDecks()) ? ad.getPrincipalDimension().getDecks() : '-'}
        tr
          td.lr-header Propulsion
          td.is-underlined #{(ad && ad.getPrincipalDimension() && ad.getPrincipalDimension().getPropulsion()) ? ad.getPrincipalDimension().getPropulsion() : '-'}

      +section-title('Registered Owner')
      table
        tbody
          tr.is-underlined
            td(width="5%").lr-header Name
            td(width="40%") #{(ad && ad.getOwnership() && ad.getOwnership().getRegisteredOwner() && ad.getOwnership().getRegisteredOwner().getName()) ? ad.getOwnership().getRegisteredOwner().getName() : '-'}
            td(width="4%").lr-header Telephone
            td(width="10%") #{(ad && ad.getOwnership() && ad.getOwnership().getRegisteredOwner() && ad.getOwnership().getRegisteredOwner().getPhoneNumber()) ? ad.getOwnership().getRegisteredOwner().getPhoneNumber() : '-'}
            td(width="16%").lr-header Email / Website
            td(width="25%") #{(ad && ad.getOwnership() && ad.getOwnership().getRegisteredOwner() && ad.getOwnership().getRegisteredOwner().getEmailAddress()) ? ad.getOwnership().getRegisteredOwner().getEmailAddress() : '-'}
          tr.is-underlined
            td(width="5%").lr-header Address
            td(colspan=5).is-underlined #{(ad && ad.getOwnership() && ad.getOwnership().getRegisteredOwner() && ad.getOwnership().getRegisteredOwner().getAddress()) ? ad.getOwnership().getRegisteredOwner().getAddress() : '-'}

      +section-title('Ship Manager')
      table
        tbody
          tr.is-underlined
            td(width="5%").lr-header Name
            td(width="40%") #{(ad && ad.getOwnership() && ad.getOwnership().getShipManager() && ad.getOwnership().getShipManager().getName()) ? ad.getOwnership().getShipManager().getName() : '-'}
            td(width="4%").lr-header Telephone
            td(width="10%") #{(ad && ad.getOwnership() && ad.getOwnership().getShipManager() && ad.getOwnership().getShipManager().getPhoneNumber()) ? ad.getOwnership().getShipManager().getPhoneNumber() : '-'}
            td(width="16%").lr-header Email / Website
            td(width="25%") #{(ad && ad.getOwnership() && ad.getOwnership().getShipManager() && ad.getOwnership().getShipManager().getEmailAddress()) ? ad.getOwnership().getShipManager().getEmailAddress() : '-'}
          tr.is-underlined
            td(width="5%").lr-header Address
            td(colspan=5).is-underlined #{(ad && ad.getOwnership() && ad.getOwnership().getShipManager() && ad.getOwnership().getShipManager().getAddress()) ? ad.getOwnership().getShipManager().getAddress() : '-'}

      +section-title('Doc Manager')
      table
        tbody
          tr.is-underlined
            td(width="5%").lr-header Name
            td(width="40%") #{(ad && ad.getOwnership() && ad.getOwnership().getDoc() && ad.getOwnership().getDoc().getName()) ? ad.getOwnership().getDoc().getName() : '-'}
            td(width="4%").lr-header Telephone
            td(width="10%") #{(ad && ad.getOwnership() && ad.getOwnership().getDoc() && ad.getOwnership().getDoc().getPhoneNumber()) ? ad.getOwnership().getDoc().getPhoneNumber() : '-'}
            td(width="16%").lr-header Email / Website
            td(width="25%") #{(ad && ad.getOwnership() && ad.getOwnership().getDoc() && ad.getOwnership().getDoc().getEmailAddress()) ? ad.getOwnership().getDoc().getEmailAddress() : '-'}
          tr.is-underlined
            td(width="5%").lr-header Address
            td(colspan=5).is-underlined #{(ad && ad.getOwnership() && ad.getOwnership().getDoc() && ad.getOwnership().getDoc().getAddress()) ? ad.getOwnership().getDoc().getAddress() : '-'}

  if(!asset.getRestricted() && servicesByGroup && !servicesByGroup.isEmpty())
    +section-title('Schedule Details')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr
          td(width="40%").lr-header Survey Details
          td(width="20%").lr-header Range Dates
          td(width="10%").lr-header Status
          td(width="10%").lr-header Assigned Date
          td(width="10%").lr-header Due Date
          td(width="10%").lr-header Postponed Date
      tbody
        each svcs in servicesByGroup
          tr.light-grey-background
              td(colspan='6').lr-header #{(svcs[0].getService().getServiceCatalogueH() && svcs[0].getService().getServiceCatalogueH().getProductCatalogue() && svcs[0].getService().getServiceCatalogueH().getProductCatalogue().getName()) ? svcs[0].getService().getServiceCatalogueH().getProductCatalogue().getName() : '-'}
          each serv in svcs
            tr.is-underlined
              td 
                span #{(serv.getService() && serv.getService().getServiceCatalogueH() && serv.getService().getServiceCatalogueH().getCode()) ? serv.getService().getServiceCatalogueH().getCode() : ''}
                span #{(serv.getService() && serv.getService().getOccurrenceNumber()) ? serv.getService().getOccurrenceNumber() : ''} -
                span #{(serv.getService() && serv.getService().getServiceCatalogueH() && serv.getService().getServiceCatalogueH().getName()) ? serv.getService().getServiceCatalogueH().getName() : ''}
              td 
                span #{(serv.getService() && serv.getService().getLowerRangeDate()) ? helper.formatDate(serv.getService().getLowerRangeDate()) : '-'} - 
                span #{(serv.getService() && serv.getService().getUpperRangeDate()) ? helper.formatDate(serv.getService().getUpperRangeDate()) : '-'}
              td #{(serv.getService() && serv.getService().getDueStatusH() && serv.getService().getDueStatusH().getName()) ? (serv.getService() && serv.getService().getPostponementDate() ? 'Postponed - ' + serv.getService().getDueStatusH().getName() : serv.getService().getDueStatusH().getName()): '-'}
              td #{(serv.getService() && serv.getService().getAssignedDate()) ? helper.formatDate(serv.getService().getAssignedDate()) : '-'}
              td #{(serv.getService() && serv.getService().getDueDate()) ? helper.formatDate(serv.getService().getDueDate()) : '-'}
              td #{(serv.getService() && serv.getService().getPostponementDate()) ? helper.formatDate(serv.getService().getPostponementDate()) : '-'}
  
  //- Please Remove the '&& exportConfig.getCodicils().contains(4L)' to test in the front end
  if exportConfig.getCodicils().contains(1L)
    if(cocs && (cocs.size() > 0))
      +section-title('Conditions of Class')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr.is-underlined
            td(width="10%").lr-header ID
            td(width="10%").lr-header Imposed Date
            td(width="10%").lr-header Due Date
            td(width="10%").lr-header Category
            td(width="10%").lr-header Report Number
            td(width="50%").lr-header Description
        tbody
          for coc in cocs
            tr.is-underlined
              td(width='10%') #{(coc.getReferenceCode()) ? coc.getReferenceCode() : '-'}
              td(width='10%') #{(coc.getImposedDate()) ? helper.formatDate(coc.getImposedDate()) : '-'}
              td(width='10%') #{(coc.getDueDate()) ? helper.formatDate(coc.getDueDate()) : '-'}
              td(width='10%') #{(coc.getCategoryH() && coc.getCategoryH().getName()) ? coc.getCategoryH().getName() : '-'}
              td(width='10%') #{(coc.getJobH() && coc.getJobH().getJobNumber()) ? coc.getJobH().getJobNumber() : '-'}
              td(width='50%') #{(coc.getDescription()) ? coc.getDescription() : '-'}
  
  //- Please Remove the '&& exportConfig.getCodicils().contains(4L)' to test in the front end
  if exportConfig.getCodicils().contains(5L)
    if(statutoryFindings && (statutoryFindings.size() > 0))
      +section-title('Statutory Findings')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr.is-underlined
            td(width="10%").lr-header ID
            td(width="10%").lr-header Imposed Date
            td(width="10%").lr-header Due Date
            td(width="10%").lr-header Category
            td(width="10%").lr-header Report Number
            td(width="50%").lr-header Description
        tbody
          for sf in statutoryFindings
            tr.is-underlined
              td(width="10%") #{(sf.getReferenceCode()) ? sf.getReferenceCode() : '-'}
              td(width="10%") #{(sf.getImposedDate()) ? helper.formatDate(sf.getImposedDate()) : '-'}
              td(width="10%") #{(sf.getDueDate()) ? helper.formatDate(sf.getDueDate()) : '-'}
              td(width="10%") #{(sf.getCategoryH() && sf.getCategoryH().getName()) ? sf.getCategoryH().getName() : '-'}
              td(width="10%") #{(sf.getJobH() && sf.getJobH().getJobNumber()) ? sf.getJobH().getJobNumber() : '-'}
              td(width="50%") #{(sf.getDescription()) ? sf.getDescription() : '-'}
  
  //- Please Remove the '&& exportConfig.getCodicils().contains(2L)' to test in the front end
  if exportConfig.getCodicils().contains(2L)
    if(actionableItems && (actionableItems.size() > 0))
      +section-title('Actionable Items')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr.is-underlined
            td(width="10%").lr-header ID
            td(width="10%").lr-header Imposed Date
            td(width="10%").lr-header Due Date
            td(width="10%").lr-header Category
            td(width="10%").lr-header Report Number
            td(width="50%").lr-header Description
        tbody
          for ai in actionableItems
            tr.is-underlined
              td(width="10%") #{(ai.getReferenceCode()) ? ai.getReferenceCode() : '-'}
              td(width="10%") #{(ai.getImposedDate()) ? helper.formatDate(ai.getImposedDate()) : '-'}
              td(width="10%") #{(ai.getDueDate()) ? helper.formatDate(ai.getDueDate()) : '-'}
              td(width="10%") #{(ai.getCategoryH() && ai.getCategoryH().getName()) ? ai.getCategoryH().getName() : '-'}
              td(width="10%") #{(ai.getJobH() && ai.getJobH().getJobNumber()) ? ai.getJobH().getJobNumber() : '-'}
              td(width="50%") #{(ai.getDescription()) ? ai.getDescription() : '-'}
  
  //- Please Remove the '&& exportConfig.getCodicils().contains(3L)' to test in the front end
  if exportConfig.getCodicils().contains(3L)
    if(assetNotes && (assetNotes.size() > 0))
      +section-title('Asset Notes')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr.is-underlined
            td(width="10%").lr-header ID
            td(width="10%").lr-header Imposed Date
            td(width="10%").lr-header Category
            td(width="10%").lr-header Report Number
            td(width="60%").lr-header Description
        tbody
          for an in assetNotes
            tr.is-underlined
              td(width="10%") #{(an.getReferenceCode()) ? an.getReferenceCode() : '-'}
              td(width="10%") #{(an.getImposedDate()) ? helper.formatDate(an.getImposedDate()) : '-'}
              td(width="10%") #{(an.getCategoryH() && an.getCategoryH().getName()) ? an.getCategoryH().getName() : '-'}
              td(width="10%") #{(an.getJobH() && an.getJobH().getJobNumber()) ? an.getJobH().getJobNumber() : '-'}
              td(width="60%") #{(an.getDescription()) ? an.getDescription() : '-'}

  if(exportConfig.getService() == 3)
    if(checklistByPartheldServices && !checklistByPartheldServices.isEmpty())
      +section-title('Outstanding Checklist Items')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        tbody
          each checklistitem, servs in checklistByPartheldServices
            if(servs && (checklistitem.size() > 0))
              tr.is-underlined
                td.lr-header.light-grey-background.sub-header
                  span #{(servs.getServiceCatalogueH() && servs.getServiceCatalogueH().getCode()) ? servs.getServiceCatalogueH().getCode() : ''}
                  span #{(servs.getOccurrenceNumber()) ? servs.getOccurrenceNumber() : ''} -
                  span #{(servs.getServiceCatalogueH() && servs.getServiceCatalogueH().getName()) ? servs.getServiceCatalogueH().getName() : ''}
              each task in checklistitem
                tr.is-underlined
                  td(style='padding-left:38px') 
                    span #{(task.getReferenceCode()) ? task.getReferenceCode() : ''} - 
                    span #{(task.getLongDescription()) ? task.getLongDescription() : ''}
  
  //- Please Remove the '&& (exportConfig.getService() == 3)' to test in the front end
  if(exportConfig.getService() == 3)
    if(serviceGroupWithTask && !serviceGroupWithTask.isEmpty()) 
      +section-title('Task Details')
      table(style='-fs-table-paginate: paginate; border-spacing: 0')
        thead
          tr.is-underlined
            td(width="60%").lr-header
            td(width="10%").lr-header Status
            td(width="10%").lr-header Assigned Date
            td(width="10%").lr-header Due Date
            td(width="10%").lr-header Postponed Date
        tbody
          each svcs, groupName in serviceGroupWithTask
            tr.light-grey-background
              td(colspan='5').lr-header #{groupName}
            each taskList in svcs
              if(taskList.getTask() && taskList.getTask().getItemsH() && (taskList.getTask().getItemsH().size() > 0))
                - var parentRef = taskList.getTask().getServiceCatalogueH().getCode()
                - var childRef = taskList.getTask().getServiceCatalogueH().getName()
                - var occurrenceNoRef = taskList.getTask().getOccurrenceNumber()
                tr.is-underlined
                  td(colspan='5').lr-header
                    span #{parentRef ? parentRef : ''}
                    span #{occurrenceNoRef ? occurrenceNoRef : ''}  -
                    span #{childRef ? childRef : ''}
                    
                each tasks in taskList.getTask().getItemsH()
                  +tasks(tasks, '', childRef)

  .fa
    .header.pt1
      | For any enquiries please contact your local office
    .header.pt1
      | Advice to Owners
    p
      | Class will be automatically suspended upon failure to complete the Special survey or Continuous Survey of the Hull Cycle by the due date unless, under exceptional circumstances, a postponement for completion has been agreed (maximum 3 months). Also Class will be automatically suspended upon failure to complete the Annual or Intermediate Survey within 3 months of the due date.
    p
      | Other periodical surveys and conditions of class should be dealt with by the due date unless postponed by the agreement. Non-compliance may jeopardise Class. If the Class is suspended Statutory Certificates issued by Lloyd&#39;s Register will automatically become invalid.
    .header
      | For Vessels Other than Yachts and Inland Waterway Vessels
    P
      | In Accordance with part 1 of the Rules and Regulations for the Classification of Ships, The Intermediate Survey may be held at the Second or Third Anniversary after completion, Commissioning or Special Survey.
    P
      | Where it is currently scheduled for the second anniversary the survey may, at your discretion, be deferred until the Third Anniversary. Where ITSS has been deferred the Survey must be held within the period shown to comply with Survey Requirements.

block footer
  include _partials/_footer-generic
