extends _layouts/home
include _mixins/_titles

block header
  include _partials/_header-listing

block content
  if(assets && assets.size() > 0)
    each asset, index in assets
      .section-title
        span #{index + 1}
        span . &nbsp;
        span #{asset.getName() ? asset.getName() : ''}
        span &nbsp;&ndash;&nbsp;
        span #{asset.getImoNumber() ? asset.getImoNumber() : ''}
      table
        tr
          td(width="20%").lr-header Gross Tonnage
          td(width="30%").is-underlined #{asset.getGrossTonnage() ? asset.getGrossTonnage() : '-'}
          td(width="20%").lr-header Class Status
          td(width="30%").is-underlined #{(asset.getClassStatusDto() && asset.getClassStatusDto().getName()) ? asset.getClassStatusDto().getName() : '-'}
        tr
          td.lr-header Date of Build
          td.is-underlined #{(asset.getBuildDate()) ? helper.formatDate(asset.getBuildDate()) : '-'}
          td.lr-header Classification Society
          td.is-underlined #{(asset.getIhsAssetDto() && asset.getIhsAssetDto().getIhsAsset() && asset.getIhsAssetDto().getIhsAsset().getClassList()) ? asset.getIhsAssetDto().getIhsAsset().getClassList() : '-' }
        tr
          td.lr-header  Asset Type
          td.is-underlined #{(asset.getAssetType() && asset.getAssetType().getName()) ? asset.getAssetType().getName() : '-'}
          td.lr-header Asset Overall Status
          td.is-underlined #{(asset.getDueStatusH() && asset.getDueStatusH().getName()) ? (asset.getHasPostponedService() ? 'Postponed - '+ asset.getDueStatusH().getName() : ' ' + asset.getDueStatusH().getName()) : '-'}
        tr
          td.lr-header Dual Class Indicator
          td.is-underlined #{(asset.getClassMaintenanceStatusDto() && asset.getClassMaintenanceStatusDto().getName())  ? asset.getClassMaintenanceStatusDto().getName() : '-'}
          td.lr-header Lifecycle Status
          td.is-underlined #{(asset.getAssetLifeCycleStatusDto() && asset.getAssetLifeCycleStatusDto().getName()) ? asset.getAssetLifeCycleStatusDto().getName() : '-'}

block footer
  include _partials/_footer-generic
