extends _layouts/home-landscape
include _mixins/_titles

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details
  
  if(checkLists && checkLists.size() > 0)
    +section-title('Checklist Items')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width="15%", style='padding-left:38px').lr-header ID
          td.lr-header Description
          td(width="10%").lr-header Status
      tbody
        tr.is-underlined
          td.lr-header(colspan='3')
            span #{service && service.getServiceCatalogueH() && service.getServiceCatalogueH().getCode() ? service.getServiceCatalogueH().getCode() : ' '}
            span #{service && service.getOccurrenceNumber() ? service.getOccurrenceNumber() : ' '} -
            span #{service && service.getServiceCatalogueH() && service.getServiceCatalogueH().getName() ? service.getServiceCatalogueH().getName() : ' '}
        for group in checkLists
          if (group.getChecklistSubgrouplist() && group.getChecklistSubgrouplist().size() > 0)
            tr
              td.lr-header(colspan='3') #{group && group.getName() ? group.getName() : ' '}
            for subgroup in group.getChecklistSubgrouplist()
              if (subgroup && subgroup.getChecklistItems() && subgroup.getChecklistItems().size() > 0)
                tr
                  td.lr-header.light-grey-background.is-underlined(colspan='3') #{(subgroup && subgroup.getName()) ? subgroup.getName() : ''}
                for item in subgroup.getChecklistItems()
                  tr.is-underlined
                    td(style='padding-left:38px')
                      span #{(item.getReferenceCode()) ? item.getReferenceCode() : ''}
                    td
                      span #{(item.getLongDescription()) ? item.getLongDescription() : ''}
                    td
                      span #{(item.getResolutionStatusH() && item.getResolutionStatusH().getName()) ? item.getResolutionStatusH().getName() : '-'}

block footer
  include _partials/_footer-generic
