extends _layouts/home-landscape
include _mixins/_titles

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details
  
  if(cocs && cocs.size() > 0)
    +section-title('Conditions of Class')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width="10%").lr-header ID
          td(width="10%").lr-header Imposed Date
          td(width="10%").lr-header Due Date
          td(width="10%").lr-header Category
          td(width="10%").lr-header Status
          td(width="50%").lr-header Description
      tbody
        for coc in cocs
          tr.is-underlined
            td #{(coc.getReferenceCode()) ? coc.getReferenceCode() : '-'}
            td #{(coc.getImposedDate()) ? helper.formatDate(coc.getImposedDate()) : '-'}
            td #{(coc.getDueDate()) ? helper.formatDate(coc.getDueDate()) : '-'}
            td #{(coc.getCategoryH() && coc.getCategoryH().getName()) ? coc.getCategoryH().getName() : '-'}
            td #{(coc.getStatusH() && coc.getStatusH().getName()) ? coc.getStatusH().getName() : '-'}
            td #{(coc.getDescription()) ? coc.getDescription() : '-'}

block footer
  include _partials/_footer-generic
