extends _layouts/home
include _mixins/_titles
include _mixins/_report-sections

block header
  include _partials/_header-report

block content
  +report-title('Final Attendance Report')
  +report-sub-title('Provisional Issue')

  +service-details(job, content, 'far')
  +class-recommendation(classRecommendation)
  +surveys(content, serviceCatalogueLookup, serviceCreditStatusLookup)
  +certificates(content, certificateActionLookup, actionTakenLookup)
  +conditions-of-class(content, actionTakenLookup)
  +statutory-findings(content, actionTakenLookup)
  +actionable-items(content, actionTakenLookup)
  +asset-notes(content, actionTakenLookup)
  +mncns(content, actionTakenLookup)
  +surveyors(employeeList, report, reportIssueBy)

block footer
  include _partials/_footer-far
