extends _layouts/home
include _mixins/_titles
include _mixins/_report-sections

block header
  include _partials/_header-report

block content
  +report-title('Final Survey Report')(class='report-title-margin')
  table
    tr
      td A #{(reportIssueBy && reportIssueBy.getLegalEntity()) ? reportIssueBy.getLegalEntity() : 'Lloyd\'s Register'}  survey report

  +service-details(job, content, 'fsr')
  +class-recommendation(classRecommendation)
  +surveys(content, serviceCatalogueLookup, serviceCreditStatusLookup)
  +certificates(content, certificateActionLookup, actionTakenLookup)
  +conditions-of-class(content, actionTakenLookup)
  +statutory-findings(content, actionTakenLookup)
  +actionable-items(content, actionTakenLookup)
  +asset-notes(content, actionTakenLookup)
  +mncns(content, actionTakenLookup)
  +serviceNarratives(serviceNarratives, reportType)
  +surveyors(employeeList, report, reportIssueBy)

block footer
  include _partials/_footer-fsr
