ul
  li: a(href="/ai_listing_export_template.html") Actionable Items
  li: a(href="/an_listing_export_template.html") Asset Notes
  li: a(href="/coc_listing_export_template.html") Conditions of Class
  li: a(href="/statutory_deficiencies_listing_export_template.html") Statutory Deficiencies
  li: a(href="/statutory_findings_listing_export_template.html") Statutory Findings
  li: a(href="/checklist_export_template.html") Checklist
  li: a(href="/tasklist_export_template.html") Tasklist
  li: a(href="/mpms_export_template.html") MPMS Tasklist
  li: a(href="/fsr_export_template.html") FSR Report
  li: a(href="/far_export_template.html") FAR Report
  li: a(href="/esp_export_template.html") ESP Report
  li: a(href="/appendix_tasklist_export_template.html") Appendix Tasklist
  li: a(href="/appendix_readings_export_template.html") Appendix Readings
  li: a(href="/appendix_checklist_export_template.html") Appendix Checklist
  li: a(href="/asset_export_template_full.html") Asset Details Full
  li: a(href="/asset_export_template_simple.html") Asset Details Simple

