extends _layouts/home

include _mixins/_titles
include _mixins/_mncn-sections

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details

  if(mncns && mncns.size() > 0)
    +section-title('Major Non Conformities')
    each mncn, index in mncns
      if(index < mncns.size() - 1)
        div.after
          +mncn-table(mncn)
      else
        div
          +mncn-table(mncn)

block footer
  include _partials/_footer-generic