extends _layouts/home-landscape
include _mixins/_titles
include _mixins/_tasks

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details

  if(pmsTasks)
    +section-title('MPMS Tasklist')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width='57%').lr-header &nbsp;
          td(width='10%').lr-header Status
          td(width='11%').lr-header Assigned Date
          td(width='11%').lr-header Due Date
          td(width='11%').lr-header Postponed Date
      tbody
          for service in pmsTasks.getServicesH()
            tr.is-underlined
              td.light-grey-background(colspan='5') #{(service.getServiceCatalogueH() && service.getServiceCatalogueH().getProductCatalogue() && service.getServiceCatalogueH().getProductCatalogue().getName()) ? service.getServiceCatalogueH().getProductCatalogue().getName() : '-'}
            tr.is-underlined
              td(colspan='5') #{(service.getServiceCatalogueH() && service.getServiceCatalogueH().getCode()) ? service.getServiceCatalogueH().getCode() : ''} - #{(service.getServiceCatalogueH() && service.getServiceCatalogueH().getName()) ? service.getServiceCatalogueH().getName() : ''}
            if(service && service.getItemsH() && service.getItemsH().size() > 0)
              for item in service.getItemsH()
                +tasks(item, '', '', true)

block footer
  include _partials/_footer-generic
