extends _layouts/home-landscape
include _mixins/_titles

block header
  include _partials/_header-generic

block content
  include _partials/_asset-details

  if(defList)
    +section-title('Statutory Deficiencies')
    table(style='-fs-table-paginate: paginate; border-spacing: 0')
      thead
        tr.is-underlined
          td(width="10%").lr-header ID
          td(width="10%").lr-header Occurrence Date
          td(width="10%").lr-header Status
          td(width="10%").lr-header Category
          td(width="60%").lr-header Description
      tbody
        for sd in defList
          tr.is-underlined
            td #{sd.getId() ? sd.getId() : '-'}
            td #{(sd.getIncidentDate()) ? helper.formatDate(sd.getIncidentDate()) : '-'}
            td #{(sd.getStatusH() && sd.getStatusH().getName()) ? sd.getStatusH().getName() : '-'}
            td #{(sd.getCategory() && sd.getCategory().getName()) ? sd.getCategory().getName() : '-'}
            td #{(sd.getIncidentDescription()) ? sd.getIncidentDescription() : '-'}

block footer
  include _partials/_footer-generic
