include /shared

mixin no-results(condition, key, values)
  .notification(
    data-ng-if=condition,
    data-translate=key,
  )

+no-results('vm.showNoResultsMessage', 'cd-eor-assets-no-result-error')

div(
  data-layout-gt-xs='row',
  data-layout-align='end center',
)
  export-assets(
    data-assets='vm.assets',
    data-show-assets='true',
  )

assets(
  data-assets='vm.assets',
  data-mode='eor',
)
