include /shared

.search-container(
  data-flex-gt=50,
)
  rider-filter(
    data-items='vm.flags',
    data-custom-data= '{ setSelectedFlag: vm.setSelectedFlag }',
    data-hide-label='true',
    data-ng-if='vm.flags.length',
    data-search-by-list='vm.searchByList',
    data-template='{{ vm.flagItemTemplate }}',
  )
