include /forms
include /shared

- const outsideIfNotClasses = require('app/config/project-variables.js').FILTER_OPTIONS.OUTSIDE_IF_NOT_CLASSES;
- const serviceScheduleState = require('app/config/project-variables.js').STATES.SERVICE_SCHEDULE;

.filter
  .filter-header
    .filter-title(data-layout='row')
      icon(
        data-flex='none',
        data-name='filters',
      )
      .filter-title-text.ellipsis(
        data-flex,
        data-ng-hide='vm.isModal',
      )
        +translate('cd-sidebar-filter-assets')

  .filter-body.content-main(
    data-ng-class='{ open: vm.isOpen }',
  )
    .widget-container(data-hide-gt-sm)
      a.underline(
        data-ng-click='vm.clearFilterOptions()',
        data-translate-once='cd-clear-filters',
      )

    .widget-container
      favourites-section(
        data-on-change='vm.updateFilterOptions({ isFavourite })',
        data-is-favourite='vm.filterOptions.isFavourite',
      )

    .widget-container.border-top
      accordion(
        data-id=1,
        data-selected-id='vm.selectedId',
        data-expandable='vm.expandable',
        data-is-expanded='vm.isModal',
        data-title='cd-sidebar-asset-info',
      )
        div(
          data-layout='column',
          data-layout-gt-sm='row',
        )
          div(
            data-flex,
            data-layout='column',
            data-layout-gt-xs='row',
          )
            .checkbox(
              data-flex,
            )
              md-checkbox.small(
                aria-label='{{ ::"cd-inactive-assets" | translate }}',
                data-ng-model='vm.filterOptions.includeInactiveAssets',
                data-ng-change='vm.updateFilterOptions()',
              )
              .label(
                data-translate-once='cd-inactive-assets',
                title='{{ ::"cd-inactive-assets" | translate }}',
              )

            .checkbox(
              data-flex,
            )
              md-checkbox.small(
                aria-label='{{ ::"cd-previous-asset-names" | translate }}',
                data-ng-model='vm.filterOptions.includeFormerAssetNames',
                data-ng-change='vm.updateFilterOptions()',
              )
              .label(
                data-translate-once='cd-previous-asset-names',
                title='{{ ::"cd-previous-asset-names" | translate }}',
              )
          md-divider.spacer.small(
            data-hide-xs,
          )
          div(
            data-flex,
            data-layout='column',
            data-layout-gt-xs='row',
          )
            flag-filter(
              data-flex,
              data-on-change='vm.updateFilterOptions({ flagStateCodes })',
              data-selected-flag-codes='vm.filterOptions.flagStateCodes',
            )
            md-divider.spacer.small(
              data-hide-xs,
            )
            asset-type(
              data-flex
              data-on-change='vm.updateFilterOptions({ assetTypeCodes })',
              data-selected-asset-type-codes='vm.filterOptions.assetTypeCodes',
            )
        div(
          data-layout='row',
          data-layout-wrap,
        )
          div(
            data-flex=100,
            data-flex-md=50,
            data-flex-gt-md=40,
            data-layout='row',
          )
            gross-tonnage(
              data-flex=100,
              data-flex-gt-sm=90,
              data-max='vm.filterOptions.grossTonnageMax',
              data-min='vm.filterOptions.grossTonnageMin',
              data-on-change='vm.updateFilterOptions({ grossTonnageMin, grossTonnageMax })',
            )
          div(
            data-flex=100,
            data-flex-md=50,
            data-flex-gt-md=40,
            data-layout='row',
          )
            date-range(
              data-flex=100,
              data-flex-gt-sm=90,
              data-filter-options='{ disallowFutureDates: true }',
              data-force-update-invalid-model='true',
              data-has-datepicker-label='true',
              data-max='vm.filterOptions.buildDateMax',
              data-min='vm.filterOptions.buildDateMin',
              data-on-change='vm.updateFilterOptions({ buildDateMin: minDate, buildDateMax: maxDate })',
              data-range-layout='row',
              data-range-validator='false',
              data-title='cd-sidebar-date-build',
            )

    .widget-container.border-top
      accordion(
        data-id=2,
        data-selected-id='vm.selectedId',
        data-expandable='vm.expandable',
        data-is-expanded='vm.isModal',
        data-title='cd-class-status',
      )
        class-status(
          data-selected-class-status-ids='vm.filterOptions.classStatusId',
          data-on-change='vm.updateFilterOptions({ classStatusId })',
          data-class-statuses='vm.classStatuses',
        )

    .widget-container.border-top
      accordion(
        data-id=3,
        data-selected-id='vm.selectedId',
        data-expandable='vm.expandable',
        data-is-expanded='vm.isModal',
        data-title='cd-note-and-action-type',
      )
        codicil-type(
          data-codicil-types='vm.codicilTypes',
          data-on-change='vm.updateFilterOptions({ codicilTypeId })',
          data-selected-codicil-types-ids='vm.filterOptions.codicilTypeId',
        )

    .widget-container.border-top
      accordion(
        data-id=4,
        data-selected-id='vm.selectedId',
        data-expandable='vm.expandable',
        data-is-expanded='vm.isModal',
        data-title='cd-surveys',
      )
        service-type(
          data-on-change='vm.updateFilterOptions({ serviceCatalogueIds })',
          data-ng-if='vm.currentState === "' + serviceScheduleState + '"',
          data-service-types='vm.serviceTypes',
        )
        .checkbox(
          data-flex=100,
          data-flex-sm=50,
          data-flex-md=25,
          data-flex-gt-md=20,
        )
          md-checkbox.small(
            aria-label='{{ ::"cd-mms" | translate }}',
            data-ng-change='vm.updateFilterOptions()',
            data-ng-model='vm.filterOptions.isMMSService',
          )
          .label(
            data-translate-once='cd-mms',
            title='{{ ::"cd-mms" | translate }}',
          )
