include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ "cd-sidebar-filter-assets" | translate }}')
  md-toolbar
    .md-toolbar-tools.content-main
      .modal-title.h1(
        data-flex,
        data-translate-once='cd-sidebar-filter-assets'
      )
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm.cancel()',
      })
  md-dialog-content(data-flex)
    .filter-container(data-flex)
      filter(
        data-current-state='vm.currentState',
        data-expandable='!vm.isModal',
        data-is-modal='vm.isModal',
      )

  md-dialog-actions.cd-actions(
    data-flex='none',
    data-layout-align='start center',
  )
    .content-main(
      data-flex='none',
      data-layout-align='end',
      data-layout='row',
    )
      div(
        data-flex,
        data-hide-sm,
        data-hide-xs,
      )
        +button({
          class: 'modal-cancel-button',
          label: 'cd-cancel',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
      div(
        data-flex,
        data-flex-gt-sm='none',
        data-layout='row',
      )
        +button({
          class: 'modal-clear-button',
          hide: '!vm._$mdMedia("gt-sm")',
          label: 'cd-clear-filters',
          onClick: 'vm.clearFilterOptions()',
          theme: 'light',
        })
        +button({
          class: 'flex-50 modal-cancel-button',
          hide: 'vm._$mdMedia("gt-sm")',
          label: 'cd-cancel',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
        +button({
          class: 'flex-50 flex-gt-sm-none modal-submit-button',
          label: 'cd-submit',
          onClick: 'vm.answer(vm.filterOptions)',
          theme: 'warn',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
