include /shared
include /forms

form(
  data-flex,
  data-layout='column',
  name='vm.form',
)
    account-expiry(
      data-flex,
      data-form='vm.form',
      data-header='cd-account-expiry-date',
      data-is-read-only='true',
      data-model='vm.model.accountExpiry',
    )
