include /shared
include /forms

form(
  data-flex,
  data-layout='column',
  name='vm.form',
)
  account-expiry(
    data-flex,
    data-form='vm.form',
    data-header='cd-asset-expires-on',
    data-is-read-only='true',
    data-model='vm.model.assetExpiryDate',
  )
  md-divider.spacer
  div(
    data-flex,
    data-layout='row',
  )
    switch-box(
      data-flex-gt-sm=35,
      data-flex-xs=100,
      data-form='vm.form',
      data-header='cd-thickness-measurement-reports',
      data-is-read-only='true',
      data-model='vm.model.tmReport',
    )
  md-divider.spacer
  search-user-assets(
    data-flex,
    data-form='vm.form',
    data-is-read-only='true',
    data-registered-asset='vm.model.registeredPermissionAsset',
  )
