.content-main
  page-header(
    data-label='cd-survey-history',
  )

  rider-filter(
    data-action='vm.action',
    data-show-top-spinner='true',
    data-filter-label='cd-filter-jobs',
    data-filter-options='vm.filterOptions',
    data-items='vm.jobs',
    data-search-by-list='vm.searchByList',
    data-search-label='cd-filter-search-jobs',
    data-sort-by-list='vm.sortByList',
    data-sort-label='cd-filter-sort-jobs',
    data-template='{{ vm.jobItemTemplate }}',
  )
