include /shared

//- PRODUCT
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr.main-header
    th(
      align='left'
    )
      h2 Machinery (Product)

include _service.pug
include _service.pug
