include /shared

//- PRODUCT - SERVICE
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr.sub-header
    th(colspan=5)
      h4 Boiler (Service Name)
  tr
    td
      div.label Due Date
      div.detail -
    td
      div.label Range Date
      div.detail
        div 02 Nov 2017 -
        div 08 Nov 2017
    td
      div.label Postponement Date
      div.detail -
    td
      div.label Postponement Status
      div.detail -
    td
      div.label Due Status
      div.detail -

//- PRODUCT - SERVICE - TASKLIST
table(
  cellpadding=1,
  cellspacing=0,
  width='100%'
)
  tr
    th(colspan=5)
      h4 Associated Tasks
  //- TASK #1
  tr
    td.auto-width
      div.detail
        div Task #1
        div 000001-ADFGOS-000002
    td
      div.label Credit Status
      div.detail -
    td
      div.label Assigned Date
      div.detail -
    td
      div.label Due Date
      div.detail -
    td
      div.label Postponement Date
      div.detail -
  //- TASK #2
  tr
    td.auto-width
      div.detail
        div Task #2
        div 000002-ADFGOS-000002
    td
      div.label Credit Status
      div.detail -
    td
      div.label Assigned Date
      div.detail -
    td
      div.label Due Date
      div.detail -
    td
      div.label Postponement Date
      div.detail -
