@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  src: url('fonts/OpenSans-Light.woff') format('woff'),
       url('fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url('fonts/OpenSans-Regular.woff') format('woff'),
       url('fonts/OpenSans-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  color: rgba(0,0,0,0.87);
  background-color: #ebebeb;
  margin: 0;
  min-width: 320px;
  line-height: 1.4;
}

body.flexed {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.content-main {
  max-width: 1460px;
  margin: 0 auto;
  padding: 1rem 1.25rem;
}

header {
  background-color: rgb(35,81,126);
  color: rgba(255,255,255,0.87);
  min-height: 3.125rem;
}

header .content-main {
  display: flex;
  padding: 0;
}

header .content-main > a {
  display: flex;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  /*min-height: 500px;*/
  width: 100%;
}

main .content {
  color: #23517e;
  background-color: white;
  max-width: 90%;
  margin: 0 auto;
  padding: 35px;
  position: relative;
}

main .content::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 0.625rem solid #E7EBEE;
  border-right: 0.625rem solid #E7EBEE;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid transparent;
}

main .content h1 {
  font-size: 1.875rem;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  main .content {
    max-width: 65%;
  }
}

footer {
  color: white;
  font-size: 0.875rem;
  background: url('cd-bg.jpg') 0 0;
  background-size: cover;
}

footer svg {
  margin-left: -5px;
  position: relative;
}

footer .corporate-info {
  width: 100%;
  margin-bottom: 1.3em;
  display: flex;
  justify-content: space-between;
}

footer .logo {
  display: flex;
}

footer .copyright {
  display: flex;
  align-self: center;
  font-size: 0.75rem;
}

footer .disclaimer {
  text-align: justify;
}

footer .name {
  font-size: 0.75rem;
  align-self: flex-end;
  line-height: 1.1;
  margin-bottom: 3px;
}

.lr-icon {
  width: 50px;
  height: 50px;
}

.lr-icon path {
  fill: rgba(255, 255, 255, 0.6);
}

.cd-icon {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 2.1875rem;
  font-weight: 300;
  text-align: center;
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
}

.cd-icon::before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  border-top: 0.625rem solid #23517e;
  border-left: 0.625rem solid transparent;
}
