emblem {
  width: 100%; // IE fix
  height: $cd6;
  &.collapsed {
    height: $cd2;
    padding: $cd-half 0;

    md-icon svg path, md-icon svg rect {
      fill: $white-color;
    }
  }
  md-icon {
    width: inherit;
    height: inherit;

    svg {
      width: auto;
      height: inherit;

      path, rect {
        fill: $half-white-color;
      }
    }
  }

  &.max-width {
    display: block;

    svg {
      max-width: 100%;
      height: 100%;
      max-height: $cd6;
    }
  }
}

html[data-useragent*='MSIE'] {
  emblem md-icon {
    width: $cd * 15;
  }
}
