include /forms
include /shared

div.asset-eor-header.dark-background(
  data-ng-if='::!!vm.asset.isEORAsset',
)
  .content-main.inner(
    data-layout='row',
    data-layout-align='end center',
  )
    span: +translate('cd-access-asset-until')
    span(data-ng-bind='vm.asset.assetExpiryDateFormatted')

.asset-header-wrapper
  asset-header.full-width(
    data-in-view="vm.isHeaderVisible = $inview",
    data-in-view-options="::vm.inViewOptions",
    data-asset='::vm.asset',
    data-current-user='::vm.currentUser',
    data-flex='nogrow',
    data-ng-class=`{
      'in-view': vm._ViewService.isAssetHeaderVisible,
      'not-in-view': !vm._ViewService.isAssetHeaderVisible,
      'not-visible': vm._ViewService.isServiceScheduleOnDetailMode,
    }`,
  )
  asset-header.collapsed.full-width(
    data-collapsed='true',
    data-current-user='::vm.currentUser',
    data-asset='::vm.asset',
    data-flex='nogrow',
  )
  div(
    data-flex='grow',
    data-ui-view='asset-view',
  )
