include /shared

.content-main
  page-header(
    data-export-options=`{
      assetCode: vm.asset.id,
      itemType: vm._AppSettings.EXPORTABLE_ITEMS.TASKLIST,
      serviceId: vm.service.id,
    }`,
    data-label='{{ ::vm.service.catalogueName }}',
  )

  p.dark(
    data-ng-if='!vm.flatTasklist.length'
  )
    +translate-once('cd-tasklist-not-available')

  md-divider.spacer

  .information(
    data-layout='row',
    data-layout-align='end center',
    data-ng-if='vm.flatTasklist.length',
  )
    +icon-info('information', 'cd-for-information-only')

  rider-filter(
    data-accordion-mode='true',
    data-is-accordion-expanded='true',
    data-post-update-callback='vm.filterHierarchy',
    data-show-pagination='false',
    data-filter-label='cd-filter-tasklist',
    data-filter-options='vm.filterOptions',
    data-items='vm.flatTasklist',
    data-search-by-list='vm.searchByList',
    data-template='{{ vm.accordionTasklistTemplate }}',
    data-ng-if='vm.flatTasklist.length',
  )
