include /forms

h2.cd-card-title(
  data-ng-class='vm.titleClass'
  data-ng-hide='vm.collapsible && (vm._$mdMedia("xs") || vm._$mdMedia("sm"))',
  data-ng-if='vm.title',
  data-translate='{{ vm.title }}',
)

//- Collapsible header on mobile view
include _partials/_cd-card-header.pug

//- Transclude tabular component
.cd-card-context(
  data-ng-show='!vm.collapsible || (vm.collapsible && (vm._$mdMedia("gt-sm") || vm.headerItem.isExpanded))',
  data-ng-transclude,
)
