@import 'src/app/common/styles/mixin';

$directions:
  ('top', #{$cd0x2})
  ('bottom', #{$cd0x2})
  ('left', #{$cd-half})
  ('right', #{$cd-half});

.cd-card, cd-card {
  .cd-card-title {
    margin-bottom: $cd-half;
  }

  // header item / collapsible
  .header-item {
    margin-bottom: $cd0x2;
    outline: none;
    cursor: pointer;

    > * {
      // height: $cd10;
      padding: $cd0x6;
      background-color: $white-color;

      &.gap-left {
        border-left: $cd0x2 solid $body-color;
        background-clip: padding-box;
        width: $cd5;
        flex: none;
      }

      &.gap-right {
        border-right: $cd0x2 solid $body-color;
        background-clip: padding-box;
        width: $cd5;
        flex: none;
      }
    }
  }

  // gap used by toggle and action icons
  @each $direction, $size in $directions {
    .gap-#{$direction} {
      border-#{$direction}: $size solid $body-color;
      background-clip: padding-box;
    }
  }

  // default theme
  md-card {
    margin: 0 0 $cd-half;
    font-size: $cd1x4;
    background-color: transparent;
    border-radius: 0;
    background-color: $light-grey-color;
    box-shadow: none;

    md-card-content {
      small {
        font-size: $cd1x4;
      }
    }
  }

  // light theme
  &[data-theme='light'] md-card {
    color: $dark-blue-color;
    background: $white-color;

    due-status label {
      color: $dark-blue-color;
    }
  }

  // light theme
  &[data-theme='grey'] md-card {
    background: $light-grey-color;
  }

  //dark blue theme
  &[data-theme='dark-blue'] md-card {
    background: transparent;

    .header-item {
      .gap-right,
      .gap-left,
      .gap-center {
        background-color: $dark-blue-color;
        background-clip: padding-box;
        border-color: transparent;
      }

      .gap-center .h4-primary {
        color: $white-color;
      }
    }

    cd-card-tabular,
    cd-card-tabular:nth-child(odd) {
      md-card md-card-content {
        & {
          background: $dark-blue-color;
          background: rgba($dark-blue-color, 0.2);
        }

        &, * {
          color: $white-color !important;
        }
      }
    }
  }
}

.dark-background {
  .cd-card, cd-card {
    // light theme
    .cd-card-title {
      color: $white-color;
    }
  }
}
