if(asset)
  +section-title('Asset Details')
  table(width="100%")
    tr
      td(style="padding:0")
        table(width="50%")
          tr
            td(width="30%").lr-header Asset Name
            td.is-underlined #{(asset.getName()) ? asset.getName() : '-'}
          tr
            td(width="30%").lr-header LR Number
            td.is-underlined #{(asset.getImoNumber()) ? asset.getImoNumber() : '-'}
          tr
            td(width="30%").lr-header Date of Build
            td.is-underlined #{(asset.getBuildDate()) ? helper.formatDate(asset.getBuildDate()) : '-'}
          tr
            td(width="30%").lr-header Asset Type
            td.is-underlined #{(asset.getAssetType() && asset.getAssetType().getName()) ? asset.getAssetType().getName() : '-'}
          tr
            td(width="30%").lr-header Dual Class Indicator
            td.is-underlined #{(asset.getClassMaintenanceStatusDto() && asset.getClassMaintenanceStatusDto().getName())  ? asset.getClassMaintenanceStatusDto().getName() : '-'}
      td(style="padding:0")
        table(width="50%")
          tr
            td(width="30%").lr-header Gross Tonnage
            td.is-underlined #{helper.removeDecimals(asset.getGrossTonnage())}
          tr
            td(width="30%").lr-header Flag
            td.is-underlined #{(asset.getFlagStateDto() && asset.getFlagStateDto().getName()) ? asset.getFlagStateDto().getName() : '-'}
          tr
            td(width="30%").lr-header Class Status
            td.is-underlined #{(asset.getClassStatusDto() && asset.getClassStatusDto().getName()) ? asset.getClassStatusDto().getName() : '-'}
          tr
            td(width="30%").lr-header Classification Society
            td.is-underlined #{(asset.getIhsAssetDto() && asset.getIhsAssetDto().getIhsAsset() && asset.getIhsAssetDto().getIhsAsset().getClassList()) ? asset.getIhsAssetDto().getIhsAsset().getClassList() : '-' }
          tr
            td(width="30%").lr-header Lifecycle Status
            td.is-underlined #{(asset.getAssetLifeCycleStatusDto() && asset.getAssetLifeCycleStatusDto().getName()) ? asset.getAssetLifeCycleStatusDto().getName() : '-'}
