include /shared
include /forms


.search-user-assets-container(
  data-layout='column',
  data-ng-if='!vm.isReadOnly',
)
  .label
    +translate('cd-search-by-imo-number')
  md-input-container.search(data-flex)
    label.hide(
      for='searchUserAssets',
    )
    input(
      add-clear-btn,
      aria-label='{{ "cd-type-to-search" | translate }}',
      data-ng-change='vm.submit()',
      data-ng-class='{ "has-error": vm.form.searchUserAssets.$invalid && vm.form.searchUserAssets.$touched }',
      data-ng-model='vm.searchText',
      data-ng-model-options='{ debounce: 500 }',
      data-ng-required='vm.isRequired',
      name='searchUserAssets',
      id='searchUserAssets',
      placeholder='{{ "cd-type-to-search" | translate }}',
    )
    div(data-ng-messages='vm.form.searchUserAssets.$error')
      div(data-ng-message='required')
        +translate('cd-error-field-required')

.h3-primary(data-ng-if='vm.isReadOnly')
    +translate('cd-asset-permissions')

div(
  data-ng-show='vm.isAssetNotExist'
)
  +icon-info('alert', 'cd-asset-not-found')

.search-user-assets-asset-list(
  data-layout='row',
  data-ng-if='vm.registeredAsset',
)
  mini-asset-card(
    data-card-detail='{{ vm.registeredAsset.imo }}',
    data-card-title='{{ vm.registeredAsset.name }}',
    data-editable='false',
    data-emblem-type='{{ vm.registeredAsset.typeCode }}',
    data-flex=50,
    data-flex-gt-xs=25,
    data-selected='true',
    data-theme='blue',
  )
