search-user-assets {
  .search-user-assets-asset-list {
    margin: $cd #{-$cd};
  }

  .label{
    color: $dark-grey-color;
    font-size: $cd1x3; // need to generalize font-size like date picker :|
    padding-bottom: $cd-half;
  }
}
