rider-filter(
  data-action='vm.action',
  data-custom-data='{ currentUser: vm.currentUser }',
  data-show-top-spinner='true',
  data-filter-label='cd-filter-ai',
  data-filter-options='vm.filterOptions',
  data-items='vm.codicils',
  data-loading-message='cd-general-page-loading-message',
  data-search-by-list='vm.searchByList',
  data-search-label='cd-search',
  data-template='{{ vm.itemTemplate }}',
)
div(
  data-ng-if='!vm.codicils.length',
  data-layout='column',
)
  p.notification(
    data-translate-once='cd-no-actionable-items-message',
  )
