include /forms

div(
  data-flex=100,
  data-layout='column',
  data-ng-show='vm.selectedTab === vm.constructor.TABS.USERS',
)
  md-content(data-infinite-scroll)
    users(
      data-include-all='true',
      data-included-count='vm.includedCount',
      data-is-editable='true',
      data-mode='export',
      data-selected-emails='vm.selectedEmails',
      data-show-spinner='true',
      data-theme='white',
      data-users='vm.users',
    )
