include /forms
include /shared

- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

div(
  data-flex=100,
  data-layout='column',
  data-ng-show='vm.selectedTab === vm.constructor.TABS.INFORMATION',
)
  md-content
    .md-container
      .h3.py1
        +translate('cd-account-type')
      div(
        data-layout='column',
        data-layout-wrap,
        data-layout-gt-xs='row',
      )
        .account-type-box(
          data-layout,
          data-layout-align='center center',
          data-ng-repeat="type in vm.usersExportInfo.accountTypes",
        )
          .h4(
            data-flex,
          ) {{ type | roleTranslate }}

      .h3.py1
        +translate('cd-date-of-last-log-in')
      .dates-last-login.mx0(
        data-layout='row',
        data-layout-margin,
      )
        md-input-container(
          data-flex-gt-xs=25
        )
          label
            +translate('cd-from')
          .from-to-box(
            data-layout,
            data-layout-align='center center',
          )
            .h4(
              data-flex,
            ) {{ vm.usersExportInfo.lastLoginDate.from || "-" | date : "#{dateFormatter}" }}

        md-input-container(
          data-flex-gt-xs=25
        )
          label
            +translate('cd-to')
          .from-to-box(
            data-layout,
            data-layout-align='center center',
           )
            .h4(
              data-flex,
            ) {{ vm.usersExportInfo.lastLoginDate.to || "-" | date : "#{dateFormatter}" }}
