include /forms
include /shared

//- Renaming portName to selectedPort (line 7) to prevent Safari autofill due to the keyword 'Name'
+inputAutoComplete(
  'vm.form',
  'selectedPort',
  'cd-select-port',
  'cd-eg-port-finder',
  'vm.selectedPort',
  'vm.portSearchText',
  'vm.autoCompleteSettings',
  'vm.searchPort',
  'vm.matchedPorts',
  'vm.getPortDetails()',
  'cd-error-invalid-port',
  'true',
  'vm.noPort',
  'vm.getOnBlurUpdate()'
)
