include /shared

.content-main
  page-header(
    data-export-options=`::{
      assetCode: vm.asset.id,
      itemType: vm._AppSettings.EXPORTABLE_ITEMS.CHECKLIST,
      serviceId: vm.service.id,
    }`,
    data-label='{{ ::vm.service.catalogueName }}',
  )

  p.dark(
    data-ng-if='::!!!vm.checklist.length',
  )
    +translate-once('cd-checklist-not-available')

    md-divider.spacer

  md-divider.spacer

  .information(
    data-layout='row',
    data-layout-align='end center',
  )
    +icon-info('information', 'cd-for-information-only')

  rider-filter(
    data-accordion-mode='true',
    data-can-expand-collapse='true',
    data-items='::vm.checklist',
    data-search-by-list='::vm.searchByList',
    data-search-label='cd-search-by-checklist-group',
    data-show-pagination='false',
    data-template='{{ ::vm.accordionChecklistTemplate }}',
  )
