checklist {
  md-card {
      background-color: transparent;
  }

  cd-card-tabular md-card md-card-content {
    min-height: $cd7 !important;
    & > * {
      background-color: $tabular-grey-color !important;
    }
  }

  .information {
    margin-bottom: -$cd3x5;
    @include mq-lt-md {
      margin-bottom: -$cd3x2;
    }
    @include mq-xs {
      margin-bottom: 0;
    }
  }
}
