include /forms
include /shared

.content-main
  .national-administration-wrapper.page-details(
    data-flex,
    data-layout='column',
  )
    page-header(
      data-go-to='{{ vm._AppSettings.STATES.VESSEL_LIST }}',
      data-label='cd-country-files',
      data-label-sub='cd-national-administration-search-instruction'
      data-name='left',
      data-use-history-first=true,
    )

    p
      | {{ 'cd-national-administration-distribution-notes-1' | translate }}
      static-link(
        alt-text='{{ "cd-national-administration-distribution-notes-download-alt" | translate }}',
        name='nationalAdministrationUserNotes',
        text='{{ "cd-national-administration-distribution-notes-download" | translate }}',
      )
      | {{ 'cd-national-administration-distribution-notes-2' | translate }}

    md-divider.spacer.small

    form.detail(
      name='form',
    )
      +inputAutoComplete(
        'form',
        'flag',
        'cd-select-flag',
        'cd-eg-country-flag',
        'vm.selectedFlag',
        'vm.searchText',
        'vm.autoCompleteSettings',
        'vm.searchFlag',
        'vm.searchResult',
        'vm.callServiceToGetCountryFiles()',
        'cd-error-invalid-flag'
      )

    div(
      data-ng-if='vm.searchText && vm.countryFile != null',
    )
      h4.h4-primary.mb0 {{ 'cd-version-in-use' | translate }}
      cd-card
        cd-card-tabular(
          data-action='vm.countryFileAction',
          data-item='vm.countryFile',
        )
          riders-refresher(
            data-condition='vm.countryFile'
          )
            riders(
              data-item='vm.countryFile',
              data-template-location='vm.countryFileItemTemplateLocation',
            )

    div(
      data-ng-if='vm.showSpinner || vm.loading',
    )
      spinner

    div(
      data-ng-show='vm.historicalDocs.length',
    )
      h4.h4-primary.mb0 {{ 'cd-historical-documentation' | translate }}
      rider-filter(
        data-action='vm.historicalDocsAction',
        data-items='::vm.historicalDocs',
        data-filter-label='cd-filter-country-files',
        data-filter-options='vm.filterOptions',
        data-has-current-state-on-clear='true',
        data-hide-filter-options-label='true',
        data-limit='10',
        data-show-load-more='true',
        data-show-top-spinner='true',
        data-template='{{ vm.countryFileItemTemplateLocation }}',
      )
