include /forms

mixin asset-hub-item(options)
  .button-container(
    class=options.class,
    data-flex-xs=100,
    data-flex-sm=50,
    data-flex-gt-sm='auto',
    data-layout='row',
    data-ng-if='vm.canView('+options.canViewIf+')',
  )
    +button({
      buttonType: 'icon-text',
      class: 'mx0 flex',
      goTo: options.sref,
      iconName: options.icon,
      iconPosition: 'left',
      label: options.label,
      theme: 'primary',
    })

.content-main(
  data-layout='column',
)
  md-divider.spacer.xs

  .asset-hub-container(
    data-layout='row',
    data-layout-wrap,
  )
    //- Codicils
    +asset-hub-item({
      canViewIf: 'vm.constructor.SECTIONS.CODICILS',
      class: 'block-codicils',
      icon: 'codicil',
      label: 'cd-notes-and-actions',
      sref: '{{ vm.itemUrl("codicils") }}',
    })

    //- Jobs
    +asset-hub-item({
      canViewIf: 'vm.constructor.SECTIONS.JOBS',
      class: 'block-jobs',
      icon: 'surveys',
      label: 'cd-survey-history',
      sref: '{{ vm.itemUrl("jobs") }}',
    })

    //- Certificates
    +asset-hub-item({
      canViewIf: 'vm.constructor.SECTIONS.CERTIFICATES',
      class: 'block-certificates',
      icon: 'certificate',
      label: 'cd-certificates-and-records',
      sref: '{{ vm.itemUrl("certificates") }}',
    })

    //- MPMS
    +asset-hub-item({
      canViewIf: 'vm.constructor.SECTIONS.MPMS',
      class: 'block-mpms',
      icon: 'batch',
      label: 'cd-credit-mpms-surveys',
      sref: '{{ vm.itemUrl("mpms") }}',
    })

  md-divider.spacer.xs
