@import 'src/app/common/styles/typography';

asset-hub {
  font-size: $cd1x4;
  position: relative;
  @include full-width-dark-background;

  overflow: hidden;
  @include mq-gt-sm {
    max-height: $cd * 35;
  }
  @include mq-sm {
    max-height: $cd * 53;
  }
  @include mq-xs {
    max-height: $cd * 70;
  }

  .asset-hub-container {
    margin: 0 #{-$cd};
    color: $white-color;
    z-index: 1;

    md-divider {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }

  .bg-transparent {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .bg-transparent-half {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .md-button {
    min-width: 0 !important;
  }

  .button-container {
    padding: 0 $cd;
  }

  a.view-all {
    font-size: $cd1x4;
    font-weight: 300;
    color: $light-blue-color;

    &:hover {
      color: $white-color;
      text-decoration: underline;
    }
  }

  .summary-item {
    margin: $cd;
    border-radius: 0;
    @include box-shadow(none);

    .item {
      text-decoration: none;
      color: $white-color;

      &:hover {
        text-decoration: underline;
      }

      &:not(:nth-child(n+3)) > div {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      > div {
        margin: 0 $cd;
        padding: $cd 0;
      }

      @include mq-xs {
        &:not(:first-child) {
          display: none;
        }

        &:first-child > div {
          border: 0;
        }
      }
    } // .item
  } // .summary-item
} // asset-hub
