eor-asset {
  h3 {
    font-weight: bold;
  }

  div.card {
    padding: $cd $cd1x9;
    background-color: $light-grey-color;
  }

  .mini-asset-card-wrapper {
    margin-top: $cd1x9;
    border: $cd0x1 solid $grey-color;

    mini-asset-card {
      padding: 0 !important; // MS Edge fix
      display: block; // MS Edge fix

      .card {
        &::before,
        &::after {
          display: none;
        }

        .emblem-wrapper {
          margin-top: 0; // MS Edge fix
        }
      }
    }
  }

  .expiry-date{
    font-weight: bold;
  }

  .update-eor-expiry-date {
    text-decoration: underline;
    font-size: $cd1x2;
  }
}
