include /forms
include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

.card
  div
    h3.my0 {{ vm.asset.ownerCode || '-' }}
    md-divider
    div.mini-asset-card-wrapper
      mini-asset-card(
        data-card-title='{{ vm.asset.name }}',
        data-card-detail='{{ vm.asset.imo }}',
        data-emblem-type='{{ vm.asset.typeCode }}',
        data-theme='blue',
      )

    div(data-layout='row')
      div(
        data-flex,
        data-layout-align='start',
      )
        | {{ 'cd-expiration-date' | translate }}
      div.expiry-date(
        data-layout-align='end',
      )
        | {{ vm.eor['assetExpiryDate'] | date : '#{dateFormatter}' }}
    div(
      data-layout='row',
      data-layout-align='end center',
    )
      +button({
        buttonType: 'text',
        class: 'mx0 px0 update-eor-expiry-date',
        label: 'cd-update-eor-expiration-date',
        onClick: 'vm.showUpdateExpiryDateDialog()',
      })

    div(data-layout='column')
      +button({
        class: 'mx0',
        label: 'cd-remove-eor-permission',
        theme: 'primary',
        onClick: 'vm.showRemoveEORModal()'
      })
