include /forms
include /shared

.flag-filter-container.display-block(
  data-layout='column'
)
  .button-container(data-flex)
    +button({
      class: 'm0 icon-position-right-abs',
      iconName: 'right',
      iconPosition: 'right',
      label: 'cd-flag',
      onClick: 'vm.showAdvanced($event)',
      theme: 'dark',
    })
  .tags-container(data-flex)
    .tag(
      data-ng-hide='$index > 2 && !vm.showMoreFlags',
      data-ng-repeat='flag in vm.selectedFlags track by $index',
    )
      .tag-label-container {{flag.label}}
      .tag-remove-container(data-ng-click='vm.removeTag(flag.flagCode)')
    .tag.show-more-less-button(
      data-ng-click='vm.toggleShowMoreFlags()'
      data-ng-show='vm.selectedFlags.length > 3',
      href='#'
    )
      span.show-more-label(data-ng-show='vm.showMoreFlags')
        +translate('cd-flag-filter-show-less')
      span.show-more-label(
        data-ng-show='!vm.showMoreFlags'
        data-translate='cd-flag-filter-show-more',
        data-translate-values='{ moreCount: vm.selectedFlags.length - 3 }',
      )
