.dark-background {
  .show-more-less-button {
    color: white;
  }

  .flag-filter-container {
    .show-more-label {
      color: $white-color;
    }
  }
}

.flag-filter-container {
  display: block; // IE hack

  .button-container {
    margin: $cd 0;

    button {
      width: 100%;
      font-size: $cd1x6;
    }
  }

  .tags-container {
    margin-bottom: $cd;

    .show-more-less-button {
      background-color: transparent !important;
      font-size: $cd1x2;
    }

    .tag {
      display: inline-block;
      padding: $cd $cd1x5;
      background-color: $light-grey-color;
      margin: $cd0x3;
      color: #000;
      vertical-align: middle;

      .tag-label-container {
        display: table-cell;
        vertical-align: bottom;
        padding-right: $cd2;
        max-width: $cd * 20;
      }

      .tag-remove-container {
        display: table-cell;
        vertical-align: bottom;
        cursor: pointer;

        &:before {
          /*
            Put the remove icon here for IE hack since using HTML code
            will break the angular translate on IE
          */
          content: '\2716'
        }
      }
    }
  }

  .search-container {
    margin: 0 auto;
    .search-container-title {
      padding-bottom: $cd;
    }

    input {
      color: #000;
    }
  }
}

.md-autocomplete-suggestions-container li.selected {
  background: $light-grey-color;
  color: $primary-color;
}
