include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ "cd-filter-by-flag" | translate }}')
  form(
    data-flex,
    data-layout='column',
    data-ng-cloak,
    name='form',
  )
    md-toolbar
      .md-toolbar-tools.content-main(
        data-layout-align='start start',
      )
        div
          .modal-title.h1
            +translate('cd-filter-by-flag')
          a.clear-all-button(
            data-ng-click='vm.clearAllSelection()',
          )
            small.underline
              +translate('cd-clear-all')
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.cancel()',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      .md-dialog-content.flag-filter-container(
        data-flex,
        data-layout-fill,
      )
        .content-main
          .search-container
            .search-container-title(
              data-translate-once='cd-flag-filter-select-a-flag',
            )
            input-tags(
              data-auto-focus='true',
              data-backspace-no-clear='true',
              data-close-on-select='true',
              data-label='label',
              data-model='vm.modalSelectedFlags',
              data-name='input-tags',
              data-on-remove='vm.refresh()',
              data-options='vm.unselectedFlags',
              data-placeholder='Search here',
              data-search-from-beginning-exp='true',
              data-tag-position='down',
              data-tag-square,
              data-tag-white,
            )
    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout-align='start center',
    )
      .content-main(
        data-flex='none',
        data-layout-align='end',
        data-layout='row',
      )
        +button({
          class: 'modal-cancel-button',
          label: 'cd-cancel',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
        +button({
          class: 'modal-submit-button',
          label: 'cd-submit',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.submit()',
          theme: 'warn',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
