include /forms

.cd-card(
  data-theme='grey',
  data-flex=100,
)
  md-card
    md-card-title
      md-card-title-text(data-layout='row')
        .h4-primary {{ 'cd-find-client-code-or-name' | translate }}
    md-card-content
      md-input-container(data-layout='column')
        input(
          aria-label='{{ "cd-type-to-search" | translate }}',
          data-add-clear-btn,
          data-ng-model='vm.inputClientString',
          data-ng-model-options='{ debounce: vm._AppSettings.DEFAULT_PARAMS.DEBOUNCE }',
        )
      cd-card
        spinner(
          data-ng-if='vm.isQuerying',
        )
        cd-card-tabular(
          data-ng-if='!vm.isQuerying',
          data-ng-repeat='client in vm.clientArray track by $index'
        )
          riders(
            data-item='client',
            data-ng-click='vm.onSelect({ client })',
            data-template-location='vm.template',
          )
