include /shared
include /forms

form(
  data-flex,
  data-layout='column',
  name='vm.form',
)
    account-expiry(
      data-flex,
      data-form='vm.form',
      data-label='cd-account-expiry-date-optional',
      data-is-read-only='false',
      data-is-required='false',
      data-model='vm.model.accountExpiry',
    )
