div(
    data-ng-repeat='service in ::vm.serviceList',
    data-ng-hide='vm.hideHeader(service)',
  )
    md-list
      md-card(
        data-layout='row',
        data-ng-click='vm.updateVisibleServices($index)',
      )
        .icon-toggle.px0.align-center(
          data-flex=15,
          data-flex-sm=10,
          data-flex-gt-sm=5,
        )
          icon.primary(
            data-name='expand',
            data-ng-if='!service.isExpanded',
          )
          icon.primary(
            data-name='collapse',
            data-ng-if='service.isExpanded',
          )
        .h3-primary(
          data-flex,
          data-ng-class='{active:service.isExpanded, "h5-primary": vm._$mdMedia("xs"), "h4-primary": !vm._$mdMedia("xs")}',
        )
          span(data-ng-bind='::service.productName')
      md-card(
        data-flex-offset-gt-sm=5,
        data-ng-show='service.isExpanded',
      )
        //----------------------------- Step 1 -----------------------------------
        md-list-item(
          data-flex,
          data-layout-xs='column',
          data-layout-sm='column',
          data-layout-gt-sm='row',
          data-layout-align='left',
          data-layout-gt-sm-align='left center',
          data-ng-if='!vm.isReadOnly && !vm.hideContent(item)',
          data-ng-repeat='item in ::service.details',
        )
          .h4-primary.dark.service-name.pr1(
            data-flex,
            data-flex-gt-sm=23,
            data-layout='row',
          )
            div.break-word(
              data-flex,
            )
              span(data-ng-bind='::item.title')
            due-status(
              data-colorize='true',
              data-disable-tooltip='true',
              data-hide-gt-sm,
              data-item='item',
              data-status-name='{{::item.dueStatus}}',
            )
          div(
            data-flex,
            data-flex-gt-sm=70,
            data-layout-gt-xs='row',
          )
            div(
              data-flex,
              data-flex-gt-xs=50,
              data-layout='column',
              data-layout-gt-sm='row',
            )
              div(
                data-flex-gt-sm=30,
                data-flex,
              )
                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                )
                  +title('cd-due-date', 'due-date', 'vm.isHideDetails')
                    .detail(data-flex)
                      strong(data-ng-bind='::item.dueDateFormatted')

              div(
                data-flex-gt-sm=30,
                data-flex,
              )
                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                )
                  +title('cd-assigned-date', 'assigned-date', 'vm.isHideDetails')
                    .detail(data-flex)
                      strong(data-ng-bind='::item.assignedDateFormatted')

              div(
                data-flex-gt-sm=40,
                data-flex,
              )
                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                  data-hide-sm,
                )
                  +title('cd-range-date', 'range-date', 'vm.isHideDetails')
                    .detail(
                      data-flex,
                      data-layout-xs='row',
                      data-layout-sm='row',
                      data-layout-gt-sm='column',
                    )
                      div.dateFrom
                        strong(data-ng-bind='::item.lowerRangeDateFormatted')
                        strong &nbsp;-&nbsp;
                        strong(
                          data-hide-gt-sm,
                          data-ng-bind='::item.upperRangeDateFormatted'
                        )
                      div(
                        data-ng-class='{ dateTo: vm._$mdMedia("gt-lg") }',
                        data-hide,
                        data-show-gt-sm,
                      )
                        strong(data-ng-bind='::item.upperRangeDateFormatted')
                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                  data-hide,
                  data-show-sm,
                )
                  +title('cd-credit-status', 'credit-status', 'vm.isHideDetails')
                    .detail(data-flex)
                      strong(data-ng-bind='::item.creditStatus')
            div(
              data-flex,
              data-flex-gt-xs=50,
              data-layout='column',
              data-layout-gt-sm='row',
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              div(data-flex, data-hide, data-show-sm)
              div(
                data-flex,
                data-flex-gt-sm=34,
              )
                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                )
                  +title('cd-postponed-date', 'postponed-date', 'vm.isHideDetails')
                    .detail(data-flex)
                      strong(data-ng-bind='::item.postponementDateFormatted')

              div(
                data-flex-gt-sm=33,
                data-flex,
              )
                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                  data-hide-sm,
                )
                  +title('cd-credit-status', 'credit-status', 'vm.isHideDetails')
                    .detail(data-flex)
                      strong(data-ng-bind='::item.creditStatus')

                div.item-detail(
                  data-flex,
                  data-layout='row',
                  data-layout-gt-sm='column',
                  data-hide,
                  data-show-sm,
                )
                  +title('cd-range-date', 'range-date', 'vm.isHideDetails')
                    .detail(
                      data-flex,
                      data-layout-xs='colum',
                      data-layout-sm='row',
                      data-layout-gt-sm='column',
                    )
                      div.dateFrom
                        strong(data-ng-bind='::item.lowerRangeDateFormatted')
                        strong &nbsp;-&nbsp;
                        strong(data-ng-bind='::item.upperRangeDateFormatted')

              div.pos-rel(
                data-hide,
                data-layout='row',
                data-layout-align='center start',
                data-flex-gt-sm=33,
                data-show-gt-sm,
              )
                due-status(
                  data-flex,
                  data-colorize='true',
                  data-item='item',
                  data-status-name='{{ item.dueStatus }}',
                )

          div.checkbox(
            data-flex,
            data-flex-gt-sm=7,
            data-layout='row',
            data-layout-align='center center',
          )
            list-checkbox(
              data-selected='item',
              data-service='service',
            )

        //----------------------------- Steps 2 & 3 -----------------------------------
        md-list-item.read-only(
          data-layout-xs='column',
          data-layout-sm='column',
          data-layout-gt-sm,
          data-layout-align='left',
          data-layout-gt-sm-align='left center',
          data-layout-wrap,
          data-ng-if='vm.isReadOnly && !vm.hideContent(item)',
          data-ng-repeat='item in ::service.details',
        )
          .h4-regular.dark(
            data-flex=100,
            data-layout='row',
          )
            div(
              data-flex=80,
            )
              span(data-ng-bind='::item.title')
            div.pos-rel(
              data-layout='row',
              data-layout-gt-sm-align='center center',
              data-layout-align='start center',
            )
              due-status(
                data-colorize='true',
                data-disable-tooltip='true',
                data-status-name='{{::item.dueStatus }}',
              )

          div(
            data-layout='column',
            data-layout-gt-sm='row',
            data-flex-gt-sm=100,
          )
            div(
              data-layout='column',
              data-flex-gt-sm=50,
            )

              div.item-detail(
                data-layout='row',
                data-flex=50,
              )
                +surveyRequestTitle('cd-due-date', 'due-date', 'vm.isHideDetails')
                  .detail(
                    data-flex-xs=50,
                  )
                    strong(data-ng-bind='::item.dueDateFormatted')

              div.item-detail(
                data-layout='row',
                data-flex=50,
              )
                +surveyRequestTitle('cd-assigned-date', 'assigned-date', 'vm.isHideDetails')
                  .detail(
                    data-flex-xs=50,
                  )
                    strong(data-ng-bind='::item.assignedDateFormatted')

              div.item-detail(
                data-layout='row',
                data-flex=50,
                data-flex-order=1,
              )
                +surveyRequestTitle('cd-credit-status', 'credit-status', 'vm.isHideDetails')
                  .detail
                    strong(data-ng-bind='::item.creditStatus')

            div(
              data-layout='column',
              data-flex-gt-sm=50,
            )

              div.item-detail(
                data-layout='row',
                data-flex=50,
              )
                +surveyRequestTitle('cd-range-date', 'range-date', 'vm.isHideDetails')
                  .detail(
                    data-flex,
                  )
                    div.dateFrom
                      strong(data-ng-bind='::item.lowerRangeDateFormatted')
                      strong -&nbsp;
                    div.dateTo
                      strong(data-ng-bind='::item.upperRangeDateFormatted')

              div.item-detail(
                data-layout='row',
                data-flex=50,
              )
                +surveyRequestTitle('cd-postponed-date', 'postponed-date', 'vm.isHideDetails')
                  .detail
                    strong(data-ng-bind='::item.postponementDateFormatted')


