include /lists
include /forms
include /shared

.accordion
  div(data-ng-if='!vm.mode')
    include bucket-general-view.pug
  div(data-ng-if='vm.mode === "service-type"')
    include bucket-service-type-view.pug

  div(
    data-layout='row',
    data-layout-align='end center',
    data-ng-if='vm.isReadOnly',
  )
    +button({
      class: 'mx0',
      label: 'cd-edit-surveys',
      onClick: 'vm.goToEdit()',
      theme: 'dark',
    })
