bucket {
  font-size: $cd1x4;

  .service-name {
    span {
      margin-right: $cd-half;
    }
  }

  @include mq-lt-md {
    md-list-item {
      padding: $cd2 !important;
      background-color: $light-grey-color !important;

      .item-detail {
        padding: $cd-half  0!important;

        .label {
          padding-right: $cd !important;
        }
      }

      > div {
        padding: 0 !important;

        &.service-name {
          margin-bottom: $cd2;

          &:not(.read-only) {
            margin-right: $cd6;
          }
        }
      }

      .checkbox {
        padding: 0 !important;
        position: absolute;
        top: $cd2;
        right: $cd2;
      }
    }
  }
} // bucket
