div(
  data-ng-repeat='service in vm.serviceList',
  data-ng-hide='vm.hideHeader(service)',
)
  md-list
    md-card(
      data-layout='row',
      data-ng-click='vm.updateVisibleServices($index)',
    )
      .icon-toggle.px0.align-center(
        data-flex=15,
        data-flex-sm=10,
        data-flex-gt-sm=5,
      )
        icon.primary(
          data-name='expand',
          data-ng-if='!service.isExpanded',
        )
        icon.primary(
          data-name='collapse',
          data-ng-if='service.isExpanded',
        )
      .h3-primary(
        data-flex,
        data-ng-class='{active:service.isExpanded, "h5-primary": vm._$mdMedia("xs"), "h4-primary": !vm._$mdMedia("xs")}',
      )
        span(data-ng-bind='::service.productName')
    md-card(
      data-flex-offset-gt-sm=5,
      data-ng-if='service.isExpanded',
    )
      md-list-item(
        data-layout-xs='column',
        data-layout-sm='column',
        data-layout-gt-sm,
        data-layout-align='left',
        data-layout-gt-sm-align='left center',
        data-layout-wrap,
        data-ng-class='{"read-only": vm.isReadOnly}',
        data-ng-repeat='item in service.details',
      )
        //- Service name that appears on step 1
        div.service-name(
          data-flex,
          data-layout='row',
          data-layout-align='left center',
          data-ng-if='!vm.isReadOnly',
        )
          span(data-ng-bind='::item.serviceCatalogueH.name')
        div.checkbox(
          data-layout='row',
          data-layout-align='left center',
          data-ng-if='!vm.isReadOnly',
        )
          list-checkbox(
            data-selected='item',
            data-service='service',
          )
        div(
          data-flex,
          data-flex-gt-sm=100,
          data-layout='row',
          data-layout-gt-sm='column',
          data-ng-if='vm.isReadOnly',
        )
          +title('cd-postponed-date', 'postponed-date', 'vm.isHideDetails', 'item.postponementDate')
            .detail(
              data-flex-xs=50,
              data-flex-sm=50,
            )
              strong(data-ng-bind='::item.postponementDateFormatted')
