service-modal {

}

.cd-dialog-service {
  md-dialog-actions.cd-actions {
    background-color: $dark-blue-color;
  }

  md-dialog-content .md-dialog-content {
    padding: 0 $cd8;
  }

  h1 {
    color: $white-color;
  }

  md-toolbar {
    margin-top: $cd10;
    padding: 0 $cd6;
  }

  due-status[data-label] label {
    color: $white-color;
  }

  cd-card-accordion {
    .md-subhead, .md-subhead.dark {
      color: $white-color;
    }
    .header-item {
        background: transparentize($dark-blue-color, $cd0x2);
        color: $white-color;
    }
    md-card-content {
      ._md {
        background: transparentize($dark-blue-color, $cd0x8);
        color: $white-color;
      }
    }
  }
}
