include /forms
include /shared

md-dialog.cd-dialog-service.cd-dialog.dark-background(aria-label='{{ vm.title }}')
  div(
    data-flex,
    data-ng-cloak='',
    data-layout='column',
  )
    md-toolbar
      .md-toolbar-tools(data-layout-padding)
        .h3-regular {{ vm.title }}
        span(data-flex)
        icon(
          name='close',
          data-ng-click='vm.cancel()',
        )
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      .md-dialog-content
        cd-card
          cd-card-accordion(
            data-theme='dark',
            data-header-item='headerItem',
            data-ng-repeat='headerItem in vm.cards.accordion',
          )
    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      div
        +button({
          label: 'cd-request-a-survey',
          theme: 'light',
        })
      div
        +button({
          label: 'cd-view-details',
          theme: 'warn',
        })
      span(
        data-ng-class='::{"p-r-60":vm.isNativeMobile}',
        data-ng-if='::vm.isNativeMobile'
      )

