.card(
  data-ng-class='{ highlighted: vm.selected && vm.editable, editable: vm.editable }',
  data-ng-click='vm.toggleSelectedAsset()',
)
  .card-container
    .emblem-wrapper
      emblem.max-width(data-type='{{ vm.emblemType }}')
      div.break-word.pt1(
        data-ng-bind='vm.cardTitle',
        data-ng-class='{ pb1: vm.cardDetail, h2: vm.hasLargeTitle, h3: !vm.hasLargeTitle }',
        title='{{ vm.cardTitle }}'
      )
      .h4(
        title='{{ vm.cardDetail }}',
        data-ng-if='vm.cardDetail',
      ) {{ vm.cardDetail }}
