@import 'src/app/common/styles/typography';

mini-asset-card {
  &[data-mode='tabular'] {
    display: flex;

    color: $light-text-color;
    background-color: $dark-grey-color;
    
    .card-container {
      flex-basis: auto;
      flex-grow: 1;
      
      .card-name {
        @extend .ellipsis;
      }
      
      .card-info-line {
        font-size: $cd1x4;
        line-height: $cd2;

        .info-detail {
          font-weight: bold;
          @extend .ellipsis;
        }
      }
    }
  }
}
