.card-container.layout-row.mode-tabular

  .card-header(
    data-flex=50,
    data-layout='row',
  )
    div(data-layout='column')
      emblem.max-width(
        data-type='{{ vm.asset.typeCode }}',
      )
      div.white.card-name.h1 {{ vm.model[vm.cardTitle] }}

  .card-info(
    data-flex=50,
    data-layout='row',
    data-layout-align='start center',
  )
    div(
      data-flex='auto'
      data-layout='column',
    )
      -
        var list = [
          { label: 'imo', field: 'imoNumber' },
          { label: 'asset-type', field: 'assetType'},
        ];
      each item in list
        - var showIfField = 'vm.model["' + item.field + '"]';
        .card-info-line(
          data-flex='auto',
          data-layout='row',
        )
          .info-title(
            data-flex=30,
            data-ng-show=showIfField,
          ) {{ "cd-#{item.label}" | safeTranslate }}:
          .info-detail(
            data-flex='auto',
            data-ng-show=showIfField,
          ) {{ vm.model["#{item.field}"] }}
