include /shared
include /forms

div(
  data-layout-wrap,
  data-ng-if='vm.isEORMode',
)
  include _partials/_confirmation-eor.pug


div(
  data-layout-wrap,
  data-ng-if='!vm.isEORMode',
)
  include _partials/_confirmation-flag.pug