eor-tabs-master {
  .tabs-container {
    .content-main.layout-padding {
      padding-bottom: 0;
    }
    .full-tabs {
      padding: $cd2x5 0 0;

      background: transparent;

      flex: 1;

      .label {
        font-weight: normal;
      }

      .md-active {
        pointer-events: none;

        .label {
          font-weight: bold; // only bold on active tab
        }

        icon {
          md-icon {
            svg {
              path {
                fill: $dark-blue-color;
              }
            }
          }
        }
      }

      .label {
        line-height: $cd1x9;
      }

      md-tabs-canvas {
        height: $cd5;
        md-pagination-wrapper {
          height: 100%;
          .desktop-icon-display {
            display: inline-block;

            @include mq-xs {
              display: none;
            }
          }
          .mobile-icon-display {
            display: none;

            @include mq-xs {
              display: inline-block;
            }
          }
        }
      }

      .md-tab {
        padding: $cd-half $cd3 0 $cd;

        text-align: left;
        text-transform: none; // Fix IE11

        align-items: center;
        @include mq-xs {
          &:not(.md-active) {
            display: none;
          }
        }
        @include mq-gt-xs {
          &:not(:last-child) {
            display: flex;

            flex-grow: 0;
          }

          &:nth-child(3) {
            position: absolute;
            right: 0;
            // only solution that works in IE as well

            display: block;

            height: 100%;
            padding-top: $cd;
          }
        }
        &:first-child {
          margin-right: $cd-half;
        }

        .label {
          position: relative;
          top: -$cd0x1;
        }

        &.md-active {
          icon {
            svg {
              color: $primary-color;
            }
          }
        }

        icon {
          md-icon {
            margin-right: $cd;
            margin-bottom: $cd0x6;
          }
        }
      }
    }

    md-menu {
      overflow: hidden;

      width: $cd5;
      height: $cd5;
      margin-top: $cd2x5;
      margin-left: $cd2;

      @include mq-gt-xs {
        display: none;
      }
      .md-button {
        width: $cd5;
        height: $cd5;
        margin: 0;

        text-align: left; // for some reason can't set width, so using this hack

        border-radius: 0;
        background-color: $body-color;
        icon {
          position: relative;

          margin-left: $cd2;

          &:before {
            position: absolute;
            top: 0;
            left: 0;

            width: $cd-half;
            height: $cd-half;

            content: "";

            border-radius: 50%;
            background: $dark-blue-color;
            box-shadow:
              0 $cd 0 0 $dark-blue-color,
              0 $cd2 0 0 $dark-blue-color;
          }

          svg {
            display: none;
          }
        }
      }
      .md-button:hover,
      .md-button.md-focused {
        background-color: $body-color !important;
      }
    }
  }
}

.md-open-menu-container {
  @include mq-xs {
    right: 0 !important;
    left: 0 !important;
  }
}
md-menu-content {
  &[data-width="6"] {
    width: 100%;
  }
  md-menu-item {
    color: $dark-blue-color;
  }

  md-icon {
    svg {
      color: $dark-blue-color;

      path {
        fill: $dark-blue-color;
      }

      line {
        stroke: $dark-blue-color;
      }

      polygon {
        stroke: $dark-blue-color;
      }
    }
  }
}
