//- Include export asset button and sister assets
mixin exportAndSisterAssets(canShowIf)
  div(
    data-ng-show=canShowIf,
  )
    div(
      data-ng-if='!!vm.canView(vm.constructor.SECTIONS.EXPORT)',
    )
      md-divider.spacer

      export-assets(
        data-assets='[vm.asset]',
        data-layout='row',
      )

    div(
      data-ng-if='!!vm.canView(vm.constructor.SECTIONS.SISTER_VESSELS)',
    )
      md-divider.spacer.small
      .sister-vessels(
        data-layout='row',
      )
        .box.block.technical-vessel(
          data-flex=50,
        )
          div(
            data-flex,
            data-ng-if='vm.technicalSistersCount == null',
          )
            .label: +translate('cd-sister-asset-technical')
            spinner

          div(
            data-ng-if='vm.technicalSistersCount != null',
          )
            .h1-primary.dark.count(
              data-ng-bind='::vm.technicalSistersCount',
            )
            .label: +translate('cd-sister-asset-technical')
            a.view-all(
              data-ng-if='vm.technicalSistersCount > 0',
              data-translate-once='cd-view-all',
              data-ui-sref='asset.technicalSisters({ assetId: vm.asset.id })',
              title='{{ ::("cd-view-all-technical-sister-assets") | translate }}'
            )

        md-divider.spacer.small

        .box.block.register-vessel(
          data-flex=50,
        )
          div(
            data-flex,
            data-ng-if='vm.registerBookSistersCount == null',
          )
            .label: +translate-once('cd-sister-asset-register')
            spinner

          div(
            data-ng-if='vm.registerBookSistersCount != null',
          )
            .h1-primary.dark.count(
              data-ng-bind='::vm.registerBookSistersCount',
            )
            .label: +translate-once('cd-sister-asset-register')
            a.view-all(
              data-ng-if='vm.registerBookSistersCount > 0',
              data-translate-once='cd-view-all',
              data-ui-sref='asset.registerBookSisters({ assetId: vm.asset.id })',
              title='{{ ("cd-view-all-register-book-sister-assets") | translate }}'
            )
