include /forms

//- Render fields by section
mixin render(group)
  div(
    class='section-'+group.title.replace('cd-', ''),
    data-ng-if="vm.show('"+group.key+"')",
  )
    - if (group.key === 'registryInformation')
      div(
        data-ng-if='::vm.displayCMRO',
      )
        md-divider.spacer
        //- More Details button
        div(
          data-layout='column',
          data-layout-gt-xs='row',
        )
          //- WEB
          +button({
            class: 'flex flex-gt-xs-50 mx0 mt0',
            hide: 'vm._$window.cordova',
            href: '{{ vm.CMROLinks.BASIC_DETAILS.URL }}',
            labelVariable: 'vm.CMROLinks.BASIC_DETAILS.NAME',
            target: '_blank',
            theme: 'primary',
          })
          //- MOBILE
          +button({
            class: 'flex flex-gt-xs-50 mx0 mt0',
            hide: '!!!vm._$window.cordova',
            onClick: 'vm.displayInModal(' +
              'vm.CMROLinks.BASIC_DETAILS.URL,' +
              'vm.CMROLinks.BASIC_DETAILS.NAME)',
            labelVariable: 'vm.CMROLinks.BASIC_DETAILS.NAME',
            theme: 'primary',
          })

    - if (group.key === 'rulesetDetailsDto')
      div(
        data-ng-if='::vm.displayCMRO',
      )
        div(
          data-layout='column',
          data-layout-gt-xs='row',
        )
          //- WEB
          +button({
            class: 'flex flex-gt-xs-50 mx0 mt0',
            hide: 'vm._$window.cordova',
            href: '{{ vm.CMROLinks.VESSEL_SUMMARY_CLASS_NOTATION.URL }}',
            labelVariable: 'vm.CMROLinks.VESSEL_SUMMARY_CLASS_NOTATION.NAME',
            target: '_blank',
            theme: 'primary',
          })
          //- MOBILE
          +button({
            class: 'flex flex-gt-xs-50 mx0 mt0',
            hide: '!!!vm._$window.cordova',
            onClick: 'vm.displayInModal(' +
              'vm.CMROLinks.VESSEL_SUMMARY_CLASS_NOTATION.URL,' +
              'vm.CMROLinks.VESSEL_SUMMARY_CLASS_NOTATION.NAME)',
            labelVariable: 'vm.CMROLinks.VESSEL_SUMMARY_CLASS_NOTATION.NAME',
            theme: 'primary',
          })

          md-divider.spacer
          //- WEB
          +button({
            class: 'flex flex-gt-xs-50 mx0 mt0',
            href: '{{ vm.CMROLinks.CLASS_HISTORY.URL }}',
            labelVariable: 'vm.CMROLinks.CLASS_HISTORY.NAME',
            hide: 'vm._$window.cordova',
            target: '_blank',
            theme: 'primary',
          })
          //- MOBILE
          +button({
            class: 'flex flex-gt-xs-50 mx0 mt0',
            onClick: 'vm.displayInModal(vm.CMROLinks.CLASS_HISTORY.URL, vm.CMROLinks.CLASS_HISTORY.NAME)',
            labelVariable: 'vm.CMROLinks.CLASS_HISTORY.NAME',
            hide: '!!!vm._$window.cordova',
            theme: 'primary',
          })

    h3.h3-primary.dark {{ '#{group.title}' | translate }}

    each list in group.map
      div(
        data-layout-gt-xs='row',
      )
        each item, index in list
            .detail(
              data-layout-xs='row',
              data-layout-gt-xs='column',
              data-flex-gt-xs=(item.isFullWidth ? 'auto' : 50),
              data-ng-if="!!vm.show('"+item.key+"')",
              class="sub-column-"+(index+1),
            )
              if item.label
                .title(
                  data-flex-xs=(item.isFullWidth ? 'auto' : 50),
                ) {{ ::('#{item.label}') | translate }}
              if item.filter
                - var bindHtml = "vm.details."+ group.key + "." + item.field + "|" + item.filter
                .content(
                  class=item.label.replace('cd-', ''),
                  data-flex-xs=(item.isFullWidth ? 'auto' : 50),
                  data-ng-bind-html=bindHtml
                )
              else
                .content(
                  class=item.label.replace('cd-', ''),
                  data-flex-xs=(item.isFullWidth ? 'auto' : 50),
                )
                  if(group.key == 'cfo')
                    | {{ ::vm.asset.cfoOffice['#{item.field}'] || '-' }}
                  else
                    | {{ ::vm.details['#{group.key}']['#{item.field}'] || '-' }}

            //- spacer
            if index === 0
              md-divider.spacer.small(data-hide-xs)
    span
    md-divider.xxs
