@import '../../common/common';

user-account {
  md-card-title icon {
    margin-right: $cd;
  }

  md-card-content {
    color: $dark-blue-color;
  }

  md-select {
    width: 80%;

    .md-select-value span:first-child{
      padding-left: 0.25rem;
    }
  }
}
