include /forms

.content-main
  div(
    data-layout='row',
    data-layout-align='start center',
  )
    page-header(
      data-flex,
      data-go-to='{{ vm._AppSettings.STATES.VESSEL_LIST }}',
      data-label='{{ vm.currentUser.fullName }}',
      data-label-sub='{{ vm.userRoles }}',
      data-use-history-first='true',
    )
    +button({
      class: 'flex-none mr0',
      hide: 'vm._$mdMedia("xs")',
      label: 'cd-logout',
      onClick: 'vm.logout()',
      theme: 'light',
    })

  md-divider.spacer
  .hide-on-page-change
    div(
      data-layout='column',
      data-layout-gt-sm='row',
    )
      div.left(data-flex-gt-sm=50)
        user-details(
          data-user='vm.currentUser',
        )

      md-divider.spacer

      div.right(data-flex-gt-sm=50)
        div(data-ng-if='vm.canViewNotifications()')
          include _partials/_other-details.pug
          md-divider.spacer

        account-details(
          data-user='vm.currentUser',
        )

        md-divider.spacer
    div(
      data-layout='column',
      data-ng-if='vm._$mdMedia("xs")',
    )
      +button({
        class: 'm0',
        label: 'cd-logout',
        onClick: 'vm.logout()',
        theme: 'light-blue',
      })

      md-divider.spacer
