include /forms
include /shared

md-card
  md-card-content.p0
    div.header-item(
      aria-label='{{ ::vm.name }}',
      data-layout='row',
      data-ng-click='vm.onClick()',
    )
      div.px0.gap-right(
        data-layout='row',
        data-layout-align='center center',
      )
        //- Do not one time bind data-name
        icon(
          data-ng-class=`{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
            }`,
          data-name='{{ vm.toggleIconName }}',
        )
      div(
        data-ng-bind='::vm.name',
        data-flex,
        data-layout='row',
        data-layout-align='start center',
        data-ng-class=`{
          active: vm.headerItem.isExpanded,
          "h5-primary": !!vm._$mdMedia("xs"),
          "h4-primary": !!!vm._$mdMedia("xs")
        }`,
      )

    .children(
      data-ng-repeat='task in vm.headerItem.tasksH track by $index',
      data-ng-if='!!vm.headerItem.isExpanded',
    )
      mpms-task(
        data-item='::task',
      )

    .children(
      data-ng-repeat='childItem in vm.headerItem.itemsH | orderBy:"displayOrder"',
      data-ng-show='vm.headerItem.isExpanded',
    )
      //- The mode is used to control the template
      cd-card-accordion(
        data-group='::(vm.group || vm.name)',
        data-header-item='::childItem',
        data-is-expanded='::vm.headerItem.serviceCatalogueH',
        data-level='::vm.level + 1',
        data-mode='mpms',
      )
