//- The parent is cd-card-tabular
//- Survey Schedule > Expanded an asset
//- And looking at a service, eg a Hull
//- This will generate the child rows
md-card
  md-card-content.p0
    div.header-item(
      aria-label='{{ vm.headerItem.title || vm.headerItem.productName | safeTranslate }}',
      data-layout='row',
      data-ng-click='vm.headerItem.isExpanded=!vm.headerItem.isExpanded',
    )
      div.px0.gap-right(
        data-flex-xs=15,
        data-flex-sm=10,
        data-flex-gt-sm=5,
        data-layout='row',
        data-layout-align='center center',
      )
        icon(
          data-ng-class=`{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
          }`
          data-name='expand',
          data-ng-show='!vm.headerItem.isExpanded',
        )
        icon(
          data-ng-class=`{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
          }`
          data-name='collapse',
          data-ng-show='vm.headerItem.isExpanded',
        )
      .gap-center(
        data-flex,
        data-layout='row',
        data-layout-align='start center',
        data-ng-class='{active:vm.headerItem.isExpanded}',
      )
        .h4-primary {{ vm.headerItem.title }}
        .h4-primary {{ vm.headerItem.productName | safeTranslate }}

      div.px0.gap-left(
        data-flex-xs=20,
        data-flex-sm=15,
        data-flex-gt-sm=10,
        data-layout='row',
        data-layout-align='center center',
        data-ng-hide='vm.dueCount(vm.headerItem.details) === 0'
      )
        due-status(
          data-disable-tooltip='true',
          data-label='{{ vm.dueCount(vm.headerItem.details) }}',
          data-status-name='overdue',
          data-theme='{{ vm.theme }}',
        )

    cd-card-tabular.child-item(
      data-action='vm._utils.getServiceCodicilsSrefObject(childItem)',
      data-current-user='vm.currentUser',
      data-flex-offset-gt-sm=5,
      data-flex-offset-sm=10,
      data-item='childItem',
      data-ng-repeat='childItem in vm.headerItem.details',
      data-ng-show='vm.headerItem.isExpanded',
    )
      //- Hard coded here as there is no 'component to control it'
      riders(
        data-item='childItem',
        data-template-location='vm._AppSettings.RIDER_TEMPLATES.ASSET_SERVICE_SCHEDULE',
      )
