include /forms
include /shared

mixin field(label, value, lgWidth, smWidth)
  - var lgFieldWidth = lgWidth ? lgWidth : '';
  - var smFieldWidth = smWidth ? smWidth : '';
  .field-text(
    data-flex=lgFieldWidth,
    data-flex-sm=smFieldWidth,
    data-layout='column',
    data-layout-xs='row',
    data-ng-if=value,
  )
    .label(
      data-flex-xs=50,
    )
      +translate-once(label)
    strong(
      class=label.replace('cd-', ''),
      data-ng-bind=value
    )

md-card
  md-card-content.p0
    div.header-item(
      aria-label='{{ ::vm.name }}',
      data-layout='row',
      data-ng-click='::vm.onClick()',
    )
      div.px0.gap-right(
        data-flex=15,
        data-flex-gt-sm=5,
        data-layout='row',
        data-layout-align='center center',
      )
        icon(
          data-ng-class=`::{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
            }`,
          data-name='expand',
          data-ng-if='!vm.headerItem.isExpanded',
        )
        icon(
          data-ng-class=`::{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
            }`,
          data-name='collapse',
          data-ng-if='vm.headerItem.isExpanded',
        )
      div(
        data-flex,
        data-layout='row',
        data-layout-align='start center',
        data-ng-class='{ active: vm.headerItem.isExpanded, "h5-primary": vm._$mdMedia("xs"), "h4-primary": !vm._$mdMedia("xs") }',
        data-ng-bind='::vm.name'
      )

    .children(
      data-flex-offset-sm=10,
      data-flex-offset-gt-sm=5,
      data-ng-repeat='task in ::vm.headerItem.tasks',
      data-ng-if='vm.headerItem.isExpanded',
    )
      cd-card-tabular.pb0
        div(
          data-layout='column',
        )
          .field-container(
            data-layout='row',
            data-layout-xs='column',
          )
            +field('cd-id', '::task.taskNumber', '', 25)
            +field('cd-due-date', '::task.dueDateFormatted')
            +field('cd-assigned-date', '::task.assignedDateFormatted')
            +field('cd-postponement-date', '::task.postponementDateFormatted')
            +field('cd-credit-status', '::task.creditStatus')
          md-divider.spacer.xs
          .task-name(data-ng-bind='::task.workItemAction.name')

    .children(
      data-flex-offset-xs=5,
      data-flex-offset-sm=10,
      data-flex-offset-gt-sm=5,
      data-ng-repeat='childItem in ::vm.headerItem.items | orderBy:"displayOrder"',
      data-ng-if='vm.headerItem.isExpanded',
    )
      cd-card-accordion(
        data-header-item='childItem',
        data-mode='tasklist',
        data-group='vm.group || vm.name',
        data-level='vm.level + 1',
      )
