include /forms

md-card
  md-card-content.p0
    div.header-item(
      aria-label='{{ vm.headerItem.name }}',
      data-layout='row',
      data-ng-click='vm.headerItem.isExpanded=!vm.headerItem.isExpanded',
    )
      div.px0.gap-right(
        data-flex=15,
        data-flex-gt-sm=5,
        data-layout='row',
        data-layout-align='center center',
      )
        icon(
          data-ng-class=`{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
            }`,
          data-name='expand',
          data-ng-show='!vm.headerItem.isExpanded',
        )
        icon(
          data-ng-class=`{
            'white': vm.theme=='dark',
            'primary': !vm.theme || vm.theme=='light',
            }`,
          data-name='collapse',
          data-ng-show='vm.headerItem.isExpanded',
        )
      div(
        data-flex,
        data-layout='row',
        data-layout-align='start center',
        data-ng-class='{ active: vm.headerItem.isExpanded, "h5-primary": vm._$mdMedia("xs"), "h4-primary": !vm._$mdMedia("xs") }',
      ) {{ vm.headerItem.name }}

    div.children(
      data-flex-offset-xs=5,
      data-flex-offset-sm=10,
      data-flex-offset-gt-sm=5,
      data-ng-show='vm.headerItem.isExpanded',
    )
      div(
        data-ng-if='vm.headerItem.checklistSubgrouplist'
        data-ng-repeat='childItem in vm.headerItem.checklistSubgrouplist',
      )
        cd-card-accordion(
          data-header-item='childItem',
          data-mode='checklist',
        )

      div(
        data-ng-if='vm.headerItem.checklistItems'
        data-ng-repeat='checklistItem in vm.headerItem.checklistItems',
      )
        cd-card-tabular
          div(
            data-layout='row',
            data-layout-align='start center',
          )
            div(
              data-flex,
            )
              .checklist-container(
                data-layout='row',
                data-layout-align='start center',
                data-layout-align-gt-md='start start',
              )
                div(data-flex)
                  .description(
                    data-ng-bind='::checklistItem.longDescription',
                  )
                  strong(
                    data-hide,
                    data-show-gt-md,
                  )
                    span(
                      data-ng-bind='::checklistItem.referenceCode',
                    )

                  div(data-hide-gt-md)
                    md-divider.spacer.small
                    div(data-layout='row')
                      strong(
                        data-flex=50,
                      )
                        span(
                          data-ng-bind='::checklistItem.referenceCode',
                        )
                      .status(
                        data-flex=50,
                        data-layout-align='end center',
                        data-layout='row',
                      )
                        span(
                          data-ng-bind='::checklistItem.creditStatus',
                        )

                .status(
                  data-hide,
                  data-show-gt-md,
                  data-flex=20,
                  data-ng-class='{"pl1": vm._$mdMedia("gt-md")}'
                )
                  span.strong(
                    data-ng-bind='::checklistItem.creditStatus'
                  )
