include /shared

mixin field-title(value)
  .field-title(
    data-flex-xs='auto',
    data-flex-gt-xs=80,
    data-layout='row',
    data-layout-align='start center',
  )
    .h4-regular.dark
      |#{value}

mixin field-status(status)
  .field-status(
    data-flex-xs='none',
    data-flex-gt-xs=20,
    data-layout='row',
    data-layout-align='center center',
  )
    due-status(
      data-colorize='true',
      data-disable-tooltip='true',
      data-hide-label='vm._$mdMedia("xs")',
      data-status-name=status,
    )
div(
  data-layout='row',
)
  +field-title('{{ vm.item.name }}')
  +field-status('{{ vm.item.status }}')
