include /lists
include /forms
include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

mixin certificatesTitle(title, isFormBlock)
  -var width = isFormBlock ? 55 : 40
  -var mdWidth = isFormBlock ? 55 : 50
  div(
    data-flex,
    data-layout='row',
    data-layout-align-gt-sm='start center',
  )
    div(
      data-flex=width,
      data-flex-xs=50,
      data-flex-sm=40,
      data-flex-md=mdWidth,
    )
      div
        +translate(title)
        |:
    if block
      block

div(
  data-layout-xs='column',
  data-layout-gt-sm='row',
)
  .title(
    data-flex,
    data-hide,
    data-layout='column',
    data-show-gt-sm,
  ).pr1
    .h4-regular.dark.item-row.break-word {{ vm.item.certificateName }}
    .h4-regular.dark.item-row(data-ng-if='vm.item.certificateNumber') {{ vm.item.certificateNumber }}
    .h4-primary.dark.item-row(data-ng-if='vm.item.version') {{ vm.item.version }}

  //- Mobile version
  div(
    data-hide-gt-sm,
    data-layout='row',
  )
    div(
      data-flex=65,
      data-layout='column',
    )
      .h2-regular.dark.item-row.break-word {{ vm.item.certificateName }}
      .h2-regular.dark.item-row(data-ng-if='vm.item.certificateNumber') {{ vm.item.certificateNumber }}
      .h4-primary.dark.item-row(data-ng-if='vm.item.version') {{ vm.item.version }}
    div.pos-rel(
      data-flex=35,
      data-layout-align='center start',
      data-layout='column',
    )
      due-status(
        data-colorize='true',
        data-disable-tooltip='true',
        data-icon-size='big',
        data-status-name='{{ vm.item.status }}',
      )

  //- ng-class layout-wrap is safari fix,
  //- Applying it on chrome and firefox creating gap which breaks the layout
  div(
    data-flex,
    data-flex-gt-sm=30,
  ).pr1
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-issuing-surveyor')
        div.ellipsis(
          data-flex,
          title='{{ vm.item.issuingSurveyor }}',
        )
          strong {{ vm.item.issuingSurveyor }}
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-office')
        div.ellipsis(
          data-flex,
          title='{{ vm.item.office }}',
        )
          strong {{ vm.item.office }}
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-issued-date')
        div
          strong {{ vm.item.issueDate | #{'date : "' + dateFormatter + '"'} }}

  div(
    data-flex,
    data-flex-md=25,
    data-flex-gt-md=20,
  )
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-form-number', true)
        div
          strong {{ vm.item.formNumber }}
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-expiry-date', true)
        div
          strong {{ vm.item.expiryDate | #{'date : "' + dateFormatter + '"'} }}
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-extended-date', true)
        div
          strong {{ vm.item.extendedDate | #{'date : "' + dateFormatter + '"'} }}
    div.item-row(
      data-layout='row',
    )
      +certificatesTitle('cd-certificate-type', true)
        div
          strong {{ vm.item.certificateType }}
  div.pos-rel(
    data-flex=10,
    data-hide,
    data-layout-align='center center',
    data-layout='column',
    data-show-gt-sm,
  )
    due-status(
      data-colorize='true',
      data-disable-tooltip='true',
      data-status-name='{{ vm.item.status }}',
    )
