include /shared

mixin field-text(label, value)
  .field-text.md-body-2(
    data-flex='none',
    data-layout='row',
  )
    .label.pr1(
      data-flex-xs=40,
      data-flex-sm=40,
    )
      +translate-once(label)|:
      span|:
    .value.break-word
      strong(data-ng-bind=value)

mixin field-date(label, value)
  .field-text.md-body-2(
    data-flex,
    data-layout='row',
  )
    .label.pr1(
      data-flex-xs=40,
      data-flex-sm=40,
    )
      +translate-once(label)|:
      span|:
    .value
      strong(data-ng-bind=value)


mixin field-status(status)
  .field-status(
    data-flex=10,
    data-layout='row',
    data-layout-align='end center',
  )
    due-status(
      data-colorize='true',
      data-hide-label='vm._$mdMedia("xs")',
      data-status-name=status,
    )

div(
  data-flex,
  data-layout='column',
  data-layout-gt-sm='row',
)
  .field-title(
    data-flex='auto',
    data-flex-gt-sm=15,
    data-layout='row',
    data-layout-align='start center',
  )
    .h3.dark
      span(data-ng-bind='::vm.item.jobNumber')
  .icons(
    data-flex='auto',
    data-flex-gt-sm=10,
    data-layout='row',
    data-layout-align='start center',
  )
    icon(
      class='black',
      data-name='esp',
      data-ng-if='::vm.item.hasESPReport',
    )
    icon(
      class='black',
      data-name='tm',
      data-ng-if='::vm.item.hasTMReport',
    )

  div.pr1(
    data-flex='auto',
    data-flex-gt-sm=30,
    data-layout='column',
  )
    +field-text('cd-lead-surveyor', '::vm.item.leadSurveyorName')
    +field-text('cd-location', '::vm.item.location')
    +field-date('cd-last-visit-date', '::vm.item.lastVisitDateFormatted')

  div(
    data-flex-gt-sm=45,
    data-layout='row',
    data-layout-align='start center',
  )
    div(
      data-flex,
      data-ng-show='vm._$mdMedia("gt-sm")',
    )
      top-services(
        data-flex,
        data-services='::vm.item.services',
      )
