include /lists
include /forms
include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

div(
  data-layout='row',
  data-layout-gt-sm='column',
)
  div(
    data-flex,
    data-layout-xs='column',
    data-layout-gt-sm='row',
  )
    div(
      data-flex,
      data-layout='row',
      data-layout-gt-sm='column',
    )
      .h4-regular.dark.break-word.title(
        data-flex=50,
        data-flex-gt-sm=auto,
      ) {{ vm.item.title }}
