include /lists
include /forms
include /shared

div(
  data-layout-xs='column',
  data-layout-gt-sm='row',
)
  div.pos-rel(
    data-flex,
    data-flex-gt-sm=23,
    data-layout='row',
  )
    .h4-primary.dark.service-name.break-word(
      data-flex,
    )
      span(
        data-ng-bind='::vm.item.title',
      )
    div(
      data-layout-align='end center',
    )
      due-status(
        data-colorize='true',
        data-disable-tooltip='true',
        data-flex-xs,
        data-hide-gt-sm,
        data-item='::vm.item',
        data-status-name='{{ ::vm.item.dueStatusH.name }}',
      )
  //- ng-class layout-wrap is safari fix,
  //- Applying it on chrome and firefox creating gap which breaks the layout
  div(
    data-flex,
    data-flex-gt-sm=70,
    data-layout='column',
    data-layout-gt-xs='row',
    data-ng-class='{ "layout-wrap": vm._$mdMedia("xs") }',
  )
    div(
      data-flex,
      data-flex-xs=50,
      data-layout='column',
      data-layout-gt-sm='row',
    )
      .item-row(
        data-flex,
        data-flex-gt-xs=34,
      )
        div
          +title('cd-due-date', 'due-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::vm.item.dueDateFormatted',
              )
      .item-row(
        data-flex,
        data-flex-gt-sm=33,
        data-ng-if='::!!!vm.item.codicilType',
      )
        +title('cd-assigned-date', 'assigned-date')
          div.detail(
            data-ng-class='{ pl1: vm._$mdMedia("sm") }',
          )
            strong(
              data-ng-bind='::vm.item.assignedDateFormatted',
            )
      .item-row(
        data-flex,
        data-flex-gt-sm=33,
        data-hide-sm,
        data-ng-if='::!!!vm.item.codicilType',
      )
        div
          +title('cd-range-date', 'range-date')
            div.detail(
              data-flex,
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              div.dateFrom
                strong(
                  data-ng-bind='::(vm.item.lowerRangeDateFormatted) + " - "',
                )

              div.dateTo
                strong(
                  data-ng-bind='vm.item.upperRangeDateFormatted',
                )
      .item-row(
        data-flex,
        data-flex-gt-sm=50,
        data-hide,
        data-show-sm,
      )
        .credit-status(
          data-flex,
          data-ng-if='::!!!vm.item.codicilType',
        )
          +title('cd-credit-status')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::vm.item.creditStatus',
              )
        .job-status(
          data-flex,
          data-layout='column',
          data-ng-if='::!!vm.item.codicilType',
        )
          +title('cd-job-status', 'job-status')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::(vm.item.job.status) || "-"',
              )
    div(
      data-flex,
      data-flex-gt-xs=50,
      data-layout='column',
      data-layout-gt-sm='row',
      data-ng-class='{ pl1: vm._$mdMedia("sm") }',
    )
      .item-row(
        data-flex,
        data-flex-gt-sm=50,
        data-ng-if='::!!!vm.item.codicilType',
      )
        .postponed-date(
          data-flex,
        )
          +title('cd-postponed-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::vm.item.postponementDateFormatted',
              )
      //- Imposed date is only valid for codicils
      .item-row(
        data-flex,
        data-flex-gt-sm=50,
        data-ng-if='::!!vm.item.codicilType',
      )
        div
          +title('cd-imposed-date', 'imposed-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::vm.item.imposedDateFormatted',
              )
      .item-row(
        data-hide,
        data-show-sm,
        data-flex,
        data-flex-gt-sm=50,
        data-ng-if='::!!!vm.item.codicilType',
      )
        div
          +title('cd-range-date', 'range-date')
            div.detail(
              data-flex,
              data-layout='row',
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              div.dateFrom
                strong(
                  data-ng-bind='::(vm.item.lowerRangeDateFormatted) + " - "',
                )
                strong(
                  data-ng-bind='vm.item.upperRangeDateFormatted',
                )
      //- Parent for credit status (services) and job (codicils)
      .item-row(
        data-flex,
        data-flex-gt-sm=50,
      )
        .credit-status(
          data-flex,
          data-hide-sm,
          data-ng-if='::!!!vm.item.codicilType',
        )
          +title('cd-credit-status')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::vm.item.creditStatus',
              )
        //- Job status is only valid for codicils
        .job-status(
          data-flex,
          data-hide-sm,
          data-layout='column',
          data-ng-if='::!!vm.item.codicilType',
        )
          +title('cd-job-status', 'job-status')
            div.detail(
              data-flex-xs=50,
              data-layout-xs='row',
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong(
                data-ng-bind='::(vm.item.job.status) || "-"',
              )

  div.pos-rel(
    data-flex,
    data-flex-gt-sm=7,
    data-hide,
    data-layout='row',
    data-layout-align='center start',
    data-show-gt-sm,
  )
    due-status(
      data-flex,
      data-colorize='true',
      data-item='::vm.item',
      data-status-name='{{ ::vm.item.dueStatusH.name }}',
    )
