include /lists
include /forms
include /shared

div(
  data-layout='row',
  data-layout-gt-sm='column',
)
  div(
    data-flex,
    data-layout-gt-sm='row',
  )
    div(
      data-flex,
    )
      div(
        data-layout='row',
        data-layout-gt-sm='column',
      )
        .h4-regular.dark.break-word.title(
          data-flex=50,
          data-flex-gt-sm=auto,
          data-ng-bind='::vm.item.title',
        )
        active-status(
          data-flex,
          data-hide-gt-sm,
          data-show-label='true',
          data-status-name='::vm.item.status',
        )
      md-divider.spacer.xs(
        data-ng-if='::!!vm.item.description',
      )
      .description.dark-blue(
        data-ellipsis,
        data-ng-bind='::vm.item.truncatedDescription',
        data-ng-if='::!vm.currentUser.isEquasisThetis',
      )
    // Space hacking for mobile view instead of using CSS
    div(
      data-flex,
      data-hide-gt-sm,
    )
      | &nbsp;
    div(
      data-flex,
      data-flex-gt-sm=20,
      data-ng-if='::!vm.customData.currentUser.isEquasisThetis',
    )
      strong.category(
        data-ng-bind='::vm.item.category',
        )
    div(
      data-flex-md=30,
      data-flex-gt-md=25,
    )
      div(
        data-layout='row',
      )
        div(
          data-flex=50,
          data-flex-gt-sm=40,
          data-translate-once='cd-imposed-date'
        )
        div(
          data-flex,
        )
          strong.imposed-date(
            data-ng-bind='::vm.item.imposedDateFormatted',
            )

      div(
        data-layout='row',
      )
        div(
          data-flex=50,
          data-flex-gt-sm=40,
          data-translate-once='cd-due-date',
        )
        div(
          data-flex,
        )
          strong.due-date(
            data-ng-bind='::vm.item.dueDateFormatted',
            )
    div(
      data-flex=15,
      data-hide,
      data-layout='row',
      data-layout-align='center center',
      data-layout-gt-sm='column',
      data-show-gt-sm,
    )
      active-status(
        data-show-label='true',
        data-status-name='::vm.item.status',
      )

md-divider.spacer.large(data-ng-if='::!!vm.item.revisions.length')
include _partials/revisions
