include /lists
include /forms
include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

div(
  data-layout-xs='column',
  data-layout-gt-sm='row',
)
  div(
    data-flex,
    data-layout='row',
  )
    .dark.title(
      data-flex,
      data-ng-class='{ "h4-regular": vm._$mdMedia("gt-sm"), "h3-regular": !vm._$mdMedia("gt-sm") }',
    )
      | {{ vm.item.title || vm.item.catalogueName }}
    div(
      data-layout-align='end center',
    )
      due-status(
        data-colorize='true',
        data-disable-tooltip='true',
        data-flex-xs,
        data-hide-gt-sm,
        data-item='vm.item',
        data-status-name='{{ vm.item.dueStatusH.name }}',
      )
  //- ng-class layout-wrap is safari fix,
  //- Applying it on chrome and firefox creating gap which breaks the layout
  div(
    data-flex,
    data-flex-gt-sm=70,
    data-layout='column',
    data-layout-gt-xs='row',
    data-ng-class='{ "layout-wrap": vm._$mdMedia("xs") }',
  )
    div(
      data-flex,
      data-flex-gt-xs=50,
      data-layout='column',
      data-layout-gt-sm='row',
    )
      .item-row(
        data-flex,
      )
        div
          +title('cd-due-date', 'due-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong {{ vm.item.dueDate | #{'date : "' + dateFormatter + '"'} }}
      .item-row(
        data-flex,
      )
        div
          +title('cd-assigned-date', 'assigned-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong {{ vm.item.assignedDate | #{'date : "' + dateFormatter + '"'} }}
        .job-status(
          data-flex,
        )
          +title('cd-job-status', 'job-status')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong {{ vm.item.job.status }}

      .item-row(
        data-flex,
      )
        div
          +title('cd-range-date', 'range-date')
            div.detail(
              data-flex,
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              div.dateFrom
                strong {{vm. item.lowerRangeDate|#{'date : "' + dateFormatter + '"'}}} -
              div.dateTo
                strong {{vm. item.upperRangeDate|#{'date : "' + dateFormatter + '"'}}}
    div(
      data-flex,
      data-flex-gt-xs=50,
      data-layout='column',
      data-layout-gt-sm='row',
      data-ng-class='{ pl1: vm._$mdMedia("sm") }',
    )
      .item-row(
        data-flex,
      )
        div
          +title('cd-imposed-date', 'imposed-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong {{ vm.item.imposedDate | #{'date : "' + dateFormatter + '"'} }}
      .item-row(
        data-flex,
      )
        div(
          data-flex,
        )
          +title('cd-postponed-date', 'postponed-date')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong {{ vm.item.postponementDate | #{'date : "' + dateFormatter + '"'} }}
      .item-row(
        data-flex,
      )
        div(
          data-flex,
        )
          +title('cd-credit-status', 'credit-status')
            div.detail(
              data-ng-class='{ pl1: vm._$mdMedia("sm") }',
            )
              strong {{ vm.item.creditStatus }}
  div.pos-rel(
    data-flex,
    data-flex-gt-sm=10,
    data-hide,
    data-layout='row',
    data-layout-align='center start',
    data-show-gt-sm,
  )
    due-status(
      data-colorize='true',
      data-item='vm.item',
      data-status-name='{{ vm.item.dueStatusH.name }}',
    )
