include /lists
include /forms
include /shared
//- Defect Items are the line that is shown inside the defects tab
div(
  data-layout='row',
  data-layout-gt-sm='column',
)
  div(
    data-flex,
    data-layout-gt-sm='row',
  )
    div(
      data-flex,
    )
      div(
        data-layout='row',
        data-layout-gt-sm='column',
      )
        .h4-regular.dark.break-word.title(
          data-flex=50,
          data-flex-gt-sm=auto,
          data-ng-bind='::vm.item.title',
        )
        active-status(
          data-flex,
          data-hide-gt-sm,
          data-show-label='true',
          data-status-name='::vm.item.status',
        )
      md-divider.spacer.xs
      .description.dark-blue(
        data-ellipsis,
        data-ng-bind='::vm.item.truncatedDescription',
      )
    //- Space hacking for mobile view instead of using CSS
    div(
      data-flex,
      data-hide-gt-sm,
    )
      | &nbsp;
    div(
      data-flex,
      data-flex-gt-sm=20,
    )
      strong.category(
        data-ng-bind='::vm.item.category',
      )

    div(
      data-flex-md=30,
      data-flex-gt-md=25,
    )
      div(
        data-layout='row',
      )
        div(
          data-flex=50,
          data-flex-gt-sm=40,
        )
          +translate-once('cd-job-number')

        div(data-flex)
          strong.job-number(
            data-ng-bind='::vm.item.jobNumbers',
          )

      div(
        data-layout='row',
      )
        div(
          data-flex=50,
          data-flex-gt-sm=40
        )
          +translate-once('cd-date-occured')

        div(data-flex)
          strong.date-occurred(
            data-ng-bind='::vm.item.dateOccuredFormatted',
          )
    div(
      data-flex=15,
      data-hide,
      data-layout='row',
      data-layout-align='center center',
      data-layout-gt-sm='column',
      data-show-gt-sm,
    )
      active-status(
        data-show-label='true',
        data-status-name='::vm.item.status',
      )
