include /forms

- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

div(
  data-layout='row',
  data-layout-gt-sm='column',
)
  div(
    data-flex,
    data-layout-xs='column',
    data-layout-gt-sm='row',
  )
    div(
      data-flex,
    )
      .h4-regular.dark.name(
        data-flex=50,
        data-flex-gt-sm=auto,
      ) {{ vm.item.name }}

    div(
      data-flex-gt-sm=30,
      data-layout='row',
    )
      div(
        data-flex=50,
        data-flex-gt-sm=40,
      ) {{ 'cd-creation-date' | translate }}:
      div(data-flex)
        strong.date-added {{ vm.item.date | #{'date : "' + dateFormatter + '"'} }}
