include /lists
include /forms
include /shared

div(data-layout='row')
  div(
    data-flex='auto',
    data-layout='column',
  )
    .h2 {{ vm.item.code }}
    .h4 {{ vm.item.company }}
    .h4 {{ vm.item.relationToAsset }}
  div.arrow(
    data-flex='nogrow',
    data-layout='row',
    data-layout-align='start center',
  )
    icon.primary(data-name='right')
