include /shared
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

div(
  data-layout='row',
  data-layout-gt-sm='column',
)
  div(
    data-flex,
    data-layout-xs='column',
    data-layout-gt-sm='row',
  )
    div(
      data-flex,
      data-layout='row',
      data-layout-gt-sm='column',
    )
      .h4-regular.dark(
        data-ng-bind='::vm.item.title',
      )

    //- Spacing for mobile view
    div(
      data-hide-gt-sm,
      data-flex,
    ) &nbsp;

    div(
      data-flex,
      data-ng-bind='::vm.item.repairTypeDescription',
    )

    //- Spacing for mobile view
    div(
      data-hide-gt-sm,
      data-flex,
    ) &nbsp;

    div(
      data-flex-gt-sm,
    )
      | {{ ::("cd-date-added") | translate }}:
      strong {{ ::vm.item.createdOn | #{'date : "' + dateFormatter + '"'} }}
