include /forms

div(
  data-flex,
  data-layout='row',
  data-layout-align='start center',
)

  div(
    data-flex='auto',
  ) {{ vm.item.name }} ({{ vm.item.flagCode }})

  +button({
    class: 'm0',
    label: 'cd-select',
    theme: 'primary',
    onClick: 'vm.customData.setSelectedFlag({ flag: vm.item })'
  })
