include /lists
include /forms
include /shared

div.layout-xs-column.layout-gt-sm-row.layout-align-center-center
  div(
    data-flex,
    data-layout-padding,
  )
    .flag-name.h4-primary.dark(
      data-ng-bind='::vm.item.flag',
    )
  div(
    data-flex,
    data-flex-xs=50,
    data-layout-padding,
  )
    | Last modified date:
    strong.last-modified-date(
      data-ng-bind='vm.item.lastModifiedDate',
    )

  div(
    data-flex,
    data-flex-xs=50,
    data-layout-padding,
  )
    | Last modified time:
    strong.last-modified-time(
      data-ng-bind='::vm.item.lastModifiedTime',
    )