icon {
  $colors :
    ('due', $due-color),
    ('due-soon', $due-soon-color),
    ('imminent', $imminent-color),
    ('not-due', $not-due-color),
    ('overdue', $overdue-color),
    ('complete', $complete-color),
    ('finished', $finished-color),
    ('part-held', $part-held-color),
    ('not-started', $not-started-color),
    ('unknown', $unknown-color),
    ('postponed', $postponed-color),
    ('issued', $not-due-color),
    ('withdrawn', $withdrawn-color),
    ('expired', $expired-color),
    ('final', $final-color),
    ('draft', $draft-color),

    ('black', $black-color),
    ('dark-blue', $dark-blue-color),
    ('dark-grey', $dark-grey-color),
    ('dark', $dark-grey-color),
    ('green', $green-color),
    ('grey', $grey-color),
    ('primary', $primary-color),
    ('warn', $warn-color),
    ('white', $white-color),
    ('half-white', $half-white-color);

  md-icon {
    width: auto;
    height: auto;

    svg {
      width: $cd3;
      height: $cd3;

      color: $white-color;

      path, rect, ellipse {
        &:not([fill='none']) {
          fill: $white-color;
        }

        // star icon
        &[stroke-width] {
          stroke: $white-color;
        }
      }

      line,
      polygon, ellipse {
        stroke: $white-color;
      }
    }
  }

  &.big {
    md-icon svg {
      width: $cd4;
      height: $cd4;
    }
  }

  &.small {
    md-icon svg {
      width: $cd2;
      height: $cd2;
    }
  }

  @each $className, $color in $colors {
    &.#{$className} md-icon svg {
      color: $color;

      path {
        &:not([fill='none']) {
          fill: $color;
        }

        // star icon
        &[stroke-width] {
          stroke: $color;
        }
      }

      line,
      polygon {
        stroke: $color;
      }
    }
  }
}

img.icon {
  width: auto;
  max-width: none;
  height: $cd3;
}
