@import 'src/app/common/styles/typography';

info-card md-card {
  color: $dark-blue-color;

  .item-row {
    .item-label {
      line-height: 1.5;
      @extend .ellipsis;
    }

    .item-value {
      font-weight: bold;
      @extend .ellipsis;
    }

    .item-action {
      .md-button {
        min-height: 0;
        line-height: 0;
      }
    }
  }
}
