include /forms
include /shared

mixin field-row(options)
  -var isArray = isArray ? isArray : 'false';
  .item-row(
    data-layout='row',
    data-layout-align='start center',
    data-ng-if=options.ngIf,
  )
    //- Either display label or link
    .item-label(
      data-flex=40
      data-ng-if='!'+options.link,
    ) {{ #{options.label} | safeTranslate }}:
    a.item-label(
      data-flex=40,
      data-ng-if=options.link,
      data-ng-href='{{' + options.link + '}}',
      target='_self',
    ) {{ #{options.label} | safeTranslate }}
    //- Display array of items or just item
    .item-value(
      data-flex=50,
      data-ng-if=options.isArray,
    )
      span(
        class='{{' + options.label + '.replace("cd-", "") }}',
        data-ng-repeat='item in ' + options.value,
      )
        if (options.filter)
          | {{ item | applyFilter: #{options.filter} }}{{ $last ? '' : ', ' }}
        else
          | {{ item }}{{ $last ? '' : ', ' }}
    .item-value(
      data-flex=50,
      data-ng-if='!' + options.isArray + '&&!' + options.link,
    )
      span(class='{{' + options.label + '.replace("cd-", "") }}') {{ #{options.value} || '-' }}
    //- Optional button
    .item-action(
      data-flex=10,
      data-layout='row',
      data-layout-align='end center',
      data-ng-if=options.editable,
    )
      +button({
        buttonType: 'icon',
        class: 'm0 p0',
        iconName: 'edit',
        labelVariable: options.label,
        onClick: options.onClick,
        theme: 'dark',
      })

md-card.m0
  md-card-title
    md-card-title-text(data-layout='column')
      h2.h2-primary.m0(data-flex) {{ vm.title | safeTranslate }}
      div(
        data-flex,
        data-ng-if='vm.description',
      ) {{ vm.description }}
  md-card-content.mx0(
    data-layout='column',
    data-layout-margin,
  )
    .mx0
      div(data-ng-repeat='section in vm.sections')
        div(data-ng-repeat='field in section.fields')
          +field-row({
            label: 'field.label',
            value: 'field.value',
            editable: 'field.editable',
            filter: 'field.filter',
            isArray: 'field.isArray',
            link: 'field.link',
            ngIf: 'field.ngIf == null ? true : field.ngIf',
            onClick: 'field.onClick()'
          })
        br(ng-if='section !== vm.sections[vm.sections.length - 1]')
      div(data-ng-if='vm.button')
        +button({
          labelVariable: 'vm.button.label',
          onClick: 'vm.button.onClick()',
          theme: '{{ vm.button.theme }}',
        })
