asset-service-schedule {
  display: block;
  box-shadow: $cd*85 0 $body-color, -$cd*85 0 $body-color;
  position: relative;
  z-index: 1; // to push tooltip forward that was buried under asset hub

  cd-card-tabular {
    &.ng-enter,
    &.ng-leave {
      // transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
      top: 0;
      height: $cd3;
    }
    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
      top: -$cd5;
      height: 0;
    }
  }
  .animate-minimize {
    opacity: 1;
    transform-origin: 0 0;
    &.ng-hide {
      max-height: 0;
      // transform: translate3d(0, 100vh, 0);
      opacity: 0;
    }
    &.ng-hide-add,
    &.ng-hide-remove {
      // @include add-transition('transform .4s ease-out, .2s opacity');
    }
  }
  .cd-card-title {
    margin: $cd2 0 $cd1x5;
    // @TODO: SEAW WAI - should we use separate margins for this
    // we should just standardize all this
  }
  .detailedMode {
    margin-top: $cd5;
  }

  md-card-content {
    .service-name {
      padding-right: $cd;
    }
  }
}
