include /forms
include /shared

mixin tabularCodicils(title,data,asset,template)
  //- I take in all the codicils and display them in a tab
  //- Don't one time bind as the Codicils are refreshed
  cd-card(
    data-ng-if=data + '.length',
    data-title=title,
  )
    cd-card-tabular(
      aria-label='{{ item.title }}',
      data-action='vm._utils.getServiceCodicilsSrefObject(item)',
      data-item='item',
      data-current-user='vm.currentUser',
      data-ng-repeat='item in ' + data,
    )
      riders(
        data-asset=asset,
        data-item='item',
        data-template-location='vm.assetServiceScheduleItemTpl',
      )

mixin tabularServices(services,asset)
  //- I take in all the services and display them in a tabs
  //- Don't one time bind as the Services are refreshed
  cd-card(
    data-item='product',
    data-ng-if=services + '.length',
    data-ng-repeat='product in ' + services,
    data-title='{{ product.productName }}',
  )
    cd-card-tabular(
      aria-label='{{ item.serviceCatalogueH.name }}',
      data-action='vm._utils.getServiceCodicilsSrefObject(item)',
      data-item='item',
      data-current-user='vm.currentUser',
      data-ng-repeat='item in product.details',
    )
      riders(
        data-asset=asset,
        data-item='item',
        data-template-location='vm.assetServiceScheduleItemTpl',
      )

//- Single Asset Survey Planner view
//- do not one time bind vm.isLoaded
.content-main.page-bottom-padding(
  data-ng-if='!!!vm.isLoaded',
)
  h3.h3-regular(data-translate-once='cd-survey-planner')
  spinner

.content-main.page-bottom-padding(
  data-ng-class='{ detailedMode: vm.isDetailedMode }',
  data-ng-if='!!vm.isLoaded && !!vm.asset.isAccessibleMASTAsset',
)
  //- Non visible, for screen readers
  h1.sr-only(
    data-translate-once='cd-survey-planner',
  )

  .service-schedule-summary.animate-minimize(
    data-ng-if='::!!!vm.isDetailedMode',
  )
    h2.sr-only(
      data-translate-once='cd-survey-planner-summary',
    )
    div(
      data-layout='row',
      data-layout-wrap,
      data-layout-align='start center',
    )
      div(
        data-flex-xs=100,
        data-flex-gt-xs,
      )
        //- Survey planner
        .h3-regular(data-translate-once='cd-survey-planner')
      div(
        data-flex='none',
        data-ng-if='::(!!vm.services.length || !!vm.codicils.length)',
      )
        +button({
          buttonType: 'icon-text',
          class: 'mx0',
          iconName: 'calendar',
          iconPosition: 'left',
          label: 'cd-view-full-schedule',
          onClick: 'vm.showDetailedMode()',
          theme: 'primary',
        })
    md-divider.spacer(
      data-hide-gt-xs,
    )

    .cd-card(
      data-theme='light',
      data-ng-if='vm._$mdMedia("gt-xs")',
    )
      //- Do not ::vm.currentUser as it is reused when going back
      cd-card-gantt(
        data-asset='vm.asset',
        data-current-user='vm.currentUser',
        data-icon-name='certificate',
        data-is-showing-title='true',
        data-is-showing-tooltip='true',
        data-items='vm.services',
        data-max-date='vm.dueDateMax',
        data-min-date='vm.dueDateMin',
        data-show-pip-dates='true',
        data-title='cd-surveys',
      )

    .cd-card(
      data-theme='light',
      data-ng-if='vm._$mdMedia("gt-xs")',
    )
      //- Do not ::vm.currentUser as it is reused when going back
      cd-card-gantt(
        data-asset='vm.asset',
        data-current-user='vm.currentUser',
        data-icon-name='codicil',
        data-is-showing-title='true',
        data-is-showing-tooltip='true',
        data-items='vm.codicils',
        data-max-date='vm.dueDateMax',
        data-min-date='vm.dueDateMin',
        data-show-pip-dates='true',
        data-title='cd-notes-and-actions',
      )
  md-divider.spacer.large
  .service-schedule-detailed.animate-minimize(
    data-ng-if='::!!vm.isDetailedMode',
  )
    h2.sr-only(
      data-translate-once='cd-survey-planner-detailed',
    )

    //- Asset service schedule
    include _partials/_filter-view.pug

    md-divider.spacer.xs

    include _partials/_filter_timeline.pug

    div(
      data-layout='column',
      data-ng-if='!!vm.codicils.length || !!vm.groupedServices.length',
    )
      div(data-ng-if='vm.viewType === vm.viewTypeOptions.TABULAR',)
        +tabularCodicils('cd-notes-and-actions','vm.codicils','vm.asset')
        +tabularServices('vm.groupedServices','vm.asset')
      // - Viewing a single assets' Gantt Chart
      div(data-ng-if='vm.viewType === vm.viewTypeOptions.GANTT',)
        div(
          data-ng-if='vm._$mdMedia("gt-xs")',
        )
          cd-card(
            data-ng-if='::!!vm.codicils.length',
            data-theme='light',
            data-title='cd-notes-and-actions',
          )
            //- Do not ::vm.currentUser as it is reused when going back
            cd-card-gantt(
              data-asset='vm.asset',
              data-current-user='vm.currentUser',
              data-gantt-padding='true',
              data-items='item',
              data-max-date='vm.dueDateMax',
              data-min-date='vm.dueDateMin',
              data-ng-repeat='item in vm.codicils track by item.id',
              data-show-details='true',
            )
          cd-card(
            data-item='product',
            data-ng-if='::!!vm.groupedServices.length',
            data-ng-repeat='product in vm.groupedServices track by $index',
            data-theme='light',
            data-title='{{ ::product.productName }}',
          )
            //- Do not ::vm.currentUser as it is reused when going back
            cd-card-gantt(
              data-asset='vm.asset',
              data-current-user='vm.currentUser',
              data-gantt-padding='true',
              data-items='service',
              data-max-date='vm.dueDateMax',
              data-min-date='vm.dueDateMin',
              data-ng-repeat='service in product.details track by $index',
              data-show-details='true',
            )
        div(
          data-ng-if='vm._$mdMedia("xs")',
        )
          +tabularCodicils('cd-notes-and-actions','vm.codicils','vm.asset')
          +tabularServices('vm.groupedServices','vm.asset')

    div(
      data-ng-if='::(!!!vm.codicils.length && !!!vm.groupedServices.length)',
      data-layout='column',
    )
      p.notification(
        data-translate-once='cd-no-notes-actions-surveys-message',
      )
  md-divider.spacer.large
