export {
  icon[data-name=export] {
    position: relative;
    top: -2px;
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    position: relative;

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    > div {
      z-index: 0;
    }
  }
}
