div(
  data-ng-class='{disabled: !vm.exportable}'
)
  div(
    data-ng-click='vm.export()',
  )
    icon.white(
      data-name='export',
    )

    strong
      small(
        data-translate-once='cd-export',
      )
