star {
  .star-container {
    cursor: pointer;
    text-align: center;
    opacity: 0.5;

    @include add-transition(.2s);

    &.active {
      svg {
        path {
          fill: $white-color;
          stroke: transparent;
        }
      }
    }
  }
}
