button.style-reset.star-container(
  aria-label='{{ vm.isFavourite ? "cd-remove-from-favourites" : "cd-add-to-favourites" | translate }}',
  data-ng-class='{"active": vm.isFavourite, "inactive": !vm.isFavourite}',
  data-ng-click='::vm.toggleFavourite($event)',
  title='{{ vm.isFavourite ? "cd-remove-from-favourites" : "cd-add-to-favourites" | translate }}',
)
  icon(data-name='star')
