md-button.card-style.p0.m0(
  aria-label='{{ "cd-class-direct" | translate }}',
  href='{{ vm._AppSettings.CD_LIVE_LANDING_PAGE_URL }}',
  data-layout='row',
  data-layout-align='start end',
  title='{{ "cd-class-direct" | translate }}',
)
  .sr-only(
    data-translate-once='cd-class-direct',
  )

  .logo(
    data-flex='none',
    data-layout='row',
    data-layout-align='center center',
  )
    icon(
      data-layout='column',
      data-name='home',
    )
