cd-logo {
  margin-right: $cd0x3;
  height: $cd5; // MS Edge fix
  background-color: $black-color;
  .md-button {
    height: $cd5; // MS Edge fix
  }

  .eor span {
    @include mq-lt-sm {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .logo {
    width: $cd5;
    height: $cd5; // MS Edge fix
    font-size: $cd * 3.5;
    font-weight: 300;
  }
}
