include /forms
include /shared

- const serviceScheduleState = require('app/config/project-variables.js').STATES.SERVICE_SCHEDULE;
- const vesselListState = require('app/config/project-variables.js').STATES.VESSEL_LIST;

//- Desktop view
//-
//- `data-ng-cloak` is used to avoid the awkward `.filter-header` height (instead of fix css height),
//- when the text has yet to be populated during on load.
//-
//- Not applying ngCloak to main content because afraid that it will break things yo!
//- Playing with Bunsen Burner, but not too much.
//- Please remove it if it really does, then apply a fix height on the `.filter-header` instead.
//-
//- Using ng-if because there should be only one instance of export assets controller at any one time
//- in order for the exporting of assets to work properly.
.filter-search-container(
  data-ng-if='vm._$mdMedia("gt-xs")',
  data-layout-wrap,
  data-layout='row',
  data-ng-class='{ "disabled" : vm.isFetching || vm.isDisabled }',
  data-ng-cloak,
)

  //- Filter
  .filter-container.column(
    data-flex-sm=35,
    data-flex-gt-sm=25,
    data-flex-order-sm=2,
  )
    .label.not-visible(
      data-hide-sm,
      data-translate-once='cd-filter',
    )
    .filter
      .filter-header(data-ng-click='vm.showFilterModal($event)')
        .filter-title(data-layout='row')
          icon(
            data-flex='none',
            data-name='filters',
          )
          .filter-title-text.ellipsis(
            data-flex,
          )
            +translate-once('cd-sidebar-filter-assets')
            span(data-ng-if='vm.isFavouriteIncluded') &nbsp;(*)
          icon.default(
            data-flex='none',
            data-name='tick',
            data-ng-if='vm.isModifiedFilter',
          )

  div(
    data-flex-sm=100,
    data-flex-gt-sm=75,
    data-flex-order-sm=1,
    data-layout='row',
  )
    //- Search
    .search-column.column(
      data-flex='auto',
    )
      .label
        +translate-once('cd-search')
      //- Select category
      form.search-inputs-container(
        data-layout='row',
        data-layout-wrap,
        data-ng-submit='vm.search()',
      )
        md-input-container.category(
          data-ng-class='{ "flex-30": vm._$mdMedia("gt-md"), "flex-40": !vm._$mdMedia("gt-md") }',
        )
          md-select(
            aria-label='{{ ::"cd-select-category" | translate }}',
            data-md-on-close='vm.updateModel()',
            data-ng-model='vm.selectedCategory',
          )
            md-option(
              data-ng-repeat='category in ::vm.categories track by $index',
              data-ng-selected='$index === 0',
              data-ng-value='category',
            )
              | {{ ::category.name | safeTranslate }}

        //- Input search
        md-input-container.search(
          data-flex,
        )
          label.hide(
            data-translate-once='cd-type-to-search-and-press-enter',
          )
          input(
            add-clear-btn,
            aria-label='{{ ::"cd-type-to-search" | translate }}',
            data-ng-if='::vm.isMobile'
            data-ng-model='vm.searchTerm',
            data-ng-change='vm.onChangeSearchTerm()'
            placeholder='{{ ::"cd-type-to-search-and-press-enter" | translate }}',
          )
          input(
            add-clear-btn,
            aria-label='{{ ::"cd-type-to-search" | translate }}',
            autofocus,
            data-ng-if='::!vm.isMobile'
            data-ng-model='vm.searchTerm',
            data-ng-change='vm.onChangeSearchTerm()'
            placeholder='{{ ::"cd-type-to-search-and-press-enter" | translate }}',
          )
          search-button.clear-btn.show-always(
            data-is-disable='!vm.canSearch',
            data-ng-class='{ "hidden": !vm.canSearch }'
            data-on-click='vm.search()',
          )

    //- Sort
    .sort-column.column(
      data-flex=25,
      data-layout='column',
      data-ng-show='vm.showSortBy',
    )
      .sorting-column(
        data-flex,
      )
        //- Select Sort
        .label
          +translate-once('cd-sort-by')

        md-input-container.sortByType.display-block
          md-select(
            aria-label='{{ ::"cd-sort-by" | translate }}',
            data-ng-model='vm.selectedSortType',
          )
            md-option(
              data-ng-repeat='type in ::vm.sortByTypes track by $index',
              data-ng-value='type',
              data-translate='{{ ::type.name }}'
            )

    //- Service schedule display switch
    .service-schedule-tab.column(
      data-flex='nogrow',
      data-layout='row',
      data-layout-align='start end',
      data-ng-show='vm.currentState === "' + serviceScheduleState + '"',
    )
      tabular-gantt-switch(
        data-location='vm.serviceScheduleLocation',
        data-type='vm.viewType'
      )

    //- vessel list display switch
    .vessel-list-tab.column(
      data-flex='nogrow',
      data-layout='row',
      data-layout-align='start end',
      data-ng-show='vm.currentState === "' + vesselListState + '"',
    )
      view-switch(
        data-location='vm.serviceScheduleLocation',
        data-type='vm.vesselListViewType'
      )
  //- Export assets
  div.column.functional-buttons-column(
    data-flex-sm=65,
    data-flex-gt-sm=100,
    data-flex-order-sm=3,
    data-layout='row',
    data-layout-align='end start',
  )
    //- Extra layer of flexing to align button
    div(
      data-flex='nogrow',
    )
      export-assets(
        data-assets='vm.assets',
        data-show-assets='true',
      )

//- Mobile view
.filter-search-mobile-container(
  data-ng-if='vm._$mdMedia("xs")',
  data-layout='row',
)
  .flex-25
    md-button.m0(
      aria-label="{{ cd-filter | safeTranslate }}",
      data-ng-click='::vm.showFilterModal($event)',
      theme='dark-blue',
    )
      icon.white(
        data-name='{{ vm.mobileFilterCTAIcon }}',
      )
      .label.ellipsis
        span(data-translate-once='cd-filter')
        span(data-ng-if='vm.isFavouriteIncluded') &nbsp;(*)

  div(data-flex=25)
    +mobileFilterButton({
      iconName: 'search',
      label: 'cd-search',
      onClick: '::vm.showSearchModal($event)',
    })
  div(data-flex=25)
    +mobileFilterButton({
      iconName: 'gantt',
      label: 'cd-sort',
      onClick: '::vm.showSortModal($event)',
    })
  div(data-flex=25)
    export-assets(
      data-assets='vm.assets',
      data-has-mobile-view='true',
      data-show-assets='true',
    )
