search-assets {
  position: relative;
  .sorting-column {
    md-input-container {
      md-select {
        md-select-value {
          span {
            // Need more color contrast for LRCD-619
            color: $dark-blue-color !important;
          }
        }
      }
    }
  }

  .filter-mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    background: transparent;
    z-index: 1;
  }

  .functional-buttons-column {
    position: absolute;
    right: 0;
    top: $cd9;
    z-index: 5; // Needed to make it clickable but below modal dialog.
  }

  &.vessel-list {
    @include mq-gt-md {
      .functional-buttons-column {
        top: $cd10;
      }
    }
  }

  &.service-schedule {
    @include mq-gt-md {
      .functional-buttons-column {
        top: 18 * $cd;
      }
    }
  }
}
