include /forms
include /shared

md-dialog.cd-dialog.dark-background(aria-label='{{ "cd-filter-search-assets" | translate }}')
  md-toolbar
    .md-toolbar-tools
      .modal-title.h1(
        data-flex,
        data-translate-once='cd-filter-search-assets',
      )
      +button({
        buttonType: 'icon',
        class: 'close-modal-button',
        iconName: 'close',
        label: 'cd-close',
        onClick: 'vm._$mdDialog.cancel()',
      })
  md-dialog-content(
    data-flex,
    data-layout='column',
    data-layout-margin,
  )
    .h3-regular
      +translate('cd-category')
    //- Select category
    md-radio-group(
      aria-label='{{ "cd-select-category" | translate }}',
      data-ng-model='vm.selectedCategory',
    )
      md-radio-button.md-primary(
        data-ng-repeat='category in vm.categories track by $index',
        data-ng-value='category',
      )
        | {{ category.name | translate }}

    //- Input search
    md-input-container.search(data-flex='none')
      label.hide(
        data-translate-once='cd-type-to-search',
      )
      input(
        add-clear-btn,
        aria-label='{{ "cd-type-to-search" | translate }}',
        data-ng-model='vm.searchTerm',
        data-ng-change='vm.onChangeSearchTerm()'
        placeholder='{{ "cd-type-to-search" | translate }}',
      )

  md-dialog-actions.cd-actions(data-flex='none')
    .content-main(
      data-flex='none',
      data-layout-align='end',
      data-layout='row',
    )
      +button({
        class: 'flex-50 modal-cancel-button',
        label: 'cd-cancel',
        onClick: 'vm._$mdDialog.cancel()',
        theme: 'light',
      })
      +button({
        class: 'flex-50 modal-submit-button',
        label: 'cd-submit',
        onClick: 'vm._$mdDialog.hide()',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
