include /forms

md-divider.spacer

.codicils-tabs-container
    md-tabs.scrollable-tabs(
      data-md-no-ink-bar,
      data-md-no-ink,
      data-md-selected='vm.tabSelected',
      data-md-swipe-content,
    )
      md-tab(
        aria-label='{{ ::("cd-tabs-aria-label") | translate }}',
        data-ng-repeat='tab in ::vm.tabs track by $index',
        data-ui-sref='{{ ::tab.uiSref ? tab.uiSref : false }}',
      )
        md-tab-label
          //- Automation hook
          .wrapper(
            class='{{ ::tab.class }}',
            data-layout-align='center center',
            data-layout='row',
          )
            span.label(data-translate-once='{{ ::tab.label }}')
