include /forms
include /shared

mixin detail(title, text, columnWidth, canShow)
  .detail(
    data-flex='auto',
    data-flex-gt-sm=columnWidth,
    data-ng-if=canShow,
  )
    .title: +translate(title)
    .content(
      class=title.replace('cd-', ''),
    )
      if block
        block
      if !block && text
        | {{ #{text} || '-' }}

md-dialog.cd-dialog.dark-background(
  aria-label='{{ ::vm.title }}',
  data-layout='column',
  data-ng-class='{"dark-background": vm.useBackgroundImage}',
  data-ng-cloak,
)
    md-toolbar(
      data-flex='none'
    )
      .md-toolbar-tools.content-main
        .modal-title.h1(data-translate='{{ ::vm.item.title }}')
        span(data-flex)
        icon.close-modal-button(
          data-name='close',
          data-ng-click='vm._$mdDialog.cancel()',
        )
    md-dialog-content(data-flex)
      .content-main
        .page-details
          .rectification-details(
            data-layout='row',
          )
            div(
              data-flex='auto',
              data-flex-gt-xs=80,
              data-flex-gt-sm=65,
            )
              +detail(
                'cd-repair-action',
                'vm.item.repairAction',
                '"auto"',
                'true'
              )
              +detail(
                'cd-narrative',
                'vm.item.narrative',
                100,
                'true'
              )
              div(
                data-ng-if='vm.item.items.length'
              )
                +detail(
                  'cd-checklist-items',
                  'null',
                  '"auto"',
                  'true'
                )
                  .box.block(
                    data-ng-repeat='elem in ::vm.item.items',
                    data-ng-bind='::elem.name',
                    )
              div(
                data-ng-if='::!!!vm.item.items.length',
              )
                +detail(
                  'cd-checklist-items',
                  '"-"',
                  '"auto"',
                  'true'
                )

    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
      data-layout-align='start center',
    )
      .content-main(
        data-layout-align='end',
        data-layout-xs='column',
        data-layout-gt-xs='row',
      )
        div(
          data-flex='none',
          data-layout='row',
        )
          +button({
            class: 'mx0 modal-close-button',
            label: 'cd-close',
            ngClass: '{"flex-100": !vm._$mdMedia("gt-sm")}',
            onClick: 'vm._$mdDialog.cancel()',
            theme: 'light'
          })
          span(
            data-ng-class='{"p-r-60":vm.isNativeMobile}',
            data-ng-if='vm.isNativeMobile'
          )
