.hide-on-page-change
  div(
    data-ng-if='!vm.asset.isIHSAsset && !vm.asset.restricted',
  )
    asset-hub.animate-minimize(
      data-layout='row',
      data-asset='vm.asset',
      data-current-user='vm.currentUser',
      data-ng-if='!vm._ViewService.isServiceScheduleOnDetailMode',
    )

    asset-service-schedule(
      data-asset='vm.asset',
      data-ng-if='vm.asset.hasActiveServices',
      data-service-max-date='vm.serviceScheduleDateRange.highRange',
      data-service-min-date='vm.serviceScheduleDateRange.lowRange',
      data-service-schedule-codicils='vm.serviceScheduleCodicils',
      data-service-schedule-services='vm.serviceScheduleServices',
    )
