include /forms
- var dateFormatter = require('app/config/project-variables.js').FORMATTER.LONG_DATE_ANGULAR;

md-dialog.cd-dialog-small.medium(
  aria-label='{{ "cd-edit-ship-builder-code" | translate }}',
)
  div(data-ng-cloak)
    md-toolbar
      .md-toolbar-tools.p0
        .modal-title.h2(data-translate-once='cd-edit-ship-builder-code')
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.cancelCodeChange()',
        })
    md-dialog-content(
      data-flex,
      data-layout='column',
    )
      div(
        data-layout='row',
        data-ng-if='vm.user.shipBuilderCode',
      )
        .item-label(
          data-flex=40,
          data-layout-fill,
        ) {{ 'cd-existing-ship-builder-code' | translate }}:
        .item-value(
          data-flex=50,
          data-layout-fill,
        ) {{ vm.user.shipBuilderCode || '-' }}

      form(
        class='px0 mx0',
        data-name='vm.form',
      )
        +inputText(
          'vm.form',
          'shipBuilderCode',
          'cd-new-ship-builder-code',
          'cd-eg-ship-builder-code',
          'vm.newCode',
          'true'
        )
        div(data-ng-messages='vm.errorObject')
          div(
            data-ng-message="ship-builder-code",
            data-translate-once="cd-error-invalid-ship-builder-code",
          )


    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout='row',
    )
      +button({
        class: 'modal-cancel-button',
        label: 'cd-cancel',
        onClick: 'vm.cancelCodeChange()',
        theme: 'light',
      })
      +button({
        class: 'modal-confirm-button',
        disabled: 'vm.form.$invalid',
        label: 'cd-confirm',
        onClick: 'vm.confirmCodeChange(vm.form, vm.selectedCodeType)',
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
