@import 'src/app/common/styles/typography';

asset-card {
  position: relative;

  display: flex;
  flex-direction: column;

  max-height: $cd * 43.5;

  color: $light-text-color;
  background-color: $dark-grey-color;
  background-clip: content-box;

  //- Safe to delete after 01-05-2018
  // @include mq-gt-md {
  //   .h3-regular.card-name {
  //     font-size: 50px;
  //   }
  // }
  .card-name {
    margin: 0;
    font-weight: normal;

    color: $light-text-color;
    //- Safe to delete after 01-05-2018
    // @include mq-lt-md {
    //   font-size: 50px;
    // }
    // @include mq-lt-md {
    //   white-space: normal;
    // }
  }

  .parent-width {
    width: 100%;
  }

  .text-asset-name {
    overflow: visible !important;
  }

  //- Special min width to make
  //- buttons fit sm screens properly  
  div a.button-sm,
  div a.button-md {
    min-width: 4.5rem !important;
    font-size: $cd1x4;
  }

  .nowrap{
    flex-wrap: nowrap;
  }

  &.no-quotes:before {
    border: none;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;

    content: "";

    border-top: $cd2x5 solid $body-color;
    border-right: $cd2x5 solid $body-color;
    border-bottom: $cd2x5 solid transparent;
    border-left: $cd2x5 solid transparent;
  }

  &[data-mode='tabular'] {
    .layout-padding,
    .layout-padding > * {
      padding:$cd-half;
    }

    .card-container {
      margin: 0;

      .tablet-title {
        margin-bottom: $cd3;
      }

      .card-footer {
        .md-button {
          @include mq-gt-sm {
            min-width: auto;
          }
          @include mq-xs {
            min-width: auto;
          }

          &:first-child {
            @include mq-xs {
              margin-left: 0;
            }
          }

          &:last-child {
            @include mq-xs {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .card-container {
    position: relative;

    margin: $cd;

    flex-basis: auto;
    flex-grow: 1;

    .card-name {
      @include mq-lt-md {
        overflow: initial;
        text-overflow: initial;
        white-space: normal;
      }
    }

    &.mode-card .mode-card-hide,
    &.mode-tabular .mode-tabular-hide {
      display: none !important;
    }

    &.mode-table{
      display: table-row;
      .card-cell {
        display: table-cell;
        padding: $cd-half $cd-half;
        &:not(:last-child) {
          border-right: $cd0x1 solid $body-color;
        };
        word-break: break-word;
      }

      .link {
        color: $dark-blue-color;;
      }

      star {
        .star-container {
          svg {
            path {
              stroke: $dark-blue-color;
            }
          }
          &.active {
            svg {
              path {
                fill: $dark-blue-color;
                stroke: transparent;
              }
            }
          }
        }
      }
    }

    &.mode-card {
      star {
        display: flex;

        justify-content: flex-end;

        .star-container {
          margin-right: $cd;
        }
      }

      .card-info {
        margin-top: $cd1x5;
      }

      .eor-card-info {
        border-bottom: $cd0x1 solid $grey-color;
        margin-top: $cd1x5;
        margin-bottom: $cd1x5;
        padding-bottom: $cd1x5;
      }

      due-status {
        @include transform(translateX(-$cd0x8));
      }
    }

    .status-tabular {
      align-items: center;
    }

    .overall-status-tabular {
      // TODO: too hacky
      @include mq-xs {
        margin: $cd1x5 #{-$cd} #{-$cd-half};
      }
    }

    .star-tabular {
      justify-content: space-around;
    }

    .star-container {
      justify-content: flex-end;
    }

    .card-name {
      overflow: hidden;
      // - To wrap long asset names on tablet(landscape)
      white-space: normal;

      @extend .ellipsis;
    }

    //- Smaller texts for smaller screens
    .card-info-line.text-xs {
      font-size: $cd1x3;
      line-height: $cd1x4;
    }

    .card-info-line.text-sm {
      font-size: $cd1x3;
      line-height: $cd1x4;
    }

    .card-info-line.text-md {
      font-size: $cd1x3;
      line-height: $cd1x4;
    }

    .card-info-line {
      font-size: $cd1x4;
      line-height: $cd2;

      .info-detail {
        font-weight: bold;
      }
    }

    .card-header {
      @include mq-lt-md {
        emblem {
          margin-bottom: $cd;
        }
      }
      @include mq-xs {
        star {
          margin: 0 $cd;
        }
      }
    }

    .card-footer {
      width: 100%;

      flex-grow: 0;

      .wrap-card-icon {
        margin: $cd1x1 0;

        .card-icon-line .badges {
          md-icon {
            margin-left: $cd;
          }
        }
      }

      .card-cta {
        .md-button {
          min-width: 0;
          margin: $cd-half $cd-half 0;
        }
      }
    }
  }
}
