include /forms
include /shared

mixin generateDueStatus()
  due-status(
    data-colorize='true',
    data-is-overall-status='true',
    data-is-postponed='::vm.asset.hasPostponedService',
    data-status-name='{{ ::vm.asset.overallStatus }}',
  )

mixin generateStar()
  star(
    data-asset-id='vm.asset.id',
    data-asset-imo='vm.asset.ihsImo',
    data-flex='none',
    data-is-favourite='::vm.asset.isFavourite',
  )

mixin generateActionGroup()
  //- View Asset, Request Survey Button group
  //- Used visibility as it is too tricky to maintaining button width with both flex and display:none,
  +button({
    class: 'button-request-survey flex m0 px0 flex-order-sm-3',
    goTo: "{{ vm.hasClientSupportOffice ? 'asset.surveyRequest({ assetId: vm.asset.id })' : '' }}",
    label: 'cd-request-survey',
    ngClass: `{
      'button-md': vm._$mdMedia('md'),
      'button-sm': vm._$mdMedia('sm'),
      'not-visible': !!!vm.canRequestSurvey,
      'visible-half': !!!vm.hasClientSupportOffice,
    }`,
    onClick: 'vm.hasClientSupportOffice ? null : vm.showRequestASurveyModal($event)',
    theme: 'light',
  })

  md-divider.spacer.xs(data-flex-order-sm=2)

  +button({
    class: 'button-view-asset flex m0 px0 flex-order-sm-1',
    goTo: 'asset.home({ assetId: vm.asset.id })',
    label: 'cd-view-asset',
    ngClass: `{
      'button-md': vm._$mdMedia('md'),
      'button-sm': vm._$mdMedia('sm'),
    }`,
    theme: 'primary',
  })

mixin generateButtonGroup()
  //- Contains the due status, star icon
  //- Request Survey Button, View Asset Button
  //- parent-width is used as data-layout=100 does not work
  div.lineA.parent-width(
    data-layout-margin,
    data-layout='row',
    data-ng-if='!vm._$mdMedia("gt-md") && vm._$mdMedia("gt-xs")',
    data-ng-class=`{
      'status-tabular': vm.mode === 'tabular',
      'star-tabular': vm.mode === 'tabular',
    }`,
  )
    div(
      data-flex=50,
      data-layout-align='center center',
      data-layout='row',
    )
      +generateDueStatus()

    div(
      data-flex=50,
      data-layout-align='center center',
      data-layout='row',
    )
      +generateStar()

  //- parent-width is used as data-layout=100 does not work
  div.lineB.parent-width(
    data-layout-sm='row',
    data-layout='row',
    data-ng-class=`{
      'status-tabular': vm.mode === 'tabular',
      'star-tabular': vm.mode === 'tabular',
    }`
    data-ng-if=`!vm._$mdMedia('sm')`,
  )
    +generateActionGroup()

mixin generateItemList()
  -
    var list = [
      { label: 'imo', field: 'imo' },
      { label: 'asset-type', field: 'type'},
      { label: 'class-status', field: 'classStatus'},
      { label: 'flag', field: 'flag' }
    ];

  each item in list
    - var showIfField = 'vm.asset["' + item.field + '"]';
    //-Make text smaller base on
    div.card-info-line(
      data-layout='row',
      data-ng-class=`{
        'text-xs': vm._$mdMedia('xs'),
        'text-sm': vm._$mdMedia('sm'),
        'text-md': vm._$mdMedia('md'),
      }`,
      )
      div.info-title(
        data-flex,
        data-ng-show=showIfField,
      )
        | {{ "cd-#{item.label}" | safeTranslate }}
      if item.filter
        div.info-detail(
          class=item.label,
          data-flex-gt-md=35,
          data-flex-md=35,
          data-flex-sm=35,
          data-flex-xs=35,
          data-ng-show=showIfField,
        )
          | {{ vm.asset["#{item.field}"] | #{item.filter} }}
      else
        div.info-detail(
          class=item.label,
          data-flex-gt-md=70,
          data-flex-md=70,
          data-flex-sm=70,
          data-flex-xs=70,
          data-ng-show=showIfField,
        )
          | {{ vm.asset["#{item.field}"] }}

//- Component starts here
//- Main container
.card-container.layout-row.mode-tabular(
  data-layout-padding,
  data-layout-sm='row',
  data-layout-wrap,
  data-layout-xs='column',
  data-ng-class=`{ 'p0': vm._$mdMedia('xs') }`,
)
  //- The first column
  div.card-header.column1(
    data-flex-gt-md=30,
    data-flex-md=35,
    data-flex-sm=35,
    data-flex-xs=30,
    data-layout-wrap,
    data-layout='row',
    )
    //- First item
    div(
      data-flex-xs=70,
      data-flex=100,
      data-layout='column',
      )
      emblem.max-width(
        data-type='{{ ::vm.asset.typeCode }}',
      )

      //- This asset name is used for all except small
      //- Which uses a new line
      div.h3.white.card-name.text-asset-name(
        data-flex=100,
        data-layout-padding,
        data-ng-bind='::vm.asset.name',
        data-ng-if='!vm._$mdMedia("sm")',
      )

    //- This group only shows up for xs
    div(
      data-flex-xs=30,
      data-layout='column',
      data-ng-if='vm._$mdMedia("xs")',
      )
      //- Div for favourite and Expand+Hide button
      div(
        data-flex-xs='none',
        data-layout-align='end start',
        data-layout='row',
      )
        +generateStar()

        //- Expand or Hide button
        div(
          data-flex-xs='none',
          data-layout='column',
          data-ng-if='::!!vm.isShowingExpandBtn',
        )
          div
            icon.white(
              data-name='expand',
              data-ng-if='!vm.isExpanded',
            )
            icon.white(
              data-name='collapse',
              data-ng-if='vm.isExpanded',
            )

      div(
        data-flex-xs='none',
        data-layout-align='end center'
        data-layout-margin,
        data-layout='row',
      )
        +generateDueStatus()

  div.card-info.column2(
    data-flex-gt-md=25,
    data-flex-md=35,
    data-flex-sm=40,
    data-flex-xs=30,
    data-flex=30,
    data-layout-align='center center',
    data-layout-wrap,
    data-layout='row',
    )
    div(
      data-flex=100,
      data-layout='column',
    )
      +generateItemList()

  div.card-info.column3(
    data-flex-gt-md=10,
    data-ng-if='vm._$mdMedia("gt-md")',
    data-layout-align='center center',
    data-layout-wrap,
    data-layout='row',
  )
    +generateDueStatus()


  div.card-footer.status-tabular.column4(
    data-flex-gt-md=30,
    data-flex-md=30,
    data-flex-sm=25,
    data-flex-xs=25,
    data-layout-align='center center',
    data-layout-sm='column',
    data-layout='column',
  )
    +generateButtonGroup()

  div.card-info.column5(
    data-flex-gt-md=5,
    data-ng-if='vm._$mdMedia("gt-md")',
    data-layout-align='center center',
    data-layout-wrap,
    data-layout='row',
  )
    +generateStar()


  //- Second Row just for sm
  div.card-header.column6(
    data-flex=100,
    data-layout='row',
    data-ng-if='vm._$mdMedia("sm")',
    )
    div(
      data-flex=55,
      data-layout='row'
    )
      div.white.card-name.text-asset-name(
        data-flex=100,
        data-layout-padding,
        data-ng-bind='::vm.asset.name',
        data-ng-class=`{
          h3: vm._$mdMedia("sm"),
        }`,
      )

    div(
      data-flex=45,
      data-layout='row',
      data-ng-class=`{
        'status-tabular': vm.mode === 'tabular',
        'star-tabular': vm.mode === 'tabular',
      }`
    )
      +generateActionGroup()
