mixin card-cell(content, onClik, canClick)
  if canClick
    .card-cell(
      data-ng-click=onClik,
      data-ng-if='::'+canClick
    ).pos-rel.break-word
      | {{ :: #{content} }}
      block

    .card-cell(
      data-ng-if='::!'+canClick
    ).pos-rel.break-word
      | {{ :: #{content} }}
      block
  else
    .card-cell(data-ng-click=onClik).pos-rel.break-word
      | {{ :: #{content} }}
      block

.card-container.mode-table
  +card-cell()
    .flex.layout-row.layout-align-center-center
      star(
        data-asset-id='::vm.asset.id',
        data-asset-imo='::vm.asset.ihsImo',
        data-is-favourite='::vm.isFavorite',
        data-ng-if="!!vm.showStar",
      )
  +card-cell()
    .status.pos-rel.flex.layout-row.layout-align-center-center
      active-status(
        data-show-label='false',
        data-status-name='::vm.asset.overallStatus',
        data-enable-tooltip='true',
        data-has-postponed-items='::vm.asset.hasPostponedService',
        data-ng-if='::vm.canViewLRInfo',
      )

  +card-cell('','vm.goToAssetHome()', 'true')
    .layout-column.layout-fill
      .flex.link
        span(data-ng-bind='::vm.asset.imo')

  +card-cell('','vm.goToSurveyPlanner()', 'vm.canViewSurveyPlanner')
    .layout-column.layout-fill
      .flex.link
        span(
          data-ng-class='{ "dark-font": !vm.canViewSurveyPlanner }',
          data-ng-bind='::vm.asset.name',
        )

  +card-cell('vm.asset.type')
  +card-cell('vm.asset.grossTonnage')
  +card-cell('vm.asset.deathWeight')
  +card-cell('vm.asset.classStatus')
  +card-cell('vm.getYearOfBuild(vm.asset.buildDate)')
  +card-cell('vm.asset.class')
  +card-cell('vm.asset.flagCode')
  +card-cell()
    .flex.layout-row.layout-align-center-center()
      md-menu.p0.m0
        md-button.p0.m0.h0(aria-label='cd-dropdown-menu | translate', data-ng-click='$mdMenu.open($event)')
          icon.dark-blue(data-name='more')
        md-menu-content.p0.m0
          div(data-ng-repeat='item in vm.assetCardTableMenuItems')
            md-menu-item.p0.m0(data-ng-if='!item.isNotRenderable')
              md-button(
                aria-label='{{ ::item.label | translate }}',
                data-ng-click='::vm.onMenuItemClick(item.actionKey)',
              )
                .flex.layout-row(
                  data-ng-class='{{::item.class}}'
                )
                  span(data-translate-once='{{ ::item.label }}')
