include /forms
include /shared

div.card-container.mode-card(
  data-layout='column',
  data-ng-cloak,
)
  div.eor-card-info(
    data-flex='noshrink',
    data-ng-if='::!!vm.asset.isEORAsset',
  )
    div.card-info-line(
      data-layout='row',
    )
      div.info-detail(
        data-flex,
        data-ng-bind='::vm.ownerName',
      )

    div.card-info-line(
      data-layout='row',
    )
      div.info-title(data-flex)
        +translate-once('cd-access-asset-until')

    div.card-info-line(
      data-layout='row',
    )
      div.info-detail(
        data-flex,
      )
        //- Do not one time bind this
        span(data-ng-bind='vm.asset.assetExpiryDateFormatted')

  //- Div that holds the emblem and the favourites
  div(data-layout='row')
    div(data-flex)
      emblem(
        data-type='{{ ::vm.asset.typeCode }}',
      )
    div(data-flex)
      star(
        data-asset-id='::vm.asset.id',
        data-asset-imo='::vm.asset.ihsImo',
        data-is-favourite='::vm.isFavorite',
        data-ng-if="!!vm.showStar",
      )

  //- Div that holds the name
  .h3-regular.card-name(
    data-ng-bind='::vm.asset.name',
    title='{{ ::vm.asset.name }}'
  )

  div.card-info(data-flex='noshrink')
    -
      var list = [
        { label: 'imo', field: 'imo' },
        { label: 'asset-type', field: 'type'},
        { label: 'build-date', field: 'buildDateFormatted' },
        { label: 'gross-tonnage', field: 'grossTonnage' },
        { label: 'flag', field: 'flag' },
        { label: 'class-status', field: 'classStatus'}
      ];
    each item in list
      div.card-info-line(
        data-layout='row',
      )
        div.info-title(
          data-flex=45,
          data-ng-bind=`::("cd-${item.label}" | safeTranslate)`
        )
        - var detailField = 'vm.asset.' + item.field
        div.info-detail(
          class=item.label,
          data-flex=55,
          data-ng-bind=`::vm.asset.${item.field}`
        )

  div.card-footer(
    data-flex='none',
  )
    div.wrap-card-icon
      div.card-icon-line(
        data-layout='row',
        data-layout-align='start center',
        data-ng-if='::(!asset.isIHSAsset && !vm.asset.restricted)',
      )
        div.status.pos-rel(
          data-flex='grow',
        )
          due-status(
            data-colorize='true',
            data-icon-size='::"big"',
            data-is-overall-status='::true',
            data-is-postponed='::vm.asset.hasPostponedService',
            data-ng-if='::!!vm.asset.isLRAsset',
            data-status-name='{{ ::vm.asset.overallStatus }}',
          )
        div.badges(
          data-flex='none',
        )
          icon(
            data-ng-if='::vm.asset.isMMSService',
            data-name='mms',
            title='{{ ::("cd-mms-authorised") | translate }}',
          )

          icon(
            data-ng-if='::vm.asset.isLRAsset',
            data-name='lr',
            title='{{ ::("cd-lr-classed" | translate ) }}',
          )

    div.card-cta(
      data-layout='row',
    )

      +button({
        class: 'button-request-survey flex-50 m0 px0',
        hide: '!!!vm.canRequestSurvey',
        label: 'cd-request-survey',
        goTo: "{{ ::vm.hasClientSupportOffice ? 'asset.surveyRequest({ assetId: vm.asset.id })' : '' }}",
        onClick: '::vm.showRequestASurveyModal($event)',
        ngClass: '{ "visible-half": !vm.hasClientSupportOffice }',
        theme: 'light',
      })

      md-divider.spacer.xs(
        data-ng-if='!!vm.canRequestSurvey',
      )

      +button({
        class: 'button-view-asset m0 px0',
        label: 'cd-view-asset',
        goTo: 'asset.home({ assetId: vm.asset.id })',
        ngClass: '{ "flex-50": vm.canRequestSurvey, "flex-auto": !!!vm.canRequestSurvey }',
        theme: 'primary',
      })
