table-view {
  font-size: $cd1x4;
  width: 100%;
  color: $dark-grey-color;

  @for $i from 0 through 100 {
    .width-#{$i} {
      width: #{$i +'%'};
    }
  }

  asset-card {
    width: 100%;
    display: table-row-group;
    background: inherit;
    color: inherit;
    border-bottom: $cd0x1 solid transparent;
    outline: none;
  }

  // To fix Safari. Safari wont render asset-card:nth-child as below. So explicitly target the element
  asset-card:nth-child(even) div.card-container.mode-table {
    background-color: $white-color;
  }

  .button-text-wrapper {
    div.label {
      width: 80%;
      text-align: left;
      white-space: normal;
      line-height: normal;
    }
  }

  .table-container {
    display: table;
    width: 100%;
  }
  .table-header {
    width: 100%;
    display: table-row;
    background-color: $dark-blue-color;
    color: $light-text-color;
  }
  .table-header-cell {
    vertical-align: middle;
    display: table-cell;
    word-break: break-word;
    &:not(:last-child) {
      border-right: $cd0x1 solid $body-color;
    }

    &.p0x5{
      padding: $cd-half;
    }
  }
}
