- const AppSettings = require('app/config/project-variables.js');
- const viewId = AppSettings.TABLE_HEADER_SORT_AND_IDS;

mixin table-header-cell(title,ngClass)
  .table-header-cell(
    data-ng-class=ngClass
  )&attributes(attributes)
    if title
      span(data-translate-once=title)
    block

.table-container
  .table-header
    +table-header-cell()(class='width-4')
      .flex.layout-column.layout-align-center-center
        icon(data-name='star')
    +table-header-cell('cd-due-status', '{"width-5": vm._$mdMedia("gt-md"), "width-6": vm._$mdMedia("gt-sm")}')(class='p0x5')
    +table-header-cell()(class='width-6')
      table-header-btn(
        data-label='cd-lr-no',
        data-view-id=viewId.IMO_NUMBER,
      )
    +table-header-cell()
      table-header-btn(
        data-label='cd-name',
        data-view-id=viewId.ASSET_NAME,
      )
    +table-header-cell()(class='width-12')
      table-header-btn(
        data-label='cd-type',
        data-view-id=viewId.ASSET_TYPE_CODE,
      )
    +table-header-cell('','{"width-5": vm._$mdMedia("gt-md"), "width-7": vm._$mdMedia("gt-sm")}')
      table-header-btn(
        data-label='cd-gt',
        data-view-id=viewId.GROSS_TONNAGE,
      )
    +table-header-cell()(class='width-5')
      table-header-btn(
        data-label='cd-dwt',
        data-view-id=viewId.DEAD_WEIGHT,
      )
    +table-header-cell('','{"width-8": vm._$mdMedia("gt-md"), "width-9": vm._$mdMedia("gt-sm")}')
      table-header-btn(
        data-label='cd-class-status',
        data-view-id=viewId.CLASS_STATUS,
      ).button-text-wrapper
    +table-header-cell()(class='width-5')
      table-header-btn(
        data-label='cd-yob',
        data-view-id=viewId.YEAR_OF_BUILD,
      )
    +table-header-cell()(class='width-6')
      table-header-btn(
        data-label='cd-class',
        data-view-id=viewId.CLASS_SOCIETY,
      )
    +table-header-cell()(class='width-5')
      table-header-btn(
        data-label='cd-flag',
        data-view-id=viewId.FLAG_CODE,
      )
    +table-header-cell('cd-action', '{"width-5": vm._$mdMedia("gt-md"), "width-6": vm._$mdMedia("gt-sm")}')(class='p0x5')
  asset-card(
    data-asset='asset',
    data-current-user='vm.currentUser',
    data-mode='table',
    data-ng-if='vm.mode===vm.MODES.NORMAL || vm.mode===vm.MODES.EOR',
    data-ng-repeat='asset in vm.assets track by asset.id',
    data-is-favourite='vm.isFavouriteAsset(asset.id)',
    data-on-toggle-favourite='vm.onToggleFavourite',
  )
