@import 'src/app/common/styles/typography';

due-status {
  display: inline-block;
  position: relative;

  .label {
    strong {
      max-width: 100%;
      margin-left: $cd-half;
      font-size: $cd1x3;
      @extend .ellipsis;
    }
  }
}
