div(
  data-flex,
  data-ng-mouseenter='vm.showTooltip = true',
  data-ng-mouseleave='vm.showTooltip = false',
)
  div(
    data-flex,
    data-layout='column',
    data-layout-align='center center',
  )
    icon(
      data-name='{{ vm.iconName }}',
      data-ng-class=`{
         due: vm.colorize && vm.cssClass == 'due',
        'due-soon': vm.colorize && vm.cssClass == 'due-soon',
        'imminent': vm.colorize && vm.cssClass == 'imminent',
        'not-due': vm.colorize && vm.cssClass == 'not-due',
        'overdue': vm.colorize && vm.cssClass == 'overdue',
        'complete': vm.colorize && vm.cssClass == 'complete',
        'finished': vm.colorize && vm.cssClass == 'finished',
        'part-held': vm.colorize && vm.cssClass == 'part-held',
        'not-started': vm.colorize && vm.cssClass == 'not-started',
        'unknown': vm.colorize && vm.cssClass == 'unknown',
        'postponed': vm.colorize && vm.cssClass == 'postponed',
        'issued': vm.colorize && vm.cssClass =='issued',
        'withdrawn': vm.colorize && vm.cssClass == 'withdrawn',
        'expired': vm.colorize && vm.cssClass == 'expired',
        'final': vm.colorize && vm.cssClass == 'final',
        'draft': vm.colorize && vm.cssClass == 'draft',
        "dark-blue": !vm.colorize && vm.theme !== "dark",
        "white": !vm.colorize && vm.theme === "dark",
        "small": vm.iconSize === "small",
        "big": vm.iconSize === "big"
      }`
    )
    .label(
      data-flex,
      data-layout='column'
      data-layout-align='center center',
      data-ng-if='!vm.hideLabel && vm.label',
    )
      strong(data-ng-bind-html='vm.label | safeHtml')
  cd-tooltip(
    data-ng-class='{show: vm.showTooltip, leave: !vm.showTooltip}',
    data-ng-if="!vm.disableTooltip && vm._$mdMedia('gt-sm')",
  )
    | {{ vm.toolTipHoverText | safeTranslate }}
