include /forms
include /shared

.survey-request-form-wrapper.content-main(
  data-layout='column',
)
  div(
    data-flex='none',
  )
    page-header(
      data-label='cd-survey-request',
    )
  wizard.wizard-wrapper(
    data-flex='auto',
    data-layout='column',
    data-layout-align='end none',
    on-finish="vm.completeSurvey()"
  )
    wz-step.step-1(
      data-layout='column',
      data-wz-title='{{ "cd-survey-request-step-1" | translate }}',
    )
      div.cd-actions-context(
        data-layout='column',
        data-flex='auto',
      )
        h2.sr-only(
          data-translate-once='cd-survey-request-step-1',
        )
        div(
          data-layout-gt-sm='row',
        )
          .toggler-container(
            data-flex,
            data-layout-sm='row',
            data-layout-gt-sm='row',
          )
            h3.h2.dark.m0(
              data-flex='noshrink',
              data-translate-once='cd-list-of-surveys-available',
            )
            md-divider.spacer.xs(data-hide-gt-sm)
            .toggler(
              data-flex-sm='50',
              data-flex-gt-sm='35',
              data-layout='row',
            )
              cd-accordion-toggler(
                data-flex,
                data-layout='row',
                data-is-layout-row='true',
                data-should-expand='true',
                data-toggle-func='::vm.toggleAccordionExpansion(true)',
              )
              md-divider.spacer.xs
              cd-accordion-toggler(
                data-flex,
                data-layout='row',
                data-is-layout-row='true',
                data-toggle-func='::vm.toggleAccordionExpansion(false)',
              )

        visible-results(
          data-total-count='vm.assetServices.length',
          data-visible-count='vm.visibleKnownServices'
        )
        md-divider.spacer
        bucket(
          data-service-list="vm.surveyDetailModel.groupedServices",
          data-is-read-only="false",
          data-visible-services="vm.visibleKnownServices"
        )
      cd-actions
        .content-main(
          data-layout-align='end',
          data-layout='row',
        )
          +button({
            label: 'cd-cancel',
            ngClass: '{"flex-50": vm._$mdMedia("xs")}',
            onClick: 'vm.backToPrevious()',
            theme: 'light',
          })
          +button({
            disabled: 'vm.toLocationAndDatesValidation()',
            ngClass: '{"flex-50": vm._$mdMedia("xs")}',
            label: 'cd-continue',
            onClick: 'vm.nextStep()',
            theme: 'warn',
          })
          span(
            data-ng-class='{"p-r-60":vm.isNativeMobile}',
            data-ng-if='vm.isNativeMobile'
          )

    wz-step.step-2(
      data-wz-title='{{ "cd-survey-request-step-2" | translate }}',
    )
      div.cd-actions-context(
        data-layout-xs='column',
        data-layout-gt-xs='row',
      )
        h2.sr-only.ellipsis(
          data-translate-once='cd-survey-request-step-2',
        )
        div(
          data-flex=100,
          data-flex-gt-xs=45,
          data-flex-order-xs=2,
        )
          location-and-dates-form(
            data-asset="vm.asset",
            survey-detail-model="vm.surveyDetailModel"
          )
        div(
          data-flex=100,
          data-flex-gt-xs=50,
          data-flex-offset-gt-xs=5,
          data-flex-order-xs=1,
        )
          div(
            data-layout-gt-sm='row',
          )
            .toggler-container(
              data-flex,
              data-layout-gt-md='row',
            )
              h3.h2.dark.m0(
                data-flex='noshrink',
                data-translate-once='cd-surveys-added',
              )
              md-divider.spacer.xs(data-hide-gt-md)
              .toggler(
                data-flex
                data-flex-gt-md='50',
                data-layout='row',
              )
                cd-accordion-toggler(
                  data-flex,
                  data-layout='row',
                  data-is-layout-row='true',
                  data-should-expand='true',
                  data-toggle-func='::vm.toggleAccordionExpansion(true)',
                )
                md-divider.spacer.xs
                cd-accordion-toggler(
                  data-flex,
                  data-layout='row',
                  data-is-layout-row='true',
                  data-toggle-func='::vm.toggleAccordionExpansion(false)',
                )
          md-divider.spacer.xs
          bucket.side(
            data-service-List="vm.surveyDetailModel.groupedServices",
            data-is-read-only="true",
            data-visible-services="vm.visibleKnownServices",
            data-edit-step="vm.goToStep(0)"
          )
      cd-actions
        .content-main(
          data-layout-align='end',
          data-layout='row',
        )
          +button({
            label: 'cd-back',
            ngClass: '{"flex-50": vm._$mdMedia("xs")}',
            onClick: 'vm.backStep()',
            theme: 'light',
          })
          +button({
            disabled: 'vm.toConfirmValidation()',
            label: 'cd-continue',
            ngClass: '{"flex-50": vm._$mdMedia("xs")}',
            onClick: 'vm.toConfirmation()',
            theme: 'warn',
          })
          span(
            data-ng-class='{"p-r-60":vm.isNativeMobile}',
            data-ng-if='vm.isNativeMobile'
          )

    wz-step.step-3(
      data-wz-title='{{ "cd-survey-request-step-3" | translate }}',
    )
      div.cd-actions-context(
        data-layout-xs='column',
        data-layout-gt-xs='row',
      )
        h2.sr-only(
          data-translate-once='cd-survey-request-step-3',
        )
        div(
          data-flex=100,
          data-flex-lg=50,
          data-flex-order-xs=2,
          data-ng-class='{"pr1": vm._$mdMedia("gt-xs")}',
        )
          survey-confirmation-form(
            data-asset="vm.asset",
            data-survey-detail-model="vm.surveyDetailModel",
            data-edit-step="vm.goToStep(1)",
          )
        div(
          data-flex=100,
          data-flex-lg=50,
          data-flex-order-xs=1,
        )
          div(
            data-layout-gt-sm='row',
          )
            .toggler-container(
              data-flex,
              data-layout-gt-md='row',
            )
              h3.h2.dark.m0(
                data-flex='noshrink',
                data-translate-once='cd-surveys-added',
              )
              md-divider.spacer.xs(data-hide-gt-md)
              .toggler(
                data-flex
                data-flex-gt-md='50',
                data-layout='row',
              )
                cd-accordion-toggler(
                  data-flex,
                  data-layout='row',
                  data-is-layout-row='true',
                  data-should-expand='true',
                  data-toggle-func='::vm.toggleAccordionExpansion(true)',
                )
                md-divider.spacer.xs
                cd-accordion-toggler(
                  data-flex,
                  data-layout='row',
                  data-is-layout-row='true',
                  data-toggle-func='::vm.toggleAccordionExpansion(false)',
                )
          md-divider.spacer.xs
          bucket.side(
            data-service-list="vm.surveyDetailModel.groupedServices",
            data-is-read-only="true",
            data-visible-services="vm.visibleKnownServices",
            data-edit-step="vm.goToStep(0)"
          )
      cd-actions
        .content-main(
          data-layout-xs='column',
          data-layout-gt-xs='row',
        )
          .tnc-wrapper(
            data-flex-gt-xs='grow',
            data-layout='row',
            data-layout-align='start center',
          )
            md-checkbox.small(
              aria-label='{{ "cd-i-accept-terms-and-conditions" | translate }}',
              name='tnc',
              data-ng-model='vm.acceptedTnc',
              required,
            )
            .text
              | {{ 'cd-i-accept-the' | translate }}
              static-link(
                alt-text='{{ "cd-terms-and-conditions-download" | translate }}',
                name='surveyRequestTermsAndConditions',
                text='{{ "cd-terms-and-conditions" | translate }}',
              )
          md-divider.spacer.xs(
            data-show-xs,
          )
          div(
            data-flex='none',
            data-layout='row',
          )
            +button({
              label: 'cd-cancel',
              ngClass: '{"flex-50": vm._$mdMedia("xs")}',
              onClick: 'vm.backToPrevious()',
              theme: 'light',
            })
            +button({
              disabled: '!vm.acceptedTnc',
              label: 'cd-continue',
              ngClass: '{"flex-50": vm._$mdMedia("xs")}',
              onClick: 'vm.completeSurvey()',
              theme: 'warn',
            })
            span(
              data-ng-class='{"p-r-60":vm.isNativeMobile}',
              data-ng-if='vm.isNativeMobile'
            )
