@import 'src/app/common/styles/mixin';
@import 'node_modules/angular-wizard/dist/angular-wizard';

survey-request-form {
  @include component-block;
  md-card {
    margin: $cd-half 0 0;
    box-shadow: none;
  }

  visible-results {
    margin-top: $cd-half;
  }

  .steps-indicator {
    margin-top: $cd2;
    margin-bottom: $cd5;
    padding: 0;
  }

  .tnc-wrapper {
    font-size: $cd1x3;

    .text {
      margin-left: -$cd;
    }
  }

  @include mq-lt-sm {
    .steps-indicator {
      margin-bottom: $cd2x5;
    }
  }

  // Perfect button alignment
  cd-actions {
    .md-button {
      margin: 0;

      &:last-child {
        margin-left: $cd;
      }
    }
  }

  @include mq-sm {
    // Bucket in location and dates
    bucket.side .accordion md-list-item:nth-child(even) {
      background-color: $white-color !important;

      * {
        background-color: $white-color;
      }
    }
  }

  .toggler cd-accordion-toggler {
    min-height: $cd5;
  }
}
