.accordion-header(
  data-layout='row',
  data-ng-click='vm.toggleExpand()',
  tabindex='{{ vm.expandable ? 0 : -1 }}',
)
  .h3-regular.group-title(
    data-flex=80,
    data-translate='{{ vm.title }}',
  )
  .accordion-icon(
    data-flex=20,
    data-layout='row',
    data-layout-align='center center',
    data-ng-show='vm.expandable',
  )
    icon.primary(
      data-name='down',
      data-ng-class='{up: vm.isExpanded}',
    )
.accordion-content(
  data-ng-class='{expand: vm.isExpanded}',
  data-ng-transclude,
)
