accordion {
  icon {
    transform: rotate(0deg);
    @include add-transition(transform 0.3s ease-in-out);

    &.up {
      transform: rotate(-180deg);
      @include add-transition(transform 0.3s ease-in-out);
    }
  }

  .accordion-header {
    outline: none;
  }

  /*
   * Transitioning by height requires us to know precise height values (px).
   * Use max-height instead.
   */
  .accordion-content {
    /*
     * Transition from a large max-height when the actual height is smaller.
     * Hence use a steeper initial easing.
     */
    @include add-transition(max-height 0.75s cubic-bezier(0, 0.75, 0, 1));

    max-height: 0;
    overflow: hidden;

    &.expand {
      @include add-transition(max-height 0.75s ease-in-out);
      max-height: $cd * 1000;
    }
  }
}
