include /forms

mixin editable-actions-bar(data)
  .editable-bar.md-padding.px0(
    data-layout-align='end',
    data-layout='row',
  )
    p.results-summary(
      data-flex,
      data-flex-gt-xs='grow',
      data-ng-if=data.assets +'.length',
    )
      visible-results.m0(
        data-label-key='cd-assets',
        data-total-count=data.assets +'.pagination.totalElements',
        data-visible-count=data.assets + '.pagination.numberOfElements + ((' + data.assets + '.pagination.number - 1) * ' + data.assets + '.pagination.size)',
      )
        
    //- Notification
    .notification(
      data-ng-if=data.assets +'.length === 0',
      data-translate=data.notification,
      data-layout-fill,
    )

    //- Edit button
    +button({
      buttonType: 'icon-text',
      class: 'my0 mr0',
      disabled: data.assets +'.length === 0',
      hide: '!' + data.showEditButton,
      iconName: 'edit',
      label: 'cd-edit',
      onClick: data.showEditButton + ' = false',
      theme: 'primary',
    })

    //- Select/Decelect all with editable button
    +button({
      class: 'my0 mx0',
      disabled: '(!' + data.includeAll + ' && ' + data.isPristine + ') || !' + data.includedCount,
      hide: data.showEditButton,
      label: 'cd-deselect-all',
      onClick: data.onDeselectAll,
      theme: 'primary',
    })

    +button({
      class: 'my0 mr0',
      disabled: '(' + data.includeAll + ' && ' + data.isPristine + ') || ' + data.includedCount + ' === '+ data.assets +'.pagination.totalElements',
      hide: data.showEditButton,
      label: 'cd-select-all',
      onClick: data.onSelectAll,
      theme: 'primary',
    })
