mixin submit-actions-bar(data)
  cd-actions.cd-actions-mobile-light(
    data-ng-if=data.showEditable + ' && ' + data.show,
    data-layout-align='end',
    data-layout='row',
  )
    .content-main(
      data-flex='none',
      data-layout-align='end',
      data-layout='row',
    )
      .loading-message(
        data-flex-gt-sm='grow',
        data-layout='row',
        data-layout-align='start center',
        data-layout-align-gt-sm='end center',
        data-ng-if='vm.isLoading',
      )
        spinner.white.small(
          data-flex='none',
        )
        div(
          data-flex='nogrow',
        )
          small: +translate('cd-notification-updating-subfleet')
      +button({
        label: 'cd-cancel',
        disabled: 'vm.isLoading',
        onClick: data.onCancel,
        theme: 'primary',
        hide: 'vm._$mdMedia("gt-xs")',
      })
      +button({
        label: 'cd-cancel',
        disabled: 'vm.isLoading',
        onClick: data.onCancel,
        theme: 'light',
        hide: 'vm._$mdMedia("xs")',
      })
      +button({
        disabled: data.disableSubmit + ' || vm.isLoading',
        label: data.onSubmitLabel,
        onClick: data.onSubmit,
        theme: 'warn',
      })
      span(
        data-ng-class='{"p-r-60":vm.isNativeMobile}',
        data-ng-if='vm.isNativeMobile'
      )
