include /shared
- var AppSettings = require('app/config/project-variables.js')
- var dateFormatter = AppSettings.FORMATTER.LONG_DATE_ANGULAR;

.cd-card(
  data-theme='light',
)
  md-card.m0
    md-card-title(
      data-flex='nogrow',
    )
      md-card-title-text
        h2.h2-primary.m0(
          data-layout='row',
          data-layout-align='start center',
        )
          icon.big.dark-blue(
            data-flex='nogrow',
            data-name='profile',
          )
          +translate('cd-account-settings')
            md-card-content.mx0(
              data-layout='column',
              data-layout-margin,
            )

    md-card-content(
      data-layout='column',
      data-layout-margin,
    )
      div(
        data-layout='column',
      )
        p(data-ng-if='vm.canEditProfileOrPassword')
          a(
            href="/"+AppSettings.API_ENDPOINTS.ACCOUNT.ResetPassword,
            target="_self",
            data-translate-once='cd-update-password',
          )
        div(
          data-layout='row',
        )
          div.item-label(
            data-flex=40,
          )
            +translate('cd-account-expiry-date')
            |:
          div.item-value(
            data-flex=60,
          )
            | {{ vm.user.userAccExpiryDate || '-' | #{'date : "' + dateFormatter + '"'} }}
