@import 'src/app/common/styles/typography';

account-details {
	md-card {
		color: $dark-blue-color;

		.item-label {
			line-height: 1.5;
			@extend .ellipsis;
		}

		.item-value {
			font-weight: bold;
			@extend .ellipsis;
		}
	}
}
