include /shared
.content-main
  page-header(
    data-export-options='vm.exportOptions',
    data-label='cd-notes-actions-and-defects',
  )

  md-divider.spacer
  codicils-tabs(
    data-asset='::vm.asset',
    data-current-user='::vm.currentUser',
    data-export-options='vm.exportOptions',
  )

  md-divider.spacer
  div(
    data-flex,
    data-layout='column',
    data-ui-view='codicils-listing',
  )
