codicils-listing {
  color: $primary-color;

  .title {
    line-height: $cd1x8;
  }

  .description {
    max-height: $cd4;
    overflow: hidden;
    font-size: $cd1x2;
    line-height: $cd1x8;
  }

  .revisions-header {
    padding-top: $cd;
    border-top: $cd0x1 solid $grey-color;
  }

  .revisions-body {
    padding-top: $cd;
  }

  .revision {
    padding: $cd;
    background-color: $revision-light-grey-color;

    &:nth-child(odd) {
      background-color: $revision-dark-grey-color;
    }
  }
}
