include /forms
include /shared

md-dialog.cd-dialog.asset-type-filter-modal.dark-background(aria-label='{{ "cd-filter-by-type" | translate }}')
  form(
    data-flex,
    data-layout='column',
    data-ng-cloak,
    name='form',
  )
    md-toolbar
      .md-toolbar-tools.content-main(
        data-layout-align='start start',
      )
        div
          .modal-title.h1
            +translate('cd-filter-by-type')
          a(
            data-ng-click='vm.clearAllSelection()',
          )
            small.underline
              +translate('cd-clear-all')
        span(data-flex)
        +button({
          buttonType: 'icon',
          class: 'close-modal-button',
          iconName: 'close',
          label: 'cd-close',
          onClick: 'vm.cancel()',
        })
    md-dialog-content(data-flex)
       .md-dialog-content
         .content-main
          .category(data-ng-repeat='(groupName, types) in vm.groupedAssetTypes track by $index')
            .category-title
              .h4-primary {{ groupName }}
            .asset-type-category(
              data-layout='row',
              data-layout-padding,
              data-layout-wrap,
            )
              mini-asset-card(
                data-card-title='{{ type.name }}',
                data-editable='true',
                data-emblem-type='{{ type.code }}',
                data-flex-gt-sm=25,
                data-flex-sm=33,
                data-flex=50,
                data-ng-repeat='type in types track by $index',
                data-selected='type.selected',
                data-theme='white',
                data-has-large-title='true',
              )
    md-dialog-actions.cd-actions(
      data-flex='none',
      data-layout-align='start center',
    )
      .content-main(
        data-flex='none',
        data-layout-align='end',
        data-layout='row',
      )
        +button({
          class: 'modal-cancel-button',
          label: 'cd-cancel',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.cancel()',
          theme: 'light',
        })
        +button({
          class: 'modal-submit-button',
          label: 'cd-submit',
          ngClass: '{"flex-50": !vm._$mdMedia("gt-sm")}',
          onClick: 'vm.submit()',
          theme: 'warn',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
