asset-type {
  .asset-type-filter-container {
    .button-container {
      margin: $cd 0;

      button {
        font-size: $cd1x6;
        width: 100%;
      }
    }
  }
}

.asset-type-filter-modal {
  color: $light-text-color;

  md-toolbar {
    .md-toolbar-tools {
      page-header {
        margin: 0;
      }
    }
  }

  .category {
    justify-content: flex-start;

    .category-title {
      display: flex;
      justify-content: space-between;
      margin-top: $cd3;

      h3 {
        margin: 0 $cd0x6;
      }

      a, a:visited {
        color: $light-text-color;
      }
    }

    .asset-type-category {
      margin: 0 #{-$cd1x2};
      padding: 0;
    }
  }
}
