include /forms
include /shared

.asset-type-filter-container.display-block(data-layout='column')
  .button-container(data-flex)
    +button({
      class: 'm0 icon-position-right-abs',
      iconName: 'right',
      iconPosition: 'right',
      label: 'cd-asset-type',
      onClick: 'vm.showAdvanced($event)',
      theme: 'dark',
    })
