assets {
  display: block;

  .is-disabled {
    pointer-events: none;
  }

  .assets-container {
    padding: $cd2x5 0 0 0;

    // Correct for the asset card layout padding on the sides.
    margin: 0 -$cd;
  }

  cd-actions {
    z-index: 70; // Keep it below the assets filter/search dialog(80)
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}
