include /forms
include /shared

//- This is the asset listing page
div(
  data-ng-class='{"is-disabled": vm.isSaving }',
)
  pagination.grid-block.vertical(
    data-hide-count='!vm.showTopControl',
    data-label='cd-assets',
    data-ng-if='vm.assets',
    data-pageable='vm.assets',
    data-show-spinner='vm.showSpinner',
    data-disabled='vm.isSaving',
  )
    top-button-controls(
      data-layout='row',
      data-ng-if='vm.showTopControl',
    )
      //- Notification
      .notification(
        data-ng-if='vm.notification',
        data-translate='{{ vm.notification }}',
        data-layout-fill,
      )

      //- Edit button
      +button({
        buttonType: 'icon-text',
        class: 'my0 mr0',
        disabled: 'vm.assets.length === 0',
        hide: '!vm.isEditable || !vm.showEditButton',
        iconName: 'edit',
        label: 'cd-edit',
        onClick: 'vm.showEditButton = false',
        theme: 'primary',
      })

      //- Select/Decelect all with editable button
      +button({
        class: 'my0 mx0 flex-xs-50 flex-sm-50',
        disabled: '(!vm.includeAll && vm.isPristine) || !vm.includedCount',
        hide: '!vm.isEditable || vm.showEditButton',
        label: 'cd-remove-all',
        labelValues: 'vm.removeButtonLabelCount',
        onClick: 'vm.includeAll = false',
        theme: 'light',
      })

      +button({
        buttonType: 'icon-text',
        class: 'my0 mr0 flex-xs-50 flex-sm-50',
        disabled: '(vm.includeAll && vm.isPristine) || vm.includedCount === vm.assets.pagination.totalElements',
        hide: '!vm.isEditable || vm.showEditButton',
        iconName: 'plus',
        iconPosition: 'left',
        label: 'cd-add-all',
        labelValues: 'vm.addButtonLabelCount',
        onClick: 'vm.includeAll = true',
        theme: 'primary',
      })

    div.assets-container(
      data-layout='row',
      data-layout-padding,
      data-layout-wrap,
      data-ng-if='vm.renderAssetCard',
     )

      //- Do not one time bind as data changes inside the asset-card
      asset-card(
        data-asset='asset',
        data-current-user='vm.currentUser',
        data-flex=25,
        data-flex-md=33,
        data-flex-sm=50,
        data-flex-xs=100,
        data-mode='card',
        data-ng-if='vm.mode===vm.MODES.NORMAL || vm.mode===vm.MODES.EOR',
        data-ng-repeat='asset in vm.assets track by asset.id',
        data-is-favourite='vm.isFavouriteAsset(asset.id)',
        data-on-toggle-favourite='vm.onToggleFavourite',
      )

      //- Do not one time bind as data changes inside the asset-card
      mini-asset-card(
        data-flex-xs=50,
        data-flex-sm=33,
        data-flex-gt-sm='{{ vm.miniCardFlex }}',
        data-ng-if='vm.mode===vm.MODES.SUMMARY || vm.mode===vm.MODES.EXPORT',
        data-ng-repeat='asset in vm.assets',
        data-card-detail='{{ asset.imo }}',
        data-card-title='{{ asset.name }}',
        data-editable='vm.isEditable && !vm.showEditButton',
        data-emblem-type='{{ asset.typeCode }}',
        data-ng-init='asset.selected = vm.includeAll',
        data-selected='asset.selected',
        data-theme='{{ vm.theme }}',
        data-ng-click='vm.isPristine = false',
      )

    div.assets-container(
      data-layout='row',
      data-layout-padding,
      data-layout-wrap,
      data-ng-if='vm.renderAssetTable',
    )
      table-view(
        data-assets='vm.assets',
        data-current-user='vm.currentUser',
        data-ng-if='vm.mode===vm.MODES.NORMAL || vm.mode===vm.MODES.EOR',
      )
      //- Do not one time bind as data changes inside the asset-card
      mini-asset-card(
        data-flex-xs=50,
        data-flex-sm=33,
        data-flex-gt-sm='{{ vm.miniCardFlex }}',
        data-ng-if='vm.mode===vm.MODES.SUMMARY || vm.mode===vm.MODES.EXPORT',
        data-ng-repeat='asset in vm.assets',
        data-card-detail='{{ asset.imo }}',
        data-card-title='{{ asset.name }}',
        data-editable='vm.isEditable && !vm.showEditButton',
        data-emblem-type='{{ asset.typeCode }}',
        data-ng-init='asset.selected = vm.includeAll',
        data-selected='asset.selected',
        data-theme='{{ vm.theme }}',
        data-ng-click='vm.isPristine = false',
      )

  div(
    data-sticky,
    data-sticky-bottom=0,
    data-ng-if='vm.isShowActionBar',
  )
    cd-actions.cd-actions-mobile-light(
      data-layout-align='end',
      data-layout='row',
    )
      .content-main(
        data-flex='none',
        data-layout-align='end',
        data-layout='row',
      )
        .loading-message(
          data-ng-if='!!vm.isSaving',
          data-flex-gt-sm='grow',
          data-layout='row',
          data-layout-align='start center',
          data-layout-align-gt-sm='end center',
        )
          spinner.white.small(
            data-flex='none',
          )
          div(
            data-flex='nogrow',
            data-ng-show='vm._$mdMedia("gt-xs")',
          )
            small: +translate('cd-notification-updating-favourites')
          md-divider.spacer

        +button({
          label: 'cd-cancel',
          theme: 'light',
          onClick: 'vm.cancelSaveFavourites()',
        })
        +button({
          label: 'cd-save',
          theme: 'warn',
          disabled: 'vm.isSaving',
          onClick: 'vm.saveFavourites()',
        })
        span(
          data-ng-class='{"p-r-60":vm.isNativeMobile}',
          data-ng-if='vm.isNativeMobile'
        )
