include /shared

.content-main
  page-header(
    data-label='{{ vm.title }}',
  )
  .hide-on-page-change.px0(
    data-layout='row',
    data-layout-padding,
    data-layout-wrap,
  )
    pagination.grid-block.vertical.px0(
      data-label='cd-assets',
      data-ng-if='vm.vessels',
      data-pageable='vm.vessels',
      data-show-spinner='true',
    )
      .assets-container.px0(
        data-layout='row',
        data-layout-padding,
        data-layout-wrap,
      )
        //- Remove one time binding on vm.vessels as number of vessels could change due to pagination
        asset-card(
          data-asset='asset',
          data-current-user='vm.currentUser',
          data-hide-favourite='true',
          data-flex=25,
          data-flex-md=33,
          data-flex-sm=50,
          data-flex-xs=100,
          data-mode='card',
          data-ng-repeat='asset in vm.vessels',
        )
