footer {
  margin-top: $cd5;
  font-size: $cd1x4;

  .disclaimer {
    text-align: justify;
  }

  .corporate-info {
    font-size: $cd1x2;

    .logo {
      margin-left: -$cd-half; // Icon path doesnt start at coordinate (0, 0), thus manually adjust to remove the spacing around

      .md-button {
        min-height: 0;

        icon md-icon svg {
          width: $cd4x5;
          height: $cd4x5;
        }
      }

      .name {
        width: $cd6;
        margin-bottom: $cd0x1;
        font-size: $cd;
        line-height: $cd1x2;
      }
    }
  }
}
