include /forms
include /shared

.content-main.inner.layout-row
  .md-padding.px0
    .corporate-info(
      data-layout-xs='column',
      data-layout-gt-xs='row',
      data-layout-align-gt-xs='start end',
    )
      //- Logo
      .logo(
        data-flex,
        data-layout='row',
        data-layout-align='start end',
      )
        +button({
          buttonType: 'icon',
          class: 'm0 p0',
          href: '{{ vm._AppSettings.LR_LANDING_PAGE_URL }}',
          iconName: 'lr',
          label: 'cd-lloyds-register',
        })

        .name(
          data-flex='none',
          data-translate-once='cd-lloyds-register',
        )

      md-divider.spacer.small(data-hide-gt-xs)

      //- Copyright
      .copyright.test(data-flex='none')
        | &copy; {{ ::'cd-lloyds-register-group-services-limited' | translate }}, {{ ::vm.getCurrentYear }}.

    md-divider.spacer.small

    .disclaimer
      +translate('cd-footer')
  span(
    data-ng-class='{"p-r-60":vm.isNativeMobile}',
    data-ng-if='vm.isNativeMobile'
  )
