include /forms
include /shared

form.search-inputs-container.py1(
  data-layout='row',
  data-layout-align='start start'
  data-name='vm.userSearchForm',
  data-ng-submit='vm.queryUserEmail(vm.userEmail)',
)
  //- Input search
  div(
    data-flex,
  )
    +inputEmail(
      'vm.userSearchForm',
      'userEmail',
      'cd-search-email-address',
      'cd-eg-email',
      'vm.userEmail'
    )

  +button({
    class: 'action-btn',
    label: 'cd-search',
    theme: 'primary',
    onClick: 'vm.queryUserEmail(vm.userEmail)'
  })

div(data-ng-if='vm.noUserAccount')
  +icon-info('alert', 'cd-user-not-found')

spinner(
  data-ng-if='vm.isQuerying',
)
user-card(
  data-ng-if='!vm.isQuerying',
  data-user='vm.selectedUser',
  data-ng-show='vm.selectedUser.cdUser || vm.selectedUser.ssoUser',
  data-edit-user-fn='vm.editUserFn({user: vm.selectedUser})',
  data-create-user-fn='vm.createUserFn({user: vm.selectedUser})',
)
