md-tabs(
  class='icon-tabs',
  data-hide,
  data-show-gt-xs,
  data-md-no-ink,
  data-md-no-ink-bar,
  data-md-no-pagination='true',
  data-md-selected='vm.selectedTabIndex',
  data-md-stretch-tabs='never',
)
  md-tab(
    data-md-on-select='vm.setType(tab)',
    data-ng-disabled='tab.disabled',
    data-ng-repeat='tab in vm.tabs',
  )
    md-tab-label
      icon(name='{{ tab.icon }}')
